<template>
    <div class="modal fade bg-modal-color refdel" id="confirm_modal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog confirm-modal" role="document">
        <div class="modal-content">
            <form method="confirm" class="js-confirm-modal-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body js-delete-confirmation-msg">{{actionMsg}}</div>
                <div class="modal-footer">
                     <button type="submit" class="btn btn-primary" @click.prevent="confirmAction()">Yes</button>
                    <button type="button" class="btn btn-danger"  @click="hideModal()">Cancel</button>
                        
                </div>
                <input name="_method" value="DELETE" type="hidden" />
            </form>
        </div>
      </div>
    </div>
</template>
<script>

    export default  {

         name: 'confirmAction',

        props:['actionMsg'],

        data() {
            return {
                
            }
        },
        mounted(){
            var vm = this;
            $('.close').click(function(){
               let vm=this;
                vm.$root.$emit('closeConfirmModal');
                // if(vm.redirectStatus == true){
                //      vm.$router.push({'name':vm.redirectUrl});
                // }
                return false;
            });
        },
        created() {
            
        },
        methods: {
            confirmAction() {
               let vm=this;
                vm.$root.$emit('confirmAdd');
                
            },
            hideModal() {
                // let vm=this;
                // $('#confirm_modal').modal('hide');
                let vm=this;
                vm.$root.$emit('closeConfirmModal');
                // if(vm.redirectStatus == true){
                //      vm.$router.push({'name':vm.redirectUrl});
                // }
                return false;
            }
        }
    }
</script>
