<template>
     <div>
        abc
    </div>
</template>
<script>
    export default{
        
        data(){
            return{
                
            }
        },
        methods:{
           
        },
        mounted:function(){
        },
        props:{
            
        },
        destroy:function () {

        }
    }
</script>
