<template>
    <div>
      <div class="row mt-4 align-items-center">
             <div data-v-744e717e="" class="col-md-5 datatable-info" v-show="(paginationData.total > 0)">
                <!-- Showing 10 of 857 entries --> 
                <span data-v-744e717e="">Showing </span> {{paginationData.from}} - {{paginationData.to}} of {{paginationData.total}}
                <span data-v-744e717e="">entries</span>
              </div>
              <div class="col-md-7" v-show="(paginationData.total > 0)">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start justify-content-md-end mb-0 mt-2 mt-md-0">
                     <li class="page-item" v-if="paginationData.currentPage!=1"><a class="page-link" href="javascript:void(0)"  @click="getDetailsPageByIndex(1)">First</a></li>
                    <li lass="page-item" v-if="paginationData.currentPage!=1">
                      <a class="page-link" href="javascript:void(0)"  @click="getDetailsPage(paginationData.prevPageUrl)" tabindex="-1">Previous</a>
                    </li>
                  
                    <li  v-for="record_pagination,index in paginationData.lastPage" v-bind:class="[paginationData.currentPage==++index ? 'page-item active' : 'page-item']">
                      <span v-if="Math.abs(record_pagination - paginationData.currentPage)<3">
                          <a class="page-link" href="javascript:void(0)" @click="getDetailsPageByIndex(index)">{{index}}</a>
                      </span>
                     <!--  <a  class="page-link" href="javascript:void(0)" @click="getDetailsPageByIndex(index)">{{index}}</a> -->
                    </li>
                    
                    <li class="page-item" v-if="paginationData.currentPage!=paginationData.lastPage">
                      <a class="page-link" href="javascript:void(0)" @click="getDetailsPage(paginationData.nextPageUrl)">Next</a>
                    </li>
                      <li class="page-item" v-if="paginationData.currentPage!=paginationData.lastPage"><a class="page-link" href="javascript:void(0)"  @click="getDetailsPageByIndex(paginationData.lastPage)">Last</a></li>
                  </ul>
                </nav>
              </div>
      </div>
    </div>
</template>

<script>
    export default {
        props:['paginationData'],
        data() {
            return {
              
            }
        },
        mounted() {
        },
        methods: {
          getDetailsPage(pageUrl)
          {
              this.$root.$emit('getListPage',pageUrl);
          },
          getDetailsPageByIndex(index)
          {
              this.$root.$emit('getDetailsPageByIndex',index);
          }
         
        }
    }
</script>
