<template>
    <div>
       <div class="row mt-3">
          <div class="col-xl-9 col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <select class="form-control ls-select2" name="searchKey" id="searchKey" v-model="searchKey">
                    <option :value="null">Select</option>
                    <option v-for="searchD in searchDataListSelect" :value="searchD.key">{{searchD.text}}</option>
                </select>
              </div>
              <div class="col-md-4 col-sm-6 mt-2 mt-sm-0">
                <input type="text" name="searchText" class="form-control input-lg ipt_size2" placeholder="Search Value" id="searchText" v-model="searchText" @keypress.enter="submitSearch()">
              </div>
              
              <div class="col-md-2 col-sm-6 mt-2 mt-md-0">
                <button type="submit" id="submitBtn" name="submitSearch" @click="searchData()" class="btn btn-primary btn-block" ref="myBtn">Search</button>
              </div>
              <div class="col-md-2 col-sm-6 mt-2 mt-md-0">
                 <button type="button" name="clear" @click="clearSearchData()" class="btn btn-danger btn-block">Clear</button>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-5 offset-xl-0 offset-md-7 mt-2 mt-xl-0">
            <div class="dropdown">
              <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apply Action
              </button>
              <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" @click="multipleDeleteAction">Delete</a>
                <a class="dropdown-item"  @click="multipleActiveAction">Active</a>
                <a class="dropdown-item"   @click="multipleInactiveAction">Inactive</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
//import confirmDelete from './confirmDeleteModel';
    export default {
        props:['searchDataListSelect','searchDataAll'],
        data() {
            return {
              'searchKey':'',
              'searchText':'',
              //'deleteConfirmMsg':'Are you sure you want to delete?',
            }
        },
        created: function() {
        //this.$root.$on('confirmed', this.confirmDelete); 

      },
      destroyed: function() {
        //this.$root.$off('confirmed', this.confirmDelete);
      },
        mounted() {
          let vm=this;
          $('.ls-select2').select2({
            placeholder: "Select"
          });
           $('#searchKey').on("select2:select", function (e) {
                vm.searchKey =$(this).val();
          });
          vm.setSearchData();
        },
        methods: {
          submitSearch()
          {
              var elem = this.$refs.myBtn;
              elem.click()
          },
          setSearchData()
          {
              let vm=this;
              let sData=vm.searchDataAll;
              if(sData)
              {

                  if(sData.searchKey)
                  {
                      vm.searchKey=sData.searchKey;
                      setTimeout(function(){
                           $('#searchKey').val(sData.searchKey).trigger('change');
                      });
                  }
                  else
                  {
                      vm.searchKey=null;
                      $('#searchKey').val('').trigger('change');
                  }
                 
                  if(sData.searchText)
                  {
                      vm.searchText=sData.searchText;
                  }
                  else
                  {
                      vm.searchText='';
                  }
                  
              }
              else
              {
                  vm.searchKey=null;
                  vm.searchText='';
                  $('#searchKey').val('').trigger('change');
              }
             
          },
          clearSearchData()
          {
              let vm=this;
              vm.searchKey=null;
              vm.searchText=''; 
              $("#searchKey, #searchText").val('').change();
              vm.$root.$emit('searchClearResult',1);
          },
          searchData()
          {
              let vm=this;
              let searchData={'searchKey':vm.searchKey,'searchText':vm.searchText};
              if(vm.searchKey == '' || vm.searchText == ''){
                toastr.error('Please select your search criteria.','', {timeOut: 3000});
                return false;
              }
              vm.$root.$emit('searchDataResult',searchData);
          },
          /* confirmDelete(){
              let vm=this;
              $('#confirm_modal').modal('hide');
              this.$root.$emit('multipleDeleteAction',1);
          },*/
          multipleDeleteAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select checkbox to apply action.', {timeOut: 3000});
              return false;
            }
            else
            {
                let vm = this;
                this.$root.$emit('confirmDeleteMultOption');
            }
            
          },
          multipleActiveAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select checkbox to apply action.', {timeOut: 3000});
              return false;
            }
            this.$root.$emit('multipleStatusUpdate','active');
          },
          multipleInactiveAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select checkbox to apply action.', {timeOut: 3000});
              return false;
             }
            this.$root.$emit('multipleStatusUpdate','inactive');
          },
          getSelectedRecords()
          {
            var selectedData=[];
            var i = 0;
            $(".chk-global:checked").each(function(){
                selectedData.push(i);
                i++;
             });
            return selectedData.length;
          }
        }
    }
</script>
