<template>
    <div>
        <clear_header></clear_header>
        <div class="wrapper">

            <left_side v-show="this.$store.state.left_open"></left_side>
            <right_side>
                <router-view></router-view>
            </right_side>
            
        </div>
        <div class="background-overlay" @click="right_close"></div>
    </div>
</template>
<script>
    import clear_header from "./layout/clear_header";
    import left_side from "./layout/left-side/default/left-side";
    import right_side from "./layout/right-side";
    export default {
        name: 'default_layout',
        components: {
            clear_header,
            left_side,
            right_side
        },
        created: function() {},
        methods: {
            right_close() {
                this.$store.commit('rightside_bar', "close");
            }
        },
        mounted() {
            window.onscroll = function(event){
                var top = ( document.getElementById('menu') &&  document.getElementById('menu').scrollTop  || document.body && document.body.scrollTop  || 0);
                if(top<=56){
                    var topDefine = 0-parseInt(top);
                    // console.log(topDefine);
                    // document.getElementById("right").style.marginTop= 0+' px';
                }
                else{
                    document.getElementById("right").style.marginTop=-56+"px";
                }

            }
        }
    }
</script>
<style >
    body.fixed-header #app .navbar{
        position: relative;
    }
    body.fixed-header #app .header{
        margin-bottom: 0;
    }
    @media(max-width: 320px){
        .message_dropdown .dropdown-menu.show{
            left:20px !important;
        }
    }
</style>
