<template>
    <div class="edashboard">
        <div class="row">
            <div class="col-sm-12">
                <div class="row align-items-stretch">
                    <div class="col-xl-4 col-lg-6 mb-3 mb-md-2">
                        <div class="card mt-0 py-4 px-3 text-center bg-white sales-card">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3>New Participants</h3>
                                    <h2 class="text-primary">{{ newPartipants.length ? newPartipants.length : 0  }}</h2>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 mb-3 mb-md-2">
                        <div class="card mt-0 py-4 px-3 text-center bg-white sales-card">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3>Total Participants</h3>
                                    <h2 class="text-primary">{{ allPartipants.length ? allPartipants.length : 0 }}</h2>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 mb-3 mb-md-2">
                        <div class="card mt-0 py-4 px-3 text-center bg-white sales-card">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3>Total HM Users</h3>
                                    <h2 class="text-primary">{{ hmUsers.length ? hmUsers.length : 0 }}</h2>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-12 col-lg-6 mb-3 mb-md-2">
                <div class="card month-block">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3>e-learning Courses</h3>
                        </div>
                        <div class="table-responsive-lg mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th @click="sortModule('moduleName')">
                                            Course Name
                                            <a href="javascript:void(0)"> <i v-if="moduleOrder === 'asc' && moduleSortedColumn=='moduleName' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                                        </th>
                                        <th class="text-center" @click="sortModule('status')">
                                            Status
                                            <a href="javascript:void(0)"> <i v-if="moduleOrder === 'asc' && moduleSortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody v-if="modules.length > 0">
                                    <tr v-for="module in modules">
                                        <td>{{ module.moduleName }}</td>
                                        <td class="text-center" v-if="module.status == 'active'">Active</td>
                                        <td class="text-center" v-else>Inactive</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="2"><center>No records found</center></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="text-right font-weight-bold mb-0 mt-2" v-if="modules.length > 0"><a href="#"  @click="setModules">View All</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mb-3 mb-md-2">
              <div class="card participant-block">
                  <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h3>New Participants</h3>
                        </div>
                        <div class="table-responsive mt-3">
                            <table class="table table-striped dashboard-table">
                                <thead>
                                    <tr>
                                        <th @click="sortParticipant('givenName')">
                                            Name
                                            <a href="javascript:void(0)"> <i v-if="participantOrder === 'asc' && participantSortedColumn=='givenName' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                                        </th>
                                        <th class="text-center" @click="sortParticipant('name')">
                                            Department
                                            <a href="javascript:void(0)"> <i v-if="participantOrder === 'asc' && participantSortedColumn=='name' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>        
                                        </th>
                                        <th class="text-center" @click="sortParticipant('status')">
                                            Status
                                            <a href="javascript:void(0)"> <i v-if="participantOrder === 'asc' && participantSortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>        
                                        </th>
                                    </tr>
                                </thead>
                                <tbody v-if="newPartipants.length > 0">
                                    <tr v-for="participant in newPartipants">
                                        <td class="d-flex align-items-center">
                                            {{ participant.givenName }} {{ participant.surName }}
                                        </td>
                                        <td class="text-center">{{ participant.name }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-pill badge-primary px-3 py-2" v-if="participant.status == 'active'">Active</span>
                                            <span class="badge badge-pill badge-primary px-3 py-2" v-else>Inactive</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td colspan="3"><center>No record found</center></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="text-right font-weight-bold mb-0 mt-2" v-if="newPartipants.length > 0"><a href="#" @click="setUsers">View All</a></p>
                    </div>
              </div>
            </div>
        </div>
        
        
    </div>
</template>
<script>
    import VueChartist from 'v-chartist';
    import Chartist from "chartist";
    import Api from '../../api/apiService.js';
    import Vue from 'vue'
    import VueCircleSlider from 'vue-circle-slider'
    import moment from 'moment'
    Vue.use(VueCircleSlider)
    var unsub;
    export default {
        name:'edashboard',
        data(){
            return{
                value:70,
                val3:70,
                progress:30,
                visited:[{
                },{
                    src:'',
                    price: "$450.45",
                    mrp: "$585",
                    name:"US-Polo Red Shirt",
                    sale:"23%",
                    visits:"11,260"
                }],
                trending:[{
                    src:'',
                    price: "$250",
                    mrp:"$500",
                    name:"US-Polo T-shirt",
                    sale: "50%",
                    visits:"22,350"
                }],
                // =======line chart start===========
                time: {
                    data: {
                        labels: ['12am', '4am', '8am', '12pm', '4pm', '8pm'],
                        series: [
                            {
                                name: 'series-1',
                                data: [
                                    {x: new Date(143134652600), y: 53},
                                    {x: new Date(143234652600), y: 40},
                                    {x: new Date(143340052600), y: 45},
                                    {x: new Date(143366652600), y: 40},
                                    {x: new Date(143410652600), y: 20},
                                    {x: new Date(143508652600), y: 32},

                                ]
                            },
                            {
                                name: 'series-2',
                                data: [
                                    {x: new Date(143134652600), y: 53},
                                    {x: new Date(143234652600), y: 35},
                                    {x: new Date(143334652600), y: 30},
                                    {x: new Date(143384652600), y: 30},
                                    {x: new Date(143568652600), y: 10}
                                ]
                            }
                        ]
                    },
                    options: {
                        fullWidth: true,
                        chartPadding: {
                            right: 40
                        }
                    }
                },
                // =======Line chart end========
                // ======donut chart start=======
                donut: {
                    data: {
                        labels: ['Old 6,25,300', 'New 20,598'],
                        series: [83,17]
                    },
                    options: {
                        donut: true,
                        donutWidth: 45,
//                        labelInterpolationFnc: function(value) {
//                            return value[0]
//                        }
                    },
                    responsiveoptions: [
                        ['screen and (min-width: 320px)', {
                            labelOffset: 50,
                            chartPadding: 20
                        }],
                        ['screen and (min-width: 640px)', {
                            chartPadding: 20,
                            labelOffset: 50,
                            labelDirection: 'explode',
                            labelInterpolationFnc: function(value) {
                                return value;
                            }
                        }],
                        ['screen and (min-width: 1024px)', {
                            labelOffset: 50,
                            chartPadding: 20
                        }]
                    ]
                },
                // ======donut chart end================
                // ======pie chart start=======
                pie: {
                    data: {
                        labels: ['Social media', 'TV ads', 'Brochures', 'Hoardings'],
                        series: [40, 30, 15,15]
                    },
                    options: {
//                        labelInterpolationFnc: function(value) {
//                            return value[0]
//                        }
                    },
                    responsiveoptions: [
                        ['screen and (min-width: 640px)', {
                            chartPadding: 30,
                            labelOffset: 50,
                            labelDirection: 'explode',
                            labelInterpolationFnc: function(value) {
                                return value;
                            }
                        }],
                        ['screen and (min-width: 1024px)', {
                            labelOffset: 45,
                            chartPadding: 20
                        }]
                    ]
                },
                // ======pie chart end================
                allPartipants: '',
                newPartipants: [],
                hmUsers: [],
                modules: [],
                moduleSortedColumn: 'created_at',
                moduleOrder: 'asc',
                participantSortedColumn: 'created_at',
                participantOrder: 'asc',
            }
        },
        components: {
            VueChartist
        },
        mounted: function() {
            let vm = this;
            unsub = this.$store.subscribe((mutation, state) => {
                if (mutation.type == "left_menu") {
                    setTimeout(() => {
                        this.$refs.chartist8.renderChart();
                    })
                }
            });
            vm.initdata();
        },
        beforeRouteLeave (to, from, next) {        unsub();        next();    },
        methods: {
            initdata(){
                let vm = this;
                Api.getDashboardData('admin/dashboard').then(
                    (response) => {
                        vm.allPartipants = response.data.data.all_participant;
                        vm.newPartipants = response.data.data.new_participant;
                        vm.hmUsers = response.data.data.hmu;
                        vm.modules = response.data.data.modules;
                    },
                    (error) => {

                    }
                );
            },
            setModules(){
                let vm = this;
                vm.$router.push({'name': 'module_list'});
            },
            setUsers(){
                let vm = this;
                vm.$router.push({'name': 'user_list'});  
            },
            sortModule(column)
            {
                let vm = this;
                if (column === this.moduleSortedColumn) {
					this.moduleOrder = (this.moduleOrder === 'asc') ? 'desc' : 'asc'
				} else {
					this.moduleSortedColumn = column
					this.moduleOrder = 'asc'
                }
                let sortData = {
                    'moduleSortedColumn': column,
                    'moduleOrder': vm.moduleOrder
                }
                
				Api.getDashboardModule('admin/module/dashboard',sortData).then(
                    (response) => {
                        vm.modules = response.data.data.modules;
                    },
                    (error) => {

                    }
                );    
            },
            sortParticipant(column)
            {
                let vm = this;
                if (column === this.participantSortedColumn) {
					vm.participantOrder  = (this.participantOrder === 'asc') ? 'desc' : 'asc'
				} else {
					vm.participantSortedColumn = column
					vm.participantOrder  = 'asc'
                }
                let sortData = {
                    'participantSortedColumn': column,
                    'participantOrder': vm.participantOrder
                }
                
				Api.getDashboardModule('admin/participant/dashboard',sortData).then(
                    (response) => {
                        vm.newPartipants = response.data.data.new_participant;
                    },
                    (error) => {

                    }
                );    
            }

        }
    }
</script>
<style src="chartist/dist/chartist.css"></style>
<style scoped>
    .sales-card{
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    }
    .shipping_perc{
        margin-top: 52px;
        margin-left: -32px;
        position: absolute;
    }
    .top_revenue li{
        line-height: 26px;
    }
    .sale-tag{
        margin-top: 10px;
        position: absolute;
    }
    .sale-tag:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        right: auto;
        top: 0px;
        bottom: auto;
        border: 10px solid;
        border-color: #ff6666  transparent transparent transparent;
    }
    .sale-tag:before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        right: auto;
        top: -1px;
        bottom: auto;
        border: 10px solid;
        border-color:  transparent transparent  #ff6666 transparent;
    }
    .visit_sources li {
        font-size: 15px;
        line-height: 30px;
    }
    .visit_sources li i{
        line-height: 3;
        font-size:16px;
        padding: 0.75rem;
        border-radius: 20px;
        border: 1px solid #c1c1c1;
    }
    .new_visits .ct-series-b .ct-slice-donut{
        stroke: #66cc99;
    }
    .new_visits .ct-series-a .ct-slice-donut{
        stroke:#6699cc;
    }
    .new_visits .v-chartist-container,.marketing_camp .v-chartist-container{
        height: 300px;
    }
    .todaySales-chart .v-chartist-container{
        height: 300px;
    }
    .donut-label{
        height:5px;
        width: 5px;
    }
    .ct-label {
        fill: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        font-size: 0.75rem;
        line-height: 1;
    }
    .marketing_camp .ct-series-d .ct-slice-pie{
        fill:#6699cc;
    }
    .marketing_camp .ct-series-a .ct-slice-pie{
        fill:#66cc99;
    }
    .marketing_camp .ct-series-b .ct-slice-pie{
        fill:#ff6666;
    }
    .marketing_camp .ct-series-c .ct-slice-pie{
        fill: #ec9f1c;
    }
    .ct-series-a .ct-line,.ct-series-a .ct-point{
        stroke: #66cc99;
    }
    .top_revenue{
        margin-top: -8px;
    }
   @media(max-width:320px){
       .ct-label.ct-horizontal.ct-end{
           margin-left: -5px;
           transform: rotate(40deg);
       }
   }
    @media(max-width:1440px) {
        .most_trending .nav-link{
            padding: 0.7rem 1rem;
        }

    }
    @media(max-width:375px){
        .edashboard{
            margin-top: 15px;
        }
    }
    @media(min-width:320px) and (max-width: 425px){
        .top_revenue{
            margin-top: 0;
        }
    }
</style>

<!--linear-gradient(141deg, #ecb59a 0%, #f58383 51%, #fd8e8e 75%)-->
<!--linear-gradient(141deg, #68a2dc 0%, #96c2ef 51%, #a7c6e6 75%)-->
<!--linear-gradient(141deg, #a3eac7 0%, #75d4a5 51%, #7acaa2 75%)-->