<template>
    <div class="row">
        <div class="col-md-4">
            <div :class="[ (passBgColor!='') ? 'card bg-white' : 'card bg-light' ]">
                <personaldetailLeft :userId="participantId" :participantAllStatus="participantAllStatus" :wwcStatus="wwcStatus"></personaldetailLeft>
            </div>
             <div v-if="!(confirmAccount)" class="mt-3">
                <div class="text-center mb-3" v-if="!(invited)">
                    <button type="button" class="btn btn-primary btn-lg" @click="inviteParticipant">Invite Candidate to DEEP</button>
                </div>
                <div class="text-center mb-3" v-else>
                    <button type="button" name="" class="btn btn-primary btn-lg" disabled>Invitation sent</button><br/>
                        <span><a href="javascript:void(0)" @click="inviteParticipant">Not received? Resend</a></span>
                </div>
            </div>    
        </div>
        <div class="col-md-8">
            <div :class="[ (passBgColor!='') ? 'card bg-white' : 'card bg-light' ]">
                <div class="card-body">
                   
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td @click="changeTab('personalDetails')" class="cursor-pointer text-primary">Personal Details</td>
                                    <td></td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="!(personalDetailStatus)">In Progress</span>
                                        <span class="badge badge-pill badge-success px-1 px-xl-3 py-2" v-else>Complete</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('interview')" class="cursor-pointer text-primary">Interview</td>
                                    <td></td>
                                    <td class="text-center">
                                    <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="(interviewstatus == '' || interviewstatus == null)">In Progress</span>
                                    <span :class="[interviewstatus == 'satisfactory' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [   interviewstatus == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': 'badge badge-pill badge-warning px-1 px-xl-3 py-2']]" v-else>{{interviewstatus | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('interview')" class="cursor-pointer text-primary">Reference Check</td>
                                    <td></td>
                                    <td class="text-center"> <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="(referenceCheckStatus == '' || referenceCheckStatus == null)">In Progress</span>

                                    <span :class="[referenceCheckStatus == 'satisfactory' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [   referenceCheckStatus == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': 'badge badge-pill badge-warning px-1 px-xl-3 py-2']]" v-else>{{referenceCheckStatus | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('documents')" class="cursor-pointer text-primary">Police Check Consent Form</td>
                                    <td><!-- <span class="text-secondary" disabled>Invitation Sent</span> <a href="#" class="mr-3 font-weight-bold">(Resend)</a> --></td>
                                    <td class="text-center">
                                    <span :class="[documentList.policeCheck == 'satisfactory' || documentList.policeCheck == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ documentList.policeCheck == 'inactive' ||  documentList.policeCheck == 'not_compliant'  ||  documentList.policeCheck == 'due'  ||  documentList.policeCheck == 'expired' ||  documentList.policeCheck == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2':[ documentList.policeCheck == 'not_required' ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2':'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]">{{documentList.policeCheck | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('documents')" class="cursor-pointer text-primary">Working with Children Check</td>
                                    <td><!-- <a href="#" class="mr-3 font-weight-bold">Send Invitation</a> --></td>
                                    <td class="text-center" v-if="documentList.workingWithChildrenCheck == 'in_progress' && wwcStatus=='cont_with_child'"><span class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span></td>
                                    <td class="text-center" v-else-if="documentList.workingWithChildrenCheck == 'in_progress'"><span class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span></td>
                                    <td class="text-center" v-else><span :class="[documentList.workingWithChildrenCheck == 'satisfactory' || documentList.workingWithChildrenCheck == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ documentList.workingWithChildrenCheck == 'inactive' ||   documentList.workingWithChildrenCheck == 'not_compliant'  ||  documentList.workingWithChildrenCheck == 'due'  ||  documentList.workingWithChildrenCheck == 'expired' ||  documentList.workingWithChildrenCheck == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': [ documentList.workingWithChildrenCheck == 'not_required' || documentList.workingWithChildrenCheck == 'in_progress'  ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2':'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]">{{documentList.workingWithChildrenCheck | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('documents')" class="cursor-pointer text-primary">Identification</td>
                                    <td></td>
                                    <td class="text-center">
                                    <span :class="[documentList.idDocument == 'satisfactory' || documentList.idDocument == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ documentList.idDocument == 'inactive' ||  documentList.idDocument == 'not_compliant'  ||  documentList.idDocument == 'due'  ||  documentList.idDocument == 'expired' ||  documentList.idDocument == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': [ documentList.idDocument == 'not_required' ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2':'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]" v-if="(documentList.idDocument != '' || documentList.idDocument != null)" >{{documentList.idDocument | StatusName}}</span>
                                  <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-else>In Progress</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('documents')" class="cursor-pointer text-primary">Statutory Declaration</td>
                                    <td><span class="mr-2" v-if="(documentfile.statutoryDeclaration != '')"><strong><a :href="'/storage/documents/'+documentfile.statutoryDeclaration"  class="text-secondary" target="_blank" dowload>View Document </a></strong></span></td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="(documentList.statutoryDeclaration == '' || documentList.statutoryDeclaration == null)">In Progress</span><span :class="[documentList.statutoryDeclaration == 'satisfactory' || documentList.statutoryDeclaration == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ documentList.statutoryDeclaration == 'inactive' ||   documentList.statutoryDeclaration == 'not_compliant'  ||  documentList.statutoryDeclaration == 'due'  ||  documentList.statutoryDeclaration == 'expired' ||  documentList.statutoryDeclaration == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': [ documentList.statutoryDeclaration == 'not_required' ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2':'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]"  v-else>{{documentList.statutoryDeclaration | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('documents')" class="cursor-pointer text-primary">Contract</td>
                                    <td></td>
                                    <td class="text-center">
                                    <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="(documentList.contract == '' || documentList.contract == null)">In Progress</span>
                                    <span  :class="[documentList.contract == 'satisfactory' || documentList.contract == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ documentList.contract == 'inactive' ||  documentList.contract == 'not_compliant'  ||  documentList.contract == 'due'  ||  documentList.contract == 'expired' ||  documentList.contract == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2':[ documentList.contract == 'not_required' ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2' :  'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]" v-else>{{documentList.contract | StatusName}}</span></td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('elearning')" class="cursor-pointer text-primary">e-Learning</td>

                                    <td><a href="#" class="mr-3 font-weight-bold" @click="sendeLearningInvition()" v-if="(userType == 3 && elearningStatus.all == 0 )||(userType == 3 && elearningStatus.reattempt > 0)">Send Invitation</a></td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-danger px-1 px-xl-3 py-2" v-if="elearningStatus.reattempt > 0">Reattempt</span>
                                        <span class="badge badge-pill badge-success px-1 px-xl-3 py-2" v-else-if="elearningStatus.all == elearningStatus.satisfactory && elearningStatus.all > 0">Satisfactory</span>
                                        <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-else>In Progress</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td @click="changeTab('policy')" class="cursor-pointer text-primary">Child Safeguarding Policy</td>
                                    <td></td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-success px-1 px-xl-3 py-2" v-if="agreePolicy == 'Y'">Agreed</span>
                                        <span class="badge badge-pill badge-danger px-1 px-xl-3 py-2" v-else-if="agreePolicy == 'N'">Not agreed</span>
                                        <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-else>{{agreePolicy | StatusName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>In Person Session</td>
                                    <td><span class="mr-2"><strong><a href="#" class="text-secondary" @click="sendInvition('face-to-face-Session')">Send Invitation</a></strong></span></td>
                                    <td class="text-center">
                                         <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="(faceToFaceStatus == '' || faceToFaceStatus == null)">In Progress</span>
                                        <span :class="[faceToFaceStatus == 'satisfactory' || faceToFaceStatus == 'active' ? 'badge badge-pill badge-success px-1 px-xl-3 py-2' : [ faceToFaceStatus == 'inactive'  ||  faceToFaceStatus == 'overdue'  ||  faceToFaceStatus == 'due'  ||  faceToFaceStatus == 'expired' ||  faceToFaceStatus == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 px-xl-3 py-2': [ documentList.contract == 'not_required' ? 'badge badge-pill badge-dark px-1 px-xl-3 py-2' : 'badge badge-pill badge-warning px-1 px-xl-3 py-2']]]">{{faceToFaceStatus | StatusName}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import personaldetailLeft from '../../components/personaldetailLeft'
import apiService from '../../../../api/apiService.js';
import Ls from '../../../../services/ls.js';

 export default {
     
     props:['passBgColor'],
     data() {
      return {
        'loginId':this.$store.state.User.userData.userId,
        'userType':this.$store.state.User.userData.userTypeId,
        'invited':false,
        'participantId':'',
        'confirmAccount':false,
        'elearningStatus': [],
        'agreePolicy': 'in_progress',
        'faceToFaceStatus':'in_progress',
        'personalDetailStatus': 'in_progress',
        'policyStatus': '',
        'wwcStatus': '',
        'interviewstatus' : 'in_progress',
        'referenceCheckStatus' : 'in_progress',
        'documentList' : {
            'policeCheck' : '',
            'workingWithChildrenCheck' : '',
            'statutoryDeclaration' : '',
            'contract' : '',
            'idDocument' : '',
        },
        'documentfile':{
            'statutoryDeclaration' : '',
        },
        'participantAllStatus': {
            'agreePolicy': '',
            'contract': '',
            'elearningStatus': '', 
            'faceToFaceStatus': '', 
            'idDocument': '', 
            'interviewStatus': '', 
            'personalDetailStatus': '', 
            'policeCheck': '', 
            'referenceCheckStatus': '', 
            'statutoryDeclaration': '', 
            'workingWithChildrenCheck': '',     
        },
        'participantStatus': 0,
      }
     },
    created: function() {
        let vm=this;
        vm.participantId = vm.$route.params.id;
    },
     filters: {
            StatusName: function (docStatus) {
                    
                    let result = '';
                    if(docStatus == 'not_satisfactory'){
                        result =  'Not Satisfactory';
                    }else if(docStatus == 'not_required'){
                        result =  'Not Required';
                    }else if(docStatus == 'in_progress'){
                        result =  'In Progress';
                    }else if(docStatus == 'satisfactory'){
                        result =  'Satisfactory';
                    }else if(docStatus == 'due'){
                        result =  'Due';
                    }else if(docStatus == 'expired'){
                        result =  'Expired';
                    }else if(docStatus == 'active'){
                        result =  'Active';
                    }else if(docStatus == 'inactive'){
                        result =  'Inactive';
                    }else if(docStatus == 'not_compliant'){
                        result =  'Not Compliant';
                    }else if(docStatus == 'uploaded'){
                        result =  'Uploaded';
                    }else{
                        result = '';
                    }

                  return result;
             }
         },
        
    mounted(){
        let vm = this;
         if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3' && vm.$store.state.User.userData.userTypeId != '1' ){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
           }
        vm.initData();
        vm.setStatus();
        this.$root.$emit('setParticipantAllStatus', vm.participantAllStatus);
     },
     components: {
       personaldetailLeft
    },
     methods:{
      initData()
      {
        let vm=this;
        vm.getInviteParticipantDetails();
        vm.geteLearningStatus();
        vm.geParticipantDocumentStatusByTypeSlug('policeCheck');
        vm.geParticipantDocumentStatusByTypeSlug('workingWithChildrenCheck');
        vm.geParticipantDocumentStatusByTypeSlug('statutoryDeclaration');
        vm.geParticipantDocumentStatusByTypeSlug('contract');
        vm.geParticipantDocumentStatusByTypeSlug('idDocument');
        vm.getParticipantBookingDetailByUserId(vm.participantId);
        vm.getInterviewAndReferencestatus();
        vm.getDocumentData();
        

        // vm.participantAllStatus.personalDetailStatus = vm.personalDetailStatus;
        // vm.participantAllStatus.referenceCheckStatus = vm.referenceCheckStatus;
        // vm.participantAllStatus.faceToFaceStatus = vm.faceToFaceStatus;
        // vm.participantAllStatus.interviewStatus = vm.interviewstatus;
      },
      changeTab(tabName)
      {
        let vm = this;
        Ls.set('activeTab',tabName);
        vm.$root.$emit('changeActiveTab',tabName);
      },
      sendInvition(invitionType){
        let vm=this;
        if(invitionType == 'face-to-face-Session'){
            vm.$store.dispatch('SetSelectedParticipnat',vm.participantId);
            vm.$router.push({'name':'booking_add'});
        }
      },  
      getDocumentData(){
            let vm=this;
            let data={'userId':vm.participantId};
            vm.$store.commit("routeChange", "start");
            apiService.getDocumentInfoByUserId(data).then(
                (response)=> {
                    vm.$store.commit("routeChange", "end");
                     let documentDetails=response.data.data;
                    _.forEach(documentDetails,function(doc){
                        if(doc.documentName=='statutoryDeclaration')
                        {
                            vm.documentfile.statutoryDeclaration=doc.documentFile;
                        }
                    });
                },(error)=>{

                }
            );
      },
      getInviteParticipantDetails()
      {     
            let vm=this;
            let data={'id':vm.participantId};
             apiService.getFrontUserDetailsByUserId(data).then(
                (response)=> {
                    vm.wwcStatus = response.data.data.user_details.levelOfContact;
                    if(response.data.data.confirmPolicy == null){
                        vm.agreePolicy = 'in_progress';
                    }else{
                          vm.agreePolicy = response.data.data.confirmPolicy;
                    }
                    if (vm.agreePolicy == 'Y') {
                        vm.participantAllStatus.agreePolicy = 'satisfactory';
                    }    

                    if(response.data.code == 200){
                        let userData=response.data.data;
                        if(userData.participantConfirmed=='Y')
                        {
                            vm.confirmAccount=true;
                        }
                        else
                        {
                            vm.confirmAccount=false;
                        }
                        if(userData.inviteUser=='Y')
                        {
                            vm.invited=true;
                        }
                        else
                        {
                            vm.invited=false;
                        }
                        if(userData.profileCompleteDate!=null && userData.profileCompleteTime!=null)
                        {
                            vm.personalDetailStatus=true;
                            vm.participantAllStatus.personalDetailStatus = true;
                        }
                        else
                        {
                            vm.personalDetailStatus=false;
                        }
                        vm.policyStatus=userData.confirmPolicy;
                        }
                },
                (error)=>{
                }
            )
      },
      inviteParticipant()
      {
            let vm=this;
            let data={'userType':vm.userType,'loginId':vm.loginId,'participantId':vm.participantId};
            vm.$store.commit("routeChange", "start");
            apiService.inviteParticipant(data).then(
                (response)=> {
                    
                    if(response.data.code == 200){
                        vm.invited=true;
                        toastr.success(response.data.message, '', {timeOut: 5000});
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
                    vm.$store.commit("routeChange", "end");
                    },
                (error)=>{
                }

            )
      },
        geteLearningStatus()
        {
            let vm = this;
            apiService.geteLearningStatus(vm.participantId).then(
            (response) => {
                vm.elearningStatus = response.data.data;
                if (vm.elearningStatus.all == vm.elearningStatus.satisfactory && vm.elearningStatus.all > 0) {
                    vm.participantAllStatus.elearningStatus = 'satisfactory';    
                } else {
                    vm.participantAllStatus.elearningStatus = '';
                }
                
            },
            (error) => {

            }
            )
        },
       getParticipantBookingDetailByUserId(id)
            {
                let vm=this;
                let data={'userId':id};
                apiService.getParticipantBookingDetailByUserId(data).then(
                     (response) => {
                    let bookingDetails=response.data.data;
                    vm.faceToFaceStatus=bookingDetails.bookingStatus;
                    vm.participantAllStatus.faceToFaceStatus = vm.faceToFaceStatus;

                   
                  },
                      (error) => {
                  },
                );
            },
       geParticipantDocumentStatusByTypeSlug(slug){
                let vm=this;
               
                let data =  {
                  'participnatId': vm.participantId,
                  'docTypeSlug': slug,
                };
                let participnatDocumentResponce = '';

                vm.$store.commit("routeChange", "start");
                apiService.getParticipantDocumentStatusByTypeSlug(data).then(

                    (response) =>{
                        
                        if(response.data.code == 200){
                             vm.$store.commit("routeChange", "end");
                             participnatDocumentResponce = response.data.data;
                             if(slug == 'policeCheck'){
                                vm.documentList.policeCheck = participnatDocumentResponce;
                                vm.participantAllStatus.policeCheck = participnatDocumentResponce;
                             }else  if(slug == 'workingWithChildrenCheck'){
                                vm.documentList.workingWithChildrenCheck = participnatDocumentResponce;
                                vm.participantAllStatus.workingWithChildrenCheck = participnatDocumentResponce;
                             }else  if(slug == 'statutoryDeclaration'){
                                vm.documentList.statutoryDeclaration = participnatDocumentResponce;
                                vm.participantAllStatus.statutoryDeclaration = participnatDocumentResponce;
                             }else  if(slug == 'contract'){
                                vm.documentList.contract = participnatDocumentResponce;
                                vm.participantAllStatus.contract = participnatDocumentResponce;
                             }else  if(slug == 'idDocument'){
                                vm.documentList.idDocument = participnatDocumentResponce;
                                vm.participantAllStatus.idDocument = participnatDocumentResponce;
                             }else{

                             }
                        } 
                        else
                        {
                           // toastr.error('Something Went wrong.', '', {timeOut: 5000});
                        }
                    },
                    (error) =>{
                            //toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }

                    )

         },
         getInterviewAndReferencestatus(){
                 let vm=this;
                
                 let data =  {
                  'participnatId': vm.participantId,
                };
                apiService.getInterviewAndReferencestatus(data).then(
                     (response) => {
                    let result=response.data.data;
                    vm.interviewstatus=result.interviewStatus;
                    vm.referenceCheckStatus=result.referenceStatus;
                    vm.participantAllStatus.referenceCheckStatus = vm.referenceCheckStatus;
                    vm.participantAllStatus.interviewStatus = vm.interviewstatus;

                  },
                      (error) => {
                  },
                );
         },
        setStatus() {
            let vm = this;
        },
        sendeLearningInvition(){
            let vm = this;
            vm.$store.commit("routeChange", "start");
            apiService.sendeLearningInvition(vm.$route.params.id).then(
                (response) => {
                    toastr.success(response.data.message, '', {timeOut: 5000});
                    vm.$store.commit("routeChange", "end");
                },
                (error) => {
                    vm.$store.commit("routeChange", "end");
                }
            );
            //vm.$store.commit("routeChange", "end");
        }
    },
}
</script>

