<template>
    <form class="form-horizontal" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Given name *</label>
                    <input type="text" class="form-control" placeholder="Given name" value="" v-validate="'required|alpha_spaces'" v-model="participantData.givenName" id="participantGivenName" name="participantGivenName" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantGivenName')">
                        Please enter valid given name.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Surname *</label>
                    <input type="text" class="form-control" placeholder="Surname" value=""  v-validate="'required|alpha_spaces'" v-model="participantData.surName" id="participantSurName" name="participantSurName" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantSurName')">
                        Please enter valid surname.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Role *</label>
                    <input type="text" class="form-control" placeholder="Role" value="" v-validate="{required : true,regex :/^[a-zA-Z]+(([_ .\'\,\.\-\[\]`~_ \/)(:][a-zA-Z_@\|\!$^*%./#&+-}{;<>?&quot;=])?[a-zA-Z_ .\'\,\.\-\[\]`~_ \/)(:][a-zA-Z_@\|\!$^*%./#&+-}{;<>?&quot;=]*)*$/ }" v-model="participantData.role" id="participantRole" name="participantRole" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantRole')">
                        Please enter a valid role.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Participant type *</label><a href="#" data-toggle="tooltip" data-placement="auto" data-html="true" title="Employee (Ongoing) - indicates a permanent position. An Employee who has a contract with no end date <br/>
Employee (Fixed Term) - is a specific time of employment. An Employee who has a contract with an end date <br/>
Employee (Casual) - A casual employee does not have a firm commitment in advance from an employer about how long they will be employed for, or the days 
(or hours) they will work. Face to face, Casual Donor Contact Consultant<br/>
Volunteers - Volunteering is time willingly given for the common good and without financial gain. Board Members, Volunteers, Interns, student work experience <br/>
Contractor - A sole trader business structure is a person trading as the individual legally responsible for all aspects of the business. Engaged for a fixed term to complete a specific task. They are not an employee of Plan International
"><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                    <select class="custom-select ls-select2" v-validate="'required'" v-model="participantData.participantType" id="participantType" name="participantType">
                        <option value="">Select</option>
                        <option :value="part.catId" v-for="part in userCategoryListData">{{part.catName}}</option>
                    </select>
                    <div class="is-danger" v-show="errors.has('participantType')">
                        Please select participant type.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Level of contact with children *</label> <a href="#" data-toggle="tooltip" data-placement="auto" title="Contact with children means working on an activity or in a position that involves or may involve contact with children, either under the position description or due to the nature of the work environment.) Working with Children means being engaged in an activity with a child where the contact would reasonably be expected as a normal part of the activity and the contact is not incidental to the activity. Working includes volunteering or other unpaid works."><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                    <select class="custom-select ls-select2" v-validate="'required'" v-model="participantData.levelOfContact" id="participantLevelOfContact" name="participantLevelOfContact">
                        <option value="">Select Level of contact</option>
                        <option value="work_with_child">Working with children</option>
                        <option value="cont_with_child">Contact with children</option>
                    </select>
                    <div class="is-danger" v-show="errors.has('participantLevelOfContact')">
                        Please select level of contact.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hiring Manager *</label>
                    <select class="custom-select ls-select2" v-validate="'required'" v-model="participantData.hiringManager" id="participantHiringManager" name="participantHiringManager" :disabled="(userData.userType == 3 || userData.userTypeName == 'HMU' )" >
                        <option value="">Select Hiring Manager</option>
                        <option :value="part.id" v-for="part in hiringManagerList">{{part.name}}</option>
                    </select>
                    <div class="is-danger" v-show="errors.has('participantHiringManager')">
                        Please select hiring contact.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Department *</label>
                    <select class="custom-select ls-select2" v-model="participantData.department" id="participantDepartment" name="participantDepartment" v-validate="'required'">

                        <option value="">Select Department</option>
                        <option :value="part.deptId" v-for="part in departmentListData">{{part.deptName}}</option>
                    </select>
                    <div class="is-danger" v-show="errors.has('participantDepartment')">
                        Please select department.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pacific-based role?</label> <a href="#" data-toggle="tooltip" data-placement="auto" title="Indicates the role is based in the Pacific region (except Australia)"><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                    <div>
                        <p class="custom-control custom-radio d-inline mr-3">
                            <input type="radio" class="custom-control-input" id="pacific-yes" v-model="participantData.pacificBaseRole" name="participantPacificBaseRole" checked="checked" value="Y">
                            <label class="custom-control-label" for="pacific-yes">Yes</label>
                        </p>
                        <p class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="pacific-no" v-model="participantData.pacificBaseRole" name="participantPacificBaseRole" value="N">
                            <label class="custom-control-label" for="pacific-no">No</label>
                        </p>
                    </div>
                    <div class="is-danger"  v-show="errors.has('participantPacificBaseRole')">
                        Please select a valid pacific based role.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Do you know if an International Police check is required?</label>
                    <div>
                        <p class="custom-control custom-radio d-inline mr-3">
                            <input type="radio" class="custom-control-input" id="Police-yes" name="policeCheckRequire" v-model="participantData.policeCheckRequire" value="Y" checked="checked">
                            <label class="custom-control-label" for="Police-yes">Yes</label>
                        </p>
                        <p class="custom-control custom-radio d-inline">
                            <input type="radio" class="custom-control-input" id="Police-no" name="policeCheckRequire" v-model="participantData.policeCheckRequire" value="N">
                            <label class="custom-control-label" for="Police-no">No</label>
                        </p>
                    </div>
                    <div class="is-danger" v-show="errors.has('policeCheckRequire')">
                        Please select a valid option.
                    </div>
                </div>
            </div>
            <div class="col-md-6" v-if="(participantData.pacificBaseRole === 'Y')">
                <div class="form-group">
                    <label>Countries *</label>
                    <select class="custom-select ls-select2" v-model="participantData.pacificBaseCountry" id="participantCountry" name="participantCountry" v-validate="'required'">
                        <option value="">Select Country</option>
                        <option value="fiji" >Fiji</option>
                        <option value="papua_new_guinea" >Papua New Guinea</option>
                        <option value="solomon_islands" >Solomon Islands</option>
                        <option value="other" >Other</option>
                    </select>
                    <div class="is-danger" v-show="errors.has('participantCountry')">
                        Please select country.
                    </div>
                </div>
            </div>
        </div>
        <h3 class="mt-3">Enter PARTICIPANT Details</h3>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Given name *</label>
                    <input type="text" class="form-control" placeholder="Given name" value="" v-validate="'required|alpha_spaces'" v-model="participantData.givenName" id="participantGivenName2" name="participantGivenName2" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantGivenName2')">
                        Please enter valid given name.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Surname *</label>
                    <input type="text" class="form-control" placeholder="Surname" value=""  v-validate="'required|alpha_spaces'" v-model="participantData.surName" id="participantSurName2" name="participantSurName2" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantSurName2')">
                        Please enter valid surname.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Preferred Name</label>
                    <input type="text" class="form-control" placeholder="Preferred Name" value=""  v-validate="'alpha_spaces'" v-model="participantData.perferredName" id="participantPerferredName" name="participantPerferredName" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantPerferredName')">
                         Please enter valid preferred name.
                    </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input type="text" class="form-control" placeholder="Email" value=""  v-validate="'required|email'" v-model="participantData.email" id="participantEmail" name="participantEmail"  @change="checkExistEmailId" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantEmail')">
                         Please enter valid email.
                    </div>
                     <div class="is-danger" v-show="(emailExist == 1)">
                        Email id already exist.
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" class="form-control" id="occupation" placeholder="Occupation" v-validate="" v-model="participantData.occupation" name="occupation" >
                        <span class="help is-danger" v-show="errors.has('occupation')">Please enter valid Occupation.</span> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date of Birth </label>
                    <div class="input-group mb-3">
                        <input id="start_date1" placeholder="dd/mm/yyyy" class="form-control border-right-0 datepicker" v-model="participantData.dob" v-validate="''" name="dob"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="icon-calendar" @click="dpOpen()"></i></span>
                        </div>
                          <div class="is-danger" v-show="errors.has('dob')">
                            Please select date of birth.
                        </div>
                        <div class="is-danger" v-show="(participantData.dob != '' && participantData.age < 18)">We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>@plan.org.au email </label>
                    <input type="text" class="form-control" placeholder="ORG Email" value="" v-validate="'email'" v-model="participantData.orgEmail" id="participantOrgEmail" name="participantOrgEmail" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantOrgEmail')">
                         Please enter valid org email.
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label>Contact phone *</label>
                    <div class="input-group">
                        <div class="input-group-prepend border-right-0">
                            <div class="input-group-text p-0 pl-2">
                                +
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'required|numeric|min:2'" v-model="participantData.contactNoPrefix" id="contactNoPrefix" name="contactNoPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix" >
                           
                        </div>
                        <input type="text" class="form-control" placeholder="Contact phone" value="" v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="participantData.contactNo" id="participantContactNo" name="participantContactNo" :maxlength="validationLimit.maxContactNoField">
                    </div>
                    <div class="is-danger"  v-show="errors.has('participantContactNo')">
                        Please enter valid contact phone.
                    </div>
                     <div class="is-danger"  v-show="errors.has('contactNoPrefix')">
                            Please enter valid country code.
                        </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Contact phone 2</label>
                        <div class="input-group">
                        <div class="input-group-prepend border-right-0">
                            <div class="input-group-text p-0 pl-2">
                                    +
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|min:2'" v-model="participantData.contactNo2Prefix" id="contactNo2Prefix" name="contactNo2Prefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                        </div>

                        <input type="text" class="form-control" placeholder="Contact phone 2" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="participantData.contactNo2" id="participantContactNo2" name="participantContactNo2" :maxlength="validationLimit.maxContactNoField">
                    </div>
                    <div class="is-danger" v-show="errors.has('participantContactNo2')">
                         Please enter valid contact phone 2.
                    </div>
                     <div class="is-danger"  v-show="errors.has('contactNo2Prefix')">
                            Please enter valid country code.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"> 
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" value="" v-validate="" v-model="participantData.address" id="participantAddress" name="participantAddress"  :maxlength="120">
                     <div class="is-danger" v-show="errors.has('participantAddress')">
                        Please enter valid address.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Aboriginal / Torres Strait Islander origin</label>
                    <select class="custom-select ls-select2"  v-model="participantData.aboriginalValue" id="participantAboriginalValue" name="participantAboriginalValue">
                        <option value="">Select</option>
                        <option value="no">No</option>
                        <option value="yes_aborig">Yes, Aboriginal</option>
                        <option value="yes_islander">Yes, Torres Strait Islander </option>
                        <option value="yes_aborig_islander">Yes, Aboriginal and Torres Strait Islander </option>
                        <option value="pre_not_dis">Prefer not to disclose</option>
                    </select>
                    <!-- <div class="is-danger">
                        Valid first name is required.
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Disability</label>
                    <select class="custom-select ls-select2" v-model="participantData.disability" id="participantDisability" name="participantDisability">
                        <option value="">Select</option>
                        <option value="N">No</option>
                        <option value="Y">Yes</option>
                        <option value="pre_not_dis">Prefer not to disclose</option>
                    </select>
                    <!-- <div class="is-danger">
                        Valid first name is required.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group">    
                    <label>Gender</label>
                    <select class="custom-select ls-select2" v-model="participantData.gender" id="participantGender" name="participantGender">
                        <option value="">Select</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="pre_not_dis">Prefer not to disclose</option>
                        <option value="self_desc">Self-describe</option>
                    </select>
                  <!--   <div class="is-danger" v-show="errors.has('participantGender')">
                          Please select a gender.
                    </div> -->
                </div>
                 <div class="form-group" v-if="(participantData.gender == 'self_desc')">
                    <input type="text" class="form-control" placeholder="Self Describe" value="" v-validate="'alpha_spaces'" v-model="participantData.selfDescribeValue" id="selfDescribeValue" name="selfDescribeValue"  :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('selfDescribeValue')">
                         Please enter valid self describe.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Emergency contact (Primary)*</label>

                    <input type="text" class="form-control" placeholder="Emergency contact (Primary)" value="" v-validate="'required|alpha_spaces'" v-model="participantData.emergencyPrimary" id="participantEmergencyPrimary" name="participantEmergencyPrimary" 
                    :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimary')" >
                       Please enter valid emergency contact (Primary).
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Relationship*</label>
                    <input type="text" class="form-control" placeholder="Relationship" value="" v-validate="'required|alpha_spaces'" v-model="participantData.relationshipPrimary" id="participantRelationshipPrimary" name="participantRelationshipPrimary" :maxlength="validationLimit.maxRelationField">
                    <div class="is-danger" v-show="errors.has('participantRelationshipPrimary')">
                          Please enter valid relationship (Primary).
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Contact phone *</label>
                    <div class="input-group">
                        <div class="input-group-prepend border-right-0">
                            <div class="input-group-text p-0 pl-2">
                               +
                            </div>
                        </div>
                        <div class="input-group-prepend">
                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'required|numeric|min:2'" v-model="participantData.emergencyPrimaryContactPrefix" id="emergencyPrimaryContactPrefix" name="emergencyPrimaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                        </div>

                        <input type="text" class="form-control" placeholder="Contact phone" value=""  v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="participantData.emergencyPrimaryContact" id="participantEmergencyPrimaryContact" name="participantEmergencyPrimaryContact" :maxlength="validationLimit.maxContactNoField">

                    </div>
                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimaryContact')">
                        Please enter valid contact phone (Primary).
                    </div>
                      <div class="is-danger"  v-show="errors.has('emergencyPrimaryContactPrefix')">
                            Please enter valid country code.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Emergency contact (Secondary)</label>
                    <input type="text" class="form-control" placeholder="Emergency contact (Secondary)" value="" v-validate="'alpha_spaces'" v-model="participantData.emergencySecondary" id="participantSecondaryPrimary" name="participantSecondaryPrimary" :maxlength="validationLimit.maxNameField">
                    <div class="is-danger" v-show="errors.has('participantSecondaryPrimary')">
                        Please enter valid  emergency contact (Secondary).
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Relationship</label>
                    <input type="text" class="form-control" placeholder="Relationship" value="" v-validate="'alpha_spaces'" v-model="participantData.relationshipSecondary" id="participantRelationshiprelationshipSecondary" name="participantRelationshiprelationshipSecondary" :maxlength="validationLimit.maxRelationField">
                    <div class="is-danger" v-show="errors.has('participantRelationshiprelationshipSecondary')">
                        Please enter valid  relationship (Secondary).
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Contact phone</label>
                    <div class="input-group">
                        <div class="input-group-prepend border-right-0">
                            <div class="input-group-text p-0 pl-2">
                                +
                            </div>
                        </div>
                        <div class="input-group-prepend">
                               <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|min:2'" v-model="participantData.emergencySecordaryContactPrefix" id="emergencySecordaryContactPrefix" name="emergencySecordaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                        </div>
                        <input type="text" class="form-control" placeholder="Contact phone" value=""v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="participantData.emergencySecordaryContact" id="participantEmergencySecondaryContact" name="participantEmergencySecondaryContact"  :maxlength="validationLimit.maxContactNoField">

                    </div>
                    <div class="is-danger" v-show="errors.has('participantEmergencySecondaryContact')">
                        Please enter valid contact phone (Secondary).
                    </div>
                       <div class="is-danger"  v-show="errors.has('emergencySecordaryContactPrefix')">
                            Please enter valid country code.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Is the candidate legally entitled to work in {{ participantData.pacificBaseCountry === 'fiji' ? 'Fiji' : participantData.pacificBaseCountry === 'papua_new_guinea' ? 'Papua New Guinea' : participantData.pacificBaseCountry === 'solomon_islands' ? 'Solomon Islands' : 'this country' }}?</label>
                    <div>
                        <p class="custom-control custom-radio d-inline mr-3">
                            <input type="radio" class="custom-control-input" id="Candidate-yes" name="legalWorkInAustralia" v-model="participantData.legalWorkInAustralia" checked="checked" value="Y">
                            <label class="custom-control-label" for="Candidate-yes">Yes</label>
                        </p>
                        <p class="custom-control custom-radio d-inline ">
                            <input type="radio" class="custom-control-input" id="Candidate-no" name="legalWorkInAustralia" v-model="participantData.legalWorkInAustralia" value="N">
                            <label class="custom-control-label" for="Candidate-no">No</label>
                        </p>
                    </div>
                    <!-- <div class="is-danger">
                        Please select a valid Level of contact.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide details and attach a copy of visa if  applicable</label>
                    <div>
                        <div v-if="!participantData.visaCopy">
                            <label class="btn-bs-file btn btn-lg btn-primary mb-0">
                                Browse
                                <input id="visaCopy" name="visaCopy" type="file"  class="btn btn-info"   @change="previewFile" accept="image/*" v-validate="'ext:jpeg,jpg,pdf,png,bmp'" data-vv-as="image">
                            </label>
                             <p class="mb-0"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
          <small> * Accepted file size: less than 1MB</small></p>
                            <div class="is-danger" v-show="errors.has('visaCopy')">
                                    Please enter valid file.
                            </div> 
                        </div>
                        <!-- <div class="col-md-9"  v-if="!participantData.visaCopy">
                            <input id="visaCopy" name="visaCopy" type="file"  class="btn btn-info"  @change="previewFile" accept="image/*" >
                            <div class="is-danger">
                                Please enter valid file.
                            </div> 
                        </div> -->
                            <div v-else>
                                <div class="upload-image" v-if="(participantData.visaCopy != '' && fileExt != 'pdf')">
                                    <img :src="participantData.visaCopy" width="350" height="100"/>
                                </div>
                                <div v-if="fileExt == 'pdf'">
                                   <strong>
                                        <span>
                                            Visa File
                                        </span>
                                    </strong>
                                </div>
                                <a href="javascript:void(0)" class="mt-1 d-inline-block" @click="removeImage"><i class="icon-delete mr-1" @click="removeImage"></i> Remove file</a>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Residential status</label>
                    <div>
                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                            <input id="australianCitizen" name="residentialStatus" type="radio" class="custom-control-input" checked="" v-model="participantData.residentialStatus" value="australian_citizen">
                            <label class="custom-control-label" for="australianCitizen">Citizen</label>
                        </div>
                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                            <input id="resident" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="resident">
                            <label class="custom-control-label" for="resident">Resident</label>
                        </div>
                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                            <input id="workVisa" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="work_visa">
                            <label class="custom-control-label" for="workVisa">Work Visa</label>
                        </div>
                        <div class="custom-control custom-radio d-block d-sm-inline">
                            <input id="Other" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="other">
                            <label class="custom-control-label" for="Other">Other</label>
                        </div>
                    </div>
                    <!-- <div class="is-danger">
                        Please select a valid Level of contact.
                    </div> -->
                    <div class="mt-2" v-if="(participantData.residentialStatus == 'other')">
                        <div class="form-group">
                            <label>Other residential status *</label>
                            <input type="text" class="form-control" placeholder="Other residential status" name="otherResidentialStatus" id="otherResidentialStatus" v-model="participantData.otherResidentialStatus" v-validate="'required'">
                            <span class="help is-danger" v-show="errors.has('otherResidentialStatus')">Please check Other Residential status.</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div>
                    <!-- <label>User confirmation</label> -->
                    <div>
                        <p class="custom-control custom-checkbox d-inline mr-3">
                            <input type="checkbox" class="custom-control-input" id="user-confirm" checked v-model="participantData.confirm" name="userConfirm"  :disabled="(userData.userType == 3 || userData.userTypeName == 'HMU' )">
                            <label class="custom-control-label" for="user-confirm">I confirm that the information I have given on this form is complete and correct.</label>
                        </p>
                    </div>
                   <!--  <div class="is-danger">
                        Please select a valid Level of contact.
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date</label>
                    <div class="input-group mb-3 disabled">
                        <input id="start_date2" type="text" placeholder="" class="form-control border-right-0" disabled  v-model="participantData.confirmDate" name="confirmDate">
                        <!-- <div class="is-danger">
                            Please select a valid country.
                        </div> -->
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <button class="btn btn-primary btn-lg mr-3" type="button" @click="createNewParticipant">Submit</button>
            <button class="btn btn-primary btn-lg" type="button" @click="getComponent('participantList')">Cancel</button>
        </div>
    </form>
</template>
<script>

    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import apiService from '../../../../api/apiService.js';
    import moment from 'moment';
    import _ from 'lodash';

    export default {
        name: 'createNewParticipant',

        data(){
            return {
                'validationLimit' : {
                    'maxNameField' : 55,
                    'maxNameFieldErrorMsg' : 'Maximum allow 55 character',
                    'maxContactNoFieldPreFix' : 2,
                    'maxContactNoField' : 10,
                    'maxRelationField' : 20,
                },
                'userData' :{
                    'userType' :this.$store.state.User.userData.userTypeId,
                    'userId' :this.$store.state.User.userData.userId,
                    'email' : this.$store.state.User.userData.email,
                    'userTypeName' : '',
                }, 
                'hiringManagerList' : [],
                'userCategoryListData' : [],    
                'departmentListData' : [],
                'participantData' : {
                    'givenName' : '',
                    'surName' : '',
                    'role' : '',
                    'participantType' : '',
                    'levelOfContact' : '',
                    'hiringManager' : '',
                    'department' : '',
                    'pacificBaseRole' : 'N',
                    'pacificBaseCountry' : '',
                    'policeCheckRequire' : 'Y',
                    'perferredName' : '',
                    'occupation':'',
                    'email' : '',
                    'dob' : '',
                    'age' : 0,
                    'orgEmail' : '',
                    'contactNo' : '',
                    'contactNoPrefix' : '61',
                    'contactNo2' : '',
                    'contactNo2Prefix' : '61',
                    'address' : '',
                    'aboriginalValue' : '',
                    'disability' : '',
                    'gender' : '',
                    'selfDescribeValue' : '',
                    'emergencyPrimary' : '',
                    'relationshipPrimary' : '',
                    'emergencyPrimaryContact' : '',
                    'emergencyPrimaryContactPrefix' : '61',
                    'emergencySecondary' : '',
                    'relationshipSecondary' : '',
                    'emergencySecordaryContact' : '',
                    'emergencySecordaryContactPrefix' : '61',
                    'legalWorkInAustralia' : 'Y',
                    'visaCopy' : '',
                    'residentialStatus' : 'australian_citizen',
                    'otherResidentialStatus' : '',
                    'confirm' : '',
                    'confirmDate' : moment().format('DD/MM/YYYY'),
                },
                'fileExt' : '',
                'fileName' : '',
                'perPage' : 5,
                'pageNo' : 0,
                'emailExist' : 0,
                 options: {
                      format: 'dd/mm/yy',
                      useCurrent: false,
                      endDate:  '+0d',
                    } 
               
            }
        },
         created() {
           /* this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/

        },
        mounted(){

           let vm=this;
            vm.$route.meta.backProcessCheck = true;
            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3'  && vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
            }

            if(vm.userData.userType == '3' || vm.userData.userTypeName == 'HMU' ){
                 vm.participantData.hiringManager = vm.userData.userId;
                  $('#participantHiringManager').attr('disabled');
            }


           $('[data-toggle="tooltip"]').tooltip();

           $('.ls-select2').select2({
                placeholder: "Select"
            });

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate:  '+0d',
            });

            $('.datepicker').datepicker().on('changeDate input focusout',function(e){
                    vm.participantData.dob = this.value;
                    vm.getAgeCal();
            });
             $('#participantType').on("select2:select", function (e) {
                vm.participantData.participantType =this.value;
            });

            $('#participantCountry').on("select2:select", function (e) {
                vm.participantData.pacificBaseCountry =this.value;
            });

            $('#participantLevelOfContact').on("select2:select", function (e) {
                vm.participantData.levelOfContact =this.value;
            });

             $('#participantHiringManager').on("select2:select", function (e) {
                vm.participantData.hiringManager =this.value;
            }); 
            $('#participantDepartment').on("select2:select", function (e) {
                vm.participantData.department =this.value;
            });

            $('#participantAboriginalValue').on("select2:select", function (e) {
                vm.participantData.aboriginalValue =this.value;
            });

            $('#participantDisability').on("select2:select", function (e) {
                vm.participantData.disability =this.value;
            });

            $('#participantGender').on("select2:select", function (e) {
                vm.participantData.gender =this.value;
            });

            setInterval(function(){
                $('input[type=radio][name=participantPacificBaseRole]').change(function() {
                    if (this.value == 'Y') {
                        vm.validationLimit.maxContactNoField = 15;
                    }

                    if (this.value == 'N') {
                        vm.validationLimit.maxContactNoField = 10;
                    }
                });
            },500);

           vm.initData();

        },
          components: {
           datePicker
        },
        methods: {
            getAgeCal() { 
        	  	let vm =this;
		        vm.handleDOBChanged();
            },
             handleDOBChanged() { 	
                       	let vm =this;
				   		 vm.participantData.age = '';
				      if (vm.isDate(vm.participantData.dob)) { 
				        var ageCal = vm.calculateAge(vm.parseDate(vm.participantData.dob), new Date());	
				         vm.participantData.age = ageCal; 		
				      }     	
				},	
				parseDate(dateStr) {
				  	var dateParts = dateStr.split("/");
				   	return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);		
				},	
				calculateAge (dateOfBirth, dateToCalculate) {
				    var calculateYear = dateToCalculate.getFullYear();	
				    var calculateMonth = dateToCalculate.getMonth();	
				    var calculateDay = dateToCalculate.getDate();	
				    var birthYear = dateOfBirth.getFullYear();	
				    var birthMonth = dateOfBirth.getMonth();	
				    var birthDay = dateOfBirth.getDate();	
				    var age = calculateYear - birthYear;	
				    var ageMonth = calculateMonth - birthMonth;	
				    var ageDay = calculateDay - birthDay;	
				    if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {	
			        age = parseInt(age) - 1;	
				    }	
				    if(age > 1){	
				    	return age ;
				    }	
				   	if(age == 1){	
						 return age;	
					}else{
						return 1;
					}/*else if(ageMonth != 0){	
						return ageMonth;	
					}else{	
						return ageDay;	
					}	*/
				},	
				isDate(txtDate) {	
				  var currVal =txtDate;

				  if (currVal == '')	
				    return true;	

				  //Declare Regex	
				  var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;	
				  var dtArray = currVal.match(rxDatePattern); // is format OK?	
					 
				  if (dtArray == null)	
				    return false;	
	
				  //Checks for dd/mm/yyyy format.	
				  var dtDay = dtArray[1];	
				  var dtMonth = dtArray[3];	
                  var dtYear = dtArray[5];	
					
				  if (dtMonth < 1 || dtMonth > 12)	 
				    return false;	
				  else if (dtDay < 1 || dtDay > 31)	 
				    return false;	
				  else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)	
				    return false;	
				  else if (dtMonth == 2) {	 
				    var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));	
				    if (dtDay > 29 || (dtDay == 29 && !isleap))	
				      return false;	
				  }	
	
				  return true;	
				},	
            dpOpen(){
                $('#start_date1').datepicker("show");
           },
            initData(){
                let vm=this;
                let userTypeId  = vm.userData.userType;
                vm.userCategoryListByType('Participant');
                vm.userDepartmentListByType('Participant');
                vm.userListByType("HMU");
                vm.getTypeName(userTypeId);
            },
             getTypeName(typeId){
               let vm = this;
               let data =  {
                 'userTypeId': vm.userData.userType,
               };
               vm.$store.commit("routeChange", "start");
               apiService.getTypeName(data).then(

                    (response) =>{
                         if(response.data.code == 200){ 
                           vm.$store.commit("routeChange", "end");
                           vm.userData.userTypeName = response.data.data;
                        }
                    },
                    (error) =>{
                     }
               );
             },
            getFileextesion(fileName)
            {
                return fileName.substring(fileName.lastIndexOf(".")+1);
            },
             getComponent(componentName){

              let vm=this;
              vm.$router.push({'name':componentName});

             },
            checkExistEmailId(){
                    
                let vm=this;
               

                let data =  {
                  'email': vm.participantData.email,
                };

                 vm.$store.commit("routeChange", "start");
                apiService.checkExistEmailId(data).then(

                    (response) =>{
                        if(response.data.code == 200){
                             vm.$store.commit("routeChange", "end");
                            if(response.data.data > 0){
                                vm.emailExist = 1;
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }else{
                                vm.emailExist = 0;
                            }
                        }else if (response.data.code == 300) {
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                    },
                    (error) =>{
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }

                    )
            },
            previewFile(e){
                //$event.target.name, $event.target.files
                let vm =this;
                var imgData = [];
                var fileList = e.target.files;
                var fieldName = e.target.name;

                let fileData = new FormData();
                let extArray=['bmp','jpej','jpg','pdf','png'];
                var files = e.target.files || e.dataTransfer.files;

                 if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    vm.fileExt = ext;
                    vm.fileName= fileList[x].name;
                    var fSize=vm.getFileSize(fileList[x].size);
                     if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else if(_.includes(extArray, ext))
                    {
                        
                        fileData.append(fieldName, fileList[x], fileList[x].name);
                         if (files.length > 0)
                        { 
                            this.createImage(files[0]);
                        }
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                
            },
            getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            },
            createImage(file) {

                 // var image = new Image();
                  var reader = new FileReader();
                  var vm = this;

                  reader.onload = (e) => {
                    let getFile = e.target.result;
                     vm.participantData.visaCopy = getFile;
                  };
                  reader.readAsDataURL(file);
            },
             removeImage(e) {
                
                 let vm=this;
                 vm.participantData.visaCopy='';
             },
            createNewParticipant(){
              
                let vm=this;
                 vm.$route.meta.backProcessCheck = false;
                let addParticipnat = '';

                let data =  {
                  'participantData': vm.participantData,
                  'userData' : vm.userData,
                };
                    vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                        if(vm.emailExist == 0 ){
                            if (vm.participantData.dob != '' && vm.participantData.age <= 18) {
                                toastr.error('We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss.', '', {timeOut: 5000});
                           
                            }else{
                                 vm.$store.commit("routeChange", "start");
                                   vm.$route.meta.backProcessCheck = false;
                                apiService.createNewParticipant(data).then(

                                    (response) =>{
                                        
                                         if(response.data.code == 200){
                                            addParticipnat = response.data.data;
                                            vm.$store.commit("routeChange", "end");
                                          
                                          //  vm.$router.push({'name':'interviewReferences',params: { id: addParticipnat}});
                                        vm.$store.dispatch('SetParticipnatId',addParticipnat);
                                        vm.$router.push({name:'adminParticipants',params: { id: addParticipnat,tab : 'interview'}});
                                        toastr.success(response.data.message, '', {timeOut: 5000});
                                        } 
                                        else if (response.data.code == 300) {
                                            toastr.error(response.data.message, '', {timeOut: 5000});
                                        }
                                        else
                                        {
                                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                        }

                                    },
                                    (error) => {

                                    }
                                )
                                  
                            }
                        }else{
                            vm.$route.meta.backProcessCheck = true;
                            toastr.error('Email already exist.', '', {timeOut: 5000}); 
                        }
                      }else{
                          vm.$route.meta.backProcessCheck = true;
                        toastr.error('Please input valid data.', '', {timeOut: 5000});
                      }
                })
                
            },
            userCategoryListByType(type){
                
                let vm=this;

                 let userCategoryList=[];
                 let data =  {
                  'userType': type,
                 };
                vm.$store.commit("routeChange", "start");
                apiService.userCategoryListByType(data).then(

                    (response) =>{
                            vm.$store.commit("routeChange", "end");
                             if(response.data.code == 200){
                                $.each(response.data.data, function(key,value) {

                                   userCategoryList.push({
                                     'catId' : value.catId,
                                     'catName' : value.catName,
                                  });
                                });

                                vm.userCategoryListData=userCategoryList;
                            } 

                        },
                    (error) => {

                    }

                )
            },
            userDepartmentListByType(type){

                let vm=this;

                let departmentList=[];
                let data =  {
                  'userType': type,
                 
                };
                vm.$store.commit("routeChange", "start");
                apiService.userDepartmentListByType(data).then(
                    (response) =>{
                            vm.$store.commit("routeChange", "end");
                             if(response.data.code == 200){
                                $.each(response.data.data, function(key,value) {

                                   departmentList.push({
                                     'deptId' : value.deptId,
                                     'deptName' : value.deptName,
                                  });
                                });

                                vm.departmentListData=departmentList;
                            } 

                        },
                        (error) => {

                        }
                    );
            },
            userListByType(type){

                 let vm=this;

                 let hmuUserList=[];
                 let data =  {
                  'userType': type,
                 };
                vm.$store.commit("routeChange", "start");   
                 apiService.userListByType(data).then(
                        
                        (response) =>{
                            vm.$store.commit("routeChange", "end");
                             if(response.data.code == 200){
                                $.each(response.data.data, function(key,value) {

                                   hmuUserList.push({
                                     'id' : value.userId,
                                     'name' : value.name,
                                  });
                                });

                                vm.hiringManagerList=hmuUserList;
                            } 

                        },
                        (error) => {

                        }
                    )
            }
          }
    }
</script>

