<template>
    <div>
        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="60%">Title</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Police Check</td>
                        <td class="text-center">
                            <span class="badge badge-pill badge-warning px-3 py-2">In Progress</span>  
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-lg">Verify</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Signed Contract</td>
                        <td class="text-center">
                            <span class="badge badge-pill badge-warning px-3 py-2">Uploaded</span>  
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-lg" disabled>Verify</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Working with Children Check</td>
                        <td class="text-center">
                            <span class="badge badge-pill badge-success px-3 py-2">Verified</span>  
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-lg">Verify</button>
                        </td>
                    </tr>
                    <tr>
                        <td>ID documentation</td>
                        <td class="text-center">
                            <span class="badge badge-pill badge-danger px-3 py-2">Not Complete</span>  
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-lg">Verify</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Statutory Declaration</td>
                        <td class="text-center">
                            <span class="badge badge-pill badge-danger px-3 py-2">In Progress</span>  
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary btn-lg">Verify</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center my-5">
            <button type="submit" class="btn btn-primary btn-lg mr-3">Save</button> 
            <button type="submit" class="btn btn-primary btn-lg">Cancel</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'hmuDocuments'
}
</script>

