<template>
    <div class="custom-listgroup">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 1 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-success px-3 py-2">Completed</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 2 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><a href="#" class="mr-3 font-weight-bold">Reattempt</a><span class="badge badge-pill badge-danger px-3 py-2">Not satisfactory</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 3 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-success px-3 py-2">In Progress</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 4 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-warning px-3 py-2">Not satisfactory</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 5 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-warning px-3 py-2">In Progress</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 6 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-success px-3 py-2">Completed</span></p>
            </li>
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 7 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-warning px-3 py-2">In Progress</span></p>
            </li>
            <li class="list-group-item d-block d-lg-flex justify-content-between align-items-center">
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>Module 8 Title</strong><br/>
                        lorem ipsum door</p>
                    </div>
                </div>
                <p class="mb-0 mt-2 mt-md-0"><span class="badge badge-pill badge-success px-3 py-2">Completed</span></p>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'hmuElearning'
}
</script>

