<template>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light">
                <personaldetailLeft />
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-light">
                <personaldetailRight />
            </div>
        </div>
    </div>
</template>
<script>
import personaldetailRight from '../../components/personaldetailRight'
import personaldetailLeft from '../../components/personaldetailLeft'

export default {
    name: 'hmuPersonalDetails',

    components:{
        personaldetailRight,
        personaldetailLeft
    }
}
</script>

