<template>
    <div>
    	<interviewReferencesInnerPage :userId="participantId"></interviewReferencesInnerPage>
    </div>
</template>
<script>
	import interviewReferencesInnerPage from '../../components/interview-references'
	import moment from 'moment';

	export default {
	    name: 'interviewReferences',
	     data() {
	      return {
	      	'participantId' :  this.$route.params.id
	      }
	    },
	    mounted(){
	        let vm=this;
	        if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3'  && vm.$store.state.User.userData.userTypeId != '1' ){
	              vm.$root.$emit('logout','You are not authorise to access this page'); 
	              
	           }
	       // vm.initData();
	       
	    },
	    components:{
	        interviewReferencesInnerPage,
	    }, 


	}
</script>
