<template>
	<div class="custom-listgroup">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center" v-for='module in modules'>
                <p class="mb-0">{{ module.moduleName }}</p>
                <p class="mb-0 mt-2 mt-md-0" v-if="moduleResult[module.moduleId].moduleResultStatus == 'in_progress'">
                    <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                </p>
                <p class="mb-0 mt-2 mt-md-0" v-else-if="moduleResult[module.moduleId].moduleResultStatus == 'satisfactory'">
                    <span class="badge badge-pill badge-success px-3 py-2">Satisfactory</span>
                </p>
                <p class="mb-0 mt-2 mt-md-0" v-else-if="moduleResult[module.moduleId].moduleResultStatus == 'reattempt'">
                    <span class="badge badge-pill badge-danger px-3 py-2">Reattempt</span>
                </p>
                <p class="mb-0 mt-2 mt-md-0" v-else>
                    <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                </p>
            </li>
        </ul>
        
        <p v-if="!modules.length"><center>No e-learning modules added yet</center></p>
        
    </div>
</template>
<script>
import API from '../../../../api/apiService.js'

export default{
    name: 'participantElearning',
	props: ['participnatId'],
	data(){
		return {
			'modules': '',
	        'moduleResult': '',
	        'progress_status': [
	          { 'in_progress': 'In Progress' },
	          { 'satisfactory': 'Satisfactory' },
	          { 'reattemp': 'Reattempt' },
	        ]  
		}
	},
    mounted(){
        let vm = this;
        vm.initData();
    },
    methods: {
        initData()
        {
            let vm=this;
            API.getParticipantModuleList(vm.participnatId).then(
                (response) => {
                    if(response.data.code == 200){
                        vm.modules = response.data.data.modules;
                        vm.moduleResult = response.data.data.module_result;
                    } else if (response.data.code == 300) {
                      let result=response.data.data.data;
                      toastr.error(response.data.message, response.data.title, {timeOut: 5000});
                    }
                },
                (error) => {

                }
            );
        }
    }
}
</script>