 <template>
    <div class="custom-listgroup">
        <div class="list-group list-group-flush">
            <div  v-for="docType in participantDocumentsTypeList">
                <!-- <li class="list-group-item d-block d-md-flex justify-content-between align-items-center"> -->
                    <div class="list-group-item d-block d-md-flex justify-content-between row mt-2 mt-md-0 px-1 py-0"  v-for="doc in participantDocumentsData" v-if="(participantDocumentsData.length > 0 && doc.docTypeId == docType.userDocumentTypeId)">
                        <div class="col-lg-3 col-sm-6 my-1"><p class="mb-0">{{docType.type}}</p></div>
                        <div class="col-lg-3 col-sm-6 my-1 col-6">
                            <!-- <span class="mr-3" v-if="doc.docTypeId!='4'">
                                <strong>Exp. Date:</strong> {{ setDateFormat(doc.docExpireDate) }}
                            </span>     -->
                            <div class="row align-items-center">
                                <div class="col-sm-5">
                                    <label class="mb-1">Expiry Date *</label>
                                </div>
                                <div class="col-sm-7" v-if="doc.docverfiedStatus != 'satisfactory'">
                                    <div class="form-group mb-0">
                                        <div class="input-group">
                                            <input type="text" placeholder="Expiry Date" class="form-control datepicker border-right-0" v-validate="'required|date_format:DD/MM/YYYY'" :name="'expirydate-'+doc.docId" v-model="doc.docExpireDate" data-date-format="dd/mm/yyyy" :id="'expirydate-'+doc.docId" :disabled="doc.docExpireDateStatus == 'not_applicable'">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i  class="icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7" v-else>
                                    <div class="form-group mb-0">
                                        <div class="input-group">
                                            <input type="text" placeholder="Expiry Date" class="form-control border-right-0" v-validate="'required|date_format:DD/MM/YYYY'" :name="'expirydate-'+doc.docId" v-model="doc.docExpireDate" data-date-format="dd/mm/yyyy" :id="'expirydate-'+doc.docId" :disabled="doc.docExpireDateStatus == 'not_applicable'|| doc.docverfiedStatus == 'satisfactory' ">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i  class="icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <p class="custom-control custom-checkbox d-inline ml-4">
                                    <input type="checkbox" class="custom-control-input expir-date-status" v-bind:id="doc.docId" name="notapplicable" :checked="doc.docExpireDateStatus == 'not_applicable'" @change="expiryDateStatusChanged(doc.docId)">
                                    <label class="custom-control-label" :for="doc.docId">N/A</label>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3 my-1 col-6"><span class="mr-2"><strong><a :href="'/storage/documents/'+doc.docverfiedName"  class="text-secondary" target="_blank" dowload>View Document </a></strong></span></div>
                        <div class="col-lg-2 col-sm-6 my-1 col-6"><span  :class="[doc.docverfiedStatus == 'satisfactory' || doc.docverfiedStatus == 'active' ? 'badge badge-pill badge-success px-1 py-2 custom-badge mb-1' : [ doc.docverfiedStatus == 'inactive' || doc.docverfiedStatus == 'not_compliant'  ||  doc.docverfiedStatus == 'due'  ||  doc.docverfiedStatus == 'expired' ||  doc.docverfiedStatus == 'not_satisfactory'? 'badge badge-pill badge-danger px-1 py-2 custom-badge': [ doc.docverfiedStatus == 'not_required' ? 'badge badge-pill badge-dark px-1 py-2 custom-badge' :'badge badge-pill badge-warning px-1 py-2 custom-badge mb-1']]]" >{{doc.docverfiedStatus | documentStatusName}}</span> 
                            <span class="badge badge-pill badge-success px-3 py-2 custom-badge mb-1" v-if="doc.docverfiedStatus == 'satisfactory'">Completed</span>
                        </div>
                    
                        <div v-if="userData.userType == '2'" class="col-lg-2 col-sm-3 my-1 col-6 text-left text-sm-right">
                            <button type="button" name="" class="btn btn-primary" @click="verifydocOpen(doc.docId,docType.slug)" :disabled="(doc.docverfiedStatus == 'satisfactory' || doc.docverfiedStatus == 'due' || doc.docverfiedStatus == 'expired')" v-show="(userData.userType == 1 || userData.userType == 2)" :title="[doc.docverfiedStatus == 'satisfactory' || doc.docverfiedStatus == 'due' || doc.docverfiedStatus == 'expired' ? 'Access Denied': 'Verify']">Verify</button>  
                            <a v-if="doc.docverfiedStatus != 'satisfactory'" title="Delete Document">
                                <i class="fa fa-remove fa-2x text-danger text-info ml-0 ml-sm-3 cursor-pointer" @click="deleteDocument(doc.docId)" v-if=""></i>
                            </a>
                            <a v-else title="Delete Document" disabled>
                                <i class="fa fa-remove fa-2x text-danger text-info ml-0 ml-sm-3 cursor-pointer"></i>
                            </a>                                                                
                        </div>
                            
                        <!-- <button type="button" name="" class="btn btn-primary btn-lg" @click="verifydocOpen(doc.docId,docType.slug)" :disabled="(doc.docverfiedStatus == 'satisfactory' || doc.docverfiedStatus == 'due' || doc.docverfiedStatus == 'expired' ||  docType.slug != 'statutoryDeclaration' && docType.slug != 'idDocument' )" v-show="(userData.userType == '3')" :title="[doc.docverfiedStatus == 'satisfactory' || doc.docverfiedStatus == 'due' || doc.docverfiedStatus == 'expired' ||  docType.slug != 'statutoryDeclaration' && docType.slug != 'idDocument' ? 'Access Denied' : 'Verify']">Verify</button> -->
                    </div>
                    <!-- <div  v-if="(participantDocumentsData.length == 0)"><span class="badge badge-pill badge-warning px-3 py-2 mr-2 mr-sm-3" >In Progress</span></div> -->
                <!-- </li> -->
            </div>
            <div  v-if="(participantDocumentsData.length == 0)">No document uploaded yet.</div>
        </div>
        <confirmDelete :deleteConfirmMsg="deleteConfirmMsg"  :redirectStatus="deletePageRedirectStatus" ></confirmDelete>
        <confirmUpdateModel :updateConfirmMsg="updateConfirmMsg"></confirmUpdateModel>
        <confirmDocumentUpdateModal :confirmUpdateDocumentMsg="confirmUpdateDocumentMsg"></confirmDocumentUpdateModal>
        <verifyDocumentModel :docId="selectDocId" :docType="selectDocType" :participnatId="participnatId" v-if="(status == true)"></verifyDocumentModel>
    </div>
</template>
<script>
    import apiService from '../../../../api/apiService.js';
    import verifyDocumentModel from '../../components/verifyDocumentModel';
    import confirmDelete from '../../components/confirmDeleteModel';
    import confirmUpdateModel from '../../components/confirmUpdateModel';
    import confirmDocumentUpdateModal from '../../components/confirmDocumentUpdateModal';
    import moment from 'moment';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

    export default {
        name: 'participantDocuments',
        props:['participnatId'],
         data() {
          return {  
            'userData' :{
                    'userType' :this.$store.state.User.userData.userTypeId,
                    'userId' :this.$store.state.User.userData.userId,
                    'email' : this.$store.state.User.userData.email,
                    'userTypeName' : '',
                }, 
            'participantDocumentsTypeList' : '',
            'participantDocumentsData' : '',
            'selectDocId' : 0,
            'selectDocType' : '',
            'status' : false,
            'notAllowHMUOption' : ['statutoryDeclaration','idDocument','contract'],
            'noRecord': false,
            'deleteConfirmMsg': 'Are you sure you want to delete document?',
            'deletePageRedirectStatus': 'false',
            'deleteDocumentId': '',
            'updateConfirmMsg': 'Are you want to make this change?',
            'confirmUpdateDocumentMsg': 'Are you sure, you want to change expiry date of document?',
            'docStatus': {
                'docId': '',
                'status': ''
            },
            'document': {
                'docId': '',
                'expiryDate' : ''
            }
          }
        },
        components:{
            verifyDocumentModel,
            confirmDelete,
            confirmUpdateModel,
            confirmDocumentUpdateModal,
            datePicker
        },
        created(){
            this.$root.$on('confirmed', this.confirmDelete);
        },
        destroyed(){
            this.$root.$off('confirmed', this.confirmDelete);
        },
         filters: {
            documentStatusName: function (docStatus) {
                    
                    let result = '';
                    if(docStatus == 'not_satisfactory'){
                        result =  'Not Satisfactory';
                    }else if(docStatus == 'not_required'){
                        result =  'Not Required';
                    }else if(docStatus == 'in_progress'){
                        result =  'In Progress';
                    }else if(docStatus == 'satisfactory'){
                        result =  'Satisfactory';
                    }else if(docStatus == 'due'){
                        result =  'Due';
                    }else if(docStatus == 'expired'){
                        result =  'Expired';
                    }else if(docStatus == 'uploaded'){
                        result =  'Uploaded';
                    }else{
                        result = '';
                    }

                  return result;
             }
         },
        mounted(){  

           let vm=this;

            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3'  && vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
            }

           vm.initData();
        }, 
        created: function() {
          this.$root.$on('closeverifyModel', this.closeverifyModel);
          this.$root.$on('ParticipnatDocumentData', this.getParticipnatDocumentData);
          this.$root.$on('confirmed', this.confirmDelete);
          this.$root.$on('updateConfirmed', this.updateConfirmed);
          this.$root.$on('updateDocumentConfirmed', this.adminExpiryDate);          
          this.$root.$on('updateCancelled', this.updateCancelled);
          this.$root.$on('adminUpdateDocumentCancelled', this.adminUpdateDocumentCancelled);          
        },  
        destroyed() {
          this.$root.$off('closeverifyModel', this.closeverifyModel);
          this.$root.$off('ParticipnatDocumentData', this.getParticipnatDocumentData);
          this.$root.$off('confirmed', this.confirmDelete);
          this.$root.$off('updateConfirmed', this.updateConfirmed);
          this.$root.$off('updateDocumentConfirmed', this.adminExpiryDate);          
          this.$root.$off('updateCancelled', this.updateCancelled);
          this.$root.$off('adminUpdateDocumentCancelled', this.adminUpdateDocumentCancelled);          
        },
        methods:{

            initData(){
                let vm=this;
                vm.getDocumentTypeList();
                vm.getParticipnatDocumentData();
            },
            setDateFormat(val)
            {
                if(val!='' && val!=null)
                {
                    return moment(val).format('DD/MM/YYYY');
                }
                else
                {
                    return val
                }
                
            },
            verifydocOpen(docId,docType){
                let vm=this;
                vm.status = true;
                vm.selectDocId = docId;
                vm.selectDocType = docType;
                this.$root.$emit('initData');
                setTimeout(() => {  
                   $('#verifyDocumentId').modal('show');
                }, 200)

            },
            closeverifyModel(){
                let vm=this;
                vm.selectDocId = 0;
                vm.status = false;
                $('#verifyDocumentId').modal('hide');
              
            },
            getDocumentTypeList(){
                let vm = this;
                vm.$store.commit("routeChange", "start");
                apiService.getDocumentTypeList().then(

                     (response)=> {
                        if(response.data.code == 200){
                            vm.$store.commit("routeChange", "end");
                            vm.participantDocumentsTypeList = response.data.data;
                        }
                    },
                    (error)=> {
                    }
                );
            },
            getParticipnatDocumentData(){

                let vm = this;
                let userDocList=[];
                let data =  {
                 'participnatId': vm.participnatId,
                 }; 
                vm.$store.commit("routeChange", "start");
                apiService.getParticipnatDocumentData(data).then(
                    (response)=> {
                        if(response.data.code == 200){
                            vm.$store.commit("routeChange", "end");
                             $.each(response.data.data, function(key,value) {

                                   userDocList.push({
                                     'docTypeId' : value.userDocumentTypeId,
                                     'docId' : value.userDocumentId,
                                     'docUserId' : value.userId,
                                     'docExpireDate' : vm.setDateFormat(value.expiryDate),
                                     'docExpireDateStatus' : value.expiryDateStatus,
                                     'docDocumentNumber' : value.documentNumber,
                                     'docverfiedStatus' : value.verifiedStatus,
                                     'docverfiedName' : value.name,
                                  });
                                });
                            vm.participantDocumentsData = userDocList;
                        }
                        
                        /*Initialize DateTimePicker */
                        //let vm = this;
                        setTimeout(function(){ 
                            $('.datepicker').datepicker({
                                startDate: '0d',
                                autoclose: true,
                            }).on('changeDate', function(data){
                                let docId = this.id.match(/\d+/);
                                let expiryDate = $(this).val();
                                vm.document.docId = docId;
                                vm.document.expiryDate = expiryDate;
                                
                                if ($("#"+docId).prop('checked')) {
                                    toastr.error('Not able to update N/A expiry date', '', {timeOut: 5000});
                                } else {
                                    $('#confirm_document_update_modal').modal('show');                                     
                                }
                                
                                
                            });
                        },1000);
                    },
                    (error)=> {
                    }

                );

            },
            deleteDocument(userDocumentId)
            {
                let vm = this;
                $('#confirm_modal').modal('show'); 
                vm.deleteDocumentId = userDocumentId; 
            },
            confirmDelete()
            {
                let vm = this;
                apiService.deleteDocument(vm.deleteDocumentId).then(
                    (response) => {
                    if(response.data.code == 200){
                        toastr.success(response.data.message, '', {timeOut: 5000});
                        vm.getDocumentTypeList();
                        vm.getParticipnatDocumentData();
                        $('#confirm_modal').modal('hide');
                    } else {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_modal').modal('hide'); 
                    }
                    },
                    (error) => {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_modal').modal('hide'); 
                    }
                )
            },
            updateCancelled()
            {
                let vm = this;           
                let docId = vm.docStatus.docId;     
                $("#"+docId).prop('checked',false);
            },
            updateConfirmed()
            {
                let vm = this;
                apiService.changeExpiryDateStatus(vm.docStatus.status,vm.docStatus.docId,vm.participnatId).then(
                    (response) => {
                        if(response.data.code == 200){
                            vm.getParticipnatDocumentData();
                            toastr.success(response.data.message, '', {timeOut: 5000});
                            $('#confirm_update_modal').modal('hide');
                        } else {
                            toastr.error('Something went wrong', '', {timeOut: 5000});
                            $('#confirm_modal').modal('hide'); 
                        }
                    },
                    (error) => {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_modal').modal('hide'); 
                    }
                )
                /*apiService.updateExpiryDate(vm.expiryDocumentId,vm.expiryDocumentDate).then(
                    (response) => {
                    if(response.data.code == 200){
                        toastr.success(response.data.message, '', {timeOut: 5000});
                        $('#confirm_update_modal').modal('hide');
                    } else {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_modal').modal('hide'); 
                    }
                    },
                    (error) => {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_modal').modal('hide'); 
                    }
                )*/
            },
            expiryDateStatusChanged(docId)
            {
                let vm = this;
                vm.docStatus.docId = docId;
                vm.docStatus.status = $("#"+docId).prop('checked');
                $('#confirm_update_modal').modal('show');
            },
            adminExpiryDate()
            {               
                let vm = this;
                apiService.adminUpdateExpiryDate(vm.document.docId[0],vm.document.expiryDate).then(
                    (response) => {
                    if(response.data.code == 200){
                        toastr.success(response.data.message, '', {timeOut: 5000});
                        $('#confirm_document_update_modal').modal('hide');
                    } else {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_document_update_modal').modal('hide'); 
                    }
                    },
                    (error) => {
                        toastr.error('Something went wrong', '', {timeOut: 5000});
                        $('#confirm_document_update_modal').modal('hide'); 
                    }
                )
            },
            adminUpdateDocumentCancelled()
            {
                $('#confirm_document_update_modal').modal('hide'); 
            }
        }
    }
</script>