<template>
    <div>
        <div class="row mt-3">
          <searchPart :searchPageType="searchPageType" :searchUserTypeName="searchUserTypeName" :searchUserTypeId="searchUserTypeId" :noOfpage="perPage" :userData="userData" :sortedColumn="sortedColumn" :order="order"></searchPart>
          <div class="col-lg-4 text-left text-lg-right">
            <button class="btn btn-primary btn-lg" type="button" @click="getComponent('createNewParticipant')">Create New Participant Account</button>    
          </div>
        </div>
        <div class="mt-3 mb-4"><RecordPage  v-show="(paginationData.total > 0)" :recordPerPageOption="recordPerPageOption" :pageType="general"></RecordPage></div>
        <Listing :paginationData="participantData" :pageSize="perPage" :currentPage="paginationData.currentPage" :order="order" :columnName="sortedColumn" :ratinList="ratinList" v-if="(status==true)"></Listing>
         <Pagination v-show="(paginationData.total > 0)" :paginationData="paginationData" ></Pagination>

    </div>
</template>
<script>

    import RecordPage from '../../components/recordpage';
    import Listing from '../../components/listing';
    import searchPart from '../../components/searchModule';
    import Pagination from '../../components/pagination';
    import apiService from '../../../../api/apiService.js';


  export default {
      name: 'participantList',

      data(){
            return {
              'searchPageType' : 'user/search',
              'searchUserTypeName' : 'Participant',
              'searchUserTypeId' : '4',
              'general' : 'general',
              'participantData' : {},
              'paginationData' : {
              },
              'status' : true,
              'ratinList' : [],
              'searchData' : '',
               'perPage' : 5,
               'pageNo' : 0,
              'recordPerPageOption':[
                  {'text':2},
                  {'text':5},
                  {'text':10},
                  {'text':20},
                  {'text':50},
              ],
              'userData' : {
                  'userId':this.$store.state.User.userData.userId,
                  'userType':this.$store.state.User.userData.userTypeId,
                  'userEmail':this.$store.state.User.userData.email,
                  'userTypeName' : '',

                },
                'sortedColumn': 'user.created_at',
                'order': 'asc',
                'searchField' : ['givenName','email'],
                'searchFieldValue' : {
                  'givenNameValue' : '',
                  'emailValue' : '',
                }
            }

      },
      mounted(){
            
           let vm=this;

            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3'  && vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
            } 
            // vm.pageNo = vm.$store.state.participant.participantPageNo ? vm.$store.state.participant.participantPageNo : 0;
           // vm.perPage = vm.$store.state.participant.participantPerPage ? vm.$store.state.participant.participantPerPage : 5;
          vm.setSearch(); 
          vm.initData();
      },  
      created: function() {
          this.$root.$on('getPaginationListPage',this.getPaginationListPage); 
          this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
          this.$root.$on('searchResultData',this.setSearchData);
          this.$root.$on('searchResultRatingList',this.searchResultRatingList);
          this.$root.$on('makePagination',this.makePagination);
          this.$root.$on('setPerPage',this.setPerPage);
          this.$root.$on('sortByColumn',this.sortByColumn);
          this.$root.$on('setState',this.setState);
        },  
        destroyed() {
          this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
          this.$root.$off('getPaginationListPage',this.getPaginationListPage);
          this.$root.$off('searchResultData',this.setSearchData);
          this.$root.$off('searchResultRatingList',this.searchResultRatingList);
          this.$root.$off('makePagination',this.makePagination);
          this.$root.$off('sortByColumn',this.sortByColumn);
          this.$root.$off('setPerPage',this.setPerPage);
          this.$root.$off('setState',this.setState);
        },
      methods: {

        sortByColumn(column) {
            if (column === this.sortedColumn) {
              this.order = (this.order === 'asc') ? 'desc' : 'asc'
            } else {
              this.sortedColumn = column
              this.order = 'asc'
            }
             let url = 'participant/list';
              this.participantListWithPagination(url);
          },

         getChildSafeGaurdingRating(userId){
                let vm=this;
                let data = {
                    'userId' : userId,
                }
                vm.$store.commit("routeChange", "start");
                apiService.getChildSafeGaurdingRating(data).then(

                    (response) =>{
                        vm.$store.commit("routeChange", "end");
                        if(response.data.code == 200){
                             let rating = '';
                             //console.log(response.data.data);
                             rating = response.data.data;
                              return rating;
                        } 
                    },
                    (error) => {
                    }
                )

            

            },

        getComponent(componentName){

          let vm=this;
          vm.$router.push({'name':componentName});

        },
        initData(){
                let vm=this;

                let getPageNo = vm.pageNo;
                let url = 'participant/list';
                let searchData = vm.$store.state.participant.participantSearchData;
                vm.getPaginationListPage(url);                
                // if(getPageNo > 0 && getPageNo!='' || searchData != null && searchData.length > 0)
                // { 
                //       vm.setSearchData(searchData);
                //       console.log('mounted1');

                /*if((getPageNo > 0 && getPageNo!='') || searchData != null && searchData.length > 0)
                { 
                      vm.setSearchData(searchData);

                }else{ 
                 vm.getPaginationListPage(url);
                }*/

               
        },
        setSearchData(data){
         
        let vm = this;
        vm.participantData = data;
        let pageNo = vm.pageNo;
        vm.setState();
        //vm.getDetailsPageByIndex(vm.pageNo);

        },
        searchResultRatingList(data){
          //console.log(data);
          let vm = this;
          vm.ratinList = data;

        },
        makePagination: function(data,status){

              let pagination = {  
                  currentPage: data.current_page,
                  lastPage: data.last_page,
                  nextPageUrl: data.next_page_url,
                  prevPageUrl: data.prev_page_url,
                  firstPageUrl: data.first_page_url,
                  lastPageUrl: data.last_page_url,
                  total : data.total,
                  from : data.from,
                  to : data.to
              }
              this.paginationData = pagination;
          },

          setPerPage(bPerPage)
          {
            let vm=this;
            vm.perPage=bPerPage;
            vm.$store.dispatch('SetParticipantPerPage',vm.perPage);
            vm.$store.dispatch('SetParticipantPageNo',vm.pageNo);
            
            let  state = vm.setSearch();
            if(state == 1){
                this.$root.$emit('searchResulForPerpage',vm.perPage);
            }else{
              let url = 'participant/list';
               this.$root.$emit('searchfieldValue');
               vm.$store.dispatch('SetParticipantSearchName','');
               vm.$store.dispatch('SetParticipantSearchEmail','');
               vm.getPaginationListPage(url); 
            }
          },
          getDetailsPageByIndex(indexVal)
          {
              let vm=this;
              $('#all').prop('checked', false);
              $('.custom-checkbox input').prop('checked', false);
              vm.$store.dispatch('SetParticipantPageNo',indexVal);
              vm.setSearch();
              vm.setState();
              let url = 'participant/list?page='+indexVal;
              this.$root.$emit('searchfieldValue');
              vm.participantListWithPagination(url);
          },
          getPaginationListPage(pageUrl)
          {
              let vm=this;
              let url = pageUrl;
              $('#all').prop('checked', false);
              $('.custom-checkbox input').prop('checked', false);
             /* vm.$store.dispatch('SetParticipantSearchName','');
              vm.$store.dispatch('SetParticipantSearchEmail','');*/
              vm.setSearch();
              this.$root.$emit('searchfieldValue');
              vm.participantListWithPagination(url);
          },
          checkAllchkbox()
          {
             if($('#all').is(':checked') == true) { 
                    $('.custom-checkbox input').prop('checked', true);
                }
                else
                {
                    $('.custom-checkbox input').prop('checked', false);
                }
          },
          participantListWithPagination(url){

              let vm = this;
              
              let data =  { 
                      'searchFeild' : vm.searchField,
                      'searchFieldValue' : vm.searchFieldValue,
                      'searchUserTypeName' : vm.searchUserTypeName,
                      'searchUserTypeId' : vm.searchUserTypeId,
                      'userData' : vm.userData,
                      'noOfpage' : vm.perPage,
                      'sortedColumn':vm.sortedColumn,
                      'order':vm.order
                    };
                //console.log(data);
                vm.$store.commit("routeChange", "start");
                apiService.participantListWithPagination(url,data).then(

                   (response) => {
                    vm.$store.commit("routeChange", "end");
                    if(response.data.code == 200){
                       if(response.data.code == 200){
                            let ratingValue = [];
                            vm.participantData = response.data.data.data;
                              $.each(response.data.rating, function(key,value) {
                                 ratingValue.push({
                                     'userId' : value.userId,
                                     'rating' : value.status,
                                  });
                           });
                            vm.ratinList=ratingValue;
                            vm.makePagination( response.data.data);
                             vm.status = true;
                        }
                        else if (response.data.code == 300) {
                          let result=response.data.data.data;
                          if(result=='' || result==null)
                          {
                              vm.participantData =[];
                              vm.ratinList = [];
                              toastr.error(response.data.message,{timeOut: 5000});
                          }
                          else
                          {
                              vm.participantData=result;
                              vm.ratinList = [];
                              vm.makePagination( response.data.data);
                          }
                          
                      }
                    } 

                   },
                   (error) => {

                   }
                )
          },
          setState()
          {
            let vm = this;
            let pageNo = vm.paginationData.currentPage;
            vm.pageNo = pageNo;
            vm.$store.dispatch('SetParticipantPageNo',pageNo);
            vm.$store.dispatch('SetParticipantPerPage',vm.perPage);
          },
          setSearch()
          {
            let vm = this;
            let state = 0;
            vm.searchFieldValue.givenNameValue = vm.$store.state.participant.participantSearchName ? vm.$store.state.participant.participantSearchName : '';
            vm.searchFieldValue.emailValue = vm.$store.state.participant.participantSearchEmail ? vm.$store.state.  participant.participantSearchEmail : '';
            if(vm.searchFieldValue.givenNameValue != '' || vm.searchFieldValue.emailValue != ''){
                  state = 1;
            }
            return state;
           // vm.$store.dispatch('SetParticipantSearchName','');
            //vm.$store.dispatch('SetParticipantSearchEmail','');
          }
        },
        components: {
            RecordPage,
            Listing,
            Pagination,
            searchPart
        }
  }
</script>

