<template>
    <div>
        <div class="row">
            <div class="col-lg-8">
               <div class="row">
                   <div class="col-sm-4">
                       <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search by Name or Phone" value="" required="">
                            <!-- <div class="invalid-feedback">
                                Valid first name is required.
                            </div> -->
                        </div>
                   </div>
                   <div class="col-sm-4">
                       <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search by Email" value="" required="">
                            <!-- <div class="invalid-feedback">
                                Valid first name is required.
                            </div> -->
                        </div>
                   </div>
                   <div class="col-sm-4">
                       <div class="form-group">
                           <button class="btn btn-primary btn-lg" type="submit">Search</button>
                        </div>
                   </div>
                </div> 
            </div>
            <div class="col-lg-4 text-left text-lg-right">
                <button class="btn btn-primary btn-lg" type="submit">Create New Participant Account</button>
            </div>
        </div>
        <div class="mt-2 mb-4"><RecordPage /></div>
        <Listing />
        <Pagination />
    </div>
</template>
<script>
import RecordPage from '../../components/recordpage'
import Listing from '../../components/listing'
import Pagination from '../../components/pagination'
export default {
    name: 'participant',

    components: {
        RecordPage,
        Listing,
        Pagination
    }
}
</script>

