 <template>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-aside sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar -->
        <section class="sidebar">
            <div id="menu" role="navigation">
                <!-- <div class="nav_profile">
                    <profile></profile>
                </div> -->
                <vmenu>
                    <vmenu-item link="/admin/edashboard" icon="ti-desktop">
                       <i class="icon-dashboard mr-2"></i> Dashboard
                    </vmenu-item>                    
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/admin_list" icon="ti-desktop">
                       <i class="icon-admin mr-2"></i> Admin Users
                    </vmenu-item>
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/user_type_list" icon="ti-desktop">
                        <i class="icon-group mr-2"></i> User type
                    </vmenu-item>
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/department_list" icon="ti-desktop">
                        <i class="icon-warehouse mr-2"></i> Departments
                    </vmenu-item>
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/module_list" icon="ti-desktop">
                        <i class="icon-module mr-2"></i> Modules
                    </vmenu-item>
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/user_category_list" icon="ti-desktop">
                        <i class="icon-category mr-2"></i> User Category
                    </vmenu-item>
                </vmenu>
                <!-- <vmenu>
                    <vmenu-item link="/admin/template_list" icon="ti-desktop">
                        <i class="icon-template mr-2"></i> Templates
                    </vmenu-item>
                </vmenu> -->
                <vmenu>
                    <vmenu-item link="/admin/user_list" icon="ti-desktop">
                        <i class="icon-user mr-2"></i> User
                    </vmenu-item>
                </vmenu>
                <vmenu>
                    <vmenu-item link="/admin/learning-contents" icon="ti-desktop">
                        <i class="fa fa-book mr-2"></i> Online Content Library
                    </vmenu-item>
                </vmenu> 
                <!-- / .navigation -->
                 <vmenu>
                   <span v-html="this.$route.meta.helpTextAdmin" class="menu-help-text">Title </span>
                </vmenu>
            </div>
            <!-- menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</template>
<script>
import {
    vmenu,
    vmenuItem,
    vsubMenu
} from './menu';
import profile from "../left-profile/user_profile.vue"
export default {
    name: "left-side",
    components: {
        vmenu,
        vsubMenu,
        vmenuItem,
        profile
    },
    data() {
        return {
        }
    }
}
</script>
