<template>
    <div>
       <bookingSearch v-if="showResult"></bookingSearch>
        <div class="row align-items-center mt-2">
            <div class="col-md-6 col-lg-8">
                <RecordPage v-show="(bookingPagination.total > 0)" :recordPerPageOption="recordPerPageOption" :pageType="booking"></RecordPage>
            </div>
            <div class="col-md-6 col-lg-4 mt-2 mt-md-0 mb-2 mb-md-0">
                <button class="btn btn-primary btn-lg btn-block" type="button" @click="setAddBooking()">Schedule In Person Session</button>
            </div>
        </div>

        <div class="table-responsive-lg mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Booking Date <a href="#"><i class="fa fa-caret-down sorting"></i></a></th>

                        <th>Attended</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                  
                    <tbody v-if="(bookingPagination.total > 0)"  >
                        <tr v-for="book in getBookingData" v-if="typeof book.user.user_details !== 'undefined'"> 
                            <td>{{book.user.user_details.givenName}} {{book.user.user_details.surName}}</td>
                            <td>{{setBookDate(book.bookingDate)}} {{book.bookingTime}}</td>
                            <td>
                                <div class="custom-control custom-radio d-inline-block mr-0 mr-sm-3">
                                    <input type="radio" value="Y" class="custom-control-input"  :name="'atten_'+book.bookingId" :checked="book.attend=='Y'"  :id="'attendY_'+book.bookingId" disabled>
                                    <label class="custom-control-label" :for="'attendY_'+book.bookingId">&nbsp; Yes</label>
                                </div>
                                <div class="custom-control custom-radio d-inline-block">
                                    <input type="radio" value="N" class="custom-control-input"  :name="'atten_'+book.bookingId" :checked="book.attend=='N'" :id="'attendN_'+book.bookingId" disabled>
                                    <label class="custom-control-label" :for="'attendN_'+book.bookingId" >&nbsp; No</label>
                                </div>
                                
                            </td>
                            <td class="text-center">
                                 <a @click="deleteBooking(book.bookingId)" data-toggle="tooltip" data-placement="right" title="Remove Booking" href="javascript:void(0)"> <i class="fa fa-remove fa-2x text-danger text-info mr-0 mr-sm-3"></i></a>
                                  <a href="javascript:void(0)" v-if="book.attend=='N'" @click="confirmAttendance(book.bookingId)" class="text-default" title="Confirm Attendance" v-show="(userType != 3)"><i class="fa fa-calendar-check-o fa-2x mr-0 mr-sm-3"></i></a>
                                  <a v-else disabled class="text-success" href="javascript:void(0)" title="Confirmed"><i class="fa fa-calendar-check-o fa-2x mr-0 mr-sm-3" ></i></a>
                            </td>
                        </tr>
                    </tbody>
                     <tbody v-else>
                        <tr><td colspan="4"><span>No records found.</span></td></tr>
                    </tbody>
                
            </table>
        </div>
        <Pagination v-show="(bookingPagination.total > 0)" :paginationData="bookingPagination"></Pagination>
        <confirmDelete :deleteConfirmMsg="deleteConfirmMsg" :redirectStatus="deletePageRedirectStatus" ></confirmDelete>
        <div v-if="confirmAtt">
          <confirmAttendanceModal :bookingId="bookId"></confirmAttendanceModal>
        </div>
    </div>
</template>
<script>
import RecordPage from '../../../components/recordpage'
import Listing from '../../../components/listing'
import Pagination from '../../../components/pagination'
import ApiService from '../../../../../api/apiService.js';
import bookingSearch from '../../../components/bookingSearch';
import confirmAttendanceModal from '../../../components/confirmAttendanceModal';
import confirmDelete from '../../../components/confirmDeleteModel';

import moment from 'moment';

 export default {
     data() {
      return {
        'loginId':this.$store.state.User.userData.userId,
        'userType':this.$store.state.User.userData.userTypeId,
        'getBookingData' : '',
        'pagination': {},
        'perPage' : 5,
        'perPageBooking' : 5,
        'bookingPagination': {},
        'searchData':{},
        'showResult':false,
        'recordPerPageOption':[
          {'text':2},
          {'text':5},
          {'text':10},
          {'text':20},
          {'text':50},
        ],
        'deleteConfirmMsg':'Are you sure you want to delete?',
        'deletePageRedirectStatus' : false,
        'bookingDeleteId' : '',
        'deletePageRedirect' : '',
        'deleteAction' : false,
        'confirmAtt':false,
        'bookId':'',
        'booking':'booking'
      }
     },

    created: function() {
     this.$root.$on('setPerPageBooking',this.setPerPageBooking);
     this.$root.$on('getPaginationListPage',this.getPaginationListPage); 
     this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
     this.$root.$on('searchDataResult',this.searchDataResult);
     this.$root.$on('closeConfirmModal',this.closeConfirmModal);
      this.$root.$on('confirmed', this.confirmDelete);
    },
    destroyed:function () {
        this.$root.$off('setPerPageBooking',this.setPerPageBooking);
     this.$root.$off('getPaginationListPage',this.getPaginationListPage); 
     this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex); 
     this.$root.$off('searchDataResult',this.searchDataResult);
     this.$root.$off('closeConfirmModal',this.closeConfirmModal);
      this.$root.$off('confirmed', this.confirmDelete);
    },
    mounted(){
        let vm = this;
        if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3' ){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
           }
       //$('[data-toggle="tooltip"]').tooltip();
        vm.initData();
        
     },
     components: {
       RecordPage,
        Listing,
        Pagination,
        bookingSearch,
        confirmAttendanceModal,
        confirmDelete
    },
     methods:{
      initData()
      {
         
          let vm=this;
          let pageNo=vm.$store.state.Booking.bookingPageNo;
          let searchData=vm.$store.state.Booking.bookingSearchData;
          if(pageNo!=0 && pageNo!=null && pageNo!='')
          {
              if(searchData)
              {
                  let sData=searchData;
                  vm.searchData=sData;
              }
              vm.showResult=true;
              vm.perPageBooking=vm.$store.state.Booking.bookingPerPage;

              vm.getBookingListPagination('booking/getBookingListPagination?page='+pageNo,vm.searchData);
             
          }
          else
          {
              vm.showResult=true;
              vm.getBookingListPagination('booking/getBookingListPagination',vm.searchData);
          }
      },
        deleteBooking(bookingId){
                let vm = this;
                $('#confirm_modal').modal('show'); 
                vm.bookingDeleteId = bookingId; 
        },
        confirmDelete(){
            let vm=this;
            $('#confirm_modal').modal('hide');
            vm.removeBooking(vm.bookingDeleteId);
        },
      setAddBooking()
      {
            let vm=this;
            let pageNo=vm.bookingPagination.currentPage;
            vm.showResult=0;
            vm.$store.dispatch('SetBookingPageNo',pageNo);
            vm.$store.dispatch('SetBookingPerPage',vm.perPageBooking);
            vm.$store.dispatch('SetBookingSearchData',vm.searchData);
            vm.$router.push({'name':'booking_add'});
      },
      setBookDate(bDate)
      {
          return moment(String(bDate)).format('DD/MM/YYYY');
      },
      searchDataResult(searchData)
      {
          let vm=this;
          vm.searchData=searchData;
          vm.getBookingListPagination('booking/getBookingListPagination',searchData);
      },
      setPerPageBooking(bPerPage)
      {
          let vm=this;
          vm.perPageBooking=bPerPage;
          vm.$store.dispatch('SetBookingPerPage',vm.perPageUser);
          vm.getBookingListPagination('booking/getBookingListPagination',vm.searchData);
      },
      getDetailsPageByIndex(indexVal)
      {
          let vm=this;
           vm.getBookingListPagination('booking/getBookingListPagination?page='+indexVal,vm.searchData);
      },
      getPaginationListPage(pageUrl)
      {
          let vm=this;
          vm.getBookingListPagination(pageUrl,vm.searchData)
      },
      getBookingListPagination(pageUrl,searchData)
      {
            let vm = this;
            let noOfPage = vm.perPageBooking;
            let data={'pageUrl':pageUrl,'noOfPage':noOfPage,'searchData':searchData,'loginId':vm.loginId,'userType':vm.userType};
            ApiService.getBookingListPagination(data).then(
                (response) => {
                    if(response.data.code == 200){
                        vm.getBookingData = response.data.data.data;
                        vm.makePagination( response.data.data);
                    }
                    else if (response.data.code == 300) {
                      let result=response.data.data.data;
                      if(result=='' || result==null)
                      {
                          vm.getBookingData =[];
                          vm.makePagination( response.data.data);
                          toastr.error(response.data.message,{timeOut: 5000});
                      }
                      else
                      {
                          vm.getBookingData=result;
                          vm.makePagination( response.data.data);
                      }
                      
                  }
                },
                (error) => {
                },
            );

      },
       makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }
          this.bookingPagination = pagination;
      },
      removeBooking(id)
      {
          let vm=this;
         
            let data={'id':id,'loginId':vm.loginId};
            vm.$store.commit("routeChange", "start");
            ApiService.deleteBookingByBookingId(data).then(
                (response)=> {
                 vm.$store.commit("routeChange", "end");
                  if(response.data.code == 200){
                    let page=vm.bookingPagination.currentPage;

                    vm.getBookingListPagination('booking/getBookingListPagination?page='+page,vm.searchData);
                    
                    if(vm.bookingPagination.total==0)
                    {
                        let newPage=parseInt(page)-1;
                        vm.getBookingListPagination('booking/getBookingListPagination?page='+newPage,vm.searchData);
                    }
                    
                    toastr.success(response.data.message,'', {timeOut: 5000});
                      
                      
                  } else if (response.data.code == 300) {
                      toastr.error(response.data.message, '', {timeOut: 5000});
                      //this.initialState(); 
                  }
                  else
                  {
                      toastr.error('Something Went wrong.','', {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
      },
      confirmAttendance(bId)
      {
          let vm=this;
          vm.bookId=bId;
          vm.confirmAtt=true;
          setTimeout(function(){
               $('#confirmAttModal').modal({'show':true})
          },100);
         
      },
      closeConfirmModal()
      {
          let vm=this;
          vm.bookId='';
          $('#confirmAttModal').modal('hide');
          vm.confirmAtt=false;
          let page=vm.bookingPagination.currentPage;
          vm.getBookingListPagination('booking/getBookingListPagination?page='+page,vm.searchData);
           
      },
      changeBookingAttend(val,bId)
      {
          
          let vm=this;
           let data={'id':bId,'attend':val,'loginId':vm.loginId};
           vm.$store.commit("routeChange", "start");
            ApiService.changeBookingAttend(data).then(
                (response)=> {
                 vm.$store.commit("routeChange", "end");
                  if(response.data.code == 200){
                    let page=vm.bookingPagination.currentPage;
                    vm.getBookingListPagination('booking/getBookingListPagination?page='+page,vm.searchData);
                    toastr.success(response.data.message,'', {timeOut: 5000});
                      
                  } else if (response.data.code == 300) {
                      toastr.error(response.data.message, '', {timeOut: 5000});
                  }
                  else
                  {
                      toastr.error('Something Went wrong.','', {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
      },

    },
}
</script>

