<template>
    <div class="container">
        <div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary btn-lg" >Back</a></div>
            </div>
        </div>
        <form method="post"> 
            <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                       <label>Participant*</label>
                       <select class="form-control ls-select2" id="userId" name="userId" v-model="bookingData.userId" v-validate="'required'">
                           <option value="">Select Participant</option>
                           <option :value="part.id" v-for="part in participantOption">{{part.name}}</option>
                       </select>
                       <!-- <i v-show="errors.has('userId')" class="fa fa-warning"></i> -->
                        <span class="help is-danger" v-show="errors.has('userId')">Please select Participant.</span>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                     <label>Date*</label>
                       <div class="input-group mb-3">
                           
                           <input type="text" placeholder="Booking Date" class="form-control datepicker border-right-0" v-validate="'required|date_format:DD/MM/YYYY'" v-model="bookingData.bookingDate" name="bookingDate"  data-date-format="dd/mm/yyyy" id="bookingDate">
                           <div class="input-group-append">
                               <span class="input-group-text"><i  class="icon-calendar" @click="dpOpen('bookingDate')"></i></span>
                           </div>
                            <span class="help is-danger" v-show="errors.has('bookingDate')">Please enter valid Booking Date.</span>
                       </div> 
                       <!--  <i v-show="errors.has('bookingDate')" class="fa fa-warning"></i> -->
                       
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-group">
                      <label>Time*</label>
                       <div class="input-group mb-3" >
                       
                          <!--  <date-picker name="bookingTime" v-model="bookingData.bookingTime" :config="options" class="border-right-0" v-validate="'required'" id="bookingTime"> <div class="input-group-append">
                               <span class="input-group-text "><i  class="icon-clock" @click="dtpOpen('bookingTime')"></i></span>
                           </div></date-picker>  -->
                    <input type='text' class="form-control border-right-0" id='bookingTime' v-validate="'required|is_time'" name="bookingTime" v-model="bookingData.bookingTime"/>
                    <div class="input-group-append">
                        <span class="input-group-text "><i  class="icon-clock" @click="dtpOpen('bookingTime')"></i></span>
                    </div>
                  <!--   <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span> -->
                           <span class="help is-danger" v-show="errors.has('bookingTime')">Please enter valid Booking Time.</span>
                       </div>
                       <!--  <i v-show="errors.has('bookingTime')" class="fa fa-warning"></i> -->
                        
                   </div>
               </div>
           </div>
           <div class="text-center my-3">
               <button class="btn btn-primary btn-lg mr-3" type="button" @click="addValidateBeforeSubmit()">Send Invitation</button>
               <button class="btn btn-primary btn-lg" type="button" @click="backPage()">Cancel</button>
           </div>
      
        </form>
    </div>
</template>

<script>
import datePicker from 'vue-bootstrap-datetimepicker';
// import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import ApiService from '../../../../../api/apiService.js';
import _ from 'lodash';

    export default {
        data() {
            return {
                    'participantOption':{},
                     'loginId':this.$store.state.User.userData.userId,
                     'userType':this.$store.state.User.userData.userTypeId,
                    'bookingData' : {
                        'userId' :'',
                        'bookingDate' :'',
                        'bookingTime':'',
                    },
                    'options': {
                      // https://momentjs.com/docs/#/displaying/
                      format: 'h:mm A',
                      //useCurrent: false,
                      showClear: true,
                      showClose: true,
                    },
                    'selectedParticipant' : this.$store.state.Booking.selectedParticipnat,

                    
                   
                }
        },
        created() {
            this.$validator.extend('is_time', {
                getMessage: field => `The format must be HH:MM:SS`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^ *(1[0-2]|[1-9]):[0-5][0-9] *(a|p|A|P)(m|M) *$");
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });
        },
        components: {
           datePicker
        },
        mounted() {
            var vm = this;
            vm.$route.meta.backProcessCheck = true;
            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3' ){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
           }
            $('.ls-select2').select2({
                placeholder: "Select"
            });
            $('#bookingTime').datetimepicker({
                    format: 'h:mm A',
                    showClear: true,
                    showClose: true,
                    icons: {
                      time: "fa fa-clock-o",
                      date: "fa fa-calendar",
                      up: "fa fa-arrow-up",
                      down: "fa fa-arrow-down",
                      previous: 'fa fa-arrow-left',
                      next: 'fa fa-arrow-right',
                      clear: 'fa fa-trash-o',
                      close: 'fa fa-remove'
                    }
                });
            $('#bookingTime').on('dp.change', function(e){ 
                vm.bookingData.bookingTime=$(this).val();
            })
            $('.datepicker').datepicker({
                startDate: '0d',
                autoclose: true,
                todayHighlight: true
            });
            
             $('#bookingDate').datepicker().on(
                'changeDate', function(ev) { vm.bookingData.bookingDate = $('#bookingDate').val() 
            });
            $('#userId').on("select2:select", function (e) {
                vm.bookingData.userId =$('#userId').select2('data')[0].id;
            });
            if(vm.selectedParticipant != ''){
               vm.bookingData.userId = vm.selectedParticipant;
                $('#userId').val(vm.selectedParticipant).trigger('change');
            }
            vm.initData();
        },
        methods: {
           dpOpen(dId){
              if(dId!=''){
                $('#'+dId).datepicker("show");
              }
            },
             dtpOpen(dId){
              if(dId!=''){
                
                $('#bookingTime').data("DateTimePicker").show();
              }
            },
            backPage()
            {
                let vm=this;
                vm.$router.push({'name':'bookings'});
            },
            initData(){
                let vm=this;
                vm.getParticipantSelectList();
            },
            getParticipantSelectList()
            {
                let vm=this;
                let participantList=[];
                let data =  {
                 'loginUser': vm.loginId,
                 'loginUserType' : vm.userType,
               };
                ApiService.getParticipantSelectList(data).then(
                     (response) => {
                    $.each(response.data.data, function(key,value) {

                       participantList.push({
                         'id' : value.userId,
                         'name' : value.name,
                      });
                    });

                    vm.participantOption=participantList;
                    
                  },
                      (error) => {
                  },
                );
            },
            addValidateBeforeSubmit() {
               let vm=this;
               vm.$route.meta.backProcessCheck = false;
                vm.$validator.validateAll().then(() => {
                  if (!this.errors.any()) {
                        let data={'userType':vm.userType,'loginId':vm.loginId,'bookingData':vm.bookingData};
                         vm.$store.commit("routeChange", "start");
                        ApiService.createBooking(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                vm.$route.meta.backProcessCheck = false;
                                toastr.success(response.data.message, '', {timeOut: 5000});
                               
                                vm.$router.push({'name':'bookings'});
                            } 
                            else if (response.data.code == 300) {
                                vm.$route.meta.backProcessCheck = true;
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                vm.$route.meta.backProcessCheck = true;
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                              vm.$route.meta.backProcessCheck = true;
                          }

                        )
                       
                    }
                })
            },
            is_time(val)
            {
                let reg=/^\d{1,2}:\d{2}([AaPp][Mm])?$/;;
                if(val.match(reg))
                {
                  return true;
                }
                return false;
            }
        }
    }
</script>