<template>
    <div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name" name="participantName" id="participantName" v-model="searchBookingData.participantName" >
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                   <div class="input-group mb-3">
                      <input type="text" class="form-control datepicker border-right-0" placeholder="Search by Date" name="bookingDate" id="bookingDate" v-model="searchBookingData.bookingDate" data-date-format="dd/mm/yyyy" v-validate="'date_format:DD/MM/YYYY'">
                       <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-calendar" @click="dpOpen('bookingDate')"></i></span>
                      </div>
                      <span class="help is-danger" v-show="errors.has('bookingDate')">Please enter valid Search By Date.</span>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" placeholder="From Date" class="form-control border-right-0 datepicker" name="fromDate" id="fromDate" v-model="searchBookingData.fromDate" data-date-format="dd/mm/yyyy" v-validate="'date_format:DD/MM/YYYY'"> 
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" @click="dpOpen('fromDate')"></i></span>
                                </div>
                                <span class="help is-danger" v-show="errors.has('fromDate')">Please enter valid From Date.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input  type="text" placeholder="To Date" class="form-control border-right-0 datepicker" name="toDate" id="toDate" v-model="searchBookingData.toDate" data-date-format="dd/mm/yyyy" v-validate="'date_format:DD/MM/YYYY'"> 
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" @click="dpOpen('toDate')"></i></span>
                                </div>
                                <span class="help is-danger" v-show="errors.has('toDate')">Please enter valid to Date.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="button" @click="searchData()">Search</button>
                </div>
            </div> 
        </div>
  </div>
</template>

<script>
//import datePicker from 'vue-bootstrap-datetimepicker';
    export default {
        props:['searchDataListSelect','searchDataAll'],
        data() {
            return {
              'searchBookingData':{
                  'participantName':'',
                  'bookingDate':'',
                  'fromDate':'',
                  'toDate':''
              }
            }
        },
        components: {
          //datePicker
        },
        mounted() {
          let vm=this;
          
          $('.datepicker').datepicker({
                autoclose: true,
                //todayHighlight: true
          });
          vm.initData();
        },
        methods: {
          dpOpen(dId){
            if(dId!=''){
                $('#'+dId).datepicker("show");
            }
         },
          submitSearch()
          {
              var elem = this.$refs.myBtn;
              elem.click()
          },
          initData()
          {
              let vm=this;
              $('#bookingDate').datepicker().on(
                'changeDate', () => { vm.searchBookingData.bookingDate = $('#bookingDate').val() 
             });
             $('#fromDate').datepicker().on(
                'changeDate', () => { vm.searchBookingData.fromDate = $('#fromDate').val() 
             });
             $('#toDate').datepicker().on(
                'changeDate', () => { vm.searchBookingData.toDate = $('#toDate').val() 
             });
             
          },
          clearSearchData()
          {
              let vm=this;
              vm.searchData.participantName='';
              vm.searchData.bookingDate='';
              vm.searchData.fromDate='';
              vm.searchData.toDate='';
              vm.$root.$emit('searchClearResult',1);
          },
          searchData()
          {
              let vm=this;
              vm.$validator.validateAll().then(() => {
              if (!this.errors.any()) {
                vm.$root.$emit('searchDataResult',vm.searchBookingData);
              }
            });
          },
          
        }
    }
</script>
