<template>
    <div class="breadcrumb-wrapper text-center" v-bind:style="{ 'background-image': 'url(' + back_image + ')' }">
        <div class="container">
            <h1 v-html="this.$route.meta.title" class="mb-0">Title</h1>
            <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-flext justify-content-center" v-html="this.$route.meta.breadcrumb"></ol>
            </nav> -->
            <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb d-flext justify-content-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav> -->
        </div>
    </div>
</template>
<script>
export default {
    name: 'Breadcrumb',
    data: function(){
        return{
            image: '',
        }
    },
    computed:{
        back_image(){
            if(this.$route.name == 'participantList') {
                return '../images/participant-list.jpg';
            } else if(this.$route.name == 'personaldetails') {
                return '../images/personaldetails.jpg';
            } else if(this.$route.name == 'documents') {
                return '../images/documents.jpg';                    
            } else if(this.$route.name == 'statutoryDeclaration') {
                return '../images/statutoryDeclaration.jpg';                    
            } else if(this.$route.name == 'elearning') {
                return '../images/elearning.jpg';                    
            } else if(this.$route.name == 'policy') {
                return '../images/policy.jpg';                    
            } else if(this.$route.name == 'contentLibrary') {
                return '../images/content-library.jpg';                    
            } else if(this.$route.name == 'notification') {
                return '../images/notification.jpg';                    
            } else if(this.$route.name == 'participantList') {
                return '../images/participant-list.jpg';                    
            } else if(this.$route.name == 'bookings') {
                return '../images/bookings.jpg';                    
            } else if(this.$route.name == 'childSafeguarding') {
                return '../images/childSafeguarding.jpg';                    
            } else if(this.$route.name == 'changePassword') {
                return '../images/change-password.jpg';                    
            }  else if(this.$route.name == 'createNewParticipant') {
                return '../images/create-participant.jpg';                    
            } else {
                if(this.$store.state.back_Image){
                    return this.$store.state.back_Image;
                }
                return '../images/banner.jpg';
            }
            

        }
    },

}
</script>

