
<template>
    <div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="confirmPolicyModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="close" @click="closeConfirmModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><h5>Click okay to confirm.</h5></p>
                        <form class="form-horizontal">
                            
                            <div class="text-center my-5">
                                <button type="button" class="btn btn-primary btn-lg mr-3" @click="addValidateBeforeSubmit()">Confirm</button> 
                                <button type="button" @click="closeConfirmModal()" class="btn btn-primary btn-lg">Cancel</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import ApiService from '../../../api/apiService.js';
import _ from 'lodash';
    export default {
        props:['bookingId'],
        data() {
            return {
              'loginId':this.$store.state.User.userData.userId,
              'userType':this.$store.state.User.userData.userTypeId,
              'confirmAttendanceData': {
                'givenName':'',
                'surName':'',
                'bookingDate':'',
                'bookingTime':'',
                'bookingId':'',
                'userId':''
              },
              'options': {
                  format: 'h:mm A',
                  //useCurrent: false, 
                  showClear: true,
                  showClose: true,
                },
               
            }
        },
        components: {
           datePicker
        },
        mounted() {
            let vm=this;
            vm.initData();
            
              $('.datepicker').datepicker({
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(ev){vm.confirmAttendanceData.bookingDate = $(this).val();});
        },
        methods: {
            initData()
            {
                let vm=this;
                
            },
            closeConfirmModal()
            {
                let vm=this;
                vm.$root.$emit('closeConfirmModal',1);
            },
            addValidateBeforeSubmit() {
               let vm=this;
                vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                        let data={'userType':vm.userType,'userId':vm.loginId};
                        vm.$store.commit("routeChange", "start");
                        ApiService.changeConfirmPolicy(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$root.$emit('policyConfirmModal',1);
                            } 
                            else if (response.data.code == 300) {
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                          }

                        )
                       
                    }
                })
            },

        }
    }
</script>