<template>
    <div class="modal fade bg-modal-color refdel" id="confirm_update_modal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog confirm-modal" role="document">
        <div class="modal-content">
            <form method="confirm" class="js-confirm-modal-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body js-delete-confirmation-msg">{{updateConfirmMsg}}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"  @click="hideModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary" @click.prevent="confirmUpdate()">Confirm</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</template>
<script>
    export default  {

         name: 'confirmUpdate',

        props:['updateConfirmMsg','redirectStatus','redirectUrl'],

        data() {
            return {
                
            }
        },
        mounted(){
            var vm = this;
            $('.close').click(function(){
                $('#confirm_update_modal').modal('hide');
                if(vm.redirectStatus == true){
                     vm.$router.push({'name':vm.redirectUrl});
                }
                return false;
            });
        },
        created() {
            
        },
        methods: {
            confirmUpdate() {
                let vm=this;
                vm.$root.$emit('updateConfirmed',1);
            },
            hideModal() {
                let vm=this;
                $('#confirm_update_modal').modal('hide');
                vm.$root.$emit('updateCancelled',1);
                if(vm.redirectStatus == true){
                     vm.$router.push({'name':vm.redirectUrl});
                }
                return false;
            }
        }
    }
</script>
