
<template>
    <div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="confirmAttModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Attendance</h5>
                        <button type="button" class="close" @click="closeConfirmModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please confirm the date and time of the session held.</p>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="givenName" class="col-form-label">Participant Given name *</label>
                                        <input type="text" class="form-control" name="givenName" id="givenName" v-model="confirmAttendanceData.givenName" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="surName" class="col-form-label">Participant Last name *</label>
                                        <input type="text" class="form-control" name="surName" id="surName" v-model="confirmAttendanceData.surName" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="bookingDate" class="col-form-label">Date*</label>
                                        <div class="input-group mb-3">
                                           <input type="text" placeholder="Booking Date" class="form-control datepicker border-right-0" v-validate="'required|date_format:DD/MM/YYYY'" v-model="confirmAttendanceData.bookingDate" name="bookingDate"  data-date-format="dd/mm/yyyy" id="bookingDate2">
                                            <div class="input-group-append">
                                              <span class="input-group-text"><i  class="icon-calendar" @click="dpOpen('bookingDate2')"></i></span>
                                            </div>
                                             <span class="help is-danger" v-show="errors.has('bookingDate')">Please enter valid Booking Date.</span>
                                        </div>
                                        <!-- <i v-show="errors.has('bookingDate')" class="fa fa-warning"></i> -->
                                            
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       <label for="bookingTime" class="col-form-label">Time*</label>
                                        <div class="input-group mb-3">
                                            <input type='text' class="form-control border-right-0" id='bookingTime' v-validate="'required|is_time'" name="bookingTime" v-model="confirmAttendanceData.bookingTime"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text "><i  class="icon-clock" @click="dtpOpen('bookingTime')"></i></span>
                                            </div>
                                             <!-- <date-picker name="bookingTime" v-model="confirmAttendanceData.bookingTime" :config="options" v-validate="'required'" id="bookingTime" class="border-right-0"></date-picker>
                                              <div class="input-group-append">
                                                <span class="input-group-text"><i  class="icon-clock"></i></span>
                                              </div> -->
                                              <span class="help is-danger" v-show="errors.has('bookingTime')">Please enter valid Booking Time.</span>
                                        </div>
                                      <!--   <i v-show="errors.has('bookingTime')" class="fa fa-warning"></i> -->
                                            
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-5">
                                <button type="button" class="btn btn-primary btn-lg mr-3" @click="addValidateBeforeSubmit()">Confirm</button> 
                                <button type="button" @click="closeConfirmModal()" class="btn btn-primary btn-lg">Cancel</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import ApiService from '../../../api/apiService.js';
import _ from 'lodash';
    export default {
        props:['bookingId'],
        data() {
            return {
              'loginId':this.$store.state.User.userData.userId,
              'userType':this.$store.state.User.userData.userTypeId,
              'confirmAttendanceData': {
                'givenName':'',
                'surName':'',
                'bookingDate':'',
                'bookingTime':'',
                'bookingId':'',
                'userId':''
              },
              'options': {
                  format: 'h:mm A',
                  //useCurrent: false, 
                  showClear: true,
                  showClose: true,
                },
               
            }
        },
        components: {
           datePicker
        },
         created() {
            this.$validator.extend('is_time', {
                getMessage: field => `The format must be HH:MM:SS`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^ *(1[0-2]|[1-9]):[0-5][0-9] *(a|p|A|P)(m|M) *$");
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });
        },
        mounted() {
            let vm=this;
            vm.initData();
            
              $('.datepicker').datepicker({
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(ev){vm.confirmAttendanceData.bookingDate = $(this).val();});
              $('#bookingTime').datetimepicker({
                    format: 'h:mm A',
                    showClear: true,
                    showClose: true,
                    icons: {
                      time: "fa fa-clock-o",
                      date: "fa fa-calendar",
                      up: "fa fa-arrow-up",
                      down: "fa fa-arrow-down",
                      previous: 'fa fa-arrow-left',
                      next: 'fa fa-arrow-right',
                      clear: 'fa fa-trash-o',
                      close: 'fa fa-remove'
                    }
                });
            $('#bookingTime').on('dp.change', function(e){ 
                vm.confirmAttendanceData.bookingTime=$(this).val();
            })
        },
        methods: {
            dpOpen(dId){
              if(dId!=''){
                $('#bookingDate2').datepicker("show");
                
              }
            },
             dtpOpen(dId){
              if(dId!=''){
                
                $('#bookingTime').data("DateTimePicker").show();
              }
            },
            initData()
            {
                let vm=this;
                vm.getBookingDetailsByBookingId(vm.bookingId);
            },
            getBookingDetailsByBookingId(bId)
            {
                let vm=this;
                let data={'id':bId};

                ApiService.getBookingDetailsByBookingId(data).then(
                    (response)=> {
                     
                      if(response.data.code == 200){
                        let confirmData=response.data.data;
                          vm.confirmAttendanceData.givenName=confirmData.givenName;
                          vm.confirmAttendanceData.surName=confirmData.surName;
                          vm.confirmAttendanceData.bookingDate=confirmData.bookingDate;
                          vm.confirmAttendanceData.bookingTime=confirmData.bookingTime;
                          vm.confirmAttendanceData.bookingId=confirmData.bookingId;
                          vm.confirmAttendanceData.userId=confirmData.userId;
                          
                      } else if (response.data.code == 300) {
                          toastr.error(response.data.message, '', {timeOut: 5000});
                          vm.$root.$emit('closeConfirmModal',1);
                      }
                      else
                      {
                          toastr.error('Something Went wrong.','', {timeOut: 5000});
                          vm.$root.$emit('closeConfirmModal',1);
                      }
                      
                    },
                    (error)=>{
                    }
                )
            },
            closeConfirmModal()
            {
                let vm=this;
                vm.$root.$emit('closeConfirmModal',1);
            },
            addValidateBeforeSubmit() {
               let vm=this;
               vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                        let data={'userType':vm.userType,'loginId':vm.loginId,'confirmAttendanceData':vm.confirmAttendanceData};
                        vm.$store.commit("routeChange", "start");
                        ApiService.addConfirmAttendance(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$root.$emit('closeConfirmModal',1);
                            } 
                            else if (response.data.code == 300) {
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                          }

                        )
                       
                    }
                })
            },

        }
    }
</script>