<template>
    <div>
         <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="uploadDocumentModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
                        <button type="button" class="close" @click="closeUploadModal()">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group document-type">
                                <label>Document Type *</label>
                                <div>
                                    <select class="custom-select ls-select2 form-control w-100" v-model="documentData.userDocumentTypeId" id="docType" name="userDocumentTypeId" v-validate="'required'">
                                        <option v-for="doc in documentTypes" :value="doc.userDocumentTypeId" :key="doc.userDocumentTypeId" v-if="doc.userDocumentTypeId != '4'">{{ doc.type }}</option>
                                    </select>
                                    <i v-show="errors.has('userDocumentTypeId')" class="fa fa-warning"></i>
                                    <span class="help is-danger" v-show="errors.has('userDocumentTypeId')">Please select valid document type.</span>
                                </div>
                            </div>
                            <div class="form-group"  v-if="crimCheck">
                                <label>CrimCheck Consent Form</label>
                                <div>
                                    <a href="/crim-check/crimcheck.pdf" download><label class="btn-bs-file btn btn-lg btn-primary mb-0">Download</label></a>
                                </div>                                        
                            </div>    
                            <div class="form-group">
                                 <label>Document *</label>
                                <div v-if="!documentData.documentVal">
                                      <div>
                                          <label class="btn-bs-file btn btn-lg btn-primary mb-0">Browse
                                          <input type="file" name="documentVal" id="documentVal"  @change="filesChange($event.target.name, $event.target.files,$event);"   v-validate="'required|ext:jpeg,jpg,pdf,png,bmp'"></label>
                                      </div>
                                      <small>Accepted file types: .pdf, .jpg, .png, .bmp</small>
                                  </div>
                                  <div v-else>
                                      <div class="upload-image" v-if="documentData.docImage">

                                          <img :src="documentData.documentVal" v-if="preview"/>
                                          <img :src="'/storage/documents/'+documentData.documentVal" v-else>
                                      </div>
                                      <div class="" v-else>
                                          <a :href="'/storage/documents/'+documentData.documentVal" download><strong>{{documentData.documentVal}}</strong></a>
                                      </div>
                                      <a href="javascript:void(0)" class="mt-1 d-inline-block" @click="removeFile"><i class="icon-delete mr-1" ></i> Remove File</a>
                                  </div>
                                   <i v-show="errors.has('documentVal')" class="fa fa-warning"></i>
                                   <span class="help is-danger" v-show="errors.has('documentVal')">Please select file for documents.</span>
                            </div>
                            <!-- <div>
                               <div class="form-group">
                                  <label>Expiry Date *</label>
                                    <div class="input-group mb-3">
                                      <input type="text" placeholder="Expiry Date" class="form-control datepicker border-right-0" v-validate="'required|date_format:DD/MM/YYYY'" v-model="documentData.expiryDate" name="expiryDate"  data-date-format="dd/mm/yyyy" id="expiryDate">
                                     <div class="input-group-append">
                                         <span class="input-group-text"><i  class="icon-calendar"></i></span>
                                     </div>
                                 </div>
                                 <i v-show="errors.has('expiryDate')" class="fa fa-warning"></i>
                                      <span class="help is-danger" v-show="errors.has('expiryDate')">Please enter a valid expiry date using the format DD/MM/YYYY.</span>
                                </div>
                            </div> -->
                            <div class="text-center my-5">
                                <button type="button" class="btn btn-primary btn-lg mr-3" @click="saveDocumentUpload()">Submit</button> 
                                <button type="button" class="btn btn-primary btn-lg" @click="closeUploadModal()">Cancel</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import ApiService from '../../../api/apiService.js';
import _ from 'lodash';
    export default {
        props:['documentId','documentType'],
        data() {
            return {
               'loginId':this.$store.state.User.userData.userId,
                'userType':this.$store.state.User.userData.userTypeId,
              'documentData': {
                //'type':'',
                'userDocumentTypeId':'',
                'expiryDate':'',
                'userDocumentId':'',
                'documentVal':'',
                'docImage':false,
              },
              'fileData':new FormData(),
              'preview':false,
              'documentTypes': [],
              'userDocumentTypeId': '',
              'crimCheck': false
               
            }
        },
        components: {
           datePicker
        },
        mounted() {
            let vm=this;
            vm.initData();
            
            $('.ls-select2').select2({
                placeholder: "Select"
            });
            $('.datepicker').datepicker({
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(ev){
                vm.documentData.expiryDate = $(this).val();
                vm.$validator.validate('expiryDate');
            });

            $('#docType').on('select2:select', function (e) {
                vm.userDocumentTypeId = $('#docType').val();
                vm.documentData.userDocumentTypeId = $('#docType').val();
                vm.$validator.validate('userDocumentTypeId');
                if (vm.userDocumentTypeId == 1) {
                    vm.crimCheck = true;
                } else {
                    vm.crimCheck = false;
                }
            });
            $('.datepicker').val('');
        },
        methods: {
            initData()
            {
                let vm=this;
                vm.documentData.type=vm.documentType;
                vm.documentData.userDocumentTypeId=vm.documentData.userDocumentTypeId;
                vm.getDocumentsDetailsByDocumentId(vm.documentId);
                ApiService.getDocumentTypeList().then(
                    (response) => {
                        vm.documentTypes = response.data.data;
                    },
                    (error) => {

                    }
                );
            },
            getDocumentsDetailsByDocumentId(dId)
            {
                let vm=this;
                let data={'id':dId};
                let imgArray=['bmp','jpej','jpg','png'];
                ApiService.getDocumentsDetailsByDocumentId(data).then(
                    (response)=> {
                     
                      if(response.data.code == 200){
                        let docData=response.data.data;
                        //vm.documentData.expiryDate=vm.setDateFormat(docData.expiryDate);
                        vm.documentData.userDocumentId=docData.userDocumentId;
                        let ext=this.getFileextesion(docData.name);
                         if(_.includes(imgArray, ext))
                        {
                             this.documentData.docImage=true;
                             this.preview=false;
                             
                        }
                        else
                        {
                            this.documentData.docImage=false;
                             
                        }
                        vm.documentData.documentVal=docData.name;
                      } 
                      
                    },
                    (error)=>{
                    }
                )
            },
            closeUploadModal()
            {
                let vm=this;
                vm.$root.$emit('closeUploadModal',1);
            },
            saveDocumentUpload() {
               let vm=this;
                vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                       
                       // vm.fileData.append('documentData',JSON.stringify(vm.documentData));
                       //vm.fileData.append('type',vm.documentData.type);
                        vm.fileData.append('userDocumentTypeId',vm.userDocumentTypeId);
                        //vm.fileData.append('expiryDate',vm.documentData.expiryDate);
                        //vm.fileData.append('userDocumentId',vm.documentData.userDocumentId);
                        vm.fileData.append('loginId',vm.loginId);
                        vm.fileData.append('userType',vm.userType);
                        vm.$store.commit("routeChange", "start");
                        ApiService.multipleDocumentUpload(vm.fileData).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$root.$emit('closeUploadModal',1);
                                vm.documentData.docType = '';
                                $('.ls-select2').val('').trigger('change');
                                vm.documentData.documentVal = '';
                                vm.documentData.expiryDate = '';
                                vm.documentData.userDocumentTypeId = '';
                            } 
                            else if (response.data.code == 300) {
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                          }

                        )
                       
                    }
                })
            },
            setDateFormat(val)
            {
                return moment(val).format('DD/MM/YYYY');
            },
             createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.documentData.documentVal = e.target.result;
                };
                reader.readAsDataURL(file);
            },
             filesChange(fieldName, fileList,e) {
                let vm=this;
                let extArray=['bmp','jpej','jpg','pdf','png'];
                let imgArray=['bmp','jpej','jpg','png'];
                //let fileData = new FormData();
                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    if(_.includes(extArray, ext))
                    {
                        
                        vm.fileData.append(fieldName, fileList[x], fileList[x].name);
                       
                        if(_.includes(imgArray, ext))
                        {
                             this.documentData.docImage=true;
                             this.preview=true;
                             this.createImage(fileList[x]);
                        }
                        else
                        {
                            this.documentData.docImage=false;
                             this.documentData.documentVal = fileList[x].name;
                        }
                       
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
               
              },
              getFileextesion(fileName)
              {
                    return fileName.substring(fileName.lastIndexOf(".")+1);
              },
              removeFile()
              {
                  this.documentData.documentVal ='';
              }

        }
    }
</script>