<template>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row align-items-center">
                        <div class="col-md-7 text-center text-md-left">
                            <img src="../../../../assets/images/logo.svg" class="footer-logo">
                            © 2019 - Plan International Australia ABN 49 004 875 807
                        </div>
                        <div class="col-md-5 social-links">
                            <ul class="list-unstyled d-flex justify-content-md-end justify-content-center mb-0">
                                <li class="list-inline-item"><strong>Connect with us:</strong></li>
                                <li class="list-inline-item"><a href="https://www.facebook.com/planaustralia" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/plan_australia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/planaustralia" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.youtube.com/planaustralia" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mt-0 mt-md-3">
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                            <li class="list-inline-item"> 
                                <a href="https://www.plan.org.au/learn/who-we-are/about-us" target="_blank">
                                    About
                                </a> |
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.plan.org.au/contact/privacy" target="_blank">
                                   Privacy Policy
                                </a> |
                            </li>
                            <li class="list-inline-item">
                                <a href="/front/commingsoon">
                                    Terms & condition
                                </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>

export default {
    name: 'Footer',

}
</script>

