<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <router-link :to="{ name: 'Home' }" class="navbar-brand">
                            <img src="../../../../assets/images/logo.svg" alt="" class="logo">
                        </router-link>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                               <!--  <li class="nav-item">
                                    <router-link to="Home" class="nav-link" active-class="active">
                                        Dashboard
                                    </router-link>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <router-link to="/front/admin-participants" class="dropdown-item pl-3">
                                            Admin Participants
                                        </router-link>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown"  v-if="(userType == 2 || userType == 3)">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Participants
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                       <!--  <router-link to="/front/interviewReferences" class="dropdown-item pl-3">
                                            Interview & References
                                        </router-link> -->
                                        <!-- <router-link to="/front/userManagement" class="dropdown-item pl-3">
                                            User Management
                                        </router-link>
                                        <router-link to="/front/hmuElearning" class="dropdown-item pl-3">
                                            E-Learninig
                                        </router-link>
                                        <router-link to="/front/interviewReferences" class="dropdown-item pl-3">
                                            Interview & References
                                        </router-link>

                                        <router-link to="/front/hmuDocuments" class="dropdown-item pl-3">
                                            Documents
                                        </router-link>
                                         -->

                                        <router-link to="/front/participant-list" class="dropdown-item pl-3">
                                           Participants
                                        </router-link>
                                        <router-link to="/front/create-new-participant" class="dropdown-item pl-3">
                                            Create New Participant
                                        </router-link> 
                                         <router-link to="/front/bookings" class="dropdown-item pl-3">
                                            Booking
                                        </router-link>
                                       <!--  <router-link to="/front/hmuPersonalDetails" class="dropdown-item pl-3">
                                            Personal Details
                                        </router-link> -->
                                    </div>
                                </li>
                                <li class="nav-item dropdown"  v-if="userType== 4">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        My Profile
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                         <router-link to="/front/childSafeguarding" class="dropdown-item pl-3">
                                            Overview
                                        </router-link> 
                                        <router-link to="/front/personaldetails" class="dropdown-item pl-3">
                                            Personal Details
                                        </router-link>
                                         <router-link to="/front/documents" class="dropdown-item pl-3">
                                            Documents
                                        </router-link>
                                        <router-link to="/front/statutoryDeclaration" class="dropdown-item pl-3">
                                            Statutory Declaration
                                        </router-link>
                                        <router-link to="/front/elearning" class="dropdown-item pl-3">
                                            E-Learning
                                        </router-link>
                                        <router-link to="/front/policy" class="dropdown-item pl-3">
                                            Policy
                                        </router-link> 
                                        <!-- <router-link to="/front/statutoryDeclaration" class="dropdown-item pl-3">
                                            Statutory Declaration
                                        </router-link> -->
                                        <router-link to="/front/content-library" class="dropdown-item pl-3">
                                            Content Library
                                        </router-link>
                                    </div>
                                </li>
                                <!-- <li class="nav-item dropdown"  v-if="roleHmu==1 || roleAdmin==1">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Proceed as: {{ currentRole }}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a @click="setAdmin" class="dropdown-item pl-3" v-if="roleAdmin==1">
                                            Admin
                                        </a>
                                        <a @click="setHMU" class="dropdown-item pl-3" v-if="roleHmu==1">
                                            HMU
                                        </a>
                                        <a to="" @click="setParticipant" class="dropdown-item pl-3">
                                            Participant
                                        </a>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown notification-dropdown">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Notifications
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                       <div class="dropdown-inner" v-if="(notification.length>0)">
                                            <div class="dropdown-inner-scroll">
                                                <ul class="list-unstyled" >
                                                    <a class="dropdown-item" href="javascript:void(0)" v-for="notif in notification" @click="notificationRedirect(notif.notficationId,notif.type,notif.userId)">
                                                        <p class="mb-0" v-text="setNotifText(notif.template)"></p>
                                                        <a>- {{ setDatetext(notif.created_at) }}</a>
                                                    </a> 
                                                </ul>
                                            </div>
                                            <router-link to="/front/notification" class="text-right d-block see-text px-3">
                                                <strong>See all</strong> <i class="fa fa-angle-right"></i>
                                            </router-link>
                                        </div>
                                        <div class="dropdown-inner" v-else>
                                            <div class="dropdown-inner-scroll">
                                                <ul class="list-unstyled">
                                                    <a class="dropdown-item" href="javascript:void(0)" >
                                                        <p class="mb-0">No unread notification.</p>
                                                    </a>
                                                </ul>
                                            </div>
                                            <router-link to="/front/notification" class="text-right d-block bg-light see-text px-3">
                                                <strong>See all</strong> <i class="fa fa-angle-right"></i>
                                            </router-link> 
                                        </div>
                                    </div>
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                        href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="rounded-circle profile-image border d-inline-block text-center mr-1"><i class="fa fa-user user-icon"></i></div> Hello, {{ ((userDetail.user_detail.prefferedName))?userDetail.user_detail.prefferedName:userDetail.user_detail.givenName}}
                                        <!-- <img src="../../../../assets/images/community.jpg" alt="Profile Image" class="rounded-circle profile-image"> -->
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                         <router-link to="/front/change-password" class="dropdown-item pl-3">
                                            Change Password
                                        </router-link>
                                        
                                        <!-- <router-link to="myprofile/childSafeguarding" class="dropdown-item pl-3">
                                            Notifications
                                        </router-link> -->
                                        <a href="javascript:void(0);" class="dropdown-item pl-3" @click="logout">
                                            Logout
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</template>
<script>
import Auth from '../../../services/auth';
import apiServices from '../../../api/apiService.js';
import Ls from '../../../services/ls';
import moment from 'moment-timezone';
moment.tz.setDefault('Australia/Brisbane');
export default {
    name: 'Header',
    data(){
        return {
            notification:{},
            'userDetail': this.$store.state.User.userData,
            currentRole: 'Change Role',
            roleHmu: this.$store.state.User.userData.isHmu,
            roleAdmin: this.$store.state.User.userData.isAdmin,
        }
    },
    computed:{
        userType(){
            return this.$store.state.User.userData.userTypeId;
        }
    },
    mounted: function() {
        let vm = this;
        this.getNotificationByUser();
        
        // if (this.$store.state.User.userData.userTypeId == 3) {
        //     vm.currentRole = 'HMU';
        // } else if (this.$store.state.User.userData.userTypeId == 2) {
        //     vm.currentRole = 'Admin';
        // } else if (this.$store.state.User.userData.userTypeId == 4) {
        //     vm.currentRole = 'Participant';
        // }

        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
            if (scroll >= 80) {
                $(".navbar ").addClass("fixed-top");
            } else{
                $(".navbar ").removeClass("fixed-top");
            }
        });

    },
    created() {
        this.$root.$on('getNotificationByUser',this.getNotificationByUser);
    },
    destroyed() {
        this.$root.$off('getNotificationByUser',this.getNotificationByUser);
    },
    methods: {
        getNotificationByUser(){
            let vm = this;
            let userData = {
                'userId':this.userDetail.userId,
                'type': Number(Ls.get('role'))
            }
            apiServices.getNotificationByUser(userData).then(
                (response) => {
                    if(response.status == 200){
                        vm.notification = response.data.data.data;
                    }
            });

        },
        setNotifText(data) {
            let vm =this;
            if(this.userDetail.userTypeId == 4) {
                return  data.slice(0,data.indexOf(" for "));
            }

            return data;
        },
        setDatetext(data){
            moment.tz.guess(true);
            var now = moment(new Date()); //todays date
            var end = moment(data); // another date
            var duration = moment.duration(now.diff(end),);
            var days = duration.asDays();
            var hours = duration.asHours();
            var minutes = duration.asMinutes();
            var seconds = duration.asSeconds();
            if (Math.round(days) > 0) {
                return Math.round(days)+' days ago';
            } else if (Math.round(hours) > 0) {
                return Math.round(hours)+' hours ago';
            } else if (Math.round(minutes) > 0) {
                return Math.round(minutes)+' minutes ago';
            } else {
                return 'now';
            }
        },
        // logout(msg=''){
        //     let vm =this;
        //     vm.$root.$emit('logout','Logged out!');
        // },
        notificationRedirect(notificationId,redirect,userId)
        {
            let vm = this;
            let userType = this.userDetail.userTypeId;
            apiServices.readNotificationByUser(notificationId,userType).then(
                (response) => {
                    if(response.status == 200){
                        vm.getNotificationByUser();
                    }
            });
            if (redirect == 'document') {
                if (userType == 4) {
                    this.$router.push({'name': 'documents'});
                } else if(userType == 3) {
                    this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'documents'}});
                } else if(userType == 2) {
                    this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'documents'}});
                }
            }

            if (redirect == 'elearning') {
                if(userType == 3) {
                    this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'elearning'}});
                }  else if(userType == 2) {
                    this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'elearning'}});
                }
             }
        },
        logout(){
            if(this.$route.meta.backProcessCheck) {
                const endProgress = confirm("Your data will be lost if not saved. Are you sure you want to logout?");
                if (endProgress) { 
                    this.$route.meta.backProcessCheck = false;
                    return axios.get('/api/auth/logout').then(response =>  {
                        Ls.remove('auth.token')
                        Ls.remove('email')
                        Ls.remove('vuex')
                        Ls.remove('role')
                        localStorage.clear();
                        // here we have to reload the page
                        toastr.error('Logged out!', '', {timeOut: 5000});
                        //this.$router.push('front/home');
                        window.location.href = "/";
                    }).catch(error => {
                    });
                    //Reload
                } else {
                    return false;
                }    
            } else {
                    return axios.get('/api/auth/logout').then(response =>  {
                        Ls.remove('auth.token')
                        Ls.remove('email')
                        Ls.remove('vuex')
                        Ls.remove('role')
                        localStorage.clear();
                        // here we have to reload the page
                        toastr.error('Logged out!', '', {timeOut: 5000});
                        window.location.href = "/";
                        //this.$router.push('front/home');
                    }).catch(error => {
                    });
            }
        }
        // setAdmin()
        // {
        //     let vm = this;
        //     vm.currentRole = 'Admin';
        //     vm.$store.dispatch('SetRoleType',2);
        //     vm.$store.dispatch('SetUserType',2);
        //     Ls.set('role',2);
        //     vm.getNotificationByUser();
        //     vm.$router.push({'name': 'participantList'});
        // },
        // setHMU()
        // {
        //     let vm = this;
        //     vm.currentRole = 'HMU';
        //     vm.$store.dispatch('SetRoleType',3);
        //     vm.$store.dispatch('SetUserType',3);
        //     Ls.set('role',3);
        //     vm.getNotificationByUser();
        //     vm.$router.push({'name': 'participantList'});

        // },
        // setParticipant()
        // {
        //     let vm = this;
        //     vm.currentRole = 'Participant';
        //     vm.$store.dispatch('SetRoleType',4);
        //     vm.$store.dispatch('SetUserType',4);
        //     Ls.set('role',4);
        //     vm.getNotificationByUser();
        //     vm.$router.push({'name': 'childSafeguarding'});
        // }
    },
}
</script>

