<template>
    <div>
        <h3>Interview questions</h3>
        <div class="accordion mt-2" id="accordionInterview">
            <div class="card" v-for="qList in quetionList" v-if="qList.slug!='child_que'">
                <div class="card-header collapsed d-flex align-items-center justify-content-between" :id="'label_'+qList.slug" data-toggle="collapse" :data-target="'#'+qList.slug" aria-expanded="false" :aria-controls="qList.slug">
                    <strong>{{qList.type}}</strong>
                    <i class="icon icon-minus"></i>
                </div>
                <div :id="qList.slug" class="collapse" :aria-labelledby="'label_'+qList.slug" data-parent="#accordionInterview">
                    <div class="card-body">
                        <ul class="list-unstyled mb-0">
                            <li v-for="que,index in qList.question">
                                <p class="custom-control custom-checkbox mb-0">
                                    <input type="checkbox"  class="custom-control-input" :id="que.questionId" :value="que.questionId" :name="'que_'+que.questionId"  v-model="checkedNames" @click="changeQuetionData($event,que.questionTypeId,que.questionId)"> 
                                    <label :for="que.questionId" class="custom-control-label">{{que.question}}</label>
                                </p>
                                <span v-if="que.allowComment=='Y'">
                                    <input type="text" class="form-control mt-3" placeholder="Comment" :name="'comment_'+que.questionId" v-if="findQuestionIdInArray(que.questionId)" v-model="commentData[que.questionId]" v-on:input="addComment($event,que.questionTypeId,que.questionId)">
                                </span>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
           
            <div class="row align-items-center my-4">
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <strong>Date of latest Update / Save: {{currentDate}}</strong>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 select2-control">
                    <select class="ls-select2 form-control mt-3" name="interviewStatus" id="interviewStatus">
                        <option value="">Select</option>
                        <option value="in_progress" selected>In progress</option>
                        <option value="satisfactory">Satisfactory</option>
                        <option value="not_satisfactory">Not satisfactory</option>
                    </select>

                   <!--  <span class="badge badge-pill badge-warning px-3 py-2">In Progress</span> -->
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h3>Reference checkss</h3>
            <div class="accordion mt-2" id="accordionRefereechecks">
                <div class="card" v-for="qList2 in quetionList" v-if="qList2.slug=='child_que'">
                    <div class="card-header collapsed d-flex align-items-center justify-content-between" :id="'label_'+qList2.slug" data-toggle="collapse" :data-target="'#'+qList2.slug" aria-expanded="false" :aria-controls="qList2.slug">
                        <strong>{{qList2.type}}</strong>
                        <i class="icon icon-minus"></i>
                    </div>
                    <div :id="qList2.slug" class="collapse" :aria-labelledby="'label_'+qList2.slug" data-parent="#accordionRefereechecks">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0" >
                                <li v-for="que2 in qList2.question">
                                    <p class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox"  class="custom-control-input" :id="que2.questionId" :value="que2.questionId" :name="'que_'+que2.questionId" @click="changeReferenceData($event,que2.questionTypeId,que2.questionId)" v-model="checkedNames"> 
                                        <label :for="que2.questionId" class="custom-control-label">{{que2.question}}</label>
                                    </p>
                                    <span v-if="que2.allowComment=='Y'">
                                        <input type="text" class="form-control mt-3" placeholder="comment" :name="'comment_'+que2.questionId" v-if="findQuestionInReference(que2.questionId)" v-model="commentData[que2.questionId]"   v-on:input="addReferenceComment($event,que2.questionTypeId,que2.questionId)">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center my-4">
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <strong>Date of latest Update / Save: {{currentDate}}</strong>
                    </div>
                     <div class="col-lg-2 col-md-3 col-sm-4 select2-control">
                        <!-- <span class="badge badge-pill badge-warning px-3 py-2">In Progress</span> -->
                         <select class="ls-select2 form-control mt-3" name="referenceStatus" id="referenceStatus">
                            <option value="">Select</option>
                            <option value="in_progress" selected>In progress</option>
                            <option value="satisfactory">Satisfactory</option>
                            <option value="not_satisfactory">Not satisfactory</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center my-4">
                    <div class="col-md-12 text-left text-md-center">
                        <!-- <button type="submit" class="btn btn-primary btn-lg"  @click="saveInterviewAndReferances" :disabled="interviewData.length<2">Update and Save</button> -->
                         <button type="submit" class="btn btn-primary btn-lg"  @click="saveInterviewAndReferances" :disabled="allowSaveDisable">Update and Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

import ApiService from '../../../api/apiService.js';
import _ from 'lodash';

    export default {
        props:['userId'],
        data() {
            return {
                    'loginId':this.$store.state.User.userData.userId,
                    'userType':this.$store.state.User.userData.userTypeId,
                    'quetionList':{},
                    'checkedNames': [],
                    'questionData':[],
                    'currentDate':moment().format('DD/MM/YYYY'),
                    'interviewData' : [],
                    'referenceData' : [],
                    'commentData':[],
                    'interviewStatus':'in_progress',
                    'referenceStatus':'in_progress',
                    'interviewAndReferenceId':'',
                    'allowSaveDisable' : true,
                    'setFlagInterview' : 0,
                    'setFlagReference' : 0,
                }
        },
        components: {
           
        },
        // created() {
        //     var vm = this;
        //     vm.getInterviewAndReferenceDetailByUserId();   
        // },
        mounted() {
            var vm = this;
            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3' ){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
           }
           
          
           if(vm.setFlagInterview === 1 && vm.setFlagReference === 1){
               vm.allowSaveDisable = false;
           }else{
               vm.allowSaveDisable = true;
           }
           $('.ls-select2').select2({
                placeholder: "Select"
            });
            $('#interviewStatus').on("select2:select", function (e) {
                vm.interviewStatus =$(this).val();
                 vm.allowSaveButton('interView',vm.interviewStatus,1);
                  
            });
            $('#referenceStatus').on("select2:select", function (e) {
                vm.referenceStatus =$(this).val();
                vm.allowSaveButton('refernce',vm.referenceStatus,1);
                  
            });
            vm.initData();
        },
        methods: {
            initData(){
                let vm=this;
                vm.getQuestionList();
                vm.getInterviewAndReferenceDetailByUserId();   
               
            },
            allowSaveButton(type,status,showMsg){
                let vm = this;
                if(type === 'interView'){
                       //console.log(vm.interviewData.length);
                    if(status === 'satisfactory'){
                     
                       // vm.allowSaveDisable = true;
                        if(vm.interviewData.length < 2){
                            vm.setFlagInterview = 0;
                            if(showMsg === 1){
                                 toastr.error("Please select two interview's quetions", '', {timeOut: 5000});
                            }
                        }else{
                            vm.setFlagInterview = 1;
                        }
                    }else{
                         if(vm.interviewData.length >= 1){
                            vm.setFlagInterview = 1;
                        }else{
                              vm.setFlagInterview = 0;
                             if(showMsg === 1){
                                toastr.error("Please select a interview's quetions", '', {timeOut: 5000});
                             }
                        }
                    }
                }
                if(type === 'refernce'){
                       //console.log(vm.referenceData.length);    
                    if(status === 'satisfactory'){
                     
                        if(vm.referenceData.length  < 2){
                            vm.setFlagReference = 0;
                            if(showMsg === 1){
                                toastr.error("Please select two reference's quetions", '', {timeOut: 5000});
                            }
                        }else{
                           vm.setFlagReference = 1;
                        }
                    }else{
                          if(vm.referenceData.length >= 1){
                            vm.setFlagReference = 1;
                        }else{
                            vm.setFlagReference = 0;
                            if(showMsg === 1){
                                toastr.error("Please select a reference's quetions", '', {timeOut: 5000});
                            }
                        }
                    }
                }
                 if(vm.setFlagInterview === 1 && vm.setFlagReference === 1){
                        vm.allowSaveDisable = false;
                    }else{
                        vm.allowSaveDisable = true;
                    }
            },
            getQuestionList()
            {
                let vm=this;
                let questionListData=[];
                 ApiService.getQuestionList().then(
                  (response)=> {
                    if(response.data.code == 200){
                       questionListData=response.data.data;
                       vm.quetionList=questionListData;
                    }
                  },
                  (error)=>{
                  }
                )

            },
            getInterviewAndReferenceDetailByUserId()
            {
                let vm=this;
                let data={'userType':vm.userType,'loginId':vm.loginId,'userId':vm.userId};
                ApiService.getInterviewAndReferenceDetailByUserId(data).then(
                  (response)=> {
                    if(response.data.code == 200){
                        let iData=response.data.data;
                        vm.currentDate=vm.getFormatDate(iData.interviewDate);
                        vm.interviewStatus=iData.interviewStatus;
                        vm.referenceStatus=iData.referenceStatus;
                        vm.interviewAndReferenceId=iData.interviewAndReferenceId;
                        setTimeout(function(){
                            $('#interviewStatus').val(iData.interviewStatus).trigger('change');
                            $('#referenceStatus').val(iData.referenceStatus).trigger('change');
                        },500);
                        vm.getAnswerListByInterviewAndReferenceId();
                    }
                  },
                  (error)=>{
                  }

                )
            },
            getAnswerListByInterviewAndReferenceId()
            {
                let vm=this;
                let data={'userType':vm.userType,'loginId':vm.loginId,'interviewAndReferenceId':vm.interviewAndReferenceId};
                ApiService.getAnswerListByInterviewAndReferenceId(data).then(
                  (response)=> {
                    if(response.data.code == 200){
                        let answerData=response.data.data;
                        let checkQuetionids=[];
                        let commentNewData={};
                        let dataInterview=[];
                        let dataReferenceView=[];
                        _.forEach(answerData,function(answerD){
                            _.forEach(vm.quetionList,function(key,value){
                                _.forEach(key.question,function(data){ 
                                    //console.log(data.questionId+' === '+answerD.questionId)  ;
                                    if(data.questionId === answerD.questionId){
                                        if(key.slug === 'child_que'){
                                            dataReferenceView.push({'questionId':answerD.questionId,'val':answerD.questionId,'comment':answerD.answer});
                                        }else{
                                            dataInterview.push({'questionId':answerD.questionId,'val':answerD.questionId,'comment':answerD.answer});   
                                        }
                                    }
                                });
                            });
                             checkQuetionids.push(answerD.questionId);
                             commentNewData[answerD.questionId]=answerD.answer;
                        });
                        //console.log(dataReferenceView);
                        this.interviewData=dataInterview;
                        this.referenceData=dataReferenceView;
                        this.checkedNames=checkQuetionids;
                        this.commentData=commentNewData;
                        vm.allowSaveButton('interView',vm.interviewStatus,0);
                        vm.allowSaveButton('refernce',vm.referenceStatus,0); 
                  

                        
                    }
                  },
                  (error)=>{
                  }
                )
            },
            changeReferenceData: function(e,typeId,queId) {
                let vm = this;
                  if (e.target.checked) {
                    let val=e.target.value;
                    let dataReferenceView=this.referenceData;
                    dataReferenceView.push({'questionId':queId,'val':val,'comment':''});
                    this.referenceData=dataReferenceView;
                  }
                  else
                  {
       
                     let dataReferenceView=this.referenceData;
                        _.remove(dataReferenceView, function (data) {
                            return data.questionId==queId
                        });
                        this.referenceData=dataReferenceView;
                  }
                 vm.allowSaveButton('refernce',vm.referenceStatus,0); 
                  
            },
            changeQuetionData: function(e,typeId,queId) {
                  let vm = this;
                  if (e.target.checked) {
                    let val=e.target.value;
                    let dataInterview=this.interviewData;
                    dataInterview.push({'questionId':queId,'val':val,'comment':''});
                    
                    this.interviewData=dataInterview;
                  }
                  else
                  {
                        let dataInterview=this.interviewData;
                        _.remove(dataInterview, function (data) {
                            return data.questionId==queId
                        });
                        this.interviewData=dataInterview;
                        
                  }
                vm.allowSaveButton('interView',vm.interviewStatus,0);
                 
            },
            findQuestionIdInArray(queId)
            {
                return this.interviewData.some(interv => interv.val == queId);
            },
            findQuestionInReference(queId)
            {
                return this.referenceData.some(interv => interv.val == queId);
            },
            saveInterviewAndReferances()
            {
                let vm=this;
                vm.$validator.validateAll().then(() => {
                  if (!this.errors.any()) {
                        //console.log(vm.referenceData);
                        let data={'userType':vm.userType,'loginId':vm.loginId,'interviewData':vm.interviewData,'currentDate':vm.currentDate,'userId':vm.userId,'interviewStatus':vm.interviewStatus,'referenceStatus':vm.referenceStatus,'referenceData':vm.referenceData};
                         vm.$store.commit("routeChange", "start");
                        ApiService.addInterviewAndReferance(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                toastr.success(response.data.message, '', {timeOut: 5000});
                               
                                //vm.$router.push({'name':'bookings'});
                            } 
                            else if (response.data.code == 300) {

                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                          }

                        )
                       
                    }
                })
            },
            addComment(e,typeId,queId)
            {
                _.find(this.interviewData,function(res) {
                    if(res.questionId==queId)
                    {
                        //console.log(e.target.value);
                        res.comment=e.target.value;
                    }
                });
            },
            addReferenceComment(e,typeId,queId)
            {
                _.find(this.referenceData,function(res) {
                    if(res.questionId==queId)
                    {
                        //console.log(e.target.value);
                        res.comment=e.target.value;
                    }
                });
            },
            getFormatDate(val)
            {
                return moment(String(val)).format('DD/MM/YYYY');
            }
        }
    }
</script>

