<template>
    <div>
        <div class="dropdown text-right mb-3">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apply Action
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" @click="deleteBoxdata(participnatIdChck,'multiple')" v-show="(paginationData.length > 0 )">Delete Selected</a>
            </div>
        </div>
        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">
                            <div class="custom-control custom-checkbox" v-show="(paginationData.length > 0 )">
                                <input type="checkbox" class="custom-control-input all-admin" id="all" @click="checkAll(this)" value="selectAll" >
                                <label class="custom-control-label" for="all">&nbsp;</label>
                            </div>
                        </th>
                    <th @click="sortByColumn('full_name')">
                       <!--  <th> -->
                            Name <a href="javascript:void(0)"> <i v-if="order === 'asc' && columnName=='full_name' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a> 
                        </th>
                    <th @click="sortByColumn('user.email')">
                       <!--  <th> -->
                            Email 
                            <a href="javascript:void(0)" > <i v-if="order === 'asc'  && columnName=='user.email'" class="fa fa-caret-up"></i>
                                <i v-else class="fa fa-caret-down"></i></a>
                        </th>
                     <th @click="sortByColumn('user_category.type')"> 
                       <!--  <th> -->
                            Participant Type 
                       <a href="javascript:void(0)" > <i v-if="order === 'asc' &&  columnName=='user_category.type'" class="fa fa-caret-up"></i>
                                <i v-else class="fa fa-caret-down"></i></a> 
                        </th>
                        <th v-if="(userData.userType == '2')" @click="sortByColumn('hiringManagerName')"> 
                        <!-- <th v-if="(userData.userType == '2')"> -->
                            Hiring Manager
                            <a href="javascript:void(0)" > 
                            <i v-if="order === 'asc' &&  columnName=='hiringManagerName'" class="fa fa-caret-up"></i>
                            <i v-else class="fa fa-caret-down"></i></a> 
                        </th>
                        <th class="text-center" >
                            Child Safeguarding
                            <!-- <a href="javascript:void(0)" > <i v-if="order === 'asc' " class="fa fa-caret-up"></i>
                            <i v-else class="fa fa-caret-down"></i></a> -->
                        </th>
                        <th class="text-center" @click="sortByColumn('user.engagementStatus')"> 
                        <!-- <th class="text-center"> -->
                            Status
                            <a href="javascript:void(0)" > <i v-if="order === 'asc' &&  columnName=='user.engagementStatus'" class="fa fa-caret-up"></i>
                            <i v-else class="fa fa-caret-down"></i></a>
                        </th>
                        <th class="text-center" width="170px">Action</th>

                    </tr>
                </thead>    

                <tbody  v-if="(paginationData.length > 0 )">
                    <!-- <tr v-for="participant,key,index in paginationData">   -->  <tr v-for="participant,key,index in paginationData">
                        <td class="text-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input chk-admin" :id="'participant_'+participant.userId" name="participnatIdChck[]"  v-model="participantListChck" :value="participant.userId">
                                <label class="custom-control-label" :for="'participant_'+participant.userId">&nbsp;</label>
                            </div>
                        </td>
                        <td>
                            <div class="media d-flex align-items-center">
                                <!-- <div class="media-body" v-text=setgivenName(participant.user_detail)>
                                </div> -->
                                <div class="media-body">{{participant.full_name}}</div>
                            </div>
                        </td>
                        <td>{{participant.email}}</td>
                       
                        <td>{{participant.userCategoryName}}</td>
                        
                        <td class="text-center" v-show="(userData.userType == '2')">   
                            <span>
                            {{ participant.hiringManagerName }}
                            </span>
                        </td>
                        <td class="text-center">
                            <span :class="[id.userId == participant.userId &&  id.rating  ==  'non_compliant'?'rating-circle badge-danger' :[id.userId == id.userId &&  id.rating  ==  'compliant'? 'rating-circle badge-success' : 'rating-circle badge-warning']]" v-if="(id.userId == participant.userId)" v-for="id in ratinList" ></span>
                        </td>
                        <td class="text-center">
                            <span :class="[participant.engagementStatus == 'active' ? 'badge badge-pill badge-success px-3 py-2' : [ participant.engagementStatus == 'inactive' ||  participant.engagementStatus == 'not_compliant' ? 'badge badge-pill badge-danger px-3 py-2': 'badge badge-pill badge-warning px-3 py-2']]" v-if="(participant.engagementStatus != '' || participant.engagementStatus != null)">{{participant.engagementStatus | engagementStatusName}}</span>
                            <span class="badge badge-pill badge-warning px-3 py-2" v-else>In Process</span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-icon mr-0 mr-lg-1 mb-1 mb-lg-0" type="submit" @click="updateParticipant(participant.userId)"><i class="icon icon-pencil" ></i></button>
                            <button class="btn btn-primary btn-icon mr-0 mr-lg-1 mb-1 mb-lg-0" type="button" @click="deleteBoxdata(participant.userId,'single')"><i class="icon icon-delete"></i></button>
                            <button v-if="(userData.userType == '2')" class="btn btn-primary btn-icon py-1" type="button" @click="viewDocuments(participant.userId)" title="Verify Documents"><i class="fa fa-check-circle"></i></button>
                        </td>
                    </tr>
                </tbody>
                    <tbody  v-else>
                    <tr ><td colspan="8" class="text-center"><span>No records found.</span></td></tr>
                </tbody>    
            </table>
            <confirmDelete :deleteConfirmMsg="deleteConfirmMsg" :redirectStatus="deletePageRedirectStatus" ></confirmDelete>
        </div>
    </div>
</template>
<script>

    import apiService from '../../../api/apiService.js';
    import confirmDelete from './confirmDeleteModel';


    export default {
        name: 'Listitng',
        props:['paginationData','pageSize','currentPage','order','columnName','ratinList'],

        data(){

            return{
                'userData' :{
                    'userType' :this.$store.state.User.userData.userTypeId,
                    'userId' :this.$store.state.User.userData.userId,
                    'email' : this.$store.state.User.userData.email,
                }, 
                'selectedParticipantList' : [],
                'participantListChck' :  [],
                'participnatDeleteType' : 'single',
                'participnatDeleteId' : '',
                'url' : 'participant/list',
                'deleteConfirmMsg':'Are you sure you want to delete?',
                'deletePageRedirectStatus' : false,
                'deletePageRedirect' : '',
                'deleteAction' : false,
                'sortingItem': true
            }
        },
        
         components: {
            confirmDelete
         },
         filters: {
            engagementStatusName: function (engagementStatus) {
                    
                    let result = '';
                    if(engagementStatus == 'applicationInProgress'){
                        result =  'Application in progress';
                    }else if(engagementStatus == 'active'){
                        result =  'Active';
                    }else if(engagementStatus == 'inactive'){
                        result =  'Inactive';
                    }else if(engagementStatus == 'not_compliant'){
                        result =  'Not compliant';
                    }else{
                        result = '';
                    }

                  return result;
             }
         },
         mounted(){
            let vm=this;
            let participantSelectedId = '';
           
            // participantSelectedId = vm.$store.state.participant.participnatId ? vm.$store.state.participant.participnatId : 0;


         },
         created: function() {
          this.$root.$on('confirmed', this.confirmDelete);
        },  
        destroyed() {
          this.$root.$off('confirmed', this.confirmDelete);
        },
        methods: {
            viewDocuments(pId)
            {
                this.$store.dispatch('SetParticipnatId',pId);
                this.$router.push({name:'adminParticipants',params: { id: pId,tab : 'documents'}});
            },
            sortByColumn(column) {
                this.$root.$emit('sortByColumn',column);
            },
            setHMName(hmuDetails){
                if(hmuDetails!= null) {
                    return hmuDetails.givenName + ' ' + hmuDetails.surName;
                } 
                 return "";
               
            },
            confirmDelete(){
            let vm=this;
               $('#confirm_modal').modal('hide');
               vm.removeParticipnat(vm.participnatDeleteId,vm.participnatDeleteType);
            },
            setgivenName(userData){
                if(userData!= null) {
                    return userData.givenName + ' ' + userData.surName;
                } 
                 return "";
            },
            setCategoryName(userCategory){
                if(userCategory!= null) {
                    return userCategory.type;
                } 
                 return "";
            },
            deleteBoxdata(participantId,type){
                let vm = this;
                $('#confirm_modal').modal('show'); 
                vm.participnatDeleteType = type;
                vm.participnatDeleteId = participantId; 
            },
            checkAll()
            {   
                let vm = this;
                var chkRemoveParticipnat=[];
                 if($('#all').is(':checked') == true) { 
                    $('.custom-checkbox input').prop('checked', true);
                    $(".chk-admin:checked").each(function(){
                      chkRemoveParticipnat.push($(this).val());
                     });
                    }
                else
                {
                    var chkRemoveParticipnat=[];
                    $('.custom-checkbox input').prop('checked', false);
                }
                vm.participantListChck = chkRemoveParticipnat;
            },
            updateParticipant(participnatId){
                let vm=this;
                vm.$store.dispatch('SetParticipnatId',participnatId);
                vm.$router.push({name:'adminParticipants',params: { id: participnatId,tab : 'childSafeguarding'}});
            },
            removeParticipnat(participantId,type){

                let vm = this;
                let callApi = true;
                let data =  {
                          'participantId': participantId,
                          'userData' : vm.userData,
                          'type' : type,
                          'selectedParticipantList': vm.participantListChck,
                        };

                    if(type == 'multiple'){
                        
                        if( vm.participantListChck.length == 0){
                            callApi = false;

                             toastr.error('Please select participant.', '', {timeOut: 5000});
                             
                        }
                    }
                    if(callApi == true){
                        vm.$store.commit("routeChange", "start");

                        apiService.deleteParticipant(data).then(

                            (response) =>{
                                vm.$store.commit("routeChange", "end");
                                    if(response.data.code == 200){
                                        toastr.success(response.data.message, '', {timeOut: 5000});
                                        vm.$root.$emit('getPaginationListPage',vm.url);
                                        
                                        vm.$store.dispatch('SetParticipantSearchName','');
                                        vm.$store.dispatch('SetParticipantSearchEmail','');
                                        this.$root.$emit('searchfieldValue');
                                   // vm.$root.$emit('setPerPage');
                                    } 
                                    else if (response.data.code == 300) {
                                        toastr.error(response.data.message, '', {timeOut: 5000});
                                    }
                                    else
                                    {
                                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                    }
                            },
                            (error) => {
                            }
                        );
                    }
                }

          }

         
    }
</script>

