<template>
    <div class="loginImg-wrapper">
        <div class="login-overlay"></div>
        <div class="loginTmg-inner">
            <h1>Join Our Community</h1>
            <!-- <h1 v-html="this.$route.meta.breadcrumb">Text</h1> -->
            <div class="my-4">
                <p>We believe every child and young person has the right to live a life free from any form of violence, and deserves to grow up in a safe, peaceful, nurturing and enabling environment where they can fully exercise their rights.</p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'LoginRight'
}
</script>



