<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Attendance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm the date and time of the session held.</p>
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Participant Given name *</label>
                                <input type="text" class="form-control" placeholder="Josephine" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Participant Last name *</label>
                                <input type="text" class="form-control" placeholder="Mentor" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input id="from_date" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input id="from_time" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-clock"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-primary btn-lg mr-3">Confirm</button> 
                        <button type="submit" class="btn btn-primary btn-lg">Cancel</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>