<template>
    <div>
       <div class="row mt-3">
          <div class="col-md-8">
            <div class="row">
              <div class="col-sm-4">
                <select class="form-control" name="searchKey" id="searchKey" v-model="searchKey">
                    <option :value="null">Select</option>
                    <option v-for="searchD in searchDataListSelect" :value="searchD.key">{{searchD.text}}</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input type="text" name="searchText" class="form-control input-lg ipt_size2" placeholder="Search Value" id="searchText" v-model="searchText" @keypress.enter="submitSearch()">
              </div>
              
              <div class="col-sm-2">
                <button type="submit" id="submitBtn" name="submitSearch" @click="searchData()" class="btn btn-primary btn-block" ref="myBtn">Search</button>
              </div>
              <div class="col-sm-2">
                 <button type="button" name="clear" @click="clearSearchData()" class="btn btn-danger btn-block">Clear</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="dropdown">
              <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apply Action
              </button>
              <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" @click="multipleDeleteAction">Delete</a>
                <a class="dropdown-item"  @click="multipleActiveAction">Active</a>
                <a class="dropdown-item"   @click="multipleInactiveAction">Inactive</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
    export default {
        props:['searchDataListSelect','searchDataAll'],
        data() {
            return {
              'searchKey':'',
              'searchText':''
            }
        },
        mounted() {
          let vm=this;
          vm.setSearchData();
        },
        methods: {
          submitSearch()
          {
              var elem = this.$refs.myBtn;
              elem.click()
          },
          setSearchData()
          {
              let vm=this;
              let sData=vm.searchDataAll;
              if(sData)
              {

                  if(sData.searchKey)
                  {
                      vm.searchKey=sData.searchKey;
                  }
                  else
                  {
                      vm.searchKey=null;
                  }
                 
                  if(sData.searchText)
                  {
                      vm.searchText=sData.searchText;
                  }
                  else
                  {
                      vm.searchText='';
                  }
                  
              }
              else
              {
                  vm.searchKey=null;
                  vm.searchText='';
              }
             
          },
          clearSearchData()
          {
              let vm=this;
              vm.searchKey=null;
              vm.searchText=''; 
              vm.$root.$emit('searchClearResult',1);
          },
          searchData()
          {
              let vm=this;
              let searchData={'searchKey':vm.searchKey,'searchText':vm.searchText};
              if(vm.searchKey == '' || vm.searchText == ''){
                toastr.error('Please select your search criteria.','', {timeOut: 3000});
                return false;
              }
              vm.$root.$emit('searchDataResult',searchData);
          },
          multipleDeleteAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select cehckbox to apply action.', {timeOut: 3000});
              return false;
            }
            this.$root.$emit('multipleDeleteAction',1);
          },
          multipleActiveAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select cehckbox to apply action.', {timeOut: 3000});
              return false;
            }
            this.$root.$emit('multipleStatusUpdate','active');
          },
          multipleInactiveAction(){
            let cLength =  this.getSelectedRecords();
            if (!cLength) {
              toastr.error('', 'Please select cehckbox to apply action.', {timeOut: 3000});
              return false;
             }
            this.$root.$emit('multipleStatusUpdate','inactive');
          },
          getSelectedRecords()
          {
            var selectedData=[];
            var i = 0;
            $(".chk-global:checked").each(function(){
                selectedData.push(i);
                i++;
             });
            return selectedData.length;
          }
        }
    }
</script>
