<template>
    <div class="text-right">
        <a :href="prevUrl" class="mr-2 navigation-arrow" data-toggle="tooltip" data-placement="bottom" title="Previous" v-if="(prevStatus == true)"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></a>
        <a :href="nextUrl" class="navigation-arrow" data-toggle="tooltip" data-placement="bottom" title="Next" v-if="(nextStatus == true)"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a>
    </div>
</template>
<script>
export default {
        props:['prevStatus','prevUrl','nextUrl','nextStatus'],
}
</script>