<template>
    <div class="row pagination-wrapper align-items-center" v-show="(paginationData.total > 0)">
        <div class="col-md-5">
            Showing {{paginationData.from}} - {{paginationData.to}} of {{paginationData.total}} entries 
        </div>
        <div class="col-md-7">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start justify-content-md-end mt-2 mt-md-0 mb-0">
                    <!-- v-bind:class="[paginationData.currentPage!=1 ? 'page-item' : 'page-item disabled']" -->
                     <li class="page-item" v-if="paginationData.currentPage!=1"><a class="page-link" href="javascript:void(0)"  @click="getDetailsPageByIndex(1)">First</a></li>

                    <li class="page-item" v-if="paginationData.currentPage!=1"><a class="page-link" href="javascript:void(0)"  @click="getDetailsPage(paginationData.prevPageUrl)">Previous</a></li>


                    <li v-for="record_pagination,index in paginationData.lastPage" v-bind:class="[paginationData.currentPage==++index ? 'page-item active' : 'page-item']">

                      <span v-if="Math.abs(record_pagination - paginationData.currentPage)<3">
                          <a class="page-link" href="javascript:void(0)" @click="getDetailsPageByIndex(index)">{{index}}</a>
                      </span>
                     <!--  <span v-if="Math.abs(record_pagination - paginationData.currentPage)>1">
                            <a class="page-link" href="javascript:void(0)">....</a>
                      </span> -->
                      
                    </li> 

                    <!-- v-bind:class="[paginationData.currentPage!=paginationData.lastPage ? 'page-item' : 'page-item disabled']" -->
                    <li class="page-item" v-if="paginationData.currentPage!=paginationData.lastPage"><a class="page-link" href="javascript:void(0)" @click="getDetailsPage(paginationData.nextPageUrl)">Next</a></li>

                    <li class="page-item" v-if="paginationData.currentPage!=paginationData.lastPage"><a class="page-link" href="javascript:void(0)"  @click="getDetailsPageByIndex(paginationData.lastPage)">Last</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>
<script>
    export default {
        props:['paginationData'],
        data() {
            return {
              
            }
        },
        mounted() {
        },
        methods: {
          getDetailsPage(pageUrl)
          {
              this.$root.$emit('getPaginationListPage',pageUrl);
          },
          getDetailsPageByIndex(index)
          {
              this.$root.$emit('getDetailsPageByIndex',index);
          }
         
        }
    }
</script>

