<template>
                <div class="card-body">
                    <form class="form-horizontal" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Given name *</label>
                                    <input type="text" class="form-control" placeholder="Given name" value="" v-validate="'required|alpha_spaces'" v-model="participantData.givenName" id="participantGivenName" name="participantGivenName" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantGivenName')">
                                        Please enter valid given name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Surname *</label>
                                    <input type="text" class="form-control" placeholder="Surname" value=""  v-validate="'required|alpha_spaces'" v-model="participantData.surName" id="participantSurName" name="participantSurName" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantSurName')">
                                        Please enter valide surname.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Preferred name </label>
                                    <input type="text" class="form-control" placeholder="Preferred name" value=""  v-validate="'alpha_spaces'" v-model="participantData.perferredName" id="participantPerferredName" name="participantPerferredName" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantPerferredName')">
                                         Please enter valid preferred name.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input type="text" class="form-control" placeholder="Email" value=""  v-validate="'required|email'" v-model="participantData.email" id="participantEmail" name="participantEmail"  @change="checkExistEmailId" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantEmail')">
                                         Please enter valid email.
                                    </div>
                                     <div class="is-danger" v-show="(emailExist == 1)">
                                        Email id already exist.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Occupation</label>
                                    <input type="text" class="form-control" id="occupation" placeholder="Occupation" v-validate="" v-model="participantData.occupation" name="occupation" >
                                        <span class="help is-danger" v-show="errors.has('occupation')">Please enter valid Occupation.</span> 
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date of birth </label>
                                    <div class="input-group mb-3">
                                       <input id="start_date1" placeholder="dd/mm/yyyy" class="form-control border-right-0 datepicker" v-model="participantData.dob" v-validate="''" name="dob" disabled=""/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar" @click="dpOpen()"></i></span>
                                        </div>
                                        <div class="is-danger" v-show="errors.has('dob')">
                                            Please select date of birth.
                                        </div>
                                        <div class="is-danger" v-show="(participantData.dob != '' && participantData.age < 18)">We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss</div>
                                    </div>
                                       
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@plan.org.au email </label>
                                    <input type="text" class="form-control" placeholder="ORG Email" value="" v-validate="'email'" v-model="participantData.orgEmail" id="participantOrgEmail" name="participantOrgEmail" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantOrgEmail')">
                                         Please enter valid org email.
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contact phone *</label>
                                      <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text p-0 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'required|numeric|min:2'" v-model="participantData.contactNoPrefix" id="contactNoPrefix" name="contactNoPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix" >
                                           
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact phone" value="" v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="participantData.contactNo" id="participantContactNo" name="participantContactNo" :maxlength="validationLimit.maxContactNoField">
                                    </div>
                                    <div class="is-danger"  v-show="errors.has('participantContactNo')">
                                        Please enter valid contact phone.
                                    </div>
                                    <div class="is-danger"  v-show="errors.has('contactNoPrefix')">
                                            Please enter valid country code.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address </label>
                                    <input type="text" class="form-control"  placeholder="Address" value="" v-validate="" v-model="participantData.address" id="participantAddress" name="participantAddress"  :maxlength="120">
                                     <div class="is-danger" v-show="errors.has('participantAddress')">
                                        Please enter valid address.
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                 <label>Contact phone 2</label>
                                <div class="input-group">
                                <div class="input-group-prepend border-right-0">
                                    <div class="input-group-text p-0 pl-2">
                                            +
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|min:2'" v-model="participantData.contactNo2Prefix" id="contactNo2Prefix" name="contactNo2Prefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                                </div>

                                <input type="text" class="form-control" placeholder="Contact phone 2" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="participantData.contactNo2" id="participantContactNo2" name="participantContactNo2" :maxlength="validationLimit.maxContactNoField">
                            </div>
                            <div class="is-danger" v-show="errors.has('participantContactNo2')">
                                 Please enter valid contact phone 2.
                            </div>
                             <div class="is-danger"  v-show="errors.has('contactNo2Prefix')">
                                    Please enter valid country code.
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Aboriginal / Torres Strait Islander </label>
                                    <div class="select2-control">
                                        <select class="form-control ls-select2" id="aboriginal" name="aboriginal" v-model="participantData.aboriginal" v-validate="">
                                            <option value="no">No</option>
                                            <option value="yes_aborig">Yes, Aboriginal</option>
                                            <option value="yes_islander">Yes, Torres Strait Islander </option>
                                            <option value="yes_aborig_islander">Yes, Aboriginal and Torres Strait Islander </option>
                                            <option value="pre_not_dis">Prefer not to disclose</option>
                                        </select>
                                     </div>
                                      <!--   <span class="help is-danger" v-show="errors.has('aboriginal')">Please enter aboriginal.</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="form-group">
                                    <label>Do you speak a language other than English at home? </label>
                                    <div>
                                         <div class="custom-control custom-radio d-inline mr-2">
                                            <input id="speakOtherLanguageY" name="speakOtherLanguage" type="radio" class="custom-control-input" v-model="participantData.speakOtherLanguage" value="Y" v-validate="">
                                            <label class="custom-control-label" for="speakOtherLanguageY">Yes</label>
                                        </div>
                                         <div class="custom-control custom-radio d-inline mr-2">
                                            <input id="speakOtherLanguageN" name="speakOtherLanguage" type="radio" class="custom-control-input" value="N" v-validate="" v-model="participantData.speakOtherLanguage">
                                            <label class="custom-control-label" for="speakOtherLanguageN">No</label>
                                        </div>
                                    </div>
                                    <span v-if="participantData.speakOtherLanguage=='Y'">
                                        <input type="text" class="form-control mt-3" placeholder="Language" name="speakOtherLanguageComment" v-validate="'max:50'" v-model="participantData.speakOtherLanguageComment">
                                        <div class="is-danger"  v-show="errors.has('speakOtherLanguageComment')">
                                            Maximum characters must be less than 50 characters.
                                        </div> 
                                    </span>
                                       <!--  <span class="help is-danger" v-show="errors.has('speakOtherLanguage')">Please check speak a language other than English at home.</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="form-group">
                                    <label>Was one or both of your parents born outside of Australia? </label>
                                    <div>
                                          <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="parentsOutsideAustraliaY" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="Y" v-validate="" v-model="participantData.parentsOutsideAustralia">
                                            <label class="custom-control-label" for="parentsOutsideAustraliaY">Yes</label>
                                        </div>
                                         <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="parentsOutsideAustraliaN" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="N" v-validate="" v-model="participantData.parentsOutsideAustralia">
                                            <label class="custom-control-label" for="parentsOutsideAustraliaN">No</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="parentsOutsideAustraliaP" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="prefer_not_to_disclose" v-validate="" v-model="participantData.parentsOutsideAustralia">
                                            <label class="custom-control-label" for="parentsOutsideAustraliaP">Prefer not to disclose</label>
                                        </div>
                                    </div>
                                    <span v-if="participantData.parentsOutsideAustralia=='Y'">
                                        <input type="text" class="form-control mt-3" placeholder="Country" name="parentsOutsideAustraliaComment"  v-validate="'max:50'" v-model="participantData.parentsOutsideAustraliaComment">
                                        <div class="is-danger"  v-show="errors.has('parentsOutsideAustraliaComment')">
                                            Maximum characters must be less than 50 characters.
                                        </div> 
                                    </span>
                                       <!--  <span class="help is-danger" v-show="errors.has('bornOutsideustralia')">Please check one or both of your parents born outside of Australia.</span> -->
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-xl-8">
                                <div class="form-group">
                                    <label>Were you born outside of Australia? </label>
                                    <div>
                                         <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="bornOutsideustraliaY" name="bornOutsideustralia" type="radio" class="custom-control-input" value="Y" v-validate="" v-model="participantData.bornOutsideustralia">
                                            <label class="custom-control-label" for="bornOutsideustraliaY">Yes</label>
                                        </div>
                                         <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="bornOutsideustraliaN" name="bornOutsideustralia" type="radio" class="custom-control-input" value="N" v-validate="" v-model="participantData.bornOutsideustralia">
                                            <label class="custom-control-label" for="bornOutsideustraliaN">No</label>
                                        </div>
                                         <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="bornOutsideustraliaP" name="bornOutsideustralia" type="radio" class="custom-control-input" value="prefer_not_to_disclose" v-validate="" v-model="participantData.bornOutsideustralia">
                                            <label class="custom-control-label" for="bornOutsideustraliaP">Prefer not to disclose</label>
                                        </div>
                                    </div>
                                    <span v-if="participantData.bornOutsideustralia=='Y'">
                                        <input type="text" class="form-control mt-3" placeholder="Country" name="bornOutsideustraliaComment" v-validate="'max:50'" v-model="participantData.bornOutsideAustraliaComment">
                                        <div class="is-danger"  v-show="errors.has('bornOutsideustraliaComment')">
                                            Maximum characters must be less than 50 characters.
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Disability </label>
                                    <div class="select2-control">
                                        <select class="custom-select ls-select2" v-model="participantData.disability" id="participantDisability" name="participantDisability">
                                            <option value="">Select</option>
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                            <option value="pre_not_dis">Prefer not to disclose</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender </label>
                                    <div class="select2-control">
                                        <select class="custom-select ls-select2" v-model="participantData.gender" id="participantGender" name="participantGender">
                                            <option value="">Select</option>
                                            <option value="female">Female</option>
                                            <option value="male">Male</option>
                                            <option value="pre_not_dis">Prefer not to disclose</option>
                                            <option value="self_desc">Self-describe</option>
                                        </select>
                                    </div>
                                  </div>
                                 <div class="form-group" v-if="(participantData.gender == 'self_desc')">
                                    <input type="text" class="form-control" placeholder="Self Describe" value="" v-validate="'alpha_spaces'" v-model="participantData.selfDescribeValue" id="selfDescribeValue" name="selfDescribeValue"  :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('selfDescribeValue')">
                                         Please enter valid self describe.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mt-3 mb-4">EMERGENCY CONTACTS</h3>
                        <div class="row">
                            <div class="col-sm-12 col-xl-4">
                                <div class="form-group">
                                    <label>Emergency contact (Primary) *</label>
                                    <input type="text" class="form-control" placeholder="Emergency contact (Primary)" value="" v-validate="'required|alpha_spaces'" v-model="participantData.emergencyPrimary" id="participantEmergencyPrimary" name="participantEmergencyPrimary" 
                                    :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimary')" >
                                       Please enter valid emergency contact (Primary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Relationship *</label>
                                    <input type="text" class="form-control" placeholder="Relationship" value="" v-validate="'required|alpha_spaces'" v-model="participantData.relationshipPrimary" id="participantRelationshipPrimary" name="participantRelationshipPrimary" :maxlength="validationLimit.maxRelationField">
                                    <div class="is-danger" v-show="errors.has('participantRelationshipPrimary')">
                                          Please enter valid relationship (Primary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Contact number *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text p-0 pl-2">
                                               +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'required|numeric|min:2'" v-model="participantData.emergencyPrimaryContactPrefix" id="emergencyPrimaryContactPrefix" name="emergencyPrimaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact number" value=""  v-validate="{ required:true ,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="participantData.emergencyPrimaryContact" id="participantEmergencyPrimaryContact" name="participantEmergencyPrimaryContact" :maxlength="validationLimit.maxContactNoField">
                                    </div>
                                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimaryContact')">
                                        Please enter valid contact phone (Primary).
                                    </div>
                                      <div class="is-danger"  v-show="errors.has('emergencyPrimaryContactPrefix')">
                                            Please enter valid country.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xl-4">
                                <div class="form-group">
                                    <label>Emergency contact (Secondary) </label>
                                    <input type="text" class="form-control" placeholder="Emergency contact (Secondary)" value="" v-validate="'alpha_spaces'" v-model="participantData.emergencySecondary" id="participantSecondaryPrimary" name="participantSecondaryPrimary" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantSecondaryPrimary')">
                                        Please enter valid  emergency contact (Secondary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Relationship </label>
                                    <input type="text" class="form-control"  placeholder="Relationship" value="" v-validate="'alpha_spaces'" v-model="participantData.relationshipSecondary" id="participantRelationshiprelationshipSecondary" name="participantRelationshiprelationshipSecondary" :maxlength="validationLimit.maxRelationField">
                                    <div class="is-danger" v-show="errors.has('participantRelationshiprelationshipSecondary')">
                                        Please enter valid  relationship (Secondary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Contact number </label>
                                    <div class="input-group">
                                    <div class="input-group-prepend border-right-0">
                                        <div class="input-group-text p-0 pl-2">
                                            +
                                        </div>
                                    </div>
                                    <div class="input-group-prepend">
                                           <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|min:2'" v-model="participantData.emergencySecordaryContactPrefix" id="emergencySecordaryContactPrefix" name="emergencySecordaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Contact number" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="participantData.emergencySecordaryContact" id="participantEmergencySecondaryContact" name="participantEmergencySecondaryContact"  :maxlength="validationLimit.maxContactNoField">

                                </div>
                                <div class="is-danger" v-show="errors.has('participantEmergencySecondaryContact')">
                                    Please enter valid contact phone (Secondary).
                                </div>
                                   <div class="is-danger"  v-show="errors.has('emergencySecordaryContactPrefix')">
                                        Please enter valid country.
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Is the candidate legally entitled to work in {{ participantData.pacificBaseCountry === 'fiji' ? 'Fiji' : participantData.pacificBaseCountry === 'papua_new_guinea' ? 'Papua New Guinea' : participantData.pacificBaseCountry === 'solomon_islands' ? 'Solomon Islands' : 'this country' }}? </label>
                                      <div>
                                        <p class="custom-control custom-radio d-inline mr-3">
                                            <input type="radio" class="custom-control-input" id="Candidate-yes" name="legalWorkInAustralia" v-model="participantData.legalWorkInAustralia" checked="checked" value="Y">
                                            <label class="custom-control-label" for="Candidate-yes">Yes</label>
                                        </p>
                                        <p class="custom-control custom-radio d-inline ">
                                            <input type="radio" class="custom-control-input" id="Candidate-no" name="legalWorkInAustralia" v-model="participantData.legalWorkInAustralia" value="N">
                                            <label class="custom-control-label" for="Candidate-no">No</label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Please provide details and attach a copy of visa if  applicable </label> 
                                   <div>
                        <div v-if="!participantData.visaCopy && !visaUploadedImg">
                            <label class="btn-bs-file btn btn-lg btn-primary mb-0">
                                    Browse
                                <input id="visaCopy" name="visaCopy" type="file"  class="btn btn-info"   @change="previewFile" accept="image/*" v-validate="'ext:jpeg,jpg,pdf,png,bmp'" data-vv-as="image">
                            </label>
                             <p class="mb-0"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
          <small> * Accepted file size: less than 1MB</small></p>
                            <div class="is-danger" v-show="errors.has('visaCopy')">
                                    Please enter valid file.
                            </div> 
                        </div>
                        <!-- <div class="col-md-9"  v-if="!participantData.visaCopy">
                            <input id="visaCopy" name="visaCopy" type="file"  class="btn btn-info"  @change="previewFile" accept="image/*" >
                            <div class="is-danger">
                                Please enter valid file.
                            </div> 
                        </div> -->
                            <div v-else>
                                 <div v-show="(fileExt == 'pdf')">
                                    <strong>
                                        <span v-if="visaUploadedImg!=''">
                                            <a :href="visaUploadedImg" target="_blank">Visa File</a>
                                        </span>
                                        <span v-else>
                                            Visa File
                                        </span>
                                    </strong>
                                </div>
                                <div class="upload-image" v-if="(participantData.visaCopy != '' && visaUploadedImg == ''  && fileExt != 'pdf')">
                                    <img :src="participantData.visaCopy" width="350" height="100"/>
                                </div>
                                 
                                <div  class="upload-image" v-if="(participantData.visaCopy == '' && visaUploadedImg != ''  && fileExt != 'pdf')"> <img :src="visaUploadedImg" width="350" height="100"/></div>
                               
                                <!-- <div class="upload-image" v-else>
                                    <strong>{{participantData.visaFileVal}}</strong>
                                    </div> -->
                                <a href="javascript:void(0)" class="mt-1 d-inline-block" @click="removeImage"><i class="icon-delete mr-1" @click="removeImage"></i> Remove file</a>
                            </div>
                                 </div>  
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Residential status </label>
                                    <div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="australianCitizen" name="residentialStatus" type="radio" class="custom-control-input" checked="" v-model="participantData.residentialStatus" value="australian_citizen">
                                            <label class="custom-control-label" for="australianCitizen">Citizen</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="resident" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="resident">
                                            <label class="custom-control-label" for="resident">Resident</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="workVisa" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="work_visa">
                                            <label class="custom-control-label" for="workVisa">Work Visa</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline">
                                            <input id="Other" name="residentialStatus" type="radio" class="custom-control-input" v-model="participantData.residentialStatus" value="other">
                                            <label class="custom-control-label" for="Other">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" v-if="(participantData.residentialStatus == 'other')">
                                <div class="form-group">
                                    <label>Other residential status *</label>
                                    <input type="text" class="form-control" placeholder="Other residential status" name="otherResidentialStatus" id="otherResidentialStatus" v-model="participantData.otherResidentialStatus" v-validate="'required'">
                                    <span class="help is-danger" v-show="errors.has('otherResidentialStatus')">Please check Other Residential status.</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div>
                                        <p class="custom-control custom-checkbox d-inline mr-3">
                                            <input type="checkbox" class="custom-control-input" id="confirmInformation" v-model="participantData.confirm" name="userConfirm"  v-validate="'required'" :disabled="(userData.userType == '3' || userData.userTypeName == 'HMU' )" value="Y" >
                                            <label class="custom-control-label" for="confirmInformation">I confirm that the information I have given on this form is complete and correct.</label>
                                            <br/>
                                             <span class="help is-danger" v-show="errors.has('userConfirm')">Please confirm the information entered is complete and correct.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group mb-3 disabled">
                                        <input id="start_date2" type="text" placeholder="" class="form-control border-right-0" disabled  v-model="participantData.confirmDate"  name="confirmDate">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center my-4">
                            <button class="btn btn-primary btn-lg mr-3" type="button" @click="updateParticipnat()">Save</button>
                            <button class="btn btn-primary btn-lg" type="button"  @click="getComponent('participantList')">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import apiService from '../../../api/apiService.js';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import moment from 'moment';

    export default {

        name: 'personaldetailRight',
        props:['participnatId'],
        data() {
            return {
                  'userData' :{
                      'userType' :this.$store.state.User.userData.userTypeId,
                      'userId' :this.$store.state.User.userData.userId,
                      'email' : this.$store.state.User.userData.email,
                      'userTypeName' : '',
                }, 
                'validationLimit' : {
                    'maxNameField' : 55,
                    'maxNameFieldErrorMsg' : 'Maximum allow 55 character',
                    'maxContactNoFieldPreFix' : 2,
                    'maxContactNoField' : 10,
                    'maxRelationField' : 20,
                },
                'emailExist' : 0,
                'fileExt' : '',
                'fileName' : '',
                'participantData' : {
                    'givenName' : '',
                    'surName' : '',
                    'hiringManager' : '',
                    'perferredName' : '',
                    'occupation':'',
                    'email' : '',
                    'dob' : '',
                    'age' : 0,
                    'orgEmail' : '',
                    'contactNo' : '',
                    'contactNoPrefix' : '61',
                    'contactNo2' : '',
                    'contactNo2Prefix' : '61',
                    'address' : '',
                    'aboriginalValue' : '',
                    'speakOtherLanguage':'',
                    'speakOtherLanguageComment':'',
                    'parentsOutsideAustralia':'',
                    'parentsOutsideAustraliaComment':'',
                    'bornOutsideustralia':'',
                    'bornOutsideAustraliaComment':'',
                    'disability' : '',
                    'gender' : '',
                    'selfDescribeValue' : '',
                    'pacificBaseCountry' : '',
                    'emergencyPrimary' : '',
                    'relationshipPrimary' : '',
                    'emergencyPrimaryContact' : '',
                    'emergencyPrimaryContactPrefix' : '61',
                    'emergencySecondary' : '',
                    'relationshipSecondary' : '',
                    'emergencySecordaryContact' : '',
                    'emergencySecordaryContactPrefix' : '61',
                    'legalWorkInAustralia' : 'Y',
                    'visaCopy' : '',
                    'residentialStatus' : 'australian_citizen',
                    'otherResidentialStatus' : '',
                    'confirm' : '',
                    'confirmDate' : moment().format('DD/MM/YYYY'),
                    'profileCompleteDate':moment().format('DD/MM/YYYY'),
                    'profileCompleteTime':moment().format("HH:mm a"),
                    'userDetailId' : '',
                    'baseUrl' : '',
                },
                'emailExist' : 0,
                'visaUploadedImg' : '',
            }
        },
        components: {
          
        },
        created() {
            /*this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/

        },
        mounted: function() {
            let vm=this;
            vm.$route.meta.backProcessCheck = true;
            $('[data-toggle="tooltip"]').tooltip();

            $('.ls-select2').select2({
                placeholder: "Select"
            });

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate:  '+0d',
            });

            $('.datepicker').datepicker().on('changeDate input focusout',function(){
                vm.participantData.dob = this.value;
               vm.getAgeCal();

            });
            $('#participantDisability').on("select2:select", function (e) {
                vm.participantData.disability =this.value;
            });

             $('#aboriginal').on("select2:select", function (e) {
                vm.participantData.aboriginalValue =this.value;
            }); 
            $('#participantGender').on("select2:select", function (e) {
                vm.participantData.gender =this.value;
            });

            // setTimeout(function(){
            // if(vm.participantData.confirm == 'Y'){
            //     $('#confirmInformation').prop('checked', true);
            //  }else{
                
            //         $('#confirmInformation').prop('checked', false);
                
            //  }
            // },5000)
            // $('#participantDisability').val(vm.participantData.disability).trigger('change');
            //     $('#aboriginal').val(vm.participantData.aboriginalValue).trigger('change');
            //     $('#participantGender').val(vm.participantData.gender).trigger('change');

            var base_url = window.location.origin;
            vm.baseUrl = base_url;

            vm.initData();
        },
        methods: {
            getAgeCal() { 
        	  	let vm =this;
		        vm.handleDOBChanged();
            },
             handleDOBChanged() { 	
                       	let vm =this;
				   		 vm.participantData.age = '';
				      if (vm.isDate(vm.participantData.dob)) { 
				        var ageCal = vm.calculateAge(vm.parseDate(vm.participantData.dob), new Date());	
				         vm.participantData.age = ageCal; 		
				      }     	
				},	
				parseDate(dateStr) {
				  	var dateParts = dateStr.split("/");
				   	return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);		
				},	
				calculateAge (dateOfBirth, dateToCalculate) {
				    var calculateYear = dateToCalculate.getFullYear();	
				    var calculateMonth = dateToCalculate.getMonth();	
				    var calculateDay = dateToCalculate.getDate();	
				    var birthYear = dateOfBirth.getFullYear();	
				    var birthMonth = dateOfBirth.getMonth();	
				    var birthDay = dateOfBirth.getDate();	
				    var age = calculateYear - birthYear;	
				    var ageMonth = calculateMonth - birthMonth;	
				    var ageDay = calculateDay - birthDay;	
				    if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {	
			        age = parseInt(age) - 1;	
				    }	
				    if(age > 1){	
				    	return age ;
				    }	
				   	if(age == 1){	
						 return age;	
					}else{
						return 1;
					}/*else if(ageMonth != 0){	
						return ageMonth;	
					}else{	
						return ageDay;	
					}	*/
				},	
				isDate(txtDate) {	
				  var currVal =txtDate;

				  if (currVal == '')	
				    return true;	

				  //Declare Regex	
				  var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;	
				  var dtArray = currVal.match(rxDatePattern); // is format OK?	
					 
				  if (dtArray == null)	
				    return false;	
	
				  //Checks for dd/mm/yyyy format.	
				  var dtDay = dtArray[1];	
				  var dtMonth = dtArray[3];	
                  var dtYear = dtArray[5];	
					
				  if (dtMonth < 1 || dtMonth > 12)	 
				    return false;	
				  else if (dtDay < 1 || dtDay > 31)	 
				    return false;	
				  else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)	
				    return false;	
				  else if (dtMonth == 2) {	 
				    var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));	
				    if (dtDay > 29 || (dtDay == 29 && !isleap))	
				      return false;	
				  }	
	
				  return true;	
				},	
            dpOpen(){
                $('#start_date1').datepicker("show");
            },
            initData(){
                let vm=this;
                let userTypeId  = vm.userData.userType;
                vm.getTypeName(userTypeId);
                vm.getParticipantDataById(vm.participnatId);

            },
            getTypeName(typeId){
               let vm = this;
               let data =  {
                 'userTypeId': vm.userData.userType,
               };
               vm.$store.commit("routeChange", "start");
               apiService.getTypeName(data).then(

                    (response) =>{
                         if(response.data.code == 200){ 
                           vm.$store.commit("routeChange", "end");
                           vm.userData.userTypeName = response.data.data;
                        }
                    },
                    (error) =>{
                     }
               );
             },
             getComponent(componentName){

              let vm=this;
              vm.$router.push({'name':componentName});

             },
             getFileextesion(fileName)
            {
                return fileName.substring(fileName.lastIndexOf(".")+1);
            },
            previewFile(e){
                //$event.target.name, $event.target.files
                let vm =this;
                var imgData = [];
                var fileList = e.target.files;
                var fieldName = e.target.name;

                let fileData = new FormData();
                let extArray=['bmp','jpej','jpg','pdf','png'];
                var files = e.target.files || e.dataTransfer.files;

                 if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                     vm.fileExt = ext;
                    vm.fileName= fileList[x].name;
                    var fSize=vm.getFileSize(fileList[x].size);
                     if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else
                    if(_.includes(extArray, ext))
                    {
                        
                        fileData.append(fieldName, fileList[x], fileList[x].name);
                         if (files.length > 0)
                        { 
                            this.createImage(files[0]);
                        }
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                
            },
            getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            },
            createImage(file) {

                 // var image = new Image();
                  var reader = new FileReader();
                  var vm = this;

                  reader.onload = (e) => {
                    let getFile = e.target.result;
                     vm.participantData.visaCopy = getFile;
                  };
                  reader.readAsDataURL(file);
            },
             removeImage(e) {
                
                 let vm=this;
                 vm.participantData.visaCopy='';
                 vm.visaUploadedImg='';
             },
            checkExistEmailId(){
                let vm=this;
               
                let data =  {
                  'email': vm.participantData.email,
                };

                vm.$store.commit("routeChange", "start");
                apiService.checkExistEmailId(data).then(

                    (response) =>{
                        if(response.data.code == 200){
                             vm.$store.commit("routeChange", "end");
                            if(response.data.data > 0){
                                vm.emailExist = 1;
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }else{
                                vm.emailExist = 0;
                            }
                        }else if (response.data.code == 300) {
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                    },
                    (error) =>{
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }

                    )
            },
            getParticipantDataById(participnatId){

                let vm=this;
               
                let data =  {
                  'participnatId': participnatId,
                };
                let participnatDataResponce = '';

                vm.$store.commit("routeChange", "start");
                apiService.getParticipnatDataById(data).then(

                    (response) =>{
                        if(response.data.code == 200){
                            vm.$store.commit("routeChange", "end");
                            participnatDataResponce = response.data.data;
                            vm.participantData.givenName = participnatDataResponce.user_details.givenName;
                            vm.participantData.surName = participnatDataResponce.user_details.surName;
                            vm.participantData.hiringManager = participnatDataResponce.hiringManager;

                            vm.participantData.perferredName = participnatDataResponce.user_details.prefferedName;
                             vm.participantData.occupation = participnatDataResponce.user_details.occupation;
                            vm.participantData.email = participnatDataResponce.email;

                            vm.participantData.orgEmail = participnatDataResponce.orgEmail;
                            if(participnatDataResponce.user_details.dateOfBirth !=null){
                               vm.participantData.dob = this.getDateFormat(participnatDataResponce.user_details.dateOfBirth);
                              vm.getAgeCal();
                            }
                            if(participnatDataResponce.user_details.contactPhone!='' && participnatDataResponce.user_details.contactPhone!=null)
                                {
                                    let res=this.getSplitString(participnatDataResponce.user_details.contactPhone);
                                     vm.participantData.contactNoPrefix=res[0];
                                     vm.participantData.contactNo=res[1];
                                }
                            if(participnatDataResponce.user_details.contactPhone2!='' && participnatDataResponce.user_details.contactPhone2!=null)
                                {
                                    let res=this.getSplitString(participnatDataResponce.user_details.contactPhone2);
                                     vm.participantData.contactNo2Prefix=res[0];
                                     vm.participantData.contactNo2=res[1];
                                }
                             if(participnatDataResponce.user_details.address!=null)
                            {
                                
                                vm.participantData.address=participnatDataResponce.user_details.address;
                            }

                            vm.participantData.aboriginalValue=participnatDataResponce.user_details.aboriginal;
                            vm.participantData.speakOtherLanguage=participnatDataResponce.user_details.speakOtherLanguage;
                            vm.participantData.speakOtherLanguageComment=participnatDataResponce.user_details.speakOtherLanguageComment;
                            vm.participantData.parentsOutsideAustralia=participnatDataResponce.user_details.parentsOutsideAustralia;
                            vm.participantData.parentsOutsideAustraliaComment=participnatDataResponce.user_details.parentsOutsideAustraliaComment;
                            vm.participantData.bornOutsideustralia=participnatDataResponce.user_details.bornOutsideustralia;
                            vm.participantData.bornOutsideAustraliaComment=participnatDataResponce.user_details.bornOutsideAustraliaComment;
                            vm.participantData.disability=participnatDataResponce.user_details.disability;
                            vm.participantData.gender=participnatDataResponce.user_details.gender;
                            vm.participantData.pacificBaseCountry=participnatDataResponce.user_details.pacificBaseCountry;
                            if(participnatDataResponce.user_details.gender=='self_desc')
                            {
                                vm.participantData.selfDescribeValue=participnatDataResponce.user_details.selfDescribe;
                            }
                            else
                            {
                                vm.participantData.selfDescribeValue='';
                            }
                            
                            vm.participantData.emergencyPrimary=participnatDataResponce.user_details.emergencyContactPrimary;
                            vm.participantData.relationshipPrimary=participnatDataResponce.user_details.relationshipPrimary;
                            if(participnatDataResponce.user_details.contactPhonePrimary!='' && participnatDataResponce.user_details.contactPhonePrimary!=null)
                            {
                                let res=this.getSplitString(participnatDataResponce.user_details.contactPhonePrimary);
                                 vm.participantData.emergencyPrimaryContactPrefix=res[0];
                                 vm.participantData.emergencyPrimaryContact=res[1];
                            }
                           
                            vm.participantData.emergencySecondary=participnatDataResponce.user_details.emergencyContactSecondary;
                            vm.participantData.relationshipSecondary=participnatDataResponce.user_details.relationshipSecondary;
                            if(participnatDataResponce.user_details.contactPhoneSecondary!='' && participnatDataResponce.user_details.contactPhoneSecondary!=null)
                            {
                                let res=this.getSplitString(participnatDataResponce.user_details.contactPhoneSecondary);
                                 vm.participantData.emergencySecordaryContactPrefix=res[0];
                                 vm.participantData.emergencySecordaryContact=res[1];
                            }
                            vm.participantData.legalWorkInAustralia=participnatDataResponce.user_details.candidateLegalWorkAustralia;

                             if(participnatDataResponce.user_details.visaAttachments!=null)
                            { 
                                // vm.personalDetailsData.visaAttachments=participantDetails.user_details.visaAttachments;
                                let getFileName = participnatDataResponce.user_details.visaAttachments;
                                let storagePath = '/storage/';
                                let ext=vm.getFileextesion(participnatDataResponce.user_details.visaAttachments);
                                   vm.fileExt = ext;
                                if(getFileName != ''){
                                    vm.visaUploadedImg=storagePath+getFileName;
                                    if(ext == 'pdf'){
                                      let fileExplode = '';
                                      fileExplode = getFileName.split('/')  ;
                                      vm.fileName = fileExplode[1];
                                  }
                            
                                }
                            }
                           
                            vm.participantData.residentialStatus=participnatDataResponce.user_details.residentialStatus;   
                            vm.participantData.otherResidentialStatus=participnatDataResponce.user_details.otherResidentialStatus;
                            vm.participantData.confirm=participnatDataResponce.user_details.confirmInformation;
                            if(participnatDataResponce.profileCompleteDate!='' && participnatDataResponce.profileCompleteDate!=null)
                            {
                                vm.participantData.confirmDate=vm.getDateFormat(participnatDataResponce.profileCompleteDate);
                            }
                            vm.participantData.confirmTime=participnatDataResponce.profileCompleteTime;
                            vm.participantData.userDetailId=participnatDataResponce.user_details.userDetailId;
                            
                            if (participnatDataResponce.user_details.pacificBasedRole == "Y") {
                                vm.validationLimit.maxContactNoField = 15;
                            } else if (participnatDataResponce.user_details.pacificBaseRole == "N")  {
                                vm.validationLimit.maxContactNoField = 10;
                            }
                            if(vm.participantData.confirm == 'N'){
                                $('#confirmInformation').prop('checked', false);
                            }else{
                                  $('#confirmInformation').prop('checked', true);
                            }
                            setTimeout(function(){
                                $('#participantDisability').val(participnatDataResponce.user_details.disability).trigger('change');
                                $('#aboriginal').val(participnatDataResponce.user_details.aboriginal).trigger('change');
                                $('#participantGender').val(participnatDataResponce.user_details.gender).trigger('change');
                            },300);
                        }
                    },
                    (error) =>{
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }

                    )
            },
            updateParticipnat(){


                let vm=this;
                vm.$validator.validateAll().then(() => {
                  if (!this.errors.any()) {
                        if(vm.emailExist == 0 ){
                            if (vm.participantData.age >= 18 || vm.participantData.age === 0 || vm.participantData.dob == '') {
                        let data =  {
                          'participnatId': vm.participnatId,
                          'userData' : vm.userData,
                          'participantData': vm.participantData,
                        };
                        let participnatDataResponce = '';

                        vm.$store.commit("routeChange", "start");
                        apiService.updateParticipantDataById(data).then(
                            (response) =>{
                                if(response.data.code == 200){
                                    toastr.success(response.data.message, '', {timeOut: 5000});
                                     vm.$store.commit("routeChange", "end");
                                     vm.$route.meta.backProcessCheck = false;
                                    vm.getParticipantDataById(vm.participnatId);
                                    let searchData = vm.$store.state.participant.participantSearchData;
                                    vm.$root.$emit('searchResultData',searchData.data); 
                                    vm.$root.$emit('searchResultRatingList',searchData.rating);
                                    vm.$root.$emit('makePagination',searchData); 
                                    this.$root.$emit('searchfieldValue');
                                    //vm.getComponent('participantList');
                                } 
                                else if (response.data.code == 300) {
                                    vm.$route.meta.backProcessCheck = true;
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                                }
                                else
                                {
                                    vm.$route.meta.backProcessCheck = true;
                                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                }
                            },
                            (error) =>{
                                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }

                        )
                            }else{
                                vm.$route.meta.backProcessCheck = true;
                                 toastr.error('We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss.', '', {timeOut: 5000}); 
                            }
                        }else{
                            vm.$route.meta.backProcessCheck = true;
                            toastr.error('Email already exist.', '', {timeOut: 5000}); 
                        }
                    }
                    else
                    {
                        vm.$route.meta.backProcessCheck = true;
                        toastr.error('Please verify all fields.', '', {timeOut: 5000});
                    }
                })

            },
            getDateFormat(val)
             {
                return moment(String(val)).format('DD/MM/YYYY');
             },
             getSplitString(val)
             {
                return val.split('|');
             }
        }
}
</script>

