<template>
    <div class="card-body text-center">
        <!-- <div class="user-image rounded-circle border-danger mb-2">
            <img src="../../../../assets/images/profile.jpg" alt="" class="rounded-circle">
            <label class="btn-bs-file profile-camera rounded-circle mb-0 text-center">
            <i class="icon-camera"></i>
            <input type="file"></label>
        </div> -->
        <p class="text-center mb-1"><strong>{{fullName}}</strong></p>
        <p v-if="engagementStatus!='' && engagementStatus!=null">Engagement Status: 
            <span class="text-warning" v-if="engagementStatus=='applicationInProgress'">Application in progress</span>
            <span class="text-success" v-if="engagementStatus=='active'">Active</span>
            <span class="text-default" v-if="engagementStatus=='inactive'">Inactive</span>
            <span class="text-danger" v-if="engagementStatus=='not_compliant'">Not compliant</span>
        </p>
        <div v-if="userType == 2 && changeStatus">
            <p class="mb-2"><label>Change Status: </label></p>
            <select id="engagementStatus" class="status-control ls-select2 estatus">
                <option value="">Select</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div>
            <div class="row" v-if="userType == '2'">
                <div class="col-md-12">
                    <label>User Profiles:</label>
                    <div class="form-group">
                        <p class="custom-control custom-checkbox d-inline mr-3">
                            <input type="checkbox" class="custom-control-input" id="hmu" name="hmu" v-model='isHmu' disabled>
                            <label class="custom-control-label" for="hmu">HMU</label>
                        </p>
                        <p class="custom-control custom-checkbox d-inline mr-3">
                            <input type="checkbox" class="custom-control-input" id="admin" name="admin"v-model='isAdmin' disabled>
                            <label class="custom-control-label" for="admin">Admin</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="(showMsg == true)">
        * Fields are compulsory
        </div>
    </div>
</template>
<script>
import ApiService from '../../../api/apiService.js';
import _ from 'lodash';
 export default {
        props:['userId','participantAllStatus','showMsg','wwcStatus'],
        data() {
            return {
                'loginId':this.$store.state.User.userData.userId,
                'userType':this.$store.state.User.userData.userTypeId,
                'fullName':'',
                'engagementStatus':'',
                'changeStatus': false,
                'status': '',
                'participnatConfirmId': '',
                'participnatConfirmStatus': '',
                'isHmu': '',
                'isAdmin': ''
            }
        },
        created(){
            this.$root.$on('confirmStatus', this.confirmStatus);
            this.$root.$on('confirmStatusInProgress', this.confirmStatusInProgress);
        },
        mounted() {
            var vm = this;
            vm.initData();
            $('#engagementStatus').select2();

             $('#engagementStatus').on("select2:select", function (e) {
                vm.setStatus($('.estatus').val());
                vm.engagementStatus = $('#engagementStatus').val();
            });
        },
        methods: {
            initData(){
                let vm=this;
                
                vm.getFrontUserDetailsByUserId(vm.userId);
                    if (vm.userType == 2) {
                        setTimeout(function(){
                            if (vm.participantAllStatus.agreePolicy == 'satisfactory' && vm.participantAllStatus.contract == 'satisfactory' && vm.participantAllStatus.elearningStatus ==  'satisfactory' && vm.participantAllStatus.idDocument == 'satisfactory' && vm.participantAllStatus.interviewStatus == 'satisfactory' && vm.participantAllStatus.personalDetailStatus == true && vm.participantAllStatus.policeCheck == 'satisfactory' && vm.participantAllStatus.referenceCheckStatus == 'satisfactory' && vm.participantAllStatus.statutoryDeclaration == 'satisfactory' && vm.engagementStatus != 'active') 
                            {
                                if(vm.wwcStatus == 'cont_with_child' && vm.participantAllStatus.workingWithChildrenCheck != 'satisfactory') {
                                    return false;                                
                                } 
                                if (vm.wwcStatus == 'work_with_child' && 
                                vm.participantAllStatus.workingWithChildrenCheck != 'not_required' && 
                                vm.participantAllStatus.workingWithChildrenCheck != 'satisfactory' &&
                                vm.participantAllStatus.workingWithChildrenCheck != 'in_progress' ) {
                                    return false;   
                                }

                                vm.changeStatus = true;
                                setTimeout(function(){
                                    $('#engagementStatus').select2();  
                                        $('#engagementStatus').on("select2:select", function (e) {
                                        vm.setStatus($('#engagementStatus').val());
                                        vm.engagementStatus = $('#engagementStatus').val();
                                    });
                                },500);
                            }
                        }, 3000);
                    }
                },
            getFrontUserDetailsByUserId(id)
            {
                let vm=this;
                let data={'id':id};
                let name = "";
                ApiService.getFrontUserDetailsByUserId(data).then(
                     (response) => {
                    let participantDetails=response.data.data;
                    vm.isHmu = participantDetails.isHmu == 1 ?true:false;
                    vm.isAdmin = participantDetails.isAdmin == 1 ?true:false;
                    var name="";
                    if(participantDetails.user_details.givenName!=null)
                    {
                        name+=participantDetails.user_details.givenName;
                    }
                    if(participantDetails.user_details.surName!=null)
                    {
                        name+=' '+participantDetails.user_details.surName;
                    }
                    vm.fullName=name;
                    vm.engagementStatus=participantDetails.engagementStatus;
                    $(".estatus").val(response.data.data.engagementStatus).trigger('change');
                  },
                      (error) => {
                  },
                );
            },
            setStatus(estatus){
                let vm = this;
                let data = {participant_id: vm.$route.params.id,status: estatus}
                $('#confirm_modal').modal('show'); 

                vm.participnatConfirmId = vm.$route.params.id;
                vm.participnatConfirmStatus = estatus; 
            },
            confirmStatus(){
                let vm = this;
                let data = {participant_id: vm.participnatConfirmId, status: vm.participnatConfirmStatus}
                $('#confirm_modal').modal('hide');
                ApiService.setEngagementStatus(data).then(
                    (response) => {
                        vm.changeStatus = false;
                    },
                    (error) => {

                    }
                );
            },
            confirmStatusInProgress(){
                let vm = this;
                let data = {participant_id: vm.participnatConfirmId, status: 'applicationInProgress'}
                $('#confirm_modal').modal('hide');
                ApiService.setEngagementStatus(data).then(
                    (response) => {
                       vm.getFrontUserDetailsByUserId(vm.$route.params.id);
                    },
                    (error) => {

                    }
                );  
            }
        }
    }
</script>

