<template>
    <div class="recordpage-wrapper">
        <span>Show</span>
        <select class="mx-1" name="perPageSelect" id="perPageSelect" v-model="perPageSelect" @change="setPerPageBooking" v-show="(pageType == 'booking')">
            <option :value="perPageOPt.text" v-for="perPageOPt in recordPerPageOption">{{perPageOPt.text}}</option>
        </select>

        <select class="mx-1" name="perPageSelect" id="perPageSelect" v-model="perPageSelect" @change="setPerPage" v-show="(pageType == 'general')">
            <option :value="perPageOPt.text" v-for="perPageOPt in recordPerPageOption">{{perPageOPt.text}}</option>
        </select>

        <span>entries</span>
    </div>
</template>
<script>
export default {
     data() {
      return {
      	'perPageSelect':5
      }
     },
     props:['recordPerPageOption','pageType'],
    created: function() {
    },
    mounted(){
        let vm = this;
        //vm.initData();
    },
    components: {
       
    },
    methods:{
    	setPerPageBooking(e){
      		let vm =this;
      		this.$root.$emit('setPerPageBooking',vm.perPageSelect);
    	},
      setPerPage(e){
          let vm =this;
          this.$root.$emit('setPerPage',vm.perPageSelect);
          //this.$root.$emit('setNoOfPage',vm.perPageSelect);
          //this.$root.$emit('searchResulForPerpage');
          
          
      }
    }
}
</script>
