<template>
	<div class="col-lg-8">
       <div class="row">
    	   <div class="col-sm-4">
        	   <div class="form-group">
            	    <input type="text" class="form-control" placeholder="Search by Name or Phone" value="" v-validate="'min:2'" v-model="searchFieldValue.givenNameValue" name="givenName" :maxlength="55" >
                        <div class="is-danger" v-show="errors.has('givenName')">
                        Please enter valid value.
                    </div>
                    </div>  
                </div>
                <div class="col-sm-4">
                   <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by Email" value="" v-validate="'email|max:55'" v-model="searchFieldValue.emailValue" name="email" >
                        <div class="is-danger" v-show="errors.has('email')">
                        Please enter valid email.
                   		 </div>
                    </div>
                   </div>
                   <div class="col-sm-4">
                       <div class="form-group">
                           <button class="btn btn-primary btn-lg" type="button" @click="searchData(noOfpage)">Search</button>
                        </div>
                   </div>
                </div> 
            </div>
	
</template>
<script>

	import apiService from '../../../api/apiService.js';

    export default {
        props:['searchPageType','searchUserTypeName','searchUserTypeId','noOfpage','userData','sortedColumn','order'],
        data() {
        	return {
        		'searchField' : ['givenName','email'],
        		'searchFieldValue' : {
        			'givenNameValue' : '',
        			'emailValue' : '',
        		},
        		'searchResultData' : {},
                'ratingList' : {},
        	}
        },
        mounted(){
            let vm = this;
             vm.searchFieldValue.givenNameValue = vm.$store.state.participant.participantSearchName ? vm.$store.state.participant.participantSearchName : '';
            vm.searchFieldValue.emailValue = vm.$store.state.participant.participantSearchEmail ? vm.$store.state.participant.participantSearchEmail : '';
             
        },
        created: function() {
            this.$root.$on('searchResulForPerpage',this.searchData);
            this.$root.$on('setNoOfPage',this.setNoOfPage);
            this.$root.$on('searchfieldValue',this.setSearchfieldValue);
        },
        destroyed() {
            this.$root.$off('searchResulForPerpage',this.searchData);
            this.$root.$off('setNoOfPage',this.setNoOfPage);
            this.$root.$off('searchfieldValue',this.setSearchfieldValue);
        },
        formErrors : {
          handler (value) { 
            return this.$emit('form-errors', value)  
          },

          deep:true 
        },
        methods: {  
            setSearchfieldValue(){

                    let vm=this;
                     vm.searchFieldValue.givenNameValue = vm.$store.state.participant.participantSearchName ? vm.$store.state.participant.participantSearchName : '';
                    vm.searchFieldValue.emailValue = vm.$store.state.participant.participantSearchEmail ? vm.$store.state.  participant.participantSearchEmail : '';

            },
            setNoOfPage(noOfPage){
                let vm=this;
               // vm.noOfpage = noOfPage;
                if(vm.searchFieldValue.givenNameValue != '' && vm.searchFieldValue.emailValue != ''){
                        vm.searchData();
                }else{
                    let url = 'participant/list';
                    //this.$root.$on('getPaginationListPage',this.getPaginationListPage);
                    this.$root.$emit('getPaginationListPage',url); 
                    this.$root.$emit('setPerPage',vm.noOfPage);
                }
            },
        	searchData(noofPage){
                
        		let vm = this;
        		let url = vm.searchPageType;
        		let data = {
        			'searchFeild' : vm.searchField,
        			'searchFieldValue' : vm.searchFieldValue,
        			'searchUserTypeName' : vm.searchUserTypeName,
        			'searchUserTypeId' : vm.searchUserTypeId,
        			'noOfpage' : noofPage,
        			'userData' : vm.userData,
                    'sortedColumn':vm.sortedColumn,
                    'order':vm.order
        		}
        		vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
    	        		 vm.$store.commit("routeChange", "start");
    	        		 apiService.searchQueryDataWithPagination(url,data).then(

    	        			(response) => {

    	        			vm.$store.commit("routeChange", "end");
    	                    if(response.data.code == 200){
    	                       if(response.data.code == 200){
    	                            vm.searchResultData = response.data.data.data;
                                    vm.ratingList = response.data.rating;
    	                             
                                     vm.$store.dispatch('SetParticipantSearchName',vm.searchFieldValue.givenNameValue);
                                    vm.$store.dispatch('SetParticipantSearchEmail',vm.searchFieldValue.emailValue);
                                    vm.$store.dispatch('SetParticipantSearchData',response.data);
                                    vm.$root.$emit('searchResultData',vm.searchResultData);
                                     vm.$root.$emit('searchResultRatingList',vm.ratingList);
    	                             vm.$root.$emit('makePagination',response.data.data);
                                    
    	                        }
    	                        else if (response.data.code == 300) {
    	                          let result=response.data.data.data;
    	                          if(result=='' || result==null)
    	                          {
    	                               vm.searchResultData =[];
    	                              toastr.error(response.data.message,{timeOut: 5000});
    	                          }
    	                          else
    	                          {
    	                              vm.searchData=result;
    	                             // vm.makePagination( response.data.data);
    	                              vm.$root.$emit('makePagination',response.data.data);
    	                          }
    	                      }
    	                    } 
    	        			},
    	        			(error) => {

    	        			}

    	        		);
	        		}else{
                            console.log(this.errors.any());
                    }
	        	 })
        	}
        }
    }
</script>