<template>
    <div>
       <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <input type="text" name="searchText" class="form-control input-lg ipt_size2" placeholder="Search by name" id="searchText" v-model="searchText" @keypress.enter="submitSearch()">
              </div>
              
              <div class="col-md-7 col-sm-12 mt-3 mt-md-0">
                <button type="submit" id="submitBtn" name="submitSearch" @click="searchData()" class="btn btn-primary btn-lg mr-3" ref="myBtn">Search</button>
                <button type="button" name="clear" @click="clearSearchData()" class="btn btn-danger btn-lg">Reset</button>
              </div>
            </div>
          </div>
    </div>
  </div>
</template>

<script>
    export default {
        props:['searchDataListSelect','searchDataAll'],
        data() {
            return {
              'searchKey':'',
              'searchText':''
            }
        },
        mounted() {
          let vm=this;
          vm.setSearchData();
        },
        methods: {
          submitSearch()
          {
              var elem = this.$refs.myBtn;
              elem.click()
          },
          setSearchData()
          {
              let vm=this;
              let sData=vm.searchDataAll;
              if(sData)
              {

                  if(sData.searchKey)
                  {
                      vm.searchKey=sData.searchKey;
                  }
                  else
                  {
                      vm.searchKey=null;
                  }
                 
                  if(sData.searchText)
                  {
                      vm.searchText=sData.searchText;
                  }
                  else
                  {
                      vm.searchText='';
                  }
                  
              }
              else
              {
                  vm.searchKey=null;
                  vm.searchText='';
              }
             
          },
          clearSearchData()
          {
              let vm=this;
              vm.searchKey=null;
              vm.searchText=''; 
              vm.$root.$emit('searchClearResult',1);
          },
          searchData()
          {
              let vm=this;
              let searchData={'searchKey':vm.searchKey,'searchText':vm.searchText};
              if(vm.searchKey == '' || vm.searchText == ''){
                toastr.error('Please select your search criteria.','', {timeOut: 3000});
                return false;
              }
              vm.$root.$emit('searchDataResult',searchData);
          }
        }
    }
</script>
