<template>
    <div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="../../../../assets/images/banner.jpg" alt="Deep">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Welcome into our Community</h1>
                            <div class="row" v-if="roleType == 4">
                                <div class="col-sm-4 offset-sm-4">
                                    <button type="submit" class="btn btn-primary btn-lg mt-4 btn-block py-3" @click='getStarted'>Get Started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
</template>
<script>
import Ls from '../../../services/ls'
export default {
    data(){
        return {
            roleType : Ls.get('role')
        }
    }, 
    mounted() 
    {

    },
    methods :  {
        getStarted() 
        {
            let vm = this;
            vm.$router.push({'name': 'childSafeguarding'});
        }
    }
}
</script>
