<template>
    <div>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="verifyDocumentId">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Verify</h5>
                        <button type="button" class="close" @click="closeverifyModel()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal p-3">
                             <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Verify status</label>
                                            <div>
                                                <div class="custom-control custom-radio d-block d-sm-inline mr-2" v-show="(docType == 'policeCheck' || docType == 'statutoryDeclaration')">
                                                    <input id="not-required-status" name="documentStatusName" type="radio" class="custom-control-input" v-model="docUpdateStatus" value="not_required">
                                                    <label class="custom-control-label" for="not-required-status">Not required</label>
                                                </div>
                                                <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                                    <input id="not-satisfactory-status" name="documentStatusName" type="radio" class="custom-control-input" checked="" v-model="docUpdateStatus" value="not_satisfactory">
                                                    <label class="custom-control-label" for="not-satisfactory-status">Not Satisfactory</label>
                                                </div>
                                                <div class="custom-control custom-radio d-block d-sm-inline mr-2" >
                                                    <input id="satisfactory-status" name="documentStatusName" type="radio" class="custom-control-input" v-model="docUpdateStatus" value="satisfactory">
                                                    <label class="custom-control-label" for="satisfactory-status">Satisfactory </label>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center my-5">
                                    <button type="button" class="btn btn-primary btn-lg mr-3" @click="updateDocStatus">Update</button> 
                                      <button type="button" @click="closeverifyModel()" class="btn btn-primary btn-lg">Cancel</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    
    import ApiService from '../../../api/apiService.js';

    export default {
        props:['docId','docType','participnatId'],
        data() {
            return {
              'userData' :{
                    'userType' :this.$store.state.User.userData.userTypeId,
                    'userId' :this.$store.state.User.userData.userId,
                    'email' : this.$store.state.User.userData.email,
                    'userTypeName' : '',
                }, 
              'docUpdateStatus' : 'not_required',
            }
        },
        components: {
          
        },
        mounted() {
            let vm=this;

            if(vm.$store.state.User.userData.userTypeId != '2' && vm.$store.state.User.userData.userTypeId != '3'  && vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
              
            }
            vm.initData();
        },
        created: function() {
          this.$root.$on('initData', this.initData);
        },  
        destroyed() {
          this.$root.$off('initData', this.initData);
        },
        methods: {
            initData()
            {
                let vm=this;
                vm.docUpdateStatus = 'not_required';
            },
            closeverifyModel()
            {
                let vm=this;
                vm.$root.$emit('closeverifyModel',1);
            },
            updateDocStatus(){
                let vm=this;
                let data={
                    'docId':vm.docId,
                    'participnatId' : vm.participnatId,
                    'userLoginId':vm.userData.userId,
                    'docStatus' : vm.docUpdateStatus
                };
                vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                      
                        vm.$store.commit("routeChange", "start");
                        ApiService.updateDocumentstatus(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$root.$emit('ParticipnatDocumentData',1);
                                vm.$root.$emit('closeverifyModel',1);
                            } 
                            else if (response.data.code == 300) {
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                          },
                          (error)=>{
                          }

                        )
                       
                    }
                })

            },
        }
    }

</script>