// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
 
// Variables
@import 'variables';

// Bootstrap

@import '../plugins/bootstrap/scss/bootstrap';

@import '../plugins/datatables/dataTables.bootstrap4.css';
@import "../plugins/select2/dist/css/select2.min.css";
@import "../plugins/datepicker/dist/css/bootstrap-datepicker3.css";
@import "../plugins/paginationVue/table";
@import "../plugins/paginationVue/pagination";




// toastr 
@import '../plugins/toastr/toastr.scss';


@import '../assets/assets/sass/dark/custom.scss';

@import '../assets/assets/sass/admin_custom.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);	
}
.custom-control{
    min-height: 1.8rem;
    padding-left: 1.6rem;
    .custom-control-label{
        padding-left: 5px;
        &::after, &::before{
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}
.filter-block{
    span{
        padding: 5px;
    }
    select{
        border-color: #E4E7F4;
    }
}