<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddAdmin()">Add Admin</button></div>
		  </div>
		</div>
		<searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData"></searchDataTable>
		<div class="my-3">
          	<div data-v-744e717e="" class="datatable-length float-left mb-3" v-show="(adminPagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select data-v-744e717e="" class="ls-select2 align-items-end form-control" id="perPageNoUser"  @change="setPerPageUser" >
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
       		</div>
       	</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th width="40px" class="text-center">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-admin-all" class="custom-control-input all-admin" id="all-admin"  @change="checkAllchkbox">
								<label class="custom-control-label" for="all-admin">&nbsp;</label>
							</div>
						</th>
						<th width="160px" @click="sortByColumn('givenName')">
							First Name
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='givenName' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="160px" @click="sortByColumn('surName')">
							Last Name
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='surName' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="160px" @click="sortByColumn('userType')">
							User Type
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='userType' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="160px" @click="sortByColumn('contactPhone')">
							Phone
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='contactPhone' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="210px" @click="sortByColumn('email')">
							Email
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='email' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="115px" class="text-center" @click="sortByColumn('status')">
							Status
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="155px" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody  v-if="(adminPagination.total > 0)">
					<tr v-for="admin in admins">
					<td class="text-center">
						<div class="custom-control custom-checkbox" v-if="admin.adminUserId != loggedInUserId">
							<input type="checkbox" name="chk-admin" class="custom-control-input chk-global chk-admin" :data-adminid="admin.adminUserId" :id="'chk'+admin.adminUserId">
							<label class="custom-control-label" :for="'chk'+admin.adminUserId">&nbsp;</label>
						</div>
						<div class="custom-control custom-checkbox" v-else>
							<label class="custom-control-label" disabled>&nbsp;</label>
						</div>
					</td>
					<td>{{ admin.givenName }}</td>
					<td>{{ admin.surName }}</td>
					<td>{{ admin.usertype.type }}</td>
					<td>{{ admin.contactPhone }}</td>
					<td>{{ admin.email }}</td>	
					<td class="text-center" v-if="admin.status == 'active'">Active</td>
					<td class="text-center" v-else>Inactive</td>

					<td class="text-center">
						<a @click="deleteAdmin(admin.adminUserId)" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-xl-0" v-if="admin.adminUserId != loggedInUserId"><i class="icon-trash"></i></a>
						<a href="#" v-else></a>
						<a href="javascript:void(0)" @click="setEditAdmin(admin.adminUserId)" title="Edit Admin" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-pencil"></i></a>
					</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr><td colspan="7"><center><span>No record found.</span></center></td></tr>
				</tbody>
			</table>
			<paginationPage :paginationData="adminPagination"></paginationPage>
		</div>		
		<confirmDelete :deleteConfirmMsg="deleteMsg" :deleteId="deleteAdminId" :deleteType="deleteType"></confirmDelete>
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTable from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';
 	import confirmDelete from '../components/userConfirmDeleteModel.vue';

	export default{
		data(){
			return {
				'showResult': false,
				'searchDataListSelect':[
		          {key:'firstname',text:'First Name'},
		          {key:'lastname',text:'Last Name'},
		          {key:'usertype',text:'User Type'},
		          {key:'username',text:'Username'},
		          {key:'email',text:'Email'},
		          {key:'phone',text:'Phone'},
		          {key:'status',text:'Status'}
		        ],
		        'searchData': {},
				'admins': '',
				'adminPagination':'',
				'perPage' : 10,
		        'pageNo' : 0,
		        'deleteMsg': 'Are you sure you want to delete admin?',
		        'deleteAdminId': '',
		        'deleteType': '',
		        'loggedInUserId': this.$store.state.User.userData.adminUserId,
		        'sortedColumn': 'created_at',
                'order': 'asc',
			}
		},
		components: {
			searchDataTable,
			paginationPage,
			confirmDelete
		},
		created(){
			this.$root.$on('searchDataResult',this.searchDataResult);
			this.$root.$on('getListPage',this.getListPage); 
			this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',this.searchClearResult);
			this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate); 
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed); 
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed); 
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		mounted(){
			let vm = this;
			vm.searchData = {searchKey: '',searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			vm.initdata();
			
			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {
			sortByColumn(column) {
            if (column === this.sortedColumn) {
              this.order = (this.order === 'asc') ? 'desc' : 'asc'
            } else {
              this.sortedColumn = column
              this.order = 'asc'
            }
             
             this.getAdminListPagination('/admin/getAdminList',this.searchData);
          },
			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  if(searchData)
				  {
				      let sData = searchData;
				      vm.searchData = sData;
				  }
				  vm.showResult = true;
				  vm.getAdminListPagination('/admin/getAdminList?page='+pageNo,vm.searchData);
				}
				else
				{
				  vm.showResult = true;
				  vm.getAdminListPagination('/admin/getAdminList',vm.searchData);
				}
			},
			getAdminListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
		        vm.getUserData = [];
		        this.$route.meta.helpTextAdmin
		        this.$store.commit("routeChange", "start");
		        let data =  { 
                      'searchData' : searchData,
                      'noOfpage' : no_of_page,
                      'sortedColumn':vm.sortedColumn,
                      'order':vm.order
                    };
		        UserApi.getAdminListPagination(pageUrl,data).then(
		           (response) => {
		              if(response.data.code == 200){
		                vm.admins = response.data.data.data;
		                vm.makePagination(response.data.data);
		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
		        this.$store.commit("routeChange", "end");
			},
			confirmDeleteMultOption(){
		        let vm=this;
		    	vm.deleteType='multiple';
		        $('#confirm_modal').modal('show');
		    },
			checkAllchkbox()
			{
				if($('.all-admin').is(':checked') == true){
		         $('.chk-admin').prop('checked', true);
		        } else {
		         $('.chk-admin').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.adminPagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getAdminListPagination('/admin/getAdminList',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getAdminListPagination('/admin/getAdminList',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			    let vm=this;
			    $('.all-admin').prop('checked', false);
	            $('.chk-admin').prop('checked', false);
			    vm.getAdminListPagination('/admin/getAdminList?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  	let vm=this;
			  	$('.all-admin').prop('checked', false);
	            $('.chk-admin').prop('checked', false);
			  	vm.getAdminListPagination(pageUrl,vm.searchData)
			},
			setAddAdmin()
			{
				let vm = this;
				let pageNo = vm.adminPagination.currentPage;
				vm.showResult=0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'admin_add'});
			},
			deleteAdmin(adminId)
			{
				let vm = this;
				vm.deleteAdminId = adminId;
				vm.deleteType = 'single';
				$('#confirm_modal').modal('show'); 
			},
			deleteConfirmed(adminId)
			{
				let vm = this;
	            UserApi.deleteAdminById(adminId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.adminPagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    this.getAdminListPagination('admin/getAdminList', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	              )
			},
			searchClearResult()
			{

				let vm = this;
				vm.searchData={'searchKey':'','searchText':''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getAdminListPagination('/admin/getAdminList',vm.searchData);	
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getAdminListPagination('/admin/getAdminList',searchData);
			},
			deleteMultipleConfirmed()
			{
	         	let vm = this;
	          	var chkRemoveAdminId = vm.getCheckedRecords();
	            UserApi.deleteMultipleAdminById(chkRemoveAdminId).then(
	                (response)=> {
	                  if(response.data.code == 200)
	                  {
	                    $('.all-admin').prop('checked', false);
	                    $('.chk-admin').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getAdminListPagination('admin/getAdminList',vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	              )
	        
	      	},
			getCheckedRecords()
			{
				var chkRemoveAdminId=[];
				$(".chk-admin:checked").each(function(){
				  chkRemoveAdminId.push($(this).data('adminid'));
				 });
				return chkRemoveAdminId;
			},
			setEditAdmin(adminId)
			{
				let vm = this;
				let pageNo = vm.adminPagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'admin_edit',params: { id: adminId,page: pageNo,perPage:vm.perPage }});
			},
			multipleStatusUpdate(actionStatus=''){
		        let vm =this; 
		        var chkUpdateAdminId = vm.getCheckedRecords();

		        let updateData = {
		          'adminIds': chkUpdateAdminId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleAdminStatusByAdminId(updateData).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    $('.all-admin').prop('checked', false);
	                    $('.chk-admin').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getAdminListPagination('admin/getAdminList?page='+vm.pageNo,vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                },
	                (error)=>{
	                }
		        )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.adminPagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		}
	}
</script>