<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <!-- <h2 class="hidden">&nbsp;</h2> -->
	                    <div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstname" class="form-control-label">First Name</label>
									<input id="firstName" name="first_name" type="text" placeholder="" class="form-control required" v-validate="'required|alpha_spaces|min:3|max:55'" v-model='adminData.givenName'>
									<span class="help is-danger" v-show="errors.has('first_name')">{{ errors.first('first_name') }}</span>
								</div>
	                        </div>
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="lastname" class="form-control-label">Last Name</label>
									<input id="lastName" name="last_name" type="text" placeholder="" class="form-control required" v-validate="'required|alpha_spaces|min:3|max:55'" v-model='adminData.surName'>
									<span class="help is-danger" v-show="errors.has('last_name')">{{ errors.first('last_name') }}</span>
								</div>
	                        </div>
	                    </div>     

	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="phone" class="form-control-label">Phone</label>
									<!-- <input id="phone" name="phone" type="text" placeholder="" class="form-control required" v-validate="'required|numeric|length:12'" v-model='adminData.contactPhone'>
									<i v-show="errors.has('phone')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('phone')">{{ errors.first('phone')}}</span> -->
									<div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text pr-1 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="{ required:true ,numeric:true,length:2 }" v-model="adminData.contactPhonePrefix" id="phonePrefix" name="phonePrefix" :maxlength="2">
                                        </div>
                                        <input type="text" class="form-control" placeholder="" value="" v-validate="{ required:true ,numeric:true,length:10 }" v-model="adminData.contactPhone" id="phone" name="phone" :maxlength="10">
                                    </div>
									<span class="help is-danger"  v-show="errors.has('phonePrefix')">
                                               Please enter valid country code.
                                    </span>
                                    <span class="help is-danger"  v-show="errors.has('phone')">
                                        Please enter valid contact phone.
                                    </span> 
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="email" class="form-control-label">Email</label>
									<input id="email" name="email" type="text" placeholder="" class="form-control required" v-validate="'required|email|max:55'" v-model='adminData.email'>
									<span class="help is-danger" v-show="errors.has('email')">{{ errors.first('email')}}</span>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-6">
							   <div class="form-group">
								<label for="status" class="form-control-label"> Status</label>
									<select class="form-control ls-select2" id="status" name="status" v-model="adminData.status" v-validate="'required'">
										<option value="">Select</option>
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select> 
									<span class="help is-danger" v-show="errors.has('status')">Please select Status.</span>
							   </div>
                            </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group text-center mt-5">
					<button type="button" class="btn btn-primary mr-3" @click="editValidateBeforeSubmit">Edit</button>
					<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
            	</div>
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import { Validator } from 'vee-validate';
    import _ from 'lodash';

    const fields = {
	  en: {
	    attributes: {
	    	first_name: 'First Name',
	    	last_name: 'Last Name',
	    	phone: 'Phone',
	    	email: 'Email',
	    	password: 'Password',
	    }
	  },
	};
	Validator.localize(fields);

	export default{
		data(){
			return {
				'title': 'Add Admin',
				'userTypes': '',
				'adminData': {
					'AdminUserId': '',
					'userTypeId': '1',
					'givenName': '',
					'surName': '',
					'email': '',
					'password': '',
					'contactPhonePrefix' : '61',
					'contactPhone': '',
					'status': '',
					'pageNo':'',
                    'perPage':'',
				},
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;	
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			);
			this.initdata(vm.$route.params.id);
		},
		methods: {
			initdata(adminId)
			{
				UserApi.getAdminById(adminId).then(
					(response) => {
						if(response.data.code == 200){
							let vm = this;
							if(response.data.data.contactPhone != ''){

							}
							if(response.data.data.contactPhone !='' && response.data.data.contactPhone != null)
                            {
                                let res=this.getSplitString(response.data.data.contactPhone);
                                 vm.adminData['contactPhonePrefix']=res[0];
                                 vm.adminData['contactPhone']=res[1];
                            }
							vm.adminData['AdminUserId'] = response.data.data.adminUserId;
							vm.adminData['userTypeId'] = response.data.data.userTypeId;
							vm.adminData['givenName'] = response.data.data.givenName;
							vm.adminData['surName'] = response.data.data.surName;
							vm.adminData['username'] = response.data.data.username;
							vm.adminData['email'] = response.data.data.email;
							vm.adminData['password'] = '';
                        	vm.adminData['status'] = response.data.data.status;

                        	$('#userTypeId').val(response.data.data.userTypeId).trigger('change');
                        	$('#status').val(response.data.data.status).trigger('change');
                        } 
                        else if (response.data.code == 300) {
                            toastr.error(response.data.message, response.data.title, {timeOut: 5000});
                        }
                        else
                        {
                            toastr.error('Something Went wrong.', 'User Edit', {timeOut: 5000});
                        }
					},
					(error) => {

					}	
				);
			},
			getSplitString(val)
            {
                return val.split('|');
            },
			backPage()
            {
                let vm = this;
                vm.$router.push({'name':'admin_list'});
            },
            editValidateBeforeSubmit() {
				   let vm = this;
				vm.$route.meta.backProcessCheck = false;	
                vm.adminData.userTypeId = $('#userTypeId').val();
               	vm.adminData.status = $('#status').val();
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                        UserApi.editAdminById(vm.adminData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;	
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$router.push({'name':'admin_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;	
                          }

                        )
                    }
                })
            },
		}
	}
</script>

<style type="text/css">
	.right{
		float: right;
	}
</style>