<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <h2 class="hidden">&nbsp;</h2>
	                    <div class="row">
	                        
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstname" class="form-control-label">First Name</label>
									<input id="firstName" name="first_name" type="text" placeholder="" class="form-control required" v-validate="'required|alpha_spaces|min:3|max:55'" v-model='adminData.givenName'>
									<span class="help is-danger" v-show="errors.has('first_name')">{{ errors.first('first_name') }}</span>
								</div>
	                        </div>
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="lastname" class="form-control-label">Last Name</label>
									<input id="lastName" name="last_name" type="text" placeholder="" class="form-control required" v-validate="'required|alpha_spaces|min:3|max:55'" v-model='adminData.surName'>
									<span class="help is-danger" v-show="errors.has('last_name')">{{ errors.first('last_name') }}</span>
								</div>
	                        </div>
	                    </div>    
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="phone" class="form-control-label">Phone</label>
									<!-- <input id="phone" name="phone" type="text" placeholder="" class="form-control required" v-validate="'required|numeric|length:12'" v-model='adminData.contactPhone'>
									<i v-show="errors.has('phone')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('phone')">{{ errors.first('phone')}}</span> -->
									<div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text pr-1 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="{ required:true ,numeric:true,length:2 }" v-model="adminData.contactPhonePrefix" id="phonePrefix" name="phonePrefix" :maxlength="2">
                                        </div>
                                        <input type="text" class="form-control" placeholder="" value="" v-validate="{ required:true ,numeric:true,length:10 }" v-model="adminData.contactPhone" id="phone" name="phone" :maxlength="10">
                                    </div>
									<span class="help is-danger"  v-show="errors.has('phonePrefix')">
                                               Please enter valid country code.
                                    </span>
                                    <span class="help is-danger"  v-show="errors.has('phone')">
                                        Please enter valid contact phone.
                                    </span> 
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="email" class="form-control-label">Email</label>
									<input id="email" name="email" type="text" placeholder="" class="form-control required" v-validate="'required|email|max:55'" v-model='adminData.email'>
									<span class="help is-danger" v-show="errors.has('email')">{{ errors.first('email')}}</span>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="password" class="form-control-label">Password</label>
									<input id="password" name="password" type="password" placeholder="" class="form-control required" v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,64})/, max:64}" v-model='adminData.password'>
									<span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8 character and maximum 64 characters long.<br>Password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</span>
								</div>
	                        </div>
							<div class="col-md-6">
							   <div class="form-group">
									<label for="status" class="form-control-label"> Status</label>
									<select class="form-control ls-select2" id="status" name="status" v-model="adminData.status" v-validate="'required'">
										<option value="">Select</option>
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select> 
									<span class="help is-danger" v-show="errors.has('status')">Please select Status.</span>
							   </div>
                            </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group text-center mt-5">
					<button type="button" class="btn btn-primary mr-3" @click="addValidateBeforeSubmit">Save</button>
					<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
	            </div>
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import { Validator } from 'vee-validate';
	import _ from 'lodash';

	const fields = {
	  en: {
	    attributes: {
	    	first_name: 'First Name',
	    	last_name: 'Last Name',
	    	phone: 'Phone',
	    	email: 'Email',
	    	password: 'Password',
	    }
	  },
	};

	Validator.localize(fields);
	export default{
		data(){
			return {
				'title': 'Add Admin',
				'userTypes': '',
				'adminData': {
					'userTypeId': '1',
					'givenName': '',
					'surName': '',
					'username': '',
					'email': '',
					'password': '',
					'contactPhonePrefix' : '61',
					'contactPhone': '',
					'status': '',
				},
				'perPage':this.$store.state.User.userPerPage,
				'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;	
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			)
			vm.$store.dispatch('SetUserPageNo',0);
			vm.$store.dispatch('SetUserPerPage',10);

			$('#status').on("select2:select", function (e) { 
              vm.adminData.status=$(this).val();
            });
		},
		methods: {
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'admin_list'});
            },
            addValidateBeforeSubmit() {
				let vm = this;
				vm.$route.meta.backProcessCheck = false;	
               	vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                		UserApi.addAdmin(vm.adminData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;	
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'admin_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;	
                          }

                        )
                    }
                })
            },
            setState()
            {
            	let vm = this;
            	vm.$store.dispatch('SetUserPageNo',vm.pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>

<style type="text/css">
	.right{
		float: right;
	}
</style>