<template>
  <div>
    <div class="page-header">
      <div class="row">
        <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()"
            class="btn btn-primary">Back</a></div>
      </div>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label>New Password *</label>
        <input type="password" class="form-control" v-model="password" name="password"
          v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,64})/, max:64}"
          placeholder="..." ref="password" autocomplete="off">
        <span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8 character and
          maximum 64 characters long.<br>Password must contain at least: 1 uppercase letter, 1 lowercase letter, 1
          number, and 1 special character.</span>
      </div>
      <div class="form-group">
        <label>Confirm Password *</label>
        <input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" placeholder="..."
          class="form-control" data-vv-as="password">
        <span v-show="errors.has('password_confirmation')" class="help is-danger">
          {{ errors.first('password_confirmation') }}</span>
      </div>
      <div class="form-group text-center mt-5">
        <button class="btn btn-primary btn-lg mr-3" type="button" @click="changePassword()">Update Password</button>
        <button class="btn btn-primary btn-lg mr-3" type="button" @click="backPage()">Cancel</button>
      </div>
    </form>
  </div>
</template>
<script>
  import Auth from '../../../services/auth';
  import UserApi from '../../../api/apiService.js';
  import { Validator } from 'vee-validate';

  const fields = {
    en: {
      attributes: {
        password: 'Password',
        password_confirmation: 'Confirm Password',
      }
    },
  };

  Validator.localize(fields);
  export default {
    name: 'frontResetPassword',

    data() {
      return {
        'email': this.$store.state.User.userData.email,
        'password': '',
      }
    },
    mounted() {
    },
    methods: {
      backPage() {
        let vm = this;
        //vm.$router.go(-1);
        vm.$router.push({ 'name': 'edashboard' });
      },
      changePassword(msg = '') {
        let vm = this;
        vm.$validator.validateAll().then(() => {
          if (!this.errors.any()) {
            let resetData = {
              'email': vm.email,
              'password': vm.password
            }
            UserApi.editAdminPasswordReset(resetData).then(
              (response) => {
                if (response.data.code == 200) {
                  toastr.success('Password has been changed successfully', '', { timeOut: 5000 });
                  Auth.logout().then(() => {
                    if (msg != '') {
                      toastr.error(msg, '', { timeOut: 5000 });
                      toastr.error('You are redirected to login page', '', { timeOut: 5000 });

                    } else {
                      toastr.success('Logged out!', '', { timeOut: 5000 });
                    }
                    vm.$router.push({ 'name': 'adminLogin' });
                  })
                  // setTimeout(function(){
                  //     vm.$router.push({'name':'edashboard'});
                  // },1000)

                } else {
                  toastr.error('Smething goes wrong.', '', { timeOut: 5000 });

                }
                this.$store.commit("routeChange", "end");

              },
              (error) => {
                this.$store.commit("routeChange", "end");
              },
            );
          }
        });
      }
    }
  }
</script>