<template>
    <div class="learning-wrapper">
        <!-- <div class="text-right">
            <button type="submit" name="" class="btn btn-primary mt-2">Back</button>
        </div> -->
		<div class="col-lg-12 mb-3">
			
			<div class="mt-2 row">
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<label for="course" class="control-label">Course</label>
						<select id="course" name="course" class="form-control">
							<option value="" selected>Select Contents</option>
							<option value="0">All Contents</option>
							<option value="1">Existing Contents</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group multiSelect">
						<label for="Tags" class="control-label">Tags</label>
						<select id="tags" name="tags[]" class="form-control" multiple="multiple">
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group multiSelect">
						<label for="Providers" class="control-label">Providers</label>
						<select id="providers" name="providers[]" class="form-control" multiple="multiple">
							<option  v-for='provider in providers' :value="provider.key">{{ provider.name }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group multiSelect">
						<label for="Languages" class="control-label">Languages</label>
						<select id="languages" name="languages[]" class="form-control" multiple="multiple">
							<option v-for='language in languages' :value="language.code">{{ language.language }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-md-8 col-sm-8">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search by keyword" v-model='keyword' />
					</div>
				</div>
				<div class="col-md-2 col-sm-3">
					<button class="btn btn-primary btn-block" type="button" @click="getFilterContent">Search</button>
				</div>
				<div class="col-md-2 col-sm-3">
					<button class="btn btn-danger btn-block" type="button" @click="resetFilterContent">Reset Search</button>
				</div>
			</div>
			<div class="mt-4 row align-items-stretch">
				<div class="col-md-3 col-sm-6 mb-3" v-for="content in contents">
					<div class="library-container">
						<div class="library-img">
							<img :src="content.image" alt="" class="img-fluid"/>
						</div>
						<div class="library-content">
							<div class="d-flex justify-content-between">
								<h5 class="mb-0 mr-2 text-truncate" :title="content.title">{{ content.title }}</h5>

								<a :id="content.id" @click="confirmCall(content.id, content.portal_collection)" :class="{ enroll: content.portal_collection}">

									<i class="fa fa-plus-circle"></i>
								</a>
							</div>
							{{ content.type }}
						</div>
					</div>
				</div>
			</div>
			<div class="text-center"><button id="loadmore" class="btn btn-primary" @click='loadMore' v-if="totalContents > 16">Load more</button></div>
			<center><h3 for="none" v-if="contents.length == 0 && show">No course found</h3></center>
		</div>
		<confirmAction :actionMsg="actionMsg"></confirmAction>
    </div>
</template>
<script>
import UserApi from '../../../api/apiService.js';
import confirmAction from '../components/confirmActionModel.vue';
import store from '../../../store';

export default{
	data()
	{
		return {
			contents: [],
			page: 0,
			keyword: '',
			tags: [],
			languages: [],
			providers: [],
			selectedProviders: [],
			selectedLanguages: [],
			selectedContents: '',
			totalContents: 0,
			show: false,
			'actionMsg' : 'Are you sure you want to add this content to the library?',
			'contentId' : '',
			'contentPortal_collection':'',

		}
	},
	mounted()
	{
		let vm = this;
		vm.initdata();

		setTimeout(function(){
			$('select').select2({
			 	tags: true,
				tokenSeparators: [',', ' '],
			});
			$('#tags').select2({
				placeholder: "Select Tags",
				tags: true,
				escapeMarkup: function (markup) {
					return markup;
				}
			});
			$('#providers').select2({
				placeholder: "Select Providers"
			});
			$('#languages').select2({
				placeholder: "Select Languages",
			});
		}, 300);
	},
	created: function() {
		this.$root.$on('confirmAdd', this.confirmAdd);
        this.$root.$on('closeConfirmModal', this.closeConfirmModal);
    },  
    destroyed() {
   	  this.$root.$off('confirmAdd', this.confirmAdd);
      this.$root.$off('closeConfirmModal', this.closeConfirmModal);
    },
    components: {
        confirmAction
    },
	methods: {
		initdata()
		{
			let vm = this;
			store.commit("routeChange", "start");
			UserApi.getProviders().then(
				(response) => {
					vm.providers = response.data.data.providers.facets.instance.buckets;
					vm.languages = response.data.data.languages;
				},
				(error) => {

				}
			);
			UserApi.getLearningContents(vm.page).then(
				(response) => {
					vm.contents = response.data.data.hits;
					vm.totalContents = response.data.data.total;
					store.commit("routeChange", "end");
				},
				(error) => {

				}
			);
		},
		closeConfirmModal(){
			let vm=this;
			vm.contentId = '';
			vm.contentPortal_collection = '';
			$('#confirm_modal').modal('hide');

		},
		confirmCall(loId,status){
			let vm=this;
			
			if (!$('#'+loId).hasClass('enroll')) {
				vm.contentId = loId;
				vm.contentPortal_collection = status;
				if(!status){
					$('#confirm_modal').modal('show');
				} else {
					return false;
				}
			}
		},
		confirmAdd(){
			let vm=this;
			let loId = vm.contentId;
			let status = vm.contentPortal_collection;
			$('#confirm_modal').modal('hide');
			$('#'+loId).toggleClass('enroll');
			vm.addToDefaultCollection(loId,status);
		},
		getFilterContent()
		{
			let vm = this;
			vm.page = 0;
			vm.tags = $("#tags").val();
			vm.selectedProviders = $("#providers").val();
			vm.selectedLanguages = $("#languages").val();
			vm.selectedContents = $("#course").val();
			
			if ((vm.tags==null || vm.tags.length==0) && vm.keyword == "" && vm.selectedLanguages == null && vm.selectedProviders == null && vm.selectedContents == '') {
				toastr.error('Please add search criteria.', '', {timeOut: 5000});
				//vm.totalContents=0;
				return false;	
			}
			vm.contents = [];
			store.commit("routeChange", "start");
	        UserApi.getLearningContents(vm.page, vm.keyword, vm.tags, vm.selectedLanguages, vm.selectedProviders, vm.selectedContents).then(
				(response) => {
					vm.totalContents = response.data.data.total;
					$.each(response.data.data.hits, function(key,value) {
						vm.contents.push(value);
					}); 
					if (vm.totalContents == 0) {
						vm.show = true;
					} else {
						vm.show = false;
					}
					store.commit("routeChange", "end");
				},
				(error) => {
					store.commit("routeChange", "end");
				}
			);
	        vm.loading = false;
		},
		loadMore () {
			let vm = this;
			vm.page = vm.page+16;
			store.commit("routeChange", "start");
	        UserApi.getLearningContents(vm.page, vm.keyword, vm.tags, vm.selectedLanguages, vm.selectedProviders).then(
				(response) => {
					vm.totalContents = response.data.data.total;
					$.each(response.data.data.hits, function(key,value) {
						vm.contents.push(value);
					}); 
					if (vm.totalContents == 0) {
						vm.show = true;
					} else {
						vm.show = false;
					}
					store.commit("routeChange", "end");
				},
				(error) => {
					store.commit("routeChange", "end");
				}
			);
	        vm.loading = false;
		},
		resetFilterContent() 
		{
			let vm = this;
			vm.page = 0;
			vm.tags = [];
			vm.languages = [];
			vm.providers = [];
			vm.keyword = '';
			vm.show = false;
			$("#tags").val(null).trigger("change"); 
			$("#languages").val(null).trigger("change"); 
			$("#providers").val(null).trigger("change"); 
			$("#course").val(null).trigger("change"); 
			vm.initdata();
		},
		addToDefaultCollection(loId,status)
		{
			if(!status) {
				store.commit("routeChange", "start");
				UserApi.addToDefaultCollection(loId).then(
						(response) => {
							if (response.data.code == 200) {
								toastr.success('Item added successfully', '', {timeOut: 5000});
							} 
							else if (response.data.code == 300) {
								toastr.error('Item not added', '', {timeOut: 5000});
							}
							else
							{
								toastr.error('Something Went wrong.', '', {timeOut: 5000});
							}
							store.commit("routeChange", "end");
						},
						(error) => {
							store.commit("routeChange", "end");
						}
					);
			}
		}
			
	}
}
</script>
