<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddDepartment()">Add Department</button></div>
		  </div>
		</div>
		<searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData"></searchDataTable>
		<div class="my-3">
          	<div data-v-744e717e="" class="datatable-length mb-3" v-show="(departmentPagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select data-v-744e717e="" class="ls-select2 form-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPage">
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
       		</div>
       	</div>	 
			<div class="table-responsive">
			   <table class="table table-striped">
			      	<thead>
						<tr>
							<th width="40px">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="chk-department-all" class="custom-control-input all-department" id="all-department"  @change="checkAllchkbox">
									<label class="custom-control-label" for="all-department">&nbsp;</label>
								</div>
							</th>
							<th width="365px"  @click="sortByColumn('name')">
								Department
								<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='name' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
							</th>
							<th width="230px" @click="sortByColumn('type')">
								User Type
								<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='type' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
							</th>
							<th width="165px" @click="sortByColumn('status')">
								Status
								<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
							</th>
							<th width="265px" class="text-center">Action</th>
						</tr>
					</thead>
					<tbody v-if="(departmentPagination.total > 0)">
					 <tr v-for="department in departments">
					    <td>
					    	<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-department" class="custom-control-input chk-global chk-department" :data-departmentid="department.departmentId" :id="'chk'+department.departmentId">
								<label class="custom-control-label" :for="'chk'+department.departmentId">&nbsp;</label>
							</div>
						</td>
					    <td>{{ department.name}}</td>
					    <td>{{ department.user_type[0].type}}</td>
					    <td v-if="department.status == 'active'">Active</td>
					    <td v-else>Inactive</td>
					    <td class="text-center">
					      <a @click="deleteDepartment(department.departmentId)" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-trash"></i></a>
					      <a href="javascript:void(0)" @click="setEditDepartment(department.departmentId)" class="btn btn-primary btn-icon mb-1 mb-xl-0" title="User Edit"><i class="icon-pencil"></i></a>
					  	</td>
					 </tr>
					</tbody>
					<tbody v-else>
					    <tr><td colspan="5"><center><span>No record found.</span></center></td></tr>
					</tbody>
			   </table>
			   <paginationPage :paginationData="departmentPagination"></paginationPage>
			</div>		
			<confirmDelete :deleteConfirmMsg="deleteMsg" :deleteId="deleteDepartmentId" :deleteType="deleteType"></confirmDelete>	
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTable from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';
 	import confirmDelete from '../components/userConfirmDeleteModel.vue';

	export default{
		data(){
			return {
				'userPagination': {},
				'showResult': false,
				'searchDataListSelect':[
		          {key:'departmentName',text:'Department Name'},
		          {key:'usertype',text:'User Type'},
		          {key:'status',text:'Status'}
		        ],
		        'searchData': {'searchKey':'', 'searchText': ''},
				'departments': '',
				'departmentPagination':'',
				'perPage' : 10,
		    'pageNo' : 0,
		    'deleteMsg': 'Are you sure you want to delete Department?',
		    'deleteDepartmentId': '',
				'deleteType': '',
				'sortedColumn': 'created_at',
        'order': 'asc',						
			}
		},
		components: {
			searchDataTable,
			paginationPage,
			confirmDelete
		},
		created(){
			let vm = this;
			this.$root.$on('searchDataResult',vm.searchDataResult);
			this.$root.$on('getListPage',vm.getListPage); 
			this.$root.$on('getDetailsPageByIndex',vm.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',vm.searchClearResult);
			this.$root.$on('multipleStatusUpdate',vm.multipleStatusUpdate);
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed);  
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$off('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$off('deleteMultipleConfirmed',this.deleteMultipleConfirmed);  
			this.$root.$off('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		mounted(){
			let vm = this;
			vm.searchData = {searchKey: '',searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			vm.initdata();

			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {

			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  if(searchData)
				  {
				      let sData = searchData;
				      vm.searchData = sData;
				  }
				  vm.showResult = true;
				  vm.getDepartmentListPagination('/department/getDepartmentList?page='+pageNo,vm.searchData);
				 
				}
				else
				{
				  vm.showResult = true;
				  vm.getDepartmentListPagination('/department/getDepartmentList',vm.searchData);
				}
			},
			getDepartmentListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
						vm.getUserData = [];
						let sortData = {
							'sortedColumn': vm.sortedColumn,
							'order': vm.order
						}
		        UserApi.getDepartmentListPagination(pageUrl,no_of_page,searchData,sortData).then(
		           (response) => {
		              if(response.data.code == 200){
		                vm.departments = response.data.data.data;
		                vm.makePagination( response.data.data);
		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
			},
			sortByColumn(column) {
				if (column === this.sortedColumn) {
					this.order = (this.order === 'asc') ? 'desc' : 'asc'
				} else {
					this.sortedColumn = column
					this.order = 'asc'
				}
				this.getDepartmentListPagination('/department/getDepartmentList',this.searchData);
			},
			checkAllchkbox()
			{
				if($('.all-department').is(':checked') == true){
		         $('.chk-department').prop('checked', true);
		        } else {
		         $('.chk-department').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.departmentPagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      //vm.perPage = vm.$store.state.User.userPerPage;
		      vm.getDepartmentListPagination('/department/getDepartmentList',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm =this;
		      // vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      //vm.perPage = vm.$store.state.User.userPerPage;
		      vm.getDepartmentListPagination('/department/getDepartmentList',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			  	let vm=this;
			  	$('.all-admin').prop('checked', false);
	            $('.chk-admin').prop('checked', false);
			   	vm.getDepartmentListPagination('/department/getDepartmentList?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  	let vm=this;
			  	$('.all-department').prop('checked', false);
	            $('.chk-department').prop('checked', false);
			  	vm.getDepartmentListPagination(pageUrl,vm.searchData)
			},
			setAddDepartment()
			{
				let vm = this;
				let pageNo = vm.departmentPagination.currentPage;
				vm.showResult=0;
				vm.setState();
				// vm.$store.dispatch('SetUserPageNo',pageNo);
				// vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'department_add'});
			},
			deleteDepartment(departmentId)
			{
				let vm = this;
				vm.deleteDepartmentId = departmentId;
				vm.deleteType = 'single';
	            $('#confirm_modal').modal('show');
			},
			confirmDeleteMultOption(){
		        let vm=this;
		    	vm.deleteType='multiple';
		        $('#confirm_modal').modal('show');
		    },
			deleteConfirmed()
			{
				let vm = this;
				UserApi.deleteDepartmentById(vm.deleteDepartmentId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.departmentPagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    this.getDepartmentListPagination('department/getDepartmentList', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                      //this.initialState(); 
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	            )
			},
			searchClearResult()
			{
				let vm = this;
				vm.searchData = {'searchKey': '','searchText': ''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getDepartmentListPagination('/department/getDepartmentList',vm.searchData);
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getDepartmentListPagination('/department/getDepartmentList',searchData);
			},
			getCheckedRecords()
			{
				var chkRemoveDepartmentId=[];
				$(".chk-department:checked").each(function(){
				  chkRemoveDepartmentId.push($(this).data('departmentid'));
				 });
				return chkRemoveDepartmentId;
			},
			setEditDepartment(departmentId)
			{
				let vm = this;
				let pageNo = vm.departmentPagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				// vm.$store.dispatch('SetUserPageNo',pageNo);
				// vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'department_edit',params: { id: departmentId,page: pageNo,perPage:vm.perPageUser }});
			},
	       	deleteMultipleConfirmed() {
	       		let vm = this;
	         	console.log('fdsfds');
	          	var chkRemoveDepartmentId = vm.getCheckedRecords();
	          	vm.deleteDepartmentId = chkRemoveDepartmentId;
	          	UserApi.deleteMultipleDepartmentById(vm.deleteDepartmentId).then(
	                (response)=> {
	                  if(response.data.code == 200)
	                  {
	                    $('.all-department').prop('checked', false);
	                    $('.chk-department').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getDepartmentListPagination('department/getDepartmentList',vm.searchData, vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }
	            )
	      	},
			multipleStatusUpdate(actionStatus=''){
		        let vm = this; 
		        var chkUpdateDepartmentId = vm.getCheckedRecords();
		        let updateData = {
		          'departmentIds': chkUpdateDepartmentId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleDepartmentStatusByDepartmentId(updateData).then(
		                (response)=> {
		                 
		                  if(response.data.code == 200){
		                    $('.all-department').prop('checked', false);
		                    $('.chk-department').prop('checked', false);
		                    vm.setState();
		                    vm.$store.dispatch('SetUserPageNo',0);
	  						vm.$store.dispatch('SetUserPerPage',10);
		                    vm.getDepartmentListPagination('department/getDepartmentList?page='+vm.pageNo,vm.searchData);
		                    //vm.initdata();
		                    toastr.success('', response.data.message, {timeOut: 5000});
		                  } else if (response.data.code == 300) {
		                      toastr.error('', response.data.message, {timeOut: 5000});
		                  }
		                  else
		                  {
		                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
		                  }
		                  
		                },
		                (error)=>{
		                }

		              )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.departmentPagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		}
	}
</script>