<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <!-- <h2 class="hidden">&nbsp;</h2> -->
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="department" class="form-control-label">User Type: </label>
									<select class="form-control ls-select2" id="userTypeId" name="userTypeId" v-validate="'required|numeric'" v-model='departmentData.userTypeId'>
										<option value="">Select</option>
										<option :value="userType.userTypeId" v-for="userType in userTypes">{{userType.type}}</option>
									</select> 
									<span class="help is-danger" v-show="errors.has('userTypeId')">Please select valid User Type.</span>
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="department" class="form-control-label">Department</label>
									<input id="department" name="department" type="text" placeholder="" class="form-control required" v-validate="'required|min:3|max:55'" v-model='departmentData.name'>
									<span class="help is-danger" v-show="errors.has('department')">{{ errors.first('department') }}</span>
								</div>
	                        </div>
	                    </div>    
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="status" class="form-control-label"> Status</label>
									<select id="status" name="status"class="form-control required ls-select2" v-model='departmentData.status' v-validate="'required'">
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select>
								</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group text-center mt-5">
					<button type="button" class="btn btn-primary mr-3" @click="editValidateBeforeSubmit">Edit</button>
					<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
        		</div>
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import { Validator } from 'vee-validate';
    import _ from 'lodash';

    const fields = {
	  en: {
	    attributes: {
	    	department: 'Department',
	    	status: 'Status',
	    }
	  },
	};

	Validator.localize(fields);
	export default{
		data(){
			return {
				'title': 'Edit Department',
				'userTypes': '',
				'departmentData': {
					'departmentId':'',
					'userTypeId':  '',
					'name': '',
					'status': '',
				},
				'perPage':this.$store.state.User.userPerPage,
				'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;	
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			);

			this.initdata(vm.$route.params.id);
		},
		methods: {
			initdata(departmentId)
			{
				UserApi.getDepartmentById(departmentId).then(
					(response) => {
						if(response.data.code == 200){
							this.departmentData['departmentId'] = response.data.data.departmentId;
							this.departmentData['userTypeId'] = response.data.data.userTypeId;
							this.departmentData['name'] = response.data.data.name;
                        	this.departmentData['status'] = response.data.data.status;

                        	$('#userTypeId').val(response.data.data.userTypeId).trigger('change');
                        	$('#status').val(response.data.data.status).trigger('change');
                        } 
                        else if (response.data.code == 300) {
                            toastr.error(response.data.message, '', {timeOut: 5000});
                        }
                        else
                        {
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                        }
					},
					(error) => {

					}	
				);
			},
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'department_list'});
            },
            editValidateBeforeSubmit() {
				let vm = this;
				vm.$route.meta.backProcessCheck = false;	
                vm.departmentData.userTypeId = $('#userTypeId').val();
               	vm.departmentData.status = $('#status').val();
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                        UserApi.editDepartmentById(vm.departmentData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;	
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'department_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;	
                          }

                        )
                    }
                })
            },
            setState()
            {
            	let vm = this;
            	vm.$store.dispatch('SetUserPageNo',vm.pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>

<style type="text/css">
	.right{
		float: right;
	}
</style>