<template>
    <div class="forgot">
        <div class="container">
            <div class="text-center ">
                        <img src="../../../../assets/images/logo.png" id="logo-desk" alt="Deep" class="hidden-sm-down" >
                    </div>
            <div class="row mt-5">
                <div class="col-lg-6 col-10 col-sm-8 m-auto login-form box animated fadeInUp">
                    
                    <h2 class="text-center">Forgot Password</h2>
                    <!-- <p class="text-center enter_email">
                        Enter your Registered email
                    </p>-->
                    <!-- <form  class="forgot_Form text-center"  id="forgot_password"> -->
                        <div class="form-group">

                            <label for="">Email *</label>
                            <input type="email" class="form-control email pl-3" v-model="loginData.email"  @keyup.enter="forgot_password" v-validate="'required|email'" name="email" id="email" placeholder="Email">
                            <span class="help is-danger" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>
                        <div>
                            <p class="check_email hidden">
                                Check your email for Reset link
                            </p>
                        </div>
                        <div class="row mt-4 align-items-center">
                            <div class="col-md-6">
                                <button type="button" @click="forgot_password()" value="Reset Your Password" class="btn btn-primary">
                                    Retrieve Password
                                </button>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="javascript:void(0)" class="reset-link">Resend the link</a>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <!--row-->
    </div>
</template>
<script>
    // import magnify from "../../vendors/bootstrap-magnify/js/bootstrap-magnify.min.js"
 import apiServices from '../../../api/apiService.js';

    export default {
        name: "admin_forgot_password",
        data() {
                return {
                   loginData: {
                            email: '',
                            password: '',
                            remember: '',
                            forgotpassword: 0
                        }
                }
            },
        mounted: function() {
            "use strict"
           

        },
        destroyed: function() {

        },
        methods:{
           forgot_password(){
            let vm =this;
            this.$validator.validateAll().then(
                (response) => {
             // if (vm.loginData.email != "") {
               if (!this.errors.any()) {  
                this.$store.commit("routeChange", "start");

                    apiServices.sendResetLinkInMail(vm.loginData.email).then(
                        (response) => {
                            
                        this.$store.commit("routeChange", "end");

                         $('#responceMessage').text('');
                         var resetLink  = '';
                        if(response.data.status == 200) {
                             var resetLink  = 'password/reset/'+response.data.token+'?email='+response.data.email;
                            toastr.success('Reset pasword link has been sent successfully', 'Forgot password', {timeOut: 5000})
                            $('#responceMessage').text(resetLink);
                            $(".enter_email").addClass("hidden");
                            $(".check_email").removeClass("hidden");
                            $('#email, .signup-signin').addClass('hidden');
                            $('.submit-btn').addClass('animated fadeInUp');
                            $('.submit-btn').html("Reset Password")
                                .removeClass("btn-primary btn-block")
                                .addClass("btn-success");
                                 vm.$router.push({'name':'adminLogin'});
                        }else if(response.data.status == 404) {
                            var resetLink  = 'Record not found';
                            toastr.error('Record not found', 'Error', {timeOut: 5000});
                              $('#responceMessage').text(resetLink);
                                // vm.$router.push({'name':'adminLogin'});

                        } else{
                            var resetLink = '';
                            toastr.error('Something goes wrong', 'Error', {timeOut: 5000});
                             $('#responceMessage').text(resetLink);
                                // vm.$router.push({'name':'adminLogin'});

                        }

                    })
            }
                    
                });
                    // } else {
                    //     var error_msg = "<p>Sorry, Enter Your Registered email</p>";
                    //     $(".enter_email").addClass("err-text animated fadeInUp").html(error_msg);
                        
                    // }
           },
        },
    };
    
</script>
<!-- <style src="../../../../assets/assets/css/custom_css/forgot_password.css"></style> -->

