<template>
    <div class="login">
        <div class="container">
            <h2 class="text-center logo_h2">
                <img src="../../../../assets/images/logo.png" id="logo-desk" alt="Deep" class="hidden-sm-down">
            </h2>
            <div class="row mt-5">
                <div class="col-lg-6 col-10 col-sm-8 mx-auto login-form">
                    <h2 class="text-center mt-2">Login</h2>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-12">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-sm-12 mt-3">
                                            <div class="form-group">
                                                <label class="mb-1">Email *</label>
                                                <input v-model="loginData.email" name="email" id="email" type="email"
                                                    autofocus placeholder="E-mail" v-validate.disable="'required|email'"
                                                    class="form-control" @keyup.enter="signInUser" />
                                                <div class="help text-danger" v-show="errors.has('email')">
                                                    Please enter valid email address.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="mb-1">Password *</label>
                                                <input name="password" v-model="loginData.password" id="password"
                                                    type="password" required placeholder="Password"
                                                    v-validate="'required|min:8|max:64'" @keyup.enter="signInUser"
                                                    class="form-control" autocomplete="off" />
                                                <div class="help text-danger" v-show="errors.has('password')">
                                                    {{ errors.first('password') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    <button class="btn btn-primary btn -lg text-center" type="button"
                                                        @click="signInUser()">Sign in</button>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <a class="btn btn-link pr-0" style="white-space: normal;"
                                                        @click="GetSelectComponent('forgot_password')"> Forgot Your
                                                        Password? </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../../services/auth';
    import Ls from '../../../services/ls';

    export default {
        name: "login",
        data() {
            return {
                formstate: {},
                loginData: {
                    email: '',
                    password: '',
                    remember: '',
                    forgotpassword: 0
                }
            }
        },
        methods: {
            signInUser() {
                let vm = this;
                this.$validator.validateAll().then(
                    (response) => {

                        // this.$validator.validateAll();
                        if (!this.errors.any()) {
                            this.$store.commit("routeChange", "start");
                            (
                                Auth.adminLogin(this.loginData).then((response) => {


                                    if (response.status == true) {
                                        Auth.check().then((res) => {
                                            // vm.$store.dispatch('SetUserData',response.userData);
                                            //this.$store.commit("routeChange", "end");
                                            vm.$router.push({ 'name': 'edashboard' });
                                        })
                                        // this.$store.commit("routeChange", "end");
                                    }
                                    setTimeout(() => {
                                        vm.$store.commit("routeChange", "end");
                                    }, 1500);


                                },
                                    (error) => {
                                        this.$store.commit("routeChange", "end");

                                    }).catch(function (error) {
                                        // handle error

                                    })
                            )
                        }
                        else {
                            this.$store.commit("routeChange", "end");
                            // toastr.error('Please enter email and password.', 'Login error', {timeOut: 5000});
                        }
                    });
            },
            GetSelectComponent(comp) {
                this.$router.push({ name: comp })
            }
        },
        mounted: function () {
            localStorage.clear();
            this.$router.push('/admin-login');

        },

        destroyed: function () {

        }
    }
</script>