<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddModule()">Add Module</button></div>
		  </div>
		</div>
		<searchDataTableModule v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData" ref="moduleListing"></searchDataTableModule>
		<div class="my-3">
          	<div data-v-744e717e="" class="datatable-length float-left mb-3" v-show="(modulePagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select data-v-744e717e="" class="ls-select2 form-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPage">
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
       		</div>
       	</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th width="40px">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-module-all" class="custom-control-input all-module" id="all-module"  @change="checkAllchkbox">
								<label class="custom-control-label" for="all-module">&nbsp;</label>
							</div>
						</th>
						<th width="295px" @click="sortByColumn('moduleName')">
							Module
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='moduleName' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="165px" class="text-center" @click="sortByColumn('allowTotalAttempt')">
							Attempts
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='allowTotalAttempt' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="135px" class="text-center" @click="sortByColumn('status')">
							Status
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
						</th>
						<th width="135px" class="text-center" @click="sortByColumn('moduleDate')">
							Date
							<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='moduleDate' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>							
						</th>
						<th width="220px" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody v-if="(modulePagination.total > 0)">
					<tr v-for="module in modules">
						<td>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-module" class="custom-control-input chk-global chk-module" :data-moduleid="module.moduleId" :id="'chk'+module.moduleId">
								<label class="custom-control-label" :for="'chk'+module.moduleId	">&nbsp;</label>
							</div>
						</td>
						<td>{{ module.moduleName}}</td>
						<td class="text-center">{{ module.allowTotalAttempt}}</td>
						<td v-if="module.status == 'active'" class="text-center">Active</td>
						<td v-else class="text-center">Inactive</td>
						<td class="text-center" v-if="module.moduleDate">{{ module.moduleDate | formatDate }}</td>
						<td class="text-center" v-else>-</td>
						<td class="text-center">
							<a @click="deleteModule(module.moduleId)" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-trash"></i></a>
							<a href="javascript:void(0)" @click="setEditModule(module.moduleId)" title="Edit Module" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-pencil"></i></a>
						</td>
					</tr>
				</tbody>
				<tbody v-else>
					<tr><td colspan="5"><center><span>No record found.</span></center></td></tr>
				</tbody>
			</table>
			<paginationPage :paginationData="modulePagination"></paginationPage>
		</div>	
		<confirmDelete :deleteConfirmMsg="deleteMsg" :deleteId="deleteModuleId" :deleteType="deleteType"></confirmDelete>
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTableModule from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';
 	import confirmDelete from '../components/userConfirmDeleteModel.vue';
 	import moment from 'moment';
 	import Vue from 'vue';

	Vue.filter('formatDate', function(value) {
	  if (value) {
	    return moment(String(value)).format('DD/MM/YYYY')
	  }
	});

	export default{
		data(){
			return {
				'pagination': {},
		        'showResult': false,
				'searchDataListSelect':[
		          {key:'moduleName',text:'Module Name'},
		          {key:'attempts',text:'Attempts'},
		          {key:'status',text:'Status'},
		        ],
		        'searchData': {
		        	'searchKey': '',
		        	'searchText': '',
		        },
				'modules': '',
				'modulePagination':'',
				'perPage' : 10,
				'pageNo' : 0,
				'deleteMsg': 'Are you sure you want to delete Module?',
				'deleteModuleId': '',
				'deleteType': '',
				'sortedColumn': 'created_at',
        'order': 'asc',
			}
		},
		components: {
			'searchDataTableModule' : searchDataTableModule,
			paginationPage,
			confirmDelete
		},
		created(){
			this.$root.$on('searchDataResult',this.searchDataResult);
			this.$root.$on('getListPage',this.getListPage); 
			this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',this.searchClearResult);
			this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed); 
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$off('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$off('deleteMultipleConfirmed',this.deleteMultipleConfirmed);
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption); 
		},
		mounted(){
			let vm = this;
			vm.searchData = { searchKey: '', searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			vm.initdata();

			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {

			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  	if(searchData)
				  	{
				      let sData = searchData;
				      vm.searchData = sData;
				  	}
				  	vm.showResult = true;
				  	vm.getModuleListPagination('/module/getModuleList?page='+pageNo,vm.searchData);
				}
				else
				{
				  vm.showResult = true;
				  vm.getModuleListPagination('/module/getModuleList',vm.searchData);
				}
			},
			getModuleListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
						vm.getUserData = [];
						let sortData = {
							'sortedColumn': vm.sortedColumn,
							'order': vm.order
						}
		        UserApi.getModuleListPagination(pageUrl,no_of_page,searchData,sortData).then(
		           (response) => {
		              if(response.data.code == 200){
		                
		                vm.modules = response.data.data.data;
		                vm.makePagination( response.data.data);

		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
			},
			sortByColumn(column) {
				if (column === this.sortedColumn) {
					this.order = (this.order === 'asc') ? 'desc' : 'asc'
				} else {
					this.sortedColumn = column
					this.order = 'asc'
				}
				this.getModuleListPagination('/module/getModuleList',this.searchData);
			},
			checkAllchkbox()
			{
				if($('.all-module').is(':checked') == true){
		         $('.chk-module').prop('checked', true);
		        } else {
		         $('.chk-module').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.modulePagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getModuleListPagination('/module/getModuleList',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
		      vm.getModuleListPagination('/module/getModuleList',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			  	let vm=this;
			  	$('.all-module').prop('checked', false);
	            $('.chk-module').prop('checked', false);
			   	vm.getModuleListPagination('/module/getModuleList?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  	let vm=this;
			  	$('.all-admin').prop('checked', false);
	            $('.chk-admin').prop('checked', false);
			  	vm.getModuleListPagination(pageUrl,vm.searchData)
			},
			setAddModule()
			{
				let vm = this;
				let pageNo = vm.modulePagination.currentPage;
				vm.showResult=0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'module_add'});
			},
			confirmDeleteMultOption(){
		        let vm=this;
		    	vm.deleteType='multiple';
		        $('#confirm_modal').modal('show');
		    },
			deleteModule(moduleId)
			{
				let vm = this;
				vm.deleteModuleId = moduleId;
				vm.deleteType = 'single';
				$('#confirm_modal').modal('show'); 
			},
			deleteConfirmed(){
				let vm = this;
	            UserApi.deleteModuleById(vm.deleteModuleId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.modulePagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    this.getModuleListPagination('module/getModuleList', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                      //this.initialState(); 
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }
	            )
			},
			searchClearResult()
			{
				let vm = this;
				vm.searchData = {'searchKey': '','searchText': ''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getModuleListPagination('/module/getModuleList',vm.searchData);	
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getModuleListPagination('/module/getModuleList',searchData);
			},
			getCheckedRecords()
			{
				var chkRemoveModuleId=[];
				$(".chk-module:checked").each(function(){
				  chkRemoveModuleId.push($(this).data('moduleid'));
				 });
				return chkRemoveModuleId;
			},
			setEditModule(moduleId)
			{
				let vm = this;
				let pageNo = vm.modulePagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'module_edit',params: { id: moduleId,page: pageNo,perPage:vm.perPageUser }});
			},
	      	deleteMultipleConfirmed() {
	      		let vm = this;
	         	var chkRemoveModuleId = vm.getCheckedRecords();
	         	vm.deleteModuleId = chkRemoveModuleId;
	      		UserApi.deleteMultipleModuleById(vm.deleteModuleId).then(
	                (response)=> {
	                  if(response.data.code == 200)
	                  {
	                    $('.all-module').prop('checked', false);
	                    $('.chk-module').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getModuleListPagination('module/getModuleList',vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }
	            )
	      	},
	      	multipleStatusUpdate(actionStatus=''){
		        let vm =this; 
		        var chkUpdateModuleId = vm.getCheckedRecords();
			        let updateData = {
		          'moduleIds': chkUpdateModuleId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleModuleStatusByModuleId(updateData).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    //$('#presp_'+id).remove();
	                    $('.all-module').prop('checked', false);
	                    $('.chk-module').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getModuleListPagination('module/getModuleList?page='+vm.pageNo,vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                },
	                (error)=>{
	                }
		        )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.modulePagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		}
	}
</script>