<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post" enctype="multipart/form-data">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <!-- <h2 class="hidden">&nbsp;</h2> -->
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="module" class="form-control-label">Module Name</label>
									<input id="moduleName" name="name" type="text" placeholder="" class="form-control required" v-validate="'required|min:3|max:55'" v-model='moduleData.moduleName'>
									<span class="help is-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="allowTotalAttempt" class="form-control-label"> Total attempts</label>
									<input id="allowTotalAttempt" name="attempts" type="text" placeholder="" class="form-control required" v-validate="'required|numeric'" v-model='moduleData.allowTotalAttempt'>
									<span class="help is-danger" v-show="errors.has('attempts')">{{ errors.first('attempts') }}</span>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                		<div class="col-md-6">
								<div class="form-group">
                                    <label for="moduleDate" class="control-label txt_media1">Date</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control datepicker border-right-0" id="moduleDate" placeholder="dd/mm/yyyy" v-validate="'required|date_format:DD/MM/YYYY'" v-model="moduleData.moduleDate" name="moduleDate" data-date-format="dd/mm/yyyy">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i  class="fa fa-calendar" @click="dpOpen('moduleDate')"></i></span>
                                            </div>
                                            <!-- <i v-show="errors.has('dateOfBirth')" class="fa fa-warning"></i> -->
                                            <span class="help is-danger" v-show="errors.has('moduleDate')">{{ errors.first('moduleDate') }}</span>
                                    </div>
                                </div>
							</div>
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="status" class="form-control-label"> Status</label>
									<select id="status" name="status" class="form-control required ls-select2" v-model='moduleData.status'>
										<option value="active"> Active </option>
										<option value="inactive"> Inactive </option>
									</select>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="col-md-6">
								<div class="form-group">
									<label for="image" class="form-control-label"> Image</label>
									<div class="clearfix">
										<div class="float-left mr-2">
											<label class="btn-bs-file btn btn-lg btn-primary mb-0">
												Upload
												<input type="file"  class="btn btn-info" v-on:change="onImageChange"  name='image' ref="image">
											</label>
											<p class="mb-0"><small> * Accepted file types: .jpg, .jpeg, .png, .bmp</small></p>
										</div>
										<div class="module-image float-left">
											<img id="thumb" v-bind:src="'/storage/' + disp_image" v-if="show"/>
										</div>
									</div>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<div class="col-md-12">
								<div class="form-group">
									<label for="passingScore" class="form-control-label"> Description</label>
									<!-- <ckeditor name="description" v-validate="'required'" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor> -->
									<textarea name="description" v-validate="'required'" v-model="moduleData.description" class="form-control" rows="10"></textarea>
									<span class="help is-danger" v-show="errors.has('description')">{{ errors.first('description') }}</span>
								</div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group text-center mt-5">
					<button type="button" class="btn btn-primary mr-3" @click="editValidateBeforeSubmit">Edit</button>
					<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
        		</div>	
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	//import TemplateEditor from '@ckeditor/ckeditor5-build-classic';
	import { Validator } from 'vee-validate';
    import _ from 'lodash';
    import moment from 'moment';

     const fields = {
	  en: {
	    attributes: {
	    	name: 'Module Name',
	    	attempts: 'Total Attempts',
	    	score: 'Passing Score',
	    	description: 'Description ',
	    	moduleDate: 'Module Date'

	    }
	  },
	};

	Validator.localize(fields);
	export default{
		data(){
			return {
				'title': 'Edit Department',
				'moduleData': {
					'moduleId': '',
					'moduleName': '',
					'allowTotalAttempt':'',
					'passingScore': '',
					'image': '',
					'description': '',
					'status': '',
					'moduleDate': '',
					'pageNo':'',
                    'perPage':'',
				},
				'disp_image': '',
				//'editor': TemplateEditor,
                //'editorData': '',
                //'editorConfig': {
                //},
                'show': false
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;	
			$('.ls-select2').select2({
                placeholder: "Select"
            });
            $('#status').on("select2:select", function (e) { 
              vm.moduleData.status = $('#status').val();
            });

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate:  '+0d',

            });

            $('.datepicker').datepicker().on('changeDate',function(e){
                    vm.moduleData.moduleDate = $('#moduleDate').val() ;
            });

			this.initdata(vm.$route.params.id);
		},
		methods: {
			initdata(moduleId)
			{
				UserApi.getModuleById(moduleId).then(
					(response) => {
						if (response.data.code == 200) {

							let vm = this;
							vm.moduleData.description = response.data.data.description;
							this.moduleData['moduleId'] = response.data.data.moduleId;
							this.moduleData['moduleName'] = response.data.data.moduleName;
							this.moduleData['allowTotalAttempt'] = response.data.data.allowTotalAttempt;
							this.moduleData['passingScore'] = response.data.data.passingScore;
							this.moduleData['description'] = response.data.data.description;
                        	this.moduleData['status'] = response.data.data.status;
                        	this.moduleData['moduleDate'] = response.data.data.moduleDate;
                        	this.disp_image  = response.data.data.image;
                        	
                        	if (response.data.data.moduleDate != null) { 
								vm.moduleData.moduleDate = vm.getDateFormat(response.data.data.moduleDate);
                        	} else {
                        		vm.moduleData.moduleDate = '';
                        	}

                        	$('#status').val(response.data.data.status).trigger('change');
                        	
                        	if (response.data.data.image === '') {
                        		vm.show = false;
                        	} else {
                        		vm.show = true;
                        	}
                        } else if (response.data.code == 300) {
                            toastr.error(response.data.message, '', {timeOut: 5000});
                        } else {
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                        }
					},
					(error) => {

					}	
				);
			},
			dpOpen(dId)
            {
              if(dId!=''){
                $('#moduleDate').datepicker("show");
              }
            },
			backPage()
            {
                let vm = this;
                vm.$router.push({'name':'module_list'});
            },
            getDateFormat(val)
            {
                return moment(String(val)).format('DD/MM/YYYY');
            },
            editValidateBeforeSubmit() {
			   let vm = this;
			   vm.$route.meta.backProcessCheck = false;	
                vm.moduleData.status = $('#status').val();
                //vm.moduleData.description = vm.;
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                	    UserApi.editModuleById(vm.moduleData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;	
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.$router.push({'name':'module_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;	
                          }

                        )
                    }
                })
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.moduleData.image = e.target.result;
                    $('#thumb')
	                    .attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            },
            handleFileUpload(){
            	let vm = this;
            	vm.moduleData.image = this.$refs.image.files[0];
            },
		}
	}
</script>

<style>
  .ck-editor__editable {
    min-height: 300px;
   }
</style>