<template>
    <div class="reset-wrapper">
        <div class="container">
            <p class="text-center mb-0"><img src="../../../../assets/images/logo.svg" alt="" srcset="" class="reset-logo"></p>
            <div class="row">
                <div class="col-lg-6 col-10 col-sm-8 mx-auto reset-container mt-5">
                <h2 class="text-center mt-2">Reset Passwordd </h2>
                <form action="" class="mt-4">
                    <div class="form-group">
                    <label>New Password *</label> 
                    <!-- <input type="password" name="password" placeholder="..."  value="" v-model="password" v-validate="'required'"  class="form-control"> -->
                    <input v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/, max:64}" name="password" type="password" v-model="password"  class="form-control"  ref="password">
                    <span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8 character and maximum 64 characters long and<br>Password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</span>

                    </div>
                    <div class="form-group">
                    <label>Confirm Password *</label> 
                    <!-- <input type="password"  placeholder="..." value="" v-validate="'required|confirmed:password'" data-vv-as="password" name="password_confirmation"  class="form-control"> -->
                    <input v-validate="'required|confirmed:password'" name="password_confirmation" type="password" class="form-control" placeholder="Confirm Password" data-vv-as="password">
                    <span v-show="errors.has('password_confirmation')" class="help is-danger">{{ errors.first('password_confirmation') }}</span>
                    </div>
                    <div class="form-group text-center mt-4">
                    <button type="button" class="btn btn-primary btn-lg mr-3" @click="resetPassword()">Reset Password</button> 
                    <button type="button" class="btn btn-primary btn-lg mr-3" @click="login()">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

 import UserApi from '../../../api/apiService.js';
export default {
    name: 'adminResetPassword',
    created() {
            let vm=this;
        },
        data(){
            return{
              'token':this.$route.params.token,
              'email':this.$route.params.email,
              'password':'',

            }
        },
    mounted() {
          this.checkPaswordReset();
        },
    methods: {       
        checkPaswordReset() {
            let vm=this;
            this.$store.commit("routeChange", "start");
            UserApi.checkPasswordReset(this.token,this.email).then(
                 (response) => {
                  if(response.data.code == 200){
                      
                  } else {
                    toastr.error('Sorry link has been expired.', '', {timeOut: 5000});
                     vm.$router.push({'path':'/admin/'});
                  }
                this.$store.commit("routeChange", "end");
               
              },
                  (error) => {
                    this.$store.commit("routeChange", "end");
              },
            );
        },
        login(){
          let vm =this;
          vm.$router.push({'path':'/admin/'});
        },
        resetPassword(){
          let vm =this;
          vm.$validator.validateAll().then(() => {
             if (!this.errors.any()) {
                let resetData = {
                    'email': vm.email,
                    'password': vm.password
                }
                UserApi.editAdminPasswordReset(resetData).then(
                 (response) => {
                  if(response.data.code == 200){
                    toastr.success('Password has been changed successfully', '', {timeOut: 5000});
                    setTimeout(function(){
                        // vm.$router.push({'path':'/admin-login'});
                    },1000)
                      
                  } else {
                    toastr.error('Smething goes wrong.', '', {timeOut: 5000});

                  }
                this.$store.commit("routeChange", "end");
               
              },
                  (error) => {
                    this.$store.commit("routeChange", "end");
              },
            );
             }
          });
        }
    }

}
</script>

<style type="text/css" scoped>
.reset-wrapper{
    padding-top: 6.5%;
    padding-bottom: 2%;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../../../assets/images/admin-bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-y: auto;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.reset-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 15px 20px 20px 20px;
    border-radius: 3px;
}
.reset-logo{
    width: 180px;
}
</style>