<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <!-- <h2 class="hidden">&nbsp;</h2> -->
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="template" class="form-control-label">Template name</label>
									<input id="templateName" name="name" type="text" placeholder="" class="form-control required" v-validate="'required'" v-model='templateData.name'>
									<i v-show="errors.has('name')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="type" class="form-control-label"> Type</label>
									<input id="type" name="type" type="text" placeholder="" class="form-control required" v-validate="'required'" v-model='templateData.type'>
									<i v-show="errors.has('type')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('type')">{{ errors.first('type') }}</span>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="subject" class="form-control-label"> Subject</label>
									<input id="subject" name="subject" type="text" placeholder="" class="form-control required" v-validate="'required'" v-model='templateData.subject'>
									<i v-show="errors.has('subject')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('subject')">{{ errors.first('subject') }}</span>
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="status" class="form-control-label">Template</label>
									<!-- <ckeditor name="template" v-validate="'required'" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor> -->
									<i v-show="errors.has('template')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('template')">{{ errors.first('template') }}</span>
								</div>
	                    	</div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="status" class="form-control-label"> Status</label>
									<select id="status" name="status" type="text" placeholder="" class="form-control required ls-select2" v-validate="'required'" v-model='templateData.status'>
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select>	
									<i v-show="errors.has('status')" class="fa fa-warning"></i>
									<span class="help is-danger" v-show="errors.has('status')">{{ errors.first('status') }}</span>
								</div>
	                        </div>
	                    </div>
	                </div>
	            </div>

	           <div class="form-group text-center mt-5">
				   <button type="button" class="btn btn-primary mr-3" @click="addValidateBeforeSubmit">Save</button>
				   <button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
        		</div>
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	//import TemplateEditor from '@ckeditor/ckeditor5-build-classic';
	import _ from 'lodash';

	export default{
		data(){
			return {
				'title': 'Add Template',
				'templates': '',
				'templateData': {
					'name': '',
					'type':'',
					'subject': '',
					'template': '',
					'status': '',
				},
				'editor': TemplateEditor,
                'editorData': '',
                'editorConfig': {
                    // The configuration of the editor.
                },
                'perPage':this.$store.state.User.userPerPage,
				'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;	
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			)
			vm.$store.dispatch('SetUserPageNo',0);
			vm.$store.dispatch('SetUserPerPage',10);
		},
		methods: {
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'template_list'});
            },
            addValidateBeforeSubmit() {
				let vm = this;
				vm.$route.meta.backProcessCheck = false;	   
                vm.templateData.status = $('#status').val();
                vm.templateData.template = vm.editorData;
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                        UserApi.addTemplate(vm.templateData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;	
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'template_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;	
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;	
                          }

                        )
                    }
                })
            },
            setState()
            {
            	let vm = this;
            	vm.$store.dispatch('SetUserPageNo',vm.pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>

<style>
  .ck-editor__editable {
    min-height: 300px;
   }
</style>