<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddTemplate()">Add Template</button></div>
		  </div>
		</div>
		<searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData"></searchDataTable>
		<div class="my-3">
			<div data-v-744e717e="" class="datatable-length float-left" v-show="(templatePagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select class="ls-select2 form-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPage">
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
			</div>	          	
	    </div>  
			<div class="table-responsive">
			   <table class="table table-striped">
			      	<thead>
			         <tr>
			         	<th>
	                      <div class="custom-control custom-checkbox">
	                         <input type="checkbox" name="chk-all-template" class="custom-control-input all-template" id="all-template"  @change="checkAllchkbox">
	                         <label class="custom-control-label" for="all-template">&nbsp;</label>
	                      </div>
	                    </th>
			            <th>Name</th>
			            <th>Type</th>
			            <th>Subject</th>
			            <th>Status</th>
			            <th class="text-center">Action</th>
			         </tr>
			      	</thead>
			      	<tbody v-if="(templatePagination.total > 0)">
			         <tr v-for="template in templates">
			            <td>
			            	<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-temlate" class="custom-control-input chk-global chk-template" :data-templateid="template.emailTemplateId" :id="'chk'+template.emailTemplateId">
								<label class="custom-control-label" :for="'chk'+template.emailTemplateId	">&nbsp;</label>
							</div>
						</td>
			            <td>{{ template.name}}</td>
			            <td>{{ template.type}}</td>
			            <td>{{ template.subject}}</td>
			            <td v-if="template.status == 'active'">Active</td>
			            <td v-else>Inactive</td>
			            <td class="text-center">
										<a @click="deleteTemplate(template.emailTemplateId)" href="javascript:void(0)" class="btn btn-primary btn-icon mr-2"><i class="icon-trash"></i></a>
										<a href="javascript:void(0)" @click="setEditTemplate(template.emailTemplateId)" title="Edit template" class="btn btn-primary btn-icon"><i class="icon-pencil"></i></a>
									</td>
			         </tr>
			      	</tbody>
			      	<tbody v-else>
					    <tr><td colspan="6"><center><span>No records found</span></center></td></tr>
					</tbody>
			   </table>
			   <paginationPage :paginationData="templatePagination"></paginationPage>
			</div>		
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTable from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';

	export default{
		data(){
			return {
				'pagination': {},
		        'showResult': false,
				'searchDataListSelect':[
		          {key:'name',text:'Name'},
		          {key:'type',text:'Type'},
		          {key:'status',text:'Status'}
		        ],
		        'searchData': {
		        	'searchKey': '',
		        	'searchText': '',
		        },
				'templates': '',
				'templatePagination':'',
				'perPage' : 10,
		        'pageNo' : 0,
			}
		},
		components: {
			searchDataTable,
			paginationPage
		},
		created(){
			this.$root.$on('searchDataResult',this.searchDataResult);
			this.$root.$on('getListPage',this.getListPage); 
			this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',this.searchClearResult);
			this.$root.$on('multipleDeleteAction',this.multipleDeleteAction); 
			this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate) 
		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleDeleteAction',this.multipleDeleteAction); 
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate) 
		},
		mounted(){
			let vm = this;
			vm.searchData = {searchKey: '',searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			this.initdata();

			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {

			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  if(searchData)
				  {
				      let sData = searchData;
				      vm.searchData = sData;
				  }
				  vm.showResult = true;
				  vm.perPageUser = vm.$store.state.User.userPerPage;

				  vm.getTemplateListPagination('/template/getTemplateList?page='+pageNo,vm.searchData);
				 
				}
				else
				{
				  vm.showResult = true;
				  vm.getTemplateListPagination('/template/getTemplateList',vm.searchData);
				}
			},
			getTemplateListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
		        vm.getUserData = [];
		        UserApi.getTemplateListPagination(pageUrl,no_of_page,searchData).then(
		           (response) => {
		              if(response.data.code == 200){
		                
		                vm.templates = response.data.data.data;
		                if(vm.templates.length == 0){
		                	this.getTemplateListPagination('/template/getTemplateList',searchData);
		                }
		                vm.makePagination( response.data.data);

		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
			},

			checkAllchkbox()
			{
				if($('.all-template').is(':checked') == true){
		         $('.chk-template').prop('checked', true);
		        } else {
		         $('.chk-template').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.templatePagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getTemplateListPagination('/template/getTemplateList',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getTemplateListPagination('/template/getTemplateList',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			  let vm=this;
			   vm.getTemplateListPagination('/template/getTemplateList?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  let vm=this;
			  vm.getTemplateListPagination(pageUrl,vm.searchData)
			},
			setAddTemplate()
			{
				let vm = this;
				let pageNo = vm.templatePagination.currentPage;
				vm.showResult=0;
				vm.setState();
				// vm.$store.dispatch('SetUserPageNo',pageNo);
				// vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'template_add'});
			},
			deleteTemplate(templateId)
			{
				let vm = this;
	            UserApi.deleteTemplateById(templateId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.templatePagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    this.getTemplateListPagination('template/getTemplateList', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                      //this.initialState(); 
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	              )
			},
			searchClearResult()
			{
				let vm = this;
				vm.searchData={'searchKey':'','searchText':''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getTemplateListPagination('/template/getTemplateList',vm.searchData);	
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getTemplateListPagination('/template/getTemplateList',searchData);
			},
			multipleDeleteAction()
			{
	         	let vm = this;
	          	var chkRemoveTemplateId = vm.getCheckedRecords();

	          	if(chkRemoveTemplateId.length == 0){
		        	toastr.error('', 'Please select template.', {timeOut: 3000});
		        	return false;
		        }

	            UserApi.deleteMultipleTemplateById(chkRemoveTemplateId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200)
	                  {
	                    $('.all-template').prop('checked', false);
	                    $('.chk-template').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getTemplateListPagination('template/getTemplateList',vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	              )
	        
	      	},
			getCheckedRecords()
			{
				var chkRemoveTemplateId=[];
				$(".chk-template:checked").each(function(){
				  chkRemoveTemplateId.push($(this).data('templateid'));
				 });
				return chkRemoveTemplateId;
			},
			setEditTemplate(templateId)
			{
				let vm = this;
				let pageNo = vm.templatePagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				// vm.$store.dispatch('SetUserPageNo',pageNo);
				// vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'template_edit',params: { id: templateId,page: pageNo,perPage:vm.perPageUser }});
			},
			multipleStatusUpdate(actionStatus=''){
		        let vm =this; 
		        var chkUpdateTemplateId = vm.getCheckedRecords();

		        if(chkUpdateTemplateId.length == 0){
		        	toastr.error('', 'Please select template.', {timeOut: 3000});
		        	return false;
		        }
		        
		        let updateData = {
		          'templateIds': chkUpdateTemplateId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleTemplateStatusByTemplateId(updateData).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    //$('#presp_'+id).remove();
	                    $('.all-template').prop('checked', false);
	                    $('.chk-template').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getTemplateListPagination('template/getTemplateList?page='+vm.pageNo,vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                },
	                (error)=>{
	                }
		        )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.templatePagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		}
	}
</script>