<template>
		<div>
			<div class="page-header">
	            <div class="row">
	                <div class="col-md-12 text-right">
	                 	<a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a>
	               	</div>
	            </div>
        	</div>
			<form method="post">
			    <div class="vue-form-wizard md" id="adduser_form">
			        <div class="wizard-navigation">
			           <div class="wizard-progress-with-circle">
			              <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
			           </div>
			          
			           	<div class="wizard-tab-content">
			                <h2 class="hidden">&nbsp;</h2>
			                <div class="row">
			                    <div class="col-md-6">
									<div class="form-group">
										<label for="userType" class="form-control-label">User Type</label>
										<input id="user_type" name="userType" type="text" placeholder="User type" class="form-control required" v-model="usertypeData.userType" v-validate="'required|min:3|max:55'">
										<span class="help is-danger" v-show="errors.has('userType')">{{ errors.first('userType') }}</span>
			                    	</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="status" class="form-control-label"> Status</label>
										<select class="form-control ls-select2" id="userTypeStatus" name="status" v-model="usertypeData.userTypeStatus" v-validate="'required'">
											<option value="active">Active</option>
											<option value="inactive">Inactive</option>
										</select> 
										<span class="help is-danger" v-show="errors.has('status')">Please select Status.</span>
									</div>
								</div>
			                </div>
			            </div>
			        </div>
			        <div class="form-group text-center mt-5">
						<button type="button" class="btn btn-primary mr-3" @click="addValidateBeforeSubmit">Save</button>
						<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
	            	</div>
			    </div>
			</form>
		</div>
		
		
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import { Validator } from 'vee-validate';
    import _ from 'lodash';

    const fields = {
	  en: {
	    attributes: {
	    	userType: 'User Type',
	    	status: 'Status'
	    }
	  },
	};

	Validator.localize(fields);
	export default{
		data(){
			return {
				'usertypeData':{
					'userType': '',
					'userTypeStatus': ''
				},
				'perPage':this.$store.state.User.userPerPage,
				'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted(){
			let vm = this;
			vm.$route.meta.backProcessCheck = true;								
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			vm.$store.dispatch('SetUserPageNo',0);
			vm.$store.dispatch('SetUserPerPage',10);
		},
		methods: {
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'user_type_list'});
            },
			addValidateBeforeSubmit(){
				let vm = this;
				vm.$route.meta.backProcessCheck = false;								
				vm.usertypeData.userTypeStatus = $('#userTypeStatus').val();
				vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {

	                    UserApi.addUserType(vm.usertypeData).then(
	                          (response)=> {

	                            if(response.data.code == 200){
									vm.$route.meta.backProcessCheck = false;								
	                                toastr.success(response.data.message, response.data.title, {timeOut: 5000});
	                                vm.setState();
	                                vm.$router.push({'name':'user_type_list'});
	                            } 
	                            else if (response.data.code == 300) {
									vm.$route.meta.backProcessCheck = true;								
	                                toastr.error(response.data.message, response.data.title, {timeOut: 5000});
	                            }
	                            else
	                            {
									vm.$route.meta.backProcessCheck = true;								
	                                toastr.error('Something Went wrong.', 'Usery Type', {timeOut: 5000});
	                            }
	                            
	                           },
	                          (error)=>{
								  vm.$route.meta.backProcessCheck = true;								
	                          }

	                    )
                	}
                })
			},
			setState()
            {
            	let vm = this;
            	vm.$store.dispatch('SetUserPageNo',vm.pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>


<style type="text/css">
	.right{
		float: right;
	}
</style>