<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddUserCategory()">Add User Category</button></div>
		  </div>
		</div>
		<searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData" ref="userCategoryListing"></searchDataTable>
		<div class="my-3">
          	<div data-v-744e717e="" class="datatable-length float-left mb-3" v-show="(userCategoryPagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select data-v-744e717e="" class="ls-select2 form-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPage">
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
       		</div>
       	</div>
			<div class="table-responsive">
			   <table class="table table-striped">
			      	<thead>
			         <tr>
			         	<th width="40px">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-usercategory" class="custom-control-input all-usercategory" id="all-usercategory"  @change="checkAllchkbox">
								<label class="custom-control-label" for="all-usercategory">&nbsp;</label>
							</div>
	                    </th>
			            <th width="360px" @click="sortByColumn('type')">
										User Category
										<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='type' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
									</th>
			            <th width="235px" @click="sortByColumn('userType')">
			            	User Type
			            	<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='userType' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
			            </th>
			            <th width="165px" @click="sortByColumn('status')">
										Status
										<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
									</th>
			            <th width="265px" class="text-center">Action</th>
			         </tr>
			      	</thead>
					<tbody v-if="(userCategoryPagination.total > 0)">
					 <tr v-for="category in categories">
					    <td>
					    	<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-usercategory" class="custom-control-input chk-global chk-usercategory" :data-usercategory="category.userCategoryId" :id="'chk'+category.userCategoryId">
								<label class="custom-control-label" :for="'chk'+category.userCategoryId	">&nbsp;</label>
							</div>
						</td>
					    <td>{{ category.type }}</td>
					    <td>{{ category.user_type_category.type }}</td>
					    <td v-if="category.status == 'active'">Active</td>
					    <td v-else>Inactive</td>
					    <td class="text-center">
					      <a @click="deleteUserCategory(category.userCategoryId)" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-trash"></i></a>
					      <a href="javascript:void(0)" @click="setEditUserCategory(category.userCategoryId)" title="Edit User Category" class="btn btn-primary btn-icon mb-1 mb-xl-0"><i class="icon-pencil"></i></a>
					  	</td>
					 </tr>
					</tbody>
			      	<tbody v-else>
					    <tr><td colspan="5"><center><span>No record found.</span></center></td></tr>
					</tbody>
			   </table>
			   <paginationPage :paginationData="userCategoryPagination"></paginationPage>
			</div>		
			<confirmDelete :deleteConfirmMsg="deleteMsg" :deleteId="deleteUserCategoryId" :deleteType="deleteType"></confirmDelete>
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTable from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';
 	import confirmDelete from '../components/userConfirmDeleteModel.vue';

	export default{
		data(){
			return {
				'pagination': {},
		        'userPagination': {},
				'showResult': false,
				'searchDataListSelect':[
		          {key:'catgory',text:'Category'},
		          {key:'usertype',text:'User Type'},
		          {key:'status',text:'Status'}
		        ],
		        'searchData': {
		        	'searchKey': '',
		        	'searchText': '',
		        },
				'categories': '',
				'userCategoryPagination':'',
				'isCheckAll': false,
				'perPage' : 10,
				'pageNo' : 0,
				'deleteMsg': 'Are you sure you want to delete User Category?',
				'deleteUserCategoryId': '',
				'deleteType': '',
				'sortedColumn': 'created_at',
				'order': 'asc',
			}
		},
		components: {
			searchDataTable,
			paginationPage,
			confirmDelete
		},
		created(){
			this.$root.$on('searchDataResult',this.searchDataResult);
			this.$root.$on('getListPage',this.getListPage); 
			this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',this.searchClearResult);
			this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate); 
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed);  
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$off('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$off('deleteMultipleConfirmed',this.deleteMultipleConfirmed);  
			this.$root.$off('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		mounted(){
			let vm = this;
			vm.searchData = {searchKey: '',searchText: ''};
			vm.searchData = {searchKey: '',searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			vm.initdata();

			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {
			sortByColumn(column) {
	            if (column === this.sortedColumn) {
	              this.order = (this.order === 'asc') ? 'desc' : 'asc'
	            } else {
	              this.sortedColumn = column
	              this.order = 'asc'
	            }
	             
	             this.getUserCategoryListPagination('/usercategory/getUserCategoryList',this.searchData);
            },
			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  if(searchData)
				  {
				      let sData = searchData;
				      vm.searchData = sData;
				  }
				  vm.showResult = true;
				  vm.getUserCategoryListPagination('/usercategory/getUserCategoryList?page='+pageNo,vm.searchData);
				 
				}
				else
				{
				  vm.showResult = true;
				  vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',vm.searchData);
				}
			},
			getUserCategoryListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
		        vm.getUserData = [];
		        let data =  { 
										'searchData' : searchData,
										'noOfpage' : no_of_page,
										'sortedColumn':vm.sortedColumn,
										'order':vm.order
									};
						UserApi.getUserCategoryListPagination(pageUrl,data).then(
		           (response) => {
		              if(response.data.code == 200){
		                
		                vm.categories = response.data.data.data;
		                vm.makePagination( response.data.data);

		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
			},
			checkAllchkbox()
			{
				if($('.all-usercategory').is(':checked') == true){
		         $('.chk-usercategory').prop('checked', true);
		        } else {
		         $('.chk-usercategory').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.userCategoryPagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm = this;
		      vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			  	let vm=this;
			  	$('.all-usercategory').prop('checked', false);
	            $('.chk-usercategory').prop('checked', false);
			   	vm.getUserCategoryListPagination('/usercategory/getUserCategoryList?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  	let vm=this;
			  	$('.all-admin').prop('checked', false);
	            $('.chk-admin').prop('checked', false);
			  	vm.getUserCategoryListPagination(pageUrl,vm.searchData)
			},
			setAddUserCategory()
			{
				let vm = this;
				let pageNo = vm.userCategoryPagination.currentPage;
				vm.showResult=0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'user_category_add'});
			},
			deleteUserCategory(userCategoryId)
			{
				let vm = this;
	            vm.deleteUserCategoryId = userCategoryId;
	            vm.deleteType = 'single';
	            $('#confirm_modal').modal('show');
			},
			confirmDeleteMultOption(){
		        let vm=this;
		    	vm.deleteType='multiple';
		        $('#confirm_modal').modal('show');
		    },
			deleteConfirmed()
			{
				let vm = this;
				UserApi.deleteUserCategoryById(vm.deleteUserCategoryId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.userCategoryPagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getUserCategoryListPagination('usercategory/getUserCategoryList', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                      //this.initialState(); 
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	            )
			},
			searchClearResult()
			{
				let vm = this;
				vm.searchData = {'searchKey': '','searchText': ''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',vm.searchData);	
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',searchData);
			},
			getCheckedRecords()
			{
				var chkRemoveUserCategoryId=[];
				$(".chk-usercategory:checked").each(function(){
				  	chkRemoveUserCategoryId.push($(this).data('usercategory'));
				 });
				return chkRemoveUserCategoryId;
			},
			setEditUserCategory(userCategoryId)
			{
				let vm = this;
				let pageNo = vm.userCategoryPagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'user_category_edit',params: { id: userCategoryId,page: pageNo,perPage:vm.perPageUser }});
			},
			deleteMultipleConfirmed()
			{
	         	let vm = this;
	          	var chkRemoveUserCategoryId = vm.getCheckedRecords();
	          	vm.deleteUserCategoryId = chkRemoveUserCategoryId;
	          	UserApi.deleteMultipleUserCategoryById(vm.deleteUserCategoryId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200)
	                  {
	                  	vm.isCheckAll = false;	
	                    $('.all-usercategory').prop('checked', false);
	                    $('.chk-usercategory').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getUserCategoryListPagination('/usercategory/getUserCategoryList',vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	            )
	      	},
			multipleStatusUpdate(actionStatus=''){
		        let vm = this; 
		        var chkUpdateUserCategoryId = vm.getCheckedRecords();
		        let updateData = {
		          'userCategoryIds': chkUpdateUserCategoryId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleUserCategoryStatusByUserCategoryId(updateData).then(
		                (response)=> {
		                 
		                  if(response.data.code == 200){
		                    $('.all-usercategory').prop('checked', false);
	                    	$('.chk-usercategory').prop('checked', false);
		                    vm.setState();
		                    vm.$store.dispatch('SetUserPageNo',0);
	  						vm.$store.dispatch('SetUserPerPage',10);
		                    vm.getUserCategoryListPagination('usercategory/getUserCategoryList?page='+vm.pageNo,vm.searchData);
		                    toastr.success('', response.data.message, {timeOut: 5000});
		                    return false;
		                  } else if (response.data.code == 300) {
		                      toastr.error('', response.data.message, {timeOut: 5000});
		                  }
		                  else
		                  {
		                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
		                  }
		                  
		                },
		                (error)=>{
		                }
		        )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.userCategoryPagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		},
		
	}
</script>