<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
	        <div class="vue-form-wizard md" id="adduser_form">
	            <div class="wizard-navigation">
	               <div class="wizard-progress-with-circle">
	                  <div class="wizard-progress-bar" style="background-color: rgb(155, 89, 182); color: rgb(155, 89, 182); width: 12.5%;"></div>
	               </div>
	              
	               	<div class="wizard-tab-content">

	                    <!-- <h2 class="hidden">&nbsp;</h2> -->
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="user_category" class="form-control-label">User Type: </label>
									<select class="form-control ls-select2" id="userTypeId" name="userTypeId" v-validate="'required'" v-model='userCategoryData.userTypeId'>
										<option value="">Select</option>
										<option :value="userType.userTypeId" v-for="userType in userTypes">{{userType.type}}</option>
									</select> 
									<span class="help is-danger" v-show="errors.has('userTypeId')">{{ errors.first('userTypeId') }}</span>
								</div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="usercategory" class="form-control-label">User Category</label>
									<input id="category" name="category" type="text" placeholder="" class="form-control required" v-validate="'required|min:3|max:55'" v-model='userCategoryData.type'>
									<span class="help is-danger" v-show="errors.has('category')">{{ errors.first('category') }}</span>
								</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-md-6">
								<div class="form-group">
									<label for="status" class="form-control-label"> Status</label>
									<select id="status" name="status" type="text" placeholder="" class="form-control required ls-select2" v-validate="'required'" v-model='userCategoryData.status'>
										<option value="active">Active</option>
										<option value="inactive">Inactive</option>
									</select>	
									<span class="help is-danger" v-show="errors.has('status')">{{ errors.first('status') }}</span>
								</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group text-center mt-5">
					<button type="button" class="btn btn-primary mr-3" @click="addValidateBeforeSubmit">Save</button>
					<button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
            	</div>
	        </div>
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import { Validator } from 'vee-validate';
    import _ from 'lodash';

    const fields = {
	  en: {
	    attributes: {
	    	category: 'User Category',
	    	status: 'Status',
	    }
	  },
	};

	Validator.localize(fields);
	export default{
		data(){
			return {
				'title': 'Add User Category',
				'modules': '',
				'userTypes': '',
				'userCategoryData': {
					'userTypeId': '',
					'type':'',
					'status': '',
				},
				'perPage':this.$store.state.User.userPerPage,
				'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted()
		{
			let vm = this;
			vm.$route.meta.backProcessCheck = true;
			$('.ls-select2').select2({
                placeholder: "Select"
            });
			UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
						
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			)
			vm.$store.dispatch('SetUserPageNo',0);
			vm.$store.dispatch('SetUserPerPage',10);

			$('#userTypeId').on("select2:select", function (e) { 
              vm.userCategoryData.userTypeId = $('#userTypeId').val();
            });
            $('#status').on("select2:select", function (e) { 
              vm.userCategoryData.status = $('#status').val();
            });
		},
		methods: {
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'user_category_list'});
            },
            addValidateBeforeSubmit() {
				let vm = this;
				vm.$route.meta.backProcessCheck = false;   
                vm.userCategoryData.userTypeId = $('#userTypeId').val();
               	vm.userCategoryData.status = $('#status').val();
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                        UserApi.addUserCategory(vm.userCategoryData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
								vm.$route.meta.backProcessCheck = false;
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'user_category_list'});
                            } 
                            else if (response.data.code == 300) {
								vm.$route.meta.backProcessCheck = true;
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
								vm.$route.meta.backProcessCheck = true;								
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
							  vm.$route.meta.backProcessCheck = true;								
                          }

                        )
                    }
                })
            },
            setState()
            {
            	let vm = this;
            	vm.$store.dispatch('SetUserPageNo',vm.pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>

<style type="text/css">
	.right{
		float: right;
	}
</style>