	<template>
	<div class="col-lg-12 mb-3">
		<div class="row">
		  <div class="col-md-12">
		     <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddUserType()">Add User type</button></div>
		  </div>
		</div>
		<searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData"></searchDataTable>
		<div class="my-3">
          	<div data-v-744e717e="" class="datatable-length" v-show="(userTypePagination.total > 0)">
	          	<span data-v-744e717e="">Show:</span>
	            <select data-v-744e717e="" class="ls-select2 sort-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPage">
	              <option data-v-744e717e="" value="2">2</option>
	              <option data-v-744e717e="" value="5">5</option>
	                <option data-v-744e717e="" value="10">10</option>
	                <option data-v-744e717e="" value="20">20</option>
	                <option data-v-744e717e="" value="50">50</option>
	            </select>
	          	<span>entries</span>
       		</div>
       	</div>
			<div class="table-responsive">
			   <table class="table table-striped">
			      	<thead>
			         <tr>
						<th width="40px">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-usertype-all" class="custom-control-input all-usertype" id="all-usertype"  @change="checkAllchkbox">
								<label class="custom-control-label" for="all-usertype">&nbsp;</label>
							</div>
						</th>
			            <th width="340px" @click="sortByColumn('type')">
										User Type
										<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='type' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
									</th>
			            <th width="245px" @click="sortByColumn('status')">
										Status
										<a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
									</th>
			            <th width="365px" class="text-center">Action</th>
			         </tr>
			      	</thead>
					<tbody v-if="(userTypePagination.total > 0)">
					 <tr v-for="usertype in usertypes">
					    <td>
					    	<div class="custom-control custom-checkbox">
								<input type="checkbox" name="chk-usertype" class="custom-control-input chk-global chk-usertype" :data-usertypeid="usertype.userTypeId" :id="'chk'+usertype.userTypeId">
								<label class="custom-control-label" :for="'chk'+usertype.userTypeId	">&nbsp;</label>
							</div>
						</td>
					    <td>{{ usertype.type}}</td>
					    <td v-if="usertype.status == 'active'">Active</td>
					    <td v-else>Inactive</td>
					    <td class="text-center">
					      <a @click="deleteUserType(usertype.userTypeId)" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-lg-0"><i class="icon-trash"></i></a>
					      <a href="javascript:void(0)" @click="setEditUserType(usertype.userTypeId)" class="btn btn-primary btn-icon mb-1 mb-lg-0" title="Edit user type"><i class="icon-pencil"></i></a>
					  	</td>
					 </tr>
					</tbody>
			      	<tbody v-else>
					    <tr><td colspan="4"><center><span>No record found.</span></center></td></tr>
					</tbody>
			   </table>
			   <paginationPage :paginationData="userTypePagination"></paginationPage>
			</div>		
			<confirmDelete :deleteConfirmMsg="deleteMsg" :deleteId="deleteUserTypeId" :deleteType="deleteType"></confirmDelete>
	</div>
</template>

<script>
	import UserApi from '../../../api/apiService.js';
	import searchDataTable from '../components/searchDataTable.vue';
 	import paginationPage from '../components/paginationPage.vue';
 	import confirmDelete from '../components/userConfirmDeleteModel.vue';

	export default{
		data(){
			return {
				'pagination': {},
		        'showResult': false,
				'searchDataListSelect':[
		          {key:'type',text:'User Type'},
		          {key:'status',text:'Status'}
		        ],
		        'searchData': {},
				'usertypes': '',
				'userTypePagination':'',
				'perPage' : 10,
		    'pageNo' : 0,
		    'deleteMsg': 'Are you sure you want to delete User Type?',
		  	'deleteUserTypeId': '',
				'deleteType': '',
				'sortedColumn': 'created_at',
        'order': 'asc',						
			}
		},
		components: {
			searchDataTable,
			paginationPage,
			confirmDelete
		},
		created(){
			this.$root.$on('searchDataResult',this.searchDataResult);
			this.$root.$on('getListPage',this.getListPage); 
			this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$on('searchClearResult',this.searchClearResult);
			this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate);
			this.$root.$on('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$on('deleteMultipleConfirmed',this.deleteMultipleConfirmed); 
			this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);

		},
		destroyed() {
			this.$root.$off('searchDataResult',this.searchDataResult);
			this.$root.$off('getListPage',this.getListPage); 
			this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
			this.$root.$off('searchClearResult',this.searchClearResult);
			this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate); 
			this.$root.$off('deleteConfirmed',this.deleteConfirmed); 
			this.$root.$off('deleteMultipleConfirmed',this.multipleDelete); 
			this.$root.$off('confirmDeleteMultOption', this.confirmDeleteMultOption);
		},
		mounted(){
			let vm = this;
			vm.searchData = { searchKey: '', searchText: ''};
			vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
			vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
			vm.$store.dispatch('SetUserPageNo',0);
	  		vm.$store.dispatch('SetUserPerPage',10);
			vm.initdata();

			$('#perPageNoUser').val(vm.perPage).trigger('change');
			$('#perPageNoUser').on("select2:select", function (e) { 
              vm.perPage=$(this).val();
              vm.setPerPageUser();
            });
		},
		methods: {

			initdata()
			{
				let vm = this;
				let pageNo = vm.pageNo;
				let searchData = vm.$store.state.User.userSearchData;

				if(pageNo!=0 && pageNo!=null && pageNo!='')
				{
				  	if(searchData)
				  	{
				      let sData = searchData;
				      vm.searchData = sData;
				  	}
				  	vm.showResult = true;
				  	vm.getUserTypeListPagination('/usertype/getUserTypes?page='+pageNo,vm.searchData);
				}
				else
				{
				  vm.showResult = true;
				  vm.getUserTypeListPagination('/usertype/getUserTypes',vm.searchData);
				}
			},
			sortByColumn(column) {
				if (column === this.sortedColumn) {
					this.order = (this.order === 'asc') ? 'desc' : 'asc'
				} else {
					this.sortedColumn = column
					this.order = 'asc'
				}
					
					this.getUserTypeListPagination('/usertype/getUserTypes',this.searchData);
			},
			confirmDeleteMultOption(){
		        let vm=this;
		    	vm.deleteType='multiple';
		        $('#confirm_modal').modal('show');
		    },
			getUserTypeListPagination(pageUrl,searchData)
			{
				let vm = this;
		        let no_of_page = '';
		        no_of_page = vm.perPage;
						vm.getUserData = [];
						let sortData = {
							'sortedColumn': vm.sortedColumn,
							'order': vm.order
						}
		        UserApi.getUserTypes(pageUrl,no_of_page,searchData,sortData).then(
		           (response) => {
		              if(response.data.code == 200){
		                
		                vm.usertypes = response.data.data.data;
		                vm.makePagination( response.data.data);

		              } else if (response.data.code == 300) {

		                  let result=response.data.data.data;
		                  if(result=='' || result==null)
		                  {
		                      vm.getUserData = [];
		                  }
		                  else
		                  {
		                      vm.getUserData = result;
		                      vm.makePagination( response.data.data);
		                  }
		                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});

		              }
		           },
		           (error) => {
		                     },
		        );
			},

			checkAllchkbox()
			{
				if($('.all-usertype').is(':checked') == true){
		         $('.chk-usertype').prop('checked', true);
		        } else {
		         $('.chk-usertype').prop('checked', false);
		        }  
			},
			makePagination: function(data,status){
	          let pagination = {
	              currentPage: data.current_page,
	              lastPage: data.last_page,
	              nextPageUrl: data.next_page_url,
	              prevPageUrl: data.prev_page_url,
	              total : data.total,
	              from : data.from,
	              to : data.to
	          }
	          this.userTypePagination = pagination;
	      	},
	      	setPerPage(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPage);
		      vm.getUserTypeListPagination('/usertype/getUserTypes',vm.searchData);
		    },
		    setPerPageUser(e){
		      let vm =this;
		      //vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
		      vm.getUserTypeListPagination('/usertype/getUserTypes',vm.searchData);
		    },
		    getDetailsPageByIndex(indexVal)
			{
			  	let vm=this;
			  	$('.all-usertype').prop('checked', false);
	          	$('.chk-usertype').prop('checked', false);
			   vm.getUserTypeListPagination('/usertype/getUserTypes?page='+indexVal,vm.searchData);
			},
			getListPage(pageUrl)
			{
			  	let vm=this;
			  	$('.all-admin').prop('checked', false);
	          	$('.chk-admin').prop('checked', false);
			  	vm.getUserTypeListPagination(pageUrl,vm.searchData)
			},
			setAddUserType()
			{
				let vm = this;
				let pageNo = vm.userTypePagination.currentPage;
				vm.showResult=0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'user_type_add'});
			},
			deleteUserType(userTypeId)
			{
				let vm = this;
	            vm.deleteUserTypeId = userTypeId;
	            vm.deleteType = 'single';
	            $('#confirm_modal').modal('show');
			},
			deleteConfirmed()
			{
				let vm = this;
				UserApi.removeUserType(vm.deleteUserTypeId).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    let page = vm.userTypePagination.currentPage;
	                    toastr.success(response.data.message,'', {timeOut: 5000});
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    this.getUserTypeListPagination('/usertype/getUserTypes', vm.searchData);

	                  } else if (response.data.code == 300) {
	                      toastr.error(response.data.message, '', {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.','', {timeOut: 5000});
	                  }
	                  
	                },
	                (error)=>{
	                }

	            )
			},
			searchClearResult()
			{
				let vm = this;
				vm.searchData = {'searchKey': '','searchText': ''};
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.getUserTypeListPagination('/usertype/getUserTypes',vm.searchData);	
			},
			searchDataResult(searchData)
			{
			  let vm = this;
			  vm.searchData = searchData;
			  vm.getUserTypeListPagination('/usertype/getUserTypes',searchData);
			},
			deleteMultipleConfirmed() {
	      		let vm = this;
	      		var chkRemoveUserTypeId = vm.getCheckedRecords();
	          	vm.deleteUserTypeId = chkRemoveUserTypeId;
	      		UserApi.deleteMultipleUserTypeById(vm.deleteUserTypeId).then(
					(response)=> {
					if(response.data.code == 200)
					{
					 $('.all-usertype').prop('checked', false);
					 $('.chk-usertype').prop('checked', false);
					 vm.setState();
					 vm.$store.dispatch('SetUserPageNo',0);
						vm.$store.dispatch('SetUserPerPage',10);
					 vm.getUserTypeListPagination('usertype/getUserTypes',vm.searchData);
					 toastr.success('', response.data.message, {timeOut: 8000});
					 return false;
					} else if (response.data.code == 300) {
					   toastr.error('', response.data.message, {timeOut: 5000});
					}
					else
					{
					   toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
					}

					},
					(error)=>{
					}
				)
	      	},
			getCheckedRecords()
			{
				var chkRemoveUserTypeId=[];
				$(".chk-usertype:checked").each(function(){
				  chkRemoveUserTypeId.push($(this).data('usertypeid'));
				 });
				return chkRemoveUserTypeId;
			},
			setEditUserType(userTypeId)
			{
				let vm = this;
				let pageNo = vm.userTypePagination.currentPage;
				vm.showResult = 0;
				vm.setState();
				vm.$store.dispatch('SetUserSearchData',vm.searchData);
				vm.$router.push({'name':'user_type_edit',params: { id: userTypeId }});
			},
			multipleStatusUpdate(actionStatus=''){
		        let vm =this; 
		        var chkUpdateUserTypeId = vm.getCheckedRecords();
		        let updateData = {
		          'userTypeIds': chkUpdateUserTypeId,
		          'actionStatus': actionStatus
		        }
		        UserApi.updateMultipleUserTypeStatusById(updateData).then(
	                (response)=> {
	                 
	                  if(response.data.code == 200){
	                    $('.all-usertype').prop('checked', false);
	                    $('.chk-usertype').prop('checked', false);
	                    vm.setState();
	                    vm.$store.dispatch('SetUserPageNo',0);
	  					vm.$store.dispatch('SetUserPerPage',10);
	                    vm.getUserTypeListPagination('usertype/getUserTypes?page='+vm.pageNo,vm.searchData);
	                    toastr.success('', response.data.message, {timeOut: 5000});
	                    return false;
	                  } else if (response.data.code == 300) {
	                      toastr.error('', response.data.message, {timeOut: 5000});
	                  }
	                  else
	                  {
	                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
	                  }
	                },
	                (error)=>{
	                }
		        )
		    },
		    setState()
			{
				let vm = this;
				let pageNo = vm.userTypePagination.currentPage;
				vm.pageNo = pageNo;
				vm.$store.dispatch('SetUserPageNo',pageNo);
				vm.$store.dispatch('SetUserPerPage',vm.perPage);
			},
		}
	}
</script>