<template>
	<div>
		<div class="page-header">
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
		<form method="post">
            <div class="vue-form-wizard md" id="editusercategory_form">
    	        <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="user_category" class="form-control-label">User Type: </label>
                            <select class="form-control ls-select2" id="userTypeId" name="userTypeId" v-validate="'required'" v-model='userCategoryData.userTypeId'>
                                <option value="">Select</option>
                                <option :value="userType.userTypeId" v-for="userType in userTypes">{{userType.type}}</option>
                            </select> 
                            <span class="help is-danger" v-show="errors.has('userTypeId')">{{ errors.first('userTypeId') }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="allowTotalAttemt" class="form-control-label">User Category</label>
                            <input id="category" name="category" type="text" placeholder="" class="form-control required" v-validate="'required|min:3|max:55'" v-model='userCategoryData.type'>
                            <span class="help is-danger" v-show="errors.has('category')">{{ errors.first('category') }}</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="status" class="form-control-label"> Status</label>
                            <select id="status" name="status" type="text" placeholder="" class="form-control required ls-select2" v-validate="'required'" v-model='userCategoryData.status'>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>	
                            <span class="help is-danger" v-show="errors.has('status')">{{ errors.first('status') }}</span>
                        </div>
                    </div>
                </div>
    			<div class="form-group text-center mt-5">
                    <button type="button" class="btn btn-primary mr-3" @click="editValidateBeforeSubmit">Edit</button>
                    <button type="button" class="btn btn-primary" @click="backPage()" >Cancel</button>
                </div>
            </div>    
	    </form>	
	</div>
					
</template>

<script>
	import UserApi from '../../../api/apiService.js';
    import _ from 'lodash';

	export default{
		data(){
			return {
				'title': 'Edit Department',
				'userTypes': '',
				'userCategoryData': {
					'userTypeId': '',
					'type':'',
					'status': '',
				},
                'perPage':this.$store.state.User.userPerPage,
                'pageNo':this.$store.state.User.userPageNo
			}
		},
		mounted()
		{
            let vm = this;
            vm.$route.meta.backProcessCheck = true;								
            $('.ls-select2').select2({
                placeholder: "Select"
            });
            vm.searchData = {searchKey: '',searchText: ''};
            UserApi.getUserTypes('usertype/getUserTypes').then(
				(response) => {
					if(response.data.code == 200){
                    	vm.userTypes = response.data.data.data;
                    } 
                    else if (response.data.code == 300) {
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    }
                    else
                    {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
				},
				(error) => {

				}
			);
			this.initdata(vm.$route.params.id);
		},
		methods: {
			initdata(userCategoryId)
			{
				UserApi.getUserCategoryById(userCategoryId).then(
					(response) => {
						if(response.data.code == 200){
							this.userCategoryData['userCategoryId'] = response.data.data.userCategoryId;
							this.userCategoryData['userTypeId'] = response.data.data.userTypeId;
							this.userCategoryData['type'] = response.data.data.type;
							this.userCategoryData['status'] = response.data.data.status;
                            $('#userTypeId').val(response.data.data.userTypeId).trigger('change');
                            $('#status').val(response.data.data.status).trigger('change');
                        } else if (response.data.code == 300) {
                            toastr.error(response.data.message, response.data.title, {timeOut: 5000});
                        }
                        else
                        {
                            toastr.error('Something Went wrong.', '', {timeOut: 5000});
                        }
					},
					(error) => {

					}	
				);
			},
			backPage()
            {
                let vm = this;
                vm.setState();
                vm.$router.push({'name':'user_category_list'});
            },
            editValidateBeforeSubmit() {
               let vm = this;
               vm.$route.meta.backProcessCheck = false;								
                vm.userCategoryData.userTypeId = $('#userTypeId').val();
                vm.userCategoryData.status = $('#status').val();
                vm.$validator.validateAll().then(() => {
                	if (!this.errors.any()) {
                        UserApi.editUserCategoryById(vm.userCategoryData).then(
                          (response)=> {
                            if(response.data.code == 200){
                                vm.$route.meta.backProcessCheck = false;								
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'user_category_list'});
                            } 
                            else if (response.data.code == 300) {
                                vm.$route.meta.backProcessCheck = true;								
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                vm.$route.meta.backProcessCheck = true;								
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                              vm.$route.meta.backProcessCheck = true;								
                          }

                        )
                    }
                })
            },
            setState()
            {
                let vm = this;
                vm.$store.dispatch('SetUserPageNo',vm.pageNo);
                vm.$store.dispatch('SetUserPerPage',vm.perPage);
            }
		}
	}
</script>

<style type="text/css">
	.right{
		float: right;
	}
</style>