body{
    background-image: url('../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.reset-wrapper{
    width: 35%;
    margin: 80px auto 30px auto;
    z-index: 2;
    position: relative;
}
.reset-container{
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
}
.reset-logo{
    width: 200px;
}
@media(max-width: 1199px){
    .reset-wrapper{
        width: 42%;
    }
}

@media(max-width: 991px){
    .reset-wrapper{
        width: 50%;
    }
}
@media(max-width: 767px){
    .reset-wrapper{
        width: 80%;
    }
}

@media(max-width: 575px){
    .reset-wrapper{
        width: 90%;
    }
}