@font-face {
    font-family: 'veneerregular';
    src: url('../webfonts/veneer-webfont.eot');
    src: url('../webfonts/veneer-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/veneer-webfont.woff2') format('woff2'),
         url('../webfonts/veneer-webfont.woff') format('woff'),
         url('../webfonts/veneer-webfont.ttf') format('truetype');
         /* url('../webfonts/veneer-webfont.svg#veneerregular') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../webfonts/HelveticaLTStdLight.eot');
    src: url('../webfonts/HelveticaLTStdLight.eot') format('embedded-opentype'),
         url('../webfonts/HelveticaLTStdLight.woff2') format('woff2'),
         url('../webfonts/HelveticaLTStdLight.woff') format('woff'),
         url('../webfonts/HelveticaLTStdLight.ttf') format('truetype');
         /* url('../webfonts/HelveticaLTStdLight.svg#HelveticaLTStdLight') format('svg'); */
}

@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('../webfonts/HelveticaLTStdRoman.eot');
    src: url('../webfonts/HelveticaLTStdRoman.eot') format('embedded-opentype'),
         url('../webfonts/HelveticaLTStdRoman.woff2') format('woff2'),
         url('../webfonts/HelveticaLTStdRoman.woff') format('woff'),
         url('../webfonts/HelveticaLTStdRoman.ttf') format('truetype');
         /* url('../webfonts/HelveticaLTStdRoman.svg#HelveticaLTStdRoman') format('svg'); */
}

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('../webfonts/HelveticaLTStdBold.eot');
    src: url('../webfonts/HelveticaLTStdBold.eot') format('embedded-opentype'),
         url('../webfonts/HelveticaLTStdBold.woff2') format('woff2'),
         url('../webfonts/HelveticaLTStdBold.woff') format('woff'),
         url('../webfonts/HelveticaLTStdBold.ttf') format('truetype');
         /* url('../webfonts/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg'); */
}