<template>
    <div>
        <!--First Table-->
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="card ">
                    <div class="card-body">
                        <b-tabs >
                            <b-tab title="Child Safeguarding Overview" active>
                                <childSafeguardingOverview></childSafeguardingOverview>
                            </b-tab>
                            <b-tab title="Personal Details" >
                               <personalDetailsOverview></personalDetailsOverview>
                            </b-tab>
                            <b-tab title="Documents">
                               <documentsOverview></documentsOverview>
                            </b-tab>
                            <b-tab title="Interview & References">
                               <interviewAndReferencesOverview></interviewAndReferencesOverview>
                            </b-tab>
                             <b-tab title="e-Learning">
                                <eLearningOverview></eLearningOverview>
                            </b-tab>
                            <b-tab title="Policy">
                               <policyOverview></policyOverview>
                            </b-tab>
                        </b-tabs>
                  </div>
                </div>
              </div>
              
          </div>
        </div>
    </div>
</template>
<script>
    import User from '../../../../api/apiService.js'; 
    import card from "../../components/card/card.vue"
    import childSafeguardingOverview from "../../components/childSafeguardingOverview.vue"
    import personalDetailsOverview from "../../components/personalDetailsOverview.vue"
    import documentsOverview from "../../components/documentsOverview.vue"
    import interviewAndReferencesOverview from "../../components/interviewAndReferencesOverview.vue"
    import eLearningOverview from "../../components/eLearningOverview.vue"
    import policyOverview from "../../components/policyOverview.vue"
    import _ from 'lodash';
    
    export default {
        data() {
            return {
              
            }
        },
        components: {
          card,
          childSafeguardingOverview,
          personalDetailsOverview,
          documentsOverview,
          interviewAndReferencesOverview,
          eLearningOverview,
          policyOverview
        },
        computed: {
        },
        mounted() {
            var vm =this;
            
            
            
        },
        methods: {
         
        },

    }
</script>
