<template>
<div id="app">
    <preloader v-show="this.$store.state.preloader"></preloader>
    <router-view></router-view>
</div>
</template>
<script>
import preloader from "./Admin/layout/preloader";

//import icheck from "../static/iCheck/icheck.min.js";
export default {
    name: 'app',
    components: {
        preloader
    }
}
</script>


