<template>
    <div>
        <p>Filter by by clicking directly through to the preferred date, or by applying location, date and topic filters to find her/his desired session</p>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select required="required" class="custom-select">
                        <option value="">Select Country</option>
                    </select> 
                    <!-- <div class="invalid-feedback">
                        Please select a valid Level of contact.
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <select required="required" class="custom-select">
                        <option value="">Select State</option>
                    </select> 
                    <!-- <div class="invalid-feedback">
                        Please select a valid Level of contact.
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <select required="required" class="custom-select">
                        <option value="">Select Topic</option>
                    </select> 
                    <div class="invalid-feedback">
                        Please select a valid Level of contact.
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg mr-3">Search</button>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div id='calendar'></div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <h4>Session List</h4>
                <div class="table-responsive-lg mt-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Event Name</th>
                                <th>Date <a href="#"><i class="fa fa-caret-down sorting"></i></a></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>01/10/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>28/09/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>25/09/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>22/09/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>15/09/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>25/08/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>18/08/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>lorem ipsum door</td>
                                <td>28/07/2018</td>
                                <td>
                                    <a href="#">Book Now</a>
                                </td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'bookings'
}
</script>

