<template>
    <div>
        <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                    <personaldetailLeft :userId="loginId"></personaldetailLeft>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th width="75%" class="border-0"></th>
                                    <th class="border-0"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="border-top-0"> <router-link to="/front/personaldetails" class="text-normal">Personal details</router-link></td>
                                        <td class="text-center border-top-0"> 
                                            <router-link to="/front/personaldetails">
                                                <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-if="!(personalDetailStatus)"> In Progress</span>
                                                <span class="badge badge-pill badge-success px-1 px-xl-3 py-2" v-else> Complete</span>
                                           </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <router-link to="/front/documents" class="text-normal">Police Check Consent Form</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/documents" class="text-normal">
                                                <!--  <span v-if="policeCheckStatus=='uploaded'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Uploaded</span>  -->
                                                <span v-if="policeCheckStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span> 
                                                <span v-else-if="policeCheckStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                                <span v-else-if="policeCheckStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Satisfactory</span>  
                                                <span v-else-if="policeCheckStatus=='due'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Due</span> 
                                                <span v-else-if="policeCheckStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span>
                                            <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span> 
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/documents" class="text-normal">Working with Children Check</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/documents" class="text-normal">
                                            <!-- <span v-if="workingWichChildrenStatus=='uploaded'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Uploaded</span> --> 
                                                <span v-if="workingWichChildrenStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span> 
                                                <span v-else-if="workingWichChildrenStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                                <span v-else-if="workingWichChildrenStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Satisfactory</span>  
                                                <span v-else-if="workingWichChildrenStatus=='due'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Due</span> 
                                                <span v-else-if="workingWichChildrenStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span>
                                                <span v-else-if="wwcStatus=='cont_with_child' && workingWichChildrenStatus=='in_progress'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                                                <span v-else class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span> 
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/documents" class="text-normal">Identification</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/documents" class="text-normal">
                                                <span v-if="identificationStatus=='uploaded'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Uploaded</span>  
                                                <!-- <span v-else-if="identificationStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span>  -->
                                                <span v-else-if="identificationStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                                <span v-else-if="identificationStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Satisfactory</span>  
                                                <!--  <span v-else-if="identificationStatus=='due'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Due</span> 
                                                <span v-else-if="identificationStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span> -->
                                                <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span> 
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/statutoryDeclaration" class="text-normal">Statutory Declaration</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/statutoryDeclaration" class="text-normal">
                                                <!-- <span v-if="satutoryDeclarationStatus=='uploaded'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Uploaded</span>  --> 
                                                <span v-if="satutoryDeclarationStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span> 
                                                <span v-else-if="satutoryDeclarationStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                                <span v-else-if="satutoryDeclarationStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Satisfactory</span>  
                                            <!--   <span v-else-if="satutoryDeclarationStatus=='due'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Due</span> 
                                                <span v-else-if="satutoryDeclarationStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span> -->
                                            <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/elearning" class="text-normal">e-Learning</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/elearning" class="text-normal">
                                                <span class="badge badge-pill badge-danger px-1 px-xl-3 py-2" v-if="elearningStatus.reattempt > 0">Reattempt</span>
                                                <span class="badge badge-pill badge-success px-1 px-xl-3 py-2" v-else-if="elearningStatus.all == elearningStatus.satisfactory && elearningStatus.all > 0">Satisfactory</span>
                                                <span class="badge badge-pill badge-warning px-1 px-xl-3 py-2" v-else>In Progress</span>
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/policy" class="text-normal">Child Safeguarding Policy</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/policy" class="text-normal">
                                                <span v-if="policyStatus=='Y'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Agreed</span> 
                                                <span v-else-if="policyStatus=='N'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Agreed</span>
                                                <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><router-link to="/front/documents" class="text-normal">Signed Contract with Child Safeguarding clauses</router-link></td>
                                        <td class="text-center">
                                            <router-link to="/front/documents" class="text-normal">
                                                <span v-if="contractStatus=='uploaded'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Uploaded</span> 
                                            <!--  <span v-if="contractStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span> --> 
                                                <span v-else-if="contractStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                                <span v-else-if="contractStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Not Satisfactory</span>  
                                            <!--  <span v-else-if="contractStatus=='due'" class="badge badge-pill badge-warning px-1 px-xl-3 py-2">Due</span>  -->
                                                <span v-else-if="contractStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span>
                                                <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span> 
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>In Person Session</td>
                                        <td class="text-center">
                                            <span v-if="faceToFaceStatus=='satisfactory'" class="badge badge-pill badge-success px-1 px-xl-3 py-2">Satisfactory</span>
                                            <span  v-else-if="faceToFaceStatus=='not_required'" class="badge badge-pill badge-dark px-1 px-xl-3 py-2">Not Required</span>
                                            <span v-else-if="faceToFaceStatus=='due'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Due</span> 
                                            <span v-else-if="faceToFaceStatus=='overdue'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Overdue</span>  
                                            <span v-else-if="faceToFaceStatus=='expired'" class="badge badge-pill badge-danger px-1 px-xl-3 py-2">Expired</span>
                                            <span v-else class="badge badge-pill badge-warning px-1 px-xl-3 py-2">In Progress</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</template>
<script>
import personaldetailLeft from '../../components/personaldetailLeft'
import navigationbutton from '../../components/navigationbutton'
import ApiService from '../../../../api/apiService.js';
import moment from 'moment';
import _ from 'lodash';

export default {
    name: 'childSafeguarding',
    data() {
        return {
            'loginId':this.$store.state.User.userData.userId,
            'userType':this.$store.state.User.userData.userTypeId,
            'personalDetailStatus':false,
            'policeCheckStatus':'',
            'workingWichChildrenStatus':'',
            'identificationStatus':'',
            'satutoryDeclarationStatus':'',
            'policyStatus':'',
            'contractStatus':'',
            'faceToFaceStatus':'',
            'elearningStatus':[],
            'prevStatus':false,
            'prevUrl' : '',
            'nextUrl' : '/front/personaldetails',
            'nextStatus' : true,
            'wwcStatus':''
            
            
        }
    },
    components:{
        personaldetailLeft,
        navigationbutton
    },
    mounted() {
            var vm = this;
            if(vm.$store.state.User.userData.userTypeId != '4'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
           }
            vm.initData();
    },
    methods: {
            initData(){
                let vm=this;
                vm.getFrontUserDetailsByUserId(vm.loginId);
                vm.getDocumentInfoByUserId(vm.loginId);
                vm.getDocumentInfoByUserId(vm.loginId);
                vm.getParticipantBookingDetailByUserId(vm.loginId);
                vm.getELearningStatusByParticipantId(vm.loginId);
            },
            getFrontUserDetailsByUserId(id)
            {
                let vm=this;
                let data={'id':id};
                ApiService.getFrontUserDetailsByUserId(data).then(
                     (response) => {
                    let participantDetails=response.data.data;
                    if(participantDetails.profileCompleteDate!=null && participantDetails.profileCompleteTime!=null)
                    {
                        vm.personalDetailStatus=true;
                    }
                    vm.policyStatus=participantDetails.confirmPolicy;
                   
                  },
                      (error) => {
                  },
                );
            },
            getDocumentInfoByUserId(id)
            {
                let vm=this;
                let data={'userId':id};
                ApiService.getDocumentInfoByUserId(data).then(
                     (response) => {
                    let documentDetails=response.data.data;
                    _.forEach(documentDetails,function(doc){
                        if(doc.documentName=='policeCheck')
                        {
                            vm.policeCheckStatus=doc.finalSatus;
                        }
                        if(doc.documentName=='workingWithChildrenCheck')
                        {
                            vm.wwcStatus = doc.wwcDocStatus;
                            vm.workingWichChildrenStatus=doc.finalSatus;
                        }
                        if(doc.documentName=='idDocument')
                        {
                            vm.identificationStatus=doc.finalSatus;
                        }
                        if(doc.documentName=='statutoryDeclaration')
                        {
                            vm.satutoryDeclarationStatus=doc.documentStatus;
                        }
                        if(doc.documentName=='contract')
                        {
                            vm.contractStatus=doc.finalSatus;
                        }
                    });
                   
                  },
                      (error) => {
                  },
                );
            },
             getParticipantBookingDetailByUserId(id)
            {
                let vm=this;
                let data={'userId':id};
                ApiService.getParticipantBookingDetailByUserId(data).then(
                     (response) => {
                    let bookingDetails=response.data.data;
                    vm.faceToFaceStatus=bookingDetails.bookingStatus;
                   
                  },
                      (error) => {
                  },
                );
            },
            getELearningStatusByParticipantId(id)
            {
                let vm=this;
                let data={'userId':id};
                ApiService.getELearningStatusByParticipantId(data).then(
                     (response) => {
                    vm.elearningStatus=response.data.data;
                  },
                      (error) => {
                  },
                );
            },
            
        }
}
</script>

