<template>
    <div class="library-wrapper pt-4">
        <div class="library-container clearfix mb-3" v-for="enrollement in enrollements" v-if="enrollements.length > 0 && enrollement.status != 'expired'" >
            <div class="library-img">
                <img :src="enrollement.lo?enrollement.lo.image:''" alt="" class="img-fluid"/>
            </div>
            <div class="library-content py-2 px-3 px-md-2 px-md-2">
                <div class="row align-items-center">
                    <div class="col-md-9">
                        <h5 class="mb-1 text-truncate">{{ enrollement.lo?enrollement.lo.title:'' }}</h5>
                        <p class="mb-2">Sentrient</p>
                        <span class="badge badge-pill badge-warning px-3 py-2" v-if="enrollement.status == 'assigned'">Assigned</span>
                        <span class="badge badge-pill badge-success px-3 py-2" v-if="enrollement.status == 'completed'">Completed</span>
                        <span class="badge badge-pill badge-warning px-3 py-2" v-if="enrollement.status == 'in-progress'">In Progress</span>
                        <span class="badge badge-pill badge-danger px-3 py-2" v-if="enrollement.status == 'not-started'">Not Started</span>
                        <span class="badge badge-pill badge-danger px-3 py-2" v-if="enrollement.status == 'pending'">Pending</span>                        
                    </div>
                    <div class="col-md-3 text-center text-md-right">
                        <button type="button" class="btn btn-primary btn-lg mt-3 mb-2" @click="getLogin()" v-if="enrollement.status == 'in-progress'">Resume</button>
                        <button type="button" class="btn btn-primary btn-lg mt-3 mb-2" @click="getLogin()" v-if="enrollement.status == 'assigned'">Start Course</button>
                        <button type="button" class="btn btn-primary btn-lg mt-3 mb-2" v-if="enrollement.status == 'completed'" disabled>Satisfactory</button>
                        <button type="button" class="btn btn-primary btn-lg mt-3 mb-2" @click="getLogin()" v-if="enrollement.status == 'not-started'">Start Course</button>
                        <button type="button" class="btn btn-primary btn-lg mt-3 mb-2" @click="getLogin()" v-if="enrollement.status == 'pending'">Start Course</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="enrollements.length == 0">
            <center><h2>No enrollements found</h2></center>
        </div>    
        <div class="text-center"><button id="loadmore" class="btn btn-primary" @click='loadMore' v-if="enrollements.length > 0 && totalEnrollments > enrollements.length">Load more</button></div>
    </div>
</template>
<script>
import ApiService from '../../../../api/apiService.js';
import store from '../../../../store';

export default {
    data()
    {
        return {
            'page': 0,
            'totalEnrollments': 0,
            'enrollements' : ['']
        }
    },
    mounted()
    {
        let vm = this;
        vm.initdata();
    },
    methods: {
        initdata()
        {
            let vm = this;
            store.commit("routeChange", "start");
            ApiService.getUserEnrollments(vm.page).then(
                (response) => {
                    if(response.data.code == 200){
                        vm.enrollements = response.data.data.hits;
                        vm.totalEnrollments = response.data.data.total;
                        store.commit("routeChange", "end");
                    } else {
                        store.commit("routeChange", "end");
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});    
                    }    
                },
                (error) => {
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            );
        },
        getLogin()
        {
            store.commit("routeChange", "start");
            ApiService.getLogin().then(
                (response) => {
                    let vm = this;
                    if(response.data.code == 200){
                        vm.loginLink = response.data.data;
                        window.open(vm.loginLink, "_blank");  
                        store.commit("routeChange", "end");  
                    } else {
                        store.commit("routeChange", "end");
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});    
                    }    
                },
                (error) => {
                    store.commit("routeChange", "end");
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            );
        },
        loadMore () {
			let vm = this;
			vm.page = vm.page+5;
			store.commit("routeChange", "start");
	        ApiService.getUserEnrollments(vm.page).then(
                (response) => {
                    if(response.data.code == 200){
                        //vm.enrollements = response.data.data.hits;
                        vm.totalEnrollments = response.data.data.total;
                        $.each(response.data.data.hits, function(key,value) {
                            vm.enrollements.push(value);
                        }); 
                        store.commit("routeChange", "end");
                    } else {
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});    
                        store.commit("routeChange", "end");
                    }    
                },
                (error) => {
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    store.commit("routeChange", "end");
                }
            );
		},
    }
}
</script>

