<template>
    <div>
      <div class="row align-items-center">
        <div class="col-sm-7">
          <p class="mb-0"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
          <small> * Accepted file size: less than 1MB</small></p>
        </div>
        <div class="col-sm-2 col-md-5 text-right">
          <button type="submit" class="btn btn-primary btn-lg mr-2" data-toggle="modal" data-target=".bd-example-modal-lg">Upload Documents</button>
          <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus' class="d-inline"></navigationbutton> 
        </div>
      </div>
      
        <form class="form-horizontal" enctype="multipart/form-data">
          <div class="table-responsive-lg mt-3">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th class="text-center">Attachment</th>
                          <th class="text-center" width="250px">Expiry date</th>
                          <th class="text-center">Status</th>
                          <!-- <th class="text-center">Action</th> -->
                      </tr>
                  </thead>
                  <tbody  v-if="(documentsPagination.total > 0)" v-for="doc in getDocumentsData">
                      <tr v-for="document in doc.documents">
                          <td>{{doc.type}}<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" :title="doc.helpText" v-if="doc.helpText!=''"><i class="fa fa-info-circle ml-2 fa-lg"></i></a></td>
                          <td class="text-center">
                            <a :href="'/storage/documents/'+document.name" target="_blank"><i class="fa fa-eye fa-lg mr-2"></i>{{  document.name }}</a>
                          </td>
                          <td>
                            <div class="text-center" v-if="document.expiryDateStatus == 'applicable'">
                              {{ setDateFormat(document.expiryDate) }}
                            </div>                              
                            <div class="text-center" v-else>
                              Not Applicable
                            </div>  
                          </td>
                          <td class="text-center">
                            <span>
                              <span v-if="document.verifiedStatus=='in_progress'" class="badge badge-pill badge-warning px-3 py-2">In Progress</span> 
                              <span v-if="document.verifiedStatus=='uploaded'" class="badge badge-pill badge-warning px-3 py-2">Uploaded</span> 
                              <span v-if="document.verifiedStatus=='not_required'" class="badge badge-pill badge-dark px-3 py-2">Not Required</span> 
                              <span v-if="document.verifiedStatus=='satisfactory'" class="badge badge-pill badge-success px-3 py-2">Satisfactory</span>
                              <span v-if="document.verifiedStatus=='not_satisfactory'" class="badge badge-pill badge-danger px-3 py-2">Not Satisfactory</span>  
                              <span v-if="document.verifiedStatus=='due'" class="badge badge-pill badge-danger px-3 py-2">Due</span> 
                              <span v-if="document.verifiedStatus=='expired'" class="badge badge-pill badge-danger px-3 py-2">Expired</span> 
                            </span> 
                          </td>
                          <!-- <td class="text-center">
                            <i class="fa fa-remove fa-2x text-danger text-info mr-0 mr-sm-3 cursor-pointer" @click="deleteDocument(document.userDocumentId)"></i>
                          </td> -->
                      </tr>
                  </tbody>
                  <tbody v-if='noRecord'>
                    <tr ><td colspan="5">No document uploaded yet.</td></tr>
                  </tbody>
              </table>
          </div>
          <!--  <Pagination v-show="(documentsPagination.total > 0)" :paginationData="documentsPagination"></Pagination> -->
          <div class="text-center my-5">
              <!-- <button type="button" @click="saveDocumentUpload()" class="btn btn-primary btn-lg">Save</button>  -->
              <!-- <button type="button" class="btn btn-primary btn-lg">Cancel</button> -->
          </div>
          <div v-if="docUpload">
            <documentsUploadModal :documentType="docType" :documentId="docId"></documentsUploadModal>
          </div>
        </form>
        <confirmDelete :deleteConfirmMsg="deleteConfirmMsg"  :redirectStatus="deletePageRedirectStatus" ></confirmDelete>
        <confirmUpdate :updateConfirmMsg="updateConfirmMsg"  :redirectStatus="updatePageRedirectStatus" ></confirmUpdate>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
//import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import RecordPage from '../../components/recordpage'
import Pagination from '../../components/pagination'
import navigationbutton from '../../components/navigationbutton'
import ApiService from '../../../../api/apiService.js';
import moment from 'moment';
import _ from 'lodash';
import documentsUploadModal from '../../components/documentsUploadModal';
import confirmDelete from '../../components/confirmDeleteModel';
import confirmUpdate from '../../components/confirmUpdateModel';

export default {
     data() {
      return {
        'num':10,
        'loginId':this.$store.state.User.userData.userId,
        'userType':this.$store.state.User.userData.userTypeId,
        'getDocumentsData' : {},
        'pagination': {},
        'perPage' : 5,
        'perPageDocuments' : 5,
        'documentsPagination': {},
        'showResult':false,
        'recordPerPageOption':[
          {'text':2},
          {'text':5},
          {'text':10},
          {'text':20},
          {'text':50},
        ],
        'docUpload':true,
        'docId':'',
        'docType':'',
        'pageType':'general',
        'seen':false,
        'fileData':new FormData(),
        'fileUploaded':false,
        'userTypeIds':[],
        'documentData':{
          'expiryDate1':'',
          'expiryDate2':'',
          'expiryDate3':'',
          'expiryDate4':'',
          'expiryDate5':'',
          'document1':'',
          'document2':'',
          'document3':'',
          'document4':'',
          'document5':'',

        },
        'prevStatus':true,
        'prevUrl' : '/front/personaldetails',
        'nextUrl' : '/front/statutoryDeclaration',
        'nextStatus' : true,
        'noRecord': false,
        'deleteConfirmMsg': 'Are you sure you want to delete document?',
        'deletePageRedirectStatus': 'false',
        'deleteDocumentId': '',
        'updateConfirmMsg': 'Are you sure you want to change document expiry date?',
        'updatePageRedirectStatus': 'false',
        'expiryDocumentId': '',
        'expiryDocumentDate': '',
        'disableExpiryDate': true
      }
     },
     computed: {
      
    },
    created: function() {
     this.$root.$on('setPerPage',this.setPerPage);
     this.$root.$on('getPaginationListPage',this.getPaginationListPage); 
     this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex);
     this.$root.$on('closeUploadModal',this.closeUploadModal);
     this.$root.$on('confirmed', this.confirmDelete);
     this.$root.$on('updateConfirmed', this.updateConfirmed);
    },
    destroyed: function() {
      this.$root.$off('confirmed', this.confirmDelete);
      this.$root.$off('updateConfirmed', this.updateConfirmed);
    },
     components: {
       RecordPage,
        Pagination,
        documentsUploadModal,
        datePicker,
        navigationbutton,
        confirmDelete,
        confirmUpdate
    },  
    mounted(){
        let vm = this;
        vm.$route.meta.backProcessCheck = true;
        if(vm.$store.state.User.userData.userTypeId != '4'){
          vm.$root.$emit('logout','You are not authorise to access this page'); 
        }
        vm.initData();
        //window.addEventListener("load", function(event) {

        vm.$store.commit("routeChange", "start");
        setTimeout(function(){
          $('.regular').datepicker({
            startDate: '+1d',
            autoclose: true
          }).on('changeDate', function(ev)
          {
            let documentId=ev.target.name;
            let exdocId = $(this).attr('id').match(/\d+/);
            let expiryDate = $(this).val();
            vm.documentData[documentId]=expiryDate;
            vm.fileData.append(documentId,expiryDate);
            vm.expiryDocumentId = exdocId;
            vm.expiryDocumentDate = expiryDate;
            $('#confirm_update_modal').modal('show'); 
          });
          $('[data-toggle="tooltip"]').tooltip();
          vm.$store.commit("routeChange", "end");
        },1000);

        //});
     },
    
     methods:{
        cleanData()
        {
            this.documentData={
              'expiryDate1':'',
              'expiryDate2':'',
              'expiryDate3':'',
              'expiryDate4':'',
              'expiryDate5':'',
              'document1':'',
              'document2':'',
              'document3':'',
              'document4':'',
              'document5':''
            };
        },
         dpOpen(dId,status){
            if (status!='in_progress' && status!='uploaded') {
              $('#'+dId).datepicker("hide");
              toastr.error('You can not change this expiry date',{timeOut: 3000});
              return false;
            }
            if(dId!=''){
                $('#'+dId).datepicker("show");
            }
         },
      initData()
      {
          let vm=this;
          vm.getDocumentsListByparticipantId('documents/getDocumentsListByparticipantId',vm.searchData);
       },
       openFile(typeId,test)
       {
          this.seen=true;
          let name='#document'+typeId;
          //this.$refs.name.click();
          $('#document'+typeId).trigger('click');
           this.seen=false;
       },
      /*setPerPage(bPerPage)
      {
          let vm=this;
          vm.perPageDocuments=bPerPage;
          //vm.$store.dispatch('SetDocumentsPerPage',vm.perPageUser);
          vm.getDocumentsListByparticipantId('documents/getDocumentsListByparticipantId',vm.searchData);
      },*/
      getDetailsPageByIndex(indexVal)
      {
          let vm=this;
           vm.getDocumentsListByparticipantId('documents/getDocumentsListByparticipantId?page='+indexVal,vm.searchData);
      },
      getPaginationListPage(pageUrl)
      {
          let vm=this;
          vm.getDocumentsListByparticipantId(pageUrl,vm.searchData)
      },
      getDocumentsListByparticipantId(pageUrl,searchData)
      {
            let vm = this;
            let noOfPage = vm.perPageDocuments;
            let data={'pageUrl':pageUrl,'noOfPage':noOfPage,'loginId':vm.loginId,'userType':vm.userType};
            ApiService.getDocumentsListByparticipantId(data).then(
                (response) => {
                    if(response.data.code == 200){
                        let dData=response.data.data.data;
                        var chkRecord = 0;
                        let typeIds=[];
                        _.forEach(dData, function(value) {
                            typeIds.push(value.userDocumentTypeId);
                            //console.log(value.userDocumentTypeId);
                          });
                        vm.userTypeIds=typeIds;
                        vm.getDocumentsData = response.data.data.data;
                        
                        $.each(vm.getDocumentsData, function(i, item) {
                          if (item.documents.length == 0) {
                            chkRecord++;
                          }
                        })
                        if (chkRecord == 4) {
                          vm.noRecord = true;
                        } else {
                          vm.noRecord = false;
                        }
                        vm.makePagination( response.data.data);
                    }
                    else if (response.data.code == 300) {
                      let result=response.data.data.data;
                      if(result=='' || result==null)
                      {
                          vm.getDocumentsData =[];
                          toastr.error(response.data.message,{timeOut: 5000});
                      }
                      else
                      {
                          vm.getDocumentsData=result;
                          vm.makePagination( response.data.data);
                      }
                      
                  }
                },
                (error) => {
                },
            );

          setTimeout(function(){
          $('.regular').datepicker({
            startDate: '+1d',
            autoclose: true
          }).on('changeDate', function(ev)
          {
            let documentId=ev.target.name;
            let exdocId = $(this).attr('id').match(/\d+/);
            let expiryDate = $(this).val();
            vm.documentData[documentId]=expiryDate;
            vm.fileData.append(documentId,expiryDate);
            vm.expiryDocumentId = exdocId;
            vm.expiryDocumentDate = expiryDate;
            $('#confirm_update_modal').modal('show'); 
          });
          $('[data-toggle="tooltip"]').tooltip();
          vm.$store.commit("routeChange", "end");
        },1000);
      },
       makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }
          this.documentsPagination = pagination;
      },
      uploadDocument(type,documentTypeId)
      {
          let vm=this;
          vm.docId=documentTypeId;
          vm.docType=type;
          vm.docUpload=true;
          
          setTimeout(function(){
               $('#uploadDocumentModal').modal({'show':true})
          },100);
      },
      closeUploadModal()
      {
          let vm=this;
          vm.docId='';
          vm.docType='';
          $('#uploadDocumentModal').modal('hide');
          vm.docUpload=true;
          let page=vm.documentsPagination.currentPage;
          vm.getDocumentsListByparticipantId('documents/getDocumentsListByparticipantId?page='+page);
           
      },
      setDateFormat(val)
      {
          if(val!='' && val!=null)
          {
              return moment(val).format('DD/MM/YYYY');
          }
          else
          {
              return val
          }
          
      },
       saveDocumentUpload() {
          let vm=this;
          let userDoc = vm.documentData;
          vm.$route.meta.backProcessCheck = false;
          vm.$validator.validateAll().then(() => {
              if (!this.errors.any()) {
                  if(userDoc.document1 == '' && userDoc.document2 == '' && userDoc.document3 == '' && userDoc.document4 == '' && userDoc.document5 == '') 
                  {
                    toastr.error('Please select document to update details.', '', {timeOut: 5000});
                    return false;
                  } 
                  let activeDocs = [];
                  $.each(vm.userTypeIds, function (i, val) {
                      console.log($("#document"+i).val());
                      if($("#document"+val).val()){
                        activeDocs.push(val);
                      }
                  });
                  //console.log(vm.userTypeIds);
                  //console.log(activeDocs);
                  //return false;
                  let typeIds=JSON.stringify(activeDocs);
                  vm.fileData.append('userDocumentTypeIds',typeIds);
                  vm.fileData.append('loginId',vm.loginId);
                  vm.fileData.append('userType',vm.userType);
                  vm.$store.commit("routeChange", "start");
                 
                  ApiService.addDocumentsUpload(vm.fileData).then(
                    (response)=> {
                      vm.$store.commit("routeChange", "end");
                      if(response.data.code == 200){
                         vm.$route.meta.backProcessCheck = false;
                          toastr.success(response.data.message, '', {timeOut: 5000});
                          this.cleanData();
                           vm.getDocumentsListByparticipantId('documents/getDocumentsListByparticipantId',vm.searchData);
                           $("#expiryDate1").prop('disabled', true);
                           $("#expiryDate2").prop('disabled', true);
                           $("#expiryDate3").prop('disabled', true);
                           $("#expiryDate5").prop('disabled', true);
                      } 
                      else if (response.data.code == 300) {
                         vm.$route.meta.backProcessCheck = true;
                          toastr.error(response.data.message, '', {timeOut: 5000});
                      }
                      else
                      {
                         vm.$route.meta.backProcessCheck = true;
                          toastr.error('Something Went wrong.', '', {timeOut: 5000});
                      }
                      
                    },
                    (error)=>{
                       vm.$route.meta.backProcessCheck = true;
                       toastr.error('File not uploaded.Server timesout.', '', {timeOut: 5000});
                      vm.$store.commit("routeChange", "end");
                    }

                  )
                 
              }
          })
      },
      filesChange(fieldName, fileList,e) {
          let vm=this;
          let extArray=['bmp','jpej','jpg','pdf','png'];
          let imgArray=['bmp','jpej','jpg','png'];
          let docId = fieldName.match(/\d+/);
          console.log(docId[0]);
          $("#expiryDate"+docId[0]).prop('disabled', false);
          //let fileData = new FormData();
          // append the files to FormData
          Array
            .from(Array(fileList.length).keys())
            .map(x => {
              let ext=this.getFileextesion(fileList[x].name);
              var fSize=vm.getFileSize(fileList[x].size);
              if(fSize > 1){
                toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
              }
              else if(_.includes(extArray, ext))
              {
                  vm.fileData.append(fieldName, fileList[x], fileList[x].name);
                  //vm.fileData.append("fileToUpload[]", fileList[x],fileList[x].name);
                  this.documentData[fieldName] = fileList[x].name;
              }
              else
              {
                   toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                   
              }
             
            });
        },
        getFileextesion(fileName)
        {
              return fileName.substring(fileName.lastIndexOf(".")+1);
        },
        getFileSize(fSize)
        {
          var _size = fSize;
         /* var fSExt = new Array('Bytes', 'KB', 'MB', 'GB'),
          i=0;while(_size>900){_size/=1024;i++;}
          var exactSize = (Math.round(_size*100)/100)+' '+fSExt[i];*/
          return Math.round(_size/(1024*1024));
        },
        deleteDocument(userDocumentId)
        {
          let vm = this;
          $('#confirm_modal').modal('show'); 
          vm.deleteDocumentId = userDocumentId; 
        },
        confirmDelete()
        {
          let vm = this;
          ApiService.deleteDocument(vm.deleteDocumentId).then(
            (response) => {
              if(response.data.code == 200){
                toastr.success(response.data.message, '', {timeOut: 5000});
                $('#confirm_modal').modal('hide');
              } else {
                toastr.error('Something went wrong', '', {timeOut: 5000});
              }
            },
            (error) => {
                toastr.error('Something went wrong', '', {timeOut: 5000});
            }
          )
          vm.initData();
        },
        updateConfirmed()
        {
          let vm = this;
          ApiService.updateExpiryDate(vm.expiryDocumentId,vm.expiryDocumentDate).then(
            (response) => {
              if(response.data.code == 200){
                toastr.success(response.data.message, '', {timeOut: 5000});
                $('#confirm_update_modal').modal('hide');
              } else {
                toastr.error('Something went wrong', '', {timeOut: 5000});
              }
            },
            (error) => {
                toastr.error('Something went wrong', '', {timeOut: 5000});
            }
          )
        }

    },
   
}
</script>