<template>
    <div class="custom-listgroup">
        <div class="row align-items-center">
            <div class="col-sm-8 order-sm-first order-last">
                <searchDataTable :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData" ref="moduleListing"></searchDataTable>    
            </div>
            <div class="col-sm-4 order-sm-last order-first mb-2 mb-sm-0">
                <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton> 
            </div>
        </div>
        <br>
        <ul class="list-group list-group-flush"v-if="showResult && modules.length > 0">
            <li class="list-group-item d-block d-md-flex justify-content-between align-items-center" v-for='module in modules'>
                <div class="media align-items-center">
                    <i class="icon-module fa-4x mr-3 text-primary"></i> 
                    <div class="media-body">
                        <p class="mb-0"><strong>{{ module.moduleName }} </strong></p>
                    </div>
                </div>
                <div class="mt-2 mt-md-0">
                    <button type="submit" class="btn btn-primary btn-lg" @click="startCourse(module.moduleId, module.hiddenName)" v-if="moduleResult[module.moduleId].moduleResultStatus == 'in_progress'">In Progress</button>
                    
                    <button type="submit" class="btn btn-primary btn-lg" @click="startCourse(module.moduleId,module.hiddenName)"  v-else-if="moduleResult[module.moduleId].moduleResultStatus == ''">Start Module</button>
                    
                    <button type="submit" class="btn btn-primary btn-lg" v-else-if="moduleResult[module.moduleId].moduleResultStatus == 'satisfactory'">Satisfactory</button>
                    
                    <!-- <button type="submit" class="btn btn-primary btn-lg" v-else-if="moduleResult[module.moduleId].noOfAttempt >= module.allowTotalAttempt" disabled>Not Satisfactory</button> -->

                    <button type="submit" class="btn btn-primary btn-lg" @click="startCourse(module.moduleId,module.hiddenName)" v-else-if="moduleResult[module.moduleId].moduleResultStatus == 'reattempt'">Reattempt</button>

                    <button type="submit" class="btn btn-primary btn-lg" @click="startCourse(module.moduleId,module.hiddenName)" v-else-if="moduleResult[module.moduleId].moduleResultStatus == 0">Start Module</button>
                </div>
            </li>
        </ul>
        <div class="align-items-center list-group-item" v-else>
            <center>No record found.</center>
        </div>
        <!-- <center><h2 v-if="modules.length == 0">E-Learning modules not added yet</h2></center> -->
        <Pagination v-show="(modulePagination.total > 0)" :paginationData="modulePagination"></Pagination>
    </div>
</template>
<script>
import RecordPage from '../../components/recordpage';
import Listing from '../../components/listing';
import searchDataTable from '../../components/searchDataTable';
import Pagination from '../../components/pagination';
import navigationbutton from '../../components/navigationbutton';
import ApiService from '../../../../api/apiService.js';

export default{
    data(){
        return {
            'pagination': {},
            'showResult': false,
            'searchDataListSelect':[
              {key:'moduleName',text:'Module Name'},
            ],
            'searchData': {
                'searchKey': '',
                'searchText': '',
            },
            'modules': '',
            'moduleResult': '',
            'modulePagination':'',
            'perPage' : 10,
            'pageNo' : 0,
            'recordPerPageOption':[
              {'text':2},
              {'text':5},
              {'text':10},
              {'text':20},
              {'text':50},
            ],
            'progress_status': [
              { 'in_progress': 'In Progress' },
              { 'satisfactory': 'Satisfactory' },
              { 'reattemp': 'Reattempt' },
            ],
            'prevStatus':true,
            'prevUrl' : '/front/statutoryDeclaration',
            'nextUrl' : '/front/policy',
            'nextStatus' : true,
        }
    },
    components: {
        RecordPage,
        searchDataTable,
        Pagination,
        navigationbutton
    },
    created(){
        this.$root.$on('searchDataResult',this.searchDataResult);
        this.$root.$on('getPaginationListPage',this.getPaginationListPage); 
        this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
        this.$root.$on('searchClearResult',this.searchClearResult);
    },
    destroyed() {
        this.$root.$off('searchDataResult',this.searchDataResult);
        this.$root.$off('getListPage',this.getListPage); 
        this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex);
        this.$root.$off('searchClearResult',this.searchClearResult);
        this.$root.$off('multipleDeleteAction',this.multipleDeleteAction); 
        this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate) 
    },
    mounted(){
        let vm = this;
        let userType = vm.$store.state.User.userData.userTypeId;
        if (userType != 4){
          vm.$router.push({'name': 'frontLogin'});
        }

        vm.searchData = { searchKey: '', searchText: ''};
        vm.initdata();
    },
    methods: {

        initdata()
        {
            let vm = this;
            let pageNo = vm.pageNo;
            let searchData = vm.$store.state.User.userSearchData;

            if(pageNo!=0 && pageNo!=null && pageNo!='')
            {
                if(searchData)
                {
                  let sData = searchData;
                  vm.searchData = sData;
                }
                vm.showResult = true;
                vm.getFrontModuleListPagination('/elearning/geteLearningModules?page='+pageNo,vm.searchData);

            }
            else
            {
              vm.showResult = true;
              vm.getFrontModuleListPagination('/elearning/geteLearningModules',vm.searchData);
            }
        },
        getFrontModuleListPagination(pageUrl,searchData)
        {
            let vm = this;
            let no_of_page = '';
            no_of_page = vm.perPage;
            vm.getUserData = [];
            ApiService.getFrontModuleListPagination(pageUrl,no_of_page,searchData).then(
               (response) => {
                  if(response.data.code == 200){
                    
                    vm.modules = response.data.data.modules.data;
                    vm.moduleResult = response.data.data.module_result;
                    vm.makePagination(response.data.data.modules);
                   
                  } else if (response.data.code == 300) {

                      let result=response.data.data.data;
                      if(result=='' || result==null)
                      {
                          vm.getUserData = [];
                      }
                      else
                      {
                          vm.getUserData = result;
                          vm.makePagination( response.data.data);
                      }
                      toastr.error(response.data.message, response.data.title, {timeOut: 5000});

                  }
               },
               (error) => {
                         },
            );
        },
        makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }
          this.modulePagination = pagination;
        },
        setPerPage(e){
          let vm =this;
          vm.getFrontModuleListPagination('/elearning/geteLearningModules',vm.searchData);
        },
        getPaginationListPage(pageUrl)
        {
          let vm=this;
          vm.getFrontModuleListPagination(pageUrl,vm.searchData)
        },
        getDetailsPageByIndex(indexVal)
        {
          let vm=this;
           vm.getFrontModuleListPagination('/elearning/geteLearningModules?page='+indexVal,vm.searchData);
        },
        searchClearResult()
        {
            let vm = this;
            vm.searchData = {'searchKey': '','searchText': ''};
            vm.$store.dispatch('SetUserSearchData',vm.searchData);
            vm.getFrontModuleListPagination('/elearning/geteLearningModules',vm.searchData);  
        },
        searchDataResult(searchData)
        {
          let vm = this;
          vm.searchData = searchData;
          vm.getFrontModuleListPagination('/elearning/geteLearningModules',searchData);
        },
        startCourse(moduleId,hiddenName)
        {

          let vm = this;
          ApiService.startModule(moduleId).then(
            (response) => {
                vm.$router.push({'name': 'elearningModule', params: {'hiddenName': hiddenName} });
            },
            (error) => {

            }
          )
        },
    }
}
</script>