<template>
    <div class="learning-wrapper">
        <div class="container-fluid text-right">
            <button type="submit" name="" class="btn btn-primary mt-2" @click="back">Back</button>
        </div>
        <iframe v-bind:src="'/eLearning/'+hiddenName+'/res/'"></iframe>
    </div>
</template>
<script>
import Api from '../../../../api/apiService.js';
export default {
    name:'elearningModule',
    data(){
        return {
            hiddenName : ''
        }
    },
    mounted(){
        let vm = this;
        vm.hiddenName = vm.$route.params.hiddenName;
        // Api.checkAttempt(vm.moduleId).then(
        //     (response) => {
        //         if(response.data.code == 300){
        //             toastr.error(response.data.message, response.data.title, {timeOut: 5000});
        //             this.$router.push({'name': 'elearning'});
        //         }    
        //     },  
        //     (error) => {

        //     }
        // );        
    },
    methods:
    {
        back()
        {
            this.$router.push({'name': 'elearning'});
        }
    }
}
</script>


