<template>
    <div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Name" value="" required="">
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by Date" value="" required="">
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input id="from_date" type="text" placeholder="From Date" class="form-control border-right-0"> 
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input id="to_date" type="text" placeholder="To Date" class="form-control border-right-0"> 
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
                </div>
            </div> 
        </div>
        <div class="row align-items-center my-3">
            <div class="col-md-4 col-lg-6">
                <RecordPage />
            </div>
            <div class="col-md-3 col-lg-2 mb-2 mb-md-0">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">Book Now</button>
                <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Book Now</button> -->
            </div>
            <div class="col-md-5 col-lg-4 mb-2 mb-md-0">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Schedule In Person Session</button>
            </div>
        </div>
        <div class="table-responsive-lg mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Booking Date <a href="#"><i class="fa fa-caret-down sorting"></i></a></th>
                        <th>Attended</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Josephine@example.com</td>
                        <td>Staff contract</td>
                        <td>
                            <div class="custom-control custom-radio d-inline-block mr-3">
                                <input type="radio" class="custom-control-input" id="attended-yes" name="attended-group1" checked="checked">
                                <label class="custom-control-label" for="attended-yes">&nbsp; Yes</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block">
                                <input type="radio" class="custom-control-input" id="attended-no" name="attended-group1">
                                <label class="custom-control-label" for="attended-no">&nbsp; No</label>
                            </div>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
        <Pagination />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Participant *</label> 
                    <select required="required" class="custom-select">
                        <option value="">Select User</option>
                    </select> 
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date</label>
                    <div class="input-group mb-3">
                        <input id="from_date" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Time</label>
                    <div class="input-group mb-3">
                        <input id="checkin_time" type="text" placeholder="04:00 PM" class="form-control border-right-0"> 
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="icon-clock"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-3">
            <button class="btn btn-primary btn-lg mr-3" type="submit">Send Invitation</button>
            <button class="btn btn-primary btn-lg" type="submit">Cancel</button>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Attendance</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please confirm the date and time of the session held.</p>
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Participant Given name *</label>
                                        <input type="text" class="form-control" placeholder="Josephine" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Participant Last name *</label>
                                        <input type="text" class="form-control" placeholder="Mentor" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date</label> 
                                        <div class="input-group mb-3">
                                            <input id="from_date" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                                            <div class="input-group-append"><span class="input-group-text"><i class="icon-calendar"></i></span></div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label>Date</label>
                                        <div class="input-group mb-3">
                                            <input id="from_date" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Time</label>
                                        <div class="input-group mb-3">
                                            <input id="from_time" type="text" placeholder="06 / 09 / 2018" class="form-control border-right-0"> 
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="icon-clock"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-5">
                                <button type="submit" class="btn btn-primary btn-lg mr-3">Confirm</button> 
                                <button type="submit" class="btn btn-primary btn-lg">Cancel</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    
    </div>
</template>
<script>
import RecordPage from '../../components/recordpage'
import Listing from '../../components/listing'
import Pagination from '../../components/pagination'
export default {
    name: 'facetofacesession',

    components: {
        RecordPage,
        Listing,
        Pagination
    }
}
</script>

