<template>
    <div>
        <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton> 
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                    <personaldetailLeft :userId="loginId" :showMsg='showMsg'></personaldetailLeft>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-light">
                    <div class="card-body">
                        <form class="form-horizontal" id="personForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Given name *</label>
                                        <input type="text" class="form-control" placeholder="Given name" v-model="personalDetailsData.givenName" id="givenName" name="givenName" v-validate=" { required:is_required ,alpha_spaces:true,max:55}" :maxlength="validationLimit.maxNameField">
                                        <span class="help is-danger" v-show="errors.has('givenName')" data-vv-name="givenName">Please enter valid Given name.</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Surname *</label>
                                        <input type="text" class="form-control" id="surName"
                                                placeholder="Surname" v-validate="{ required:is_required ,alpha_spaces:true,max:55}" v-model="personalDetailsData.surName" name="surName" :maxlength="validationLimit.maxNameField">
                                        <span class="help is-danger" v-show="errors.has('surName')">Please enter valid Surname.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Preferred name </label>
                                        <input type="text" class="form-control" id="prefferedName" placeholder="Preffered Name" v-validate="'alpha_spaces|max:55'" v-model="personalDetailsData.prefferedName" name="prefferedName" maxlength="validationLimit.maxNameField">
                                            <span class="help is-danger" v-show="errors.has('prefferedName')">Please enter valid Preffered Name.</span> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email *</label>
                                        <input type="text" class="form-control" id="email"
                                                placeholder="Email" v-validate="{ required:is_required ,email:true,max:55}" v-model="personalDetailsData.email" name="email" maxlength="validationLimit.maxNameField">
                                        <span class="help is-danger" v-show="errors.has('email')">Please enter valid Email.</span>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Occupation</label>
                                    <input type="text" class="form-control" id="occupation" placeholder="Occupation" v-validate="" v-model="personalDetailsData.occupation" name="occupation" >
                                        <span class="help is-danger" v-show="errors.has('occupation')">Please enter valid Occupation.</span> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date of birth *</label>
                                    <div class="input-group mb-3">
                                            <input type="text"  class="form-control datepicker border-right-0" id="dateOfBirth"
                                                placeholder="dd/mm/yyyy" v-validate="{ required:is_required ,date_format:'DD/MM/YYYY' }" v-model="personalDetailsData.dateOfBirth" name="dateOfBirth" data-date-format="dd/mm/yyyy">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="icon-calendar" @click="dpOpen()"></i></span>
                                            </div>
                                            <span class="help is-danger" v-show="errors.has('dateOfBirth')">Please select Date Of Birth.</span>
                                            <span class="help is-danger" v-show="(personalDetailsData.dateOfBirth != '' && personalDetailsData.age < 18)">We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss</span>  

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@plan.org.au email </label>
                                        <input type="text" class="form-control" id="orgEmail"
                                                placeholder="ORG Email" v-validate="'email|max:55'" v-model="personalDetailsData.orgEmail" name="orgEmail" maxlength="validationLimit.maxNameField">
                                            <span class="help is-danger" v-show="errors.has('orgEmail')">Please enter valid ORG Email.</span> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact phone *</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-0 pl-2">
                                                    +
                                                </div>

                                            </div>
                                            <div class="input-group-prepend">
                                                <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="{ required:is_required ,numeric:true,length:2 }" v-model="personalDetailsData.contactNoPrefix" id="contactNoPrefix" name="contactNoPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                            
                                            </div>
                                            <input type="text" class="form-control" placeholder="Contact phone" value="" v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="personalDetailsData.contactPhone" id="contactPhone" name="contactPhone" :maxlength="validationLimit.maxContactNoField">
                                        </div>
                                        <div class="is-danger"  v-show="errors.has('contactNoPrefix')">
                                                Please enter valid country code.
                                            </div>
                                        <div class="is-danger"  v-show="errors.has('contactPhone')">
                                            Please enter valid contact phone.
                                        </div> 
                                        <!--  <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-2 pl-2">
                                                    +
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="contactPhone" placeholder="61" v-validate="(personalDetailsData.pageName=='save')?'length:12|numeric':'length:12|numeric'" v-model="personalDetailsData.contactPhone" name="contactPhone">
                                        <span class="help is-danger" v-show="errors.has('contactPhone')">Please enter valid Contact Phone.</span> 
                                        </div>  -->
                                    </div>
                                </div>
                            
                           
                            </div>
                             <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Address </label>
                                        <input type="text" class="form-control" placeholder="Address" name="address" id="address" v-model="personalDetailsData.address" v-validate="'max:120'" :maxlength="120" >
                                            <span class="help is-danger" v-show="errors.has('address')">Please enter valid address.</span> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact phone 2</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-0 pl-2">
                                                    +
                                                </div>
                                            </div>
                                            <div class="input-group-prepend">
                                                <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|length:2'" v-model="personalDetailsData.contactNo2Prefix" id="contactNo2Prefix" name="contactNo2Prefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                            
                                            </div>
                                            <input type="text" class="form-control" placeholder="Contact phone 2" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="personalDetailsData.contactPhone2" id="contactPhone2" name="contactPhone2" :maxlength="validationLimit.maxContactNoField">
                                        </div>
                                        <div class="is-danger"  v-show="errors.has('contactNo2Prefix')">
                                                Please enter valid country code.
                                            </div>
                                        <div class="is-danger"  v-show="errors.has('contactPhone2')">
                                            Please enter valid contact phone 2.
                                        </div> 
                                    </div>
                                <!--  <div class="form-group">
                                        <label>Contact phone 2 </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-2 pl-2">
                                                    +
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="contactPhone2" placeholder="61" v-validate="'length:12|numeric'" v-model="personalDetailsData.contactPhone2" name="contactPhone2">
                                            <span class="help is-danger" v-show="errors.has('contactPhone2')">Please enter valid contact phone 2.</span>
                                        </div>
                                    </div>  -->
                                </div>
                            </div>
                          
                            
                       
                        <div class="row">
                           
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Aboriginal / Torres Strait Islander </label>
                                     <select class="form-control ls-select2" id="aboriginal" name="aboriginal" v-model="personalDetailsData.aboriginal" v-validate="">
                                          <option value="no">No</option>
                                           <option value="yes_aborig">Yes, Aboriginal</option>
                                           <option value="yes_islander">Yes, Torres Strait Islander </option>
                                           <option value="yes_aborig_islander">Yes, Aboriginal and Torres Strait Islander </option>
                                           <option value="pre_not_dis">Prefer not to disclose</option>
                                     </select>
                                      <!--   <span class="help is-danger" v-show="errors.has('aboriginal')">Please enter aboriginal.</span> -->

                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="form-group">
                                        <label>Do you speak a language other than English at home? </label>
                                        <div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="speakOtherLanguageY" name="speakOtherLanguage" type="radio" class="custom-control-input" v-model="personalDetailsData.speakOtherLanguage" value="Y" v-validate="">
                                                <label class="custom-control-label" for="speakOtherLanguageY">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="speakOtherLanguageN" name="speakOtherLanguage" type="radio" class="custom-control-input" value="N" v-validate="" v-model="personalDetailsData.speakOtherLanguage">
                                                <label class="custom-control-label" for="speakOtherLanguageN">No</label>
                                            </div>
                                        </div>
                                        <span v-if="personalDetailsData.speakOtherLanguage=='Y'">
                                            <input type="text" class="form-control mt-3" placeholder="Language" name="speakOtherLanguageComment" v-validate="'max:50'" v-model="personalDetailsData.speakOtherLanguageComment">
                                            <div class="is-danger"  v-show="errors.has('speakOtherLanguageComment')">
                                                Maximum characters must be less than 50 characters.
                                            </div> 
                                        </span>
                                        <!--  <span class="help is-danger" v-show="errors.has('speakOtherLanguage')">Please check speak a language other than English at home.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="form-group">
                                        <label>Was one or both of your parents born outside of Australia? </label>
                                        <div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="parentsOutsideAustraliaY" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="Y" v-validate="" v-model="personalDetailsData.parentsOutsideAustralia">
                                                <label class="custom-control-label" for="parentsOutsideAustraliaY">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="parentsOutsideAustraliaN" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="N" v-validate="" v-model="personalDetailsData.parentsOutsideAustralia">
                                                <label class="custom-control-label" for="parentsOutsideAustraliaN">No</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="parentsOutsideAustraliaP" name="parentsOutsideAustralia" type="radio" class="custom-control-input" value="prefer_not_to_disclose" v-validate="" v-model="personalDetailsData.parentsOutsideAustralia">
                                                <label class="custom-control-label" for="parentsOutsideAustraliaP">Prefer not to disclose</label>
                                            </div>
                                        </div>
                                        <span v-if="personalDetailsData.parentsOutsideAustralia=='Y'">
                                            <input type="text" class="form-control mt-3" placeholder="Country" name="parentsOutsideAustraliaComment"  v-validate="'max:50'" v-model="personalDetailsData.parentsOutsideAustraliaComment">
                                            <div class="is-danger"  v-show="errors.has('parentsOutsideAustraliaComment')">
                                                Maximum characters must be less than 50 characters.
                                            </div> 
                                        </span>
                                        <!--  <span class="help is-danger" v-show="errors.has('bornOutsideustralia')">Please check one or both of your parents born outside of Australia.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="form-group">
                                        <label>Were you born outside of Australia? </label>
                                        <div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="bornOutsideustraliaY" name="bornOutsideustralia" type="radio" class="custom-control-input" value="Y" v-validate="" v-model="personalDetailsData.bornOutsideustralia">
                                                <label class="custom-control-label" for="bornOutsideustraliaY">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="bornOutsideustraliaN" name="bornOutsideustralia" type="radio" class="custom-control-input" value="N" v-validate="" v-model="personalDetailsData.bornOutsideustralia">
                                                <label class="custom-control-label" for="bornOutsideustraliaN">No</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="bornOutsideustraliaP" name="bornOutsideustralia" type="radio" class="custom-control-input" value="prefer_not_to_disclose" v-validate="" v-model="personalDetailsData.bornOutsideustralia">
                                                <label class="custom-control-label" for="bornOutsideustraliaP">Prefer not to disclose</label>
                                            </div>
                                        </div>
                                        <span v-if="personalDetailsData.bornOutsideustralia=='Y'">
                                            <input type="text" class="form-control mt-3" placeholder="Country" name="bornOutsideustraliaComment" v-validate="'max:50'" v-model="personalDetailsData.bornOutsideAustraliaComment">
                                            <div class="is-danger"  v-show="errors.has('bornOutsideustraliaComment')">
                                                Maximum characters must be less than 50 characters.
                                            </div>
                                        </span>
                                            <!-- <span class="help is-danger" v-show="errors.has('bornOutsideustralia')">Please check you born outside of Australia.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Disability </label>
                                    <select class="form-control ls-select2" id="disability" name="disability" v-model="personalDetailsData.disability" v-validate="">
                                            <option value="N">No</option>
                                            <option value="Y">Yes</option>
                                            <option value="pre_not_dis">Prefer not to disclose</option>
                                        </select>
                                            <!-- <span class="help is-danger" v-show="errors.has('disability')">Please enter disability.</span> -->
                                    </div>
                                </div>
                            </div>
                        
                      <h3 class="mt-3 mb-4">EMERGENCY CONTACTS</h3>
                        <div class="row">
                            <div class="col-sm-12 col-xl-4">
                                <div class="form-group">
                                    <label>Emergency contact (Primary) *</label>
                                    <input type="text" class="form-control" placeholder="Emergency contact (Primary)" name="emergencyContactPrimary" id="emergencyContactPrimary" v-model="personalDetailsData.emergencyContactPrimary" 
                                    v-validate="{ required:is_required ,alpha_spaces:true,max:55 }"  :maxlength="validationLimit.maxNameField">
                                        <span class="help is-danger" v-show="errors.has('emergencyContactPrimary')">Please enter valid emergency contact (Primary).</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Relationship *</label>
                                    <input type="text" class="form-control" placeholder="Relationship" name="relationshipPrimary" id="relationshipPrimary" v-model="personalDetailsData.relationshipPrimary" 
                                     v-validate="{ required:is_required ,alpha_spaces:true,max:20 }"  :maxlength="validationLimit.maxRelationField">
                                         <span class="help is-danger" v-show="errors.has('relationshipPrimary')">Please enter valid relationship.</span> 
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <div class="form-group">
                                    <label>Contact number *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text border-right-0 p-0 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="{ required:is_required ,numeric:true,length:2 }" v-model="personalDetailsData.emergencyPrimaryContactPrefix" id="emergencyPrimaryContactPrefix" name="emergencyPrimaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                           
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact number" value="" v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }"  v-model="personalDetailsData.contactPhonePrimary" id="contactPhonePrimary" name="contactPhonePrimary" :maxlength="validationLimit.maxContactNoField">
                                    </div>
                                    <div class="is-danger"  v-show="errors.has('emergencyPrimaryContactPrefix')">
                                                Please enter valid country code.
                                            </div>
                                        <div class="is-danger"  v-show="errors.has('contactPhonePrimary')">
                                            Please enter valid contact number.
                                        </div> 
                                </div>
                            </div>
                        </div>
                           <!--  <h3 class="mt-3 mb-4">EMERGENCY CONTACTS</h3>
                            <div class="row">
                                <div class="col-sm-12 col-xl-4">
                                    <div class="form-group">
                                        <label>Emergency contact (Primary) *</label>
                                        <input type="text" class="form-control" placeholder="Emergency contact (Primary)" name="emergencyContactPrimary" id="emergencyContactPrimary" v-model="personalDetailsData.emergencyContactPrimary" v-validate="{ required:is_required ,alpha_spaces:true,max:55 }" :maxlength="validationLimit.maxNameField">
                                            <span class="help is-danger" v-show="errors.has('emergencyContactPrimary')">Please enter valid emergency contact (Primary).</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="form-group">
                                        <label>Relationship </label>
                                        <input type="text" class="form-control" placeholder="Relationship" name="relationshipPrimary" id="relationshipPrimary" v-model="personalDetailsData.relationshipPrimary" v-validate="'alpha_spaces|max:20'" :maxlength="validationLimit.maxRelationField">
                                            <span class="help is-danger" v-show="errors.has('relationshipPrimary')">Please enter valid relationship.</span> 
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="form-group">
                                        <label>Contact number </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text border-right-0 p-0 pl-2">
                                                    +
                                                </div>
                                            </div>
                                            <div class="input-group-prepend">
                                                <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|length:2'" v-model="personalDetailsData.emergencyPrimaryContactPrefix" id="emergencyPrimaryContactPrefix" name="emergencyPrimaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                            
                                            </div>
                                            <input type="text" class="form-control" placeholder="Contact number" value="" v-validate="'numeric|length:10'" v-model="personalDetailsData.contactPhonePrimary" id="contactPhonePrimary" name="contactPhonePrimary" :maxlength="validationLimit.maxContactNoField">
                                        </div>
                                        <div class="is-danger"  v-show="errors.has('emergencyPrimaryContactPrefix')">
                                                Please enter valid country code.
                                            </div>
                                        <div class="is-danger"  v-show="errors.has('contactPhonePrimary')">
                                            Please enter valid contact number.
                                        </div> 
                                       
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12 col-xl-4">
                                    <div class="form-group">
                                        <label>Emergency contact (Secondary) </label>
                                        <input type="text" class="form-control" placeholder="Emergency contact (Secondary)" name="emergencyContactSecondary" id="emergencyContactSecondary" v-model="personalDetailsData.emergencyContactSecondary" v-validate="'alpha_spaces|max:55'" :maxlength="validationLimit.maxNameField">
                                            <span class="help is-danger" v-show="errors.has('emergencyContactSecondary')">Please enter valid emergency contact (Secondary).</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="form-group">
                                        <label>Relationship </label>
                                        <input type="text" class="form-control" placeholder="Relationship" name="relationshipSecondary" id="relationshipSecondary" v-model="personalDetailsData.relationshipSecondary" v-validate="'alpha_spaces|max:20'" :maxlength="validationLimit.maxRelationField">
                                            <span class="help is-danger" v-show="errors.has('relationshipSecondary')">Please enter valid relationship.</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="form-group">
                                        <label>Contact number </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-0 pl-2 border-right-0">
                                                    +
                                                </div>
                                            </div>
                                            <div class="input-group-prepend">
                                                <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|length:2'" v-model="personalDetailsData.emergencySecordaryContactPrefix" id="emergencySecordaryContactPrefix" name="emergencySecordaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                            
                                            </div>
                                            <input type="text" class="form-control" placeholder="Contact number" value="" v-validate="'numeric|length:10'" v-model="personalDetailsData.contactPhoneSecondary" id="contactPhoneSecondary" name="contactPhoneSecondary" :maxlength="validationLimit.maxContactNoField">
                                        </div>
                                        <div class="is-danger"  v-show="errors.has('emergencySecordaryContactPrefix')">
                                                    Please enter valid country code.
                                            </div>
                                        <div class="is-danger"  v-show="errors.has('contactPhoneSecondary')">
                                            Please enter valid contact number.
                                        </div> 
                                        <!--  <div class="input-group">
                                            <div class="input-group-prepend border-right-0">
                                                <div class="input-group-text p-2 pl-2">
                                                    +
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="contactPhoneSecondary" placeholder="61" v-validate="'length:12|numeric'" v-model="personalDetailsData.contactPhoneSecondary" name="contactPhoneSecondary">
                                            <span class="help is-danger" v-show="errors.has('contactPhoneSecondary')">Please enter valid contact number.</span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Are you legally entitled to work in {{ personalDetailsData.pacificBaseCountry === 'fiji' ? 'Fiji' : personalDetailsData.pacificBaseCountry === 'papua_new_guinea' ? 'Papua New Guinea' : personalDetailsData.pacificBaseCountry === 'solomon_islands' ? 'Solomon Islands' : 'this country' }}? </label>
                                        <div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="candidateLegalWorkAustraliaY" name="candidateLegalWorkAustralia" type="radio" class="custom-control-input" v-model="personalDetailsData.candidateLegalWorkAustralia" v-validate="" value="Y">
                                                <label class="custom-control-label" for="candidateLegalWorkAustraliaY">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio d-inline mr-2">
                                                <input id="candidateLegalWorkAustraliaN" name="candidateLegalWorkAustralia" type="radio" class="custom-control-input" v-model="personalDetailsData.candidateLegalWorkAustralia" v-validate="" value="N">
                                                <label class="custom-control-label" for="candidateLegalWorkAustraliaN">No</label>
                                            </div>
                                        </div>
                                            <!-- <span class="help is-danger" v-show="errors.has('candidateLegalWorkAustralia')">Please check you legally entitled to work in Australia.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Please provide details and attach a copy of visa if  applicable </label> 
                                        <div v-if="!personalDetailsData.visaFileVal">
                                            <div>
                                                <label class="btn-bs-file btn btn-lg btn-primary mb-0">Browse
                                                <input type="file" name="visaAttachments" id="visaAttachments"  @change="filesChange($event.target.name, $event.target.files);"   v-validate="'ext:jpeg,jpg,pdf,png,bmp'"></label>
                                            </div>
                                             <p class="mb-0"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
                                             <small> * Accepted file size: less than 1MB</small></p>
                                        </div>
                                        <div v-else>
                                            <div class="upload-image" v-if="personalDetailsData.visaImage">
                                                <img :src="'/storage/'+personalDetailsData.visaFileVal" />
                                            </div>
                                            <div class="upload-image" v-else>
                                                <strong><a :href="'/storage/'+personalDetailsData.visaFileVal" target="_blank" dowload>Visa File</a></strong>
                                            </div>
                                            <a href="javascript:void(0)" class="mt-1 d-inline-block" @click="removeFile"><i class="icon-delete mr-1" ></i> Remove File</a>
                                        </div>
                                        <!--  <span class="help is-danger" v-show="errors.has('visaAttachments')">Please select file for a copy of visa if  applicable.</span> -->
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Residential status </label>
                                        <div>
                                            <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                                <input id="residentialStatusA" name="residentialStatus" type="radio" class="custom-control-input" v-model="personalDetailsData.residentialStatus" v-validate="" value="australian_citizen">
                                                <label class="custom-control-label" for="residentialStatusA">Citizen</label>
                                            </div>
                                            <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                                <input id="residentialStatusR" name="residentialStatus" type="radio" class="custom-control-input" v-model="personalDetailsData.residentialStatus" v-validate="" value="resident">
                                                <label class="custom-control-label" for="residentialStatusR">Resident</label>
                                            </div>
                                            <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                                <input id="residentialStatusW" name="residentialStatus" type="radio" class="custom-control-input" v-model="personalDetailsData.residentialStatus" v-validate="" value="work_visa">
                                                <label class="custom-control-label" for="residentialStatusW">Work Visa</label>
                                            </div>
                                            <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                                <input id="residentialStatusO" name="residentialStatus" type="radio" class="custom-control-input" v-model="personalDetailsData.residentialStatus" v-validate="" value="other">
                                                <label class="custom-control-label" for="residentialStatusO">Other</label>
                                            </div>
                                        </div>
                                        <!-- <span class="help is-danger" v-show="errors.has('residentialStatus')">Please check Residential status.</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-12" v-if="personalDetailsData.residentialStatus=='other'">
                                    <div class="form-group">
                                        <label>Other residential status </label>
                                        <input type="text" class="form-control" placeholder="Other residential status" name="otherResidentialStatus" id="otherResidentialStatus" v-model="personalDetailsData.otherResidentialStatus" v-validate="'alpha_spaces|max:20'" maxlength="20">
                                        <span class="help is-danger" v-show="errors.has('otherResidentialStatus')">Please enter valid  Other Residential status.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div>
                                            <p class="custom-control custom-checkbox d-inline mr-0 mr-sm-3">
                                                <input type="checkbox" class="custom-control-input" id="confirmInformation" name="confirmInformation" v-model="personalDetailsData.confirmInformation" value="Y" v-validate="{ required:is_required}">
                                                <label class="custom-control-label" for="confirmInformation">I confirm that the information I have given on this form is complete and correct.</label>
                                            </p>
                                            <br/>
                                                <span class="help is-danger" v-show="errors.has('confirmInformation')">Please confirm the information entered is complete and correct.</span>
                                        </div>
                                        <p><strong>Date of user confirmation / Completion of profile:</strong>  {{personalDetailsData.confirmDate}} {{personalDetailsData.confirmTime}}</p>
                                        <!-- <div class="invalid-feedback">
                                            Please select a valid Level of contact.
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-4">
                                <button class="btn btn-primary btn-lg mr-3" type="button" @click="savePersonalDetails()">Save</button>
                                <button class="btn btn-primary btn-lg" type="button" @click="submitPersonalDetails()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import ApiService from '../../../../api/apiService.js';
import personaldetailLeft from '../../components/personaldetailLeft'
import navigationbutton from '../../components/navigationbutton'
import _ from 'lodash';

    export default {
        data() {
            return {
                'validationLimit' : {
                    'maxNameField' : 55,
                    'maxNameFieldErrorMsg' : 'Maximum allow 55 character',
                    'maxContactNoFieldPreFix' : 2,
                    'maxContactNoField' : 10,
                    'maxRelationField' : 20,
                },
                'showMsg' : true,
                'loginId':this.$store.state.User.userData.userId,
                'userType':this.$store.state.User.userData.userTypeId,
                'is_required':false,
                'personalDetailsData' : {
                    'fullName' :'',
                    'givenName' :'',
                    'surName' :'',
                    'prefferedName':'',
                    'occupation':'',
                    'email':'',
                    'dateOfBirth':'',
                    'age' : 0,
                    'orgEmail':'',
                    'contactPhone':'',
                    'contactNoPrefix' : '61',
                    'contactNo2Prefix' : '61',
                    'address':'',
                    'contactPhone2':'',
                    'aboriginal':'',
                    'speakOtherLanguage':'',
                    'speakOtherLanguageComment':'',
                    'parentsOutsideAustralia':'',
                    'parentsOutsideAustraliaComment':'',
                    'bornOutsideustralia':'',
                    'bornOutsideAustraliaComment':'',
                    'disability':'',
                    'gender':'',
                    'selfDescribe':'',
                    'pacificBaseCountry' : '',
                    'emergencyPrimaryContactPrefix' : '61',
                    'emergencyContactPrimary':'',
                    'relationshipPrimary':'',
                    'contactPhonePrimary':'',
                    'emergencyContactSecondary':'',
                    'relationshipSecondary':'',
                    'contactPhoneSecondary':'',
                    'candidateLegalWorkAustralia':'',
                    'emergencySecordaryContactPrefix' : '61',
                    'visaAttachments':'',
                    'residentialStatus':'',
                    'otherResidentialStatus':'',
                    'confirmInformation':'',
                    //for right side data
                    'engagementStatus':'',
                    'confirmDate':'',
                    'confirmTime':'',
                    'pageName':'',
                    'userDetailId':'',
                    'profileCompleteDate':moment().format('DD/MM/YYYY'),
                    'profileCompleteTime':moment().format("HH:mm a"),
                    'visaFileVal':'',
                    'visaFileName':'',
                    'visaImage':false,
                },
                'options': {
                  format: 'h:mm A',
                  //useCurrent: false,
                  showClear: true,
                  showClose: true,
                },
                'prevStatus':true,
                'prevUrl' : '/front/childSafeguarding',
                'nextUrl' : '/front/documents',
                'nextStatus' : true,
            }
        },
        created() {
            this.$validator.extend('is_fun', {
                getMessage: field => `The field must be required`,
                validate: (value) => new Promise(resolve => {
                   let regex = new RegExp("^ *(1[0-2]|[1-9]):[0-5][0-9] *(a|p|A|P)(m|M) *$");
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });
            /*this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/

        },
       /* watch: {
          is_required: function (value) {
            var vm = this;
             
          },
        },*/
        computed: {
            // rules() {
            //     // console.log('sdsfdsf');
            //     //     return ((this.required==true) && (this.personalDetailsData.givenName==''))  ? 'required' : '';

            // }
        },

        components: {
           datePicker,
           personaldetailLeft,
           navigationbutton
        },
        mounted() {
            var vm = this;
            vm.$route.meta.backProcessCheck = true;
            if(vm.$store.state.User.userData.userTypeId != '4'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
           }
           
           
           this.$validator.flag('field', {
            'untouched': false,
            'touched': false,
            'dirty': false,
            'valid':false,
            'changed':false
            });
            $('.ls-select2').select2({
                placeholder: "Select"
            });
            $('.datepicker').datepicker({
                endDate: '0d',
                autoclose: true
            });
             $('.datepicker').datepicker().on('changeDate input focusout', function(ev) {
                 vm.personalDetailsData.dateOfBirth = $('#dateOfBirth').val() ;
                 vm.getAgeCal();
            });
             $('#aboriginal').on("select2:select", function (e) {
                vm.personalDetailsData.aboriginal =$('#aboriginal').val();
            });
             $('#disability').on("select2:select", function (e) {
                vm.personalDetailsData.disability =$('#disability').val();
            });
            $('#gender').on("select2:select", function (e) {
                vm.personalDetailsData.gender =$('#gender').val();
            });
            vm.initData();
            
            $('[data-toggle="tooltip"]').tooltip();
            
        },
        methods: {
            getAgeCal() { 
        	  	let vm =this;
		        vm.handleDOBChanged();
            },
             handleDOBChanged() { 	
                       	let vm =this;
				   		 vm.personalDetailsData.age = '';
				      if (vm.isDate(vm.personalDetailsData.dateOfBirth)) { 
				        var ageCal = vm.calculateAge(vm.parseDate(vm.personalDetailsData.dateOfBirth), new Date());	
				         vm.personalDetailsData.age = ageCal; 		
				      }     	
				},	
				parseDate(dateStr) {
				  	var dateParts = dateStr.split("/");
				   	return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);		
				},	
				calculateAge (dateOfBirth, dateToCalculate) {
				    var calculateYear = dateToCalculate.getFullYear();	
				    var calculateMonth = dateToCalculate.getMonth();	
				    var calculateDay = dateToCalculate.getDate();	
				    var birthYear = dateOfBirth.getFullYear();	
				    var birthMonth = dateOfBirth.getMonth();	
				    var birthDay = dateOfBirth.getDate();	
				    var age = calculateYear - birthYear;	
				    var ageMonth = calculateMonth - birthMonth;	
				    var ageDay = calculateDay - birthDay;	
				    if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {	
			        age = parseInt(age) - 1;	
				    }	
				    if(age > 1){	
				    	return age ;
				    }	
				   	if(age == 1){	
						 return age;	
					}else{
						return 1;
					}/*else if(ageMonth != 0){	
						return ageMonth;	
					}else{	
						return ageDay;	
					}	*/
				},	
				isDate(txtDate) {	
				  var currVal =txtDate;

				  if (currVal == '')	
				    return true;	

				  //Declare Regex	
				  var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;	
				  var dtArray = currVal.match(rxDatePattern); // is format OK?	
					 
				  if (dtArray == null)	
				    return false;	
	
				  //Checks for dd/mm/yyyy format.	
				  var dtDay = dtArray[1];	
				  var dtMonth = dtArray[3];	
                  var dtYear = dtArray[5];	
					
				  if (dtMonth < 1 || dtMonth > 12)	 
				    return false;	
				  else if (dtDay < 1 || dtDay > 31)	 
				    return false;	
				  else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)	
				    return false;	
				  else if (dtMonth == 2) {	 
				    var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));	
				    if (dtDay > 29 || (dtDay == 29 && !isleap))	
				      return false;	
				  }	
	
				  return true;	
				},
            dpOpen(){
                 $('#dateOfBirth').datepicker("show");
            },
            initData(){
                let vm=this;
                vm.getFrontUserDetailsByUserId(vm.loginId);
            },
            getFrontUserDetailsByUserId(id)
            {
                let vm=this;
                let data={'id':id};
                let imgArray=['bmp','jpej','jpg','png'];
                ApiService.getFrontUserDetailsByUserId(data).then(
                     (response) => {
                    let participantDetails=response.data.data;
                    var name="";
                    if(participantDetails.user_details.givenName!=null)
                    {
                        name+=participantDetails.user_details.givenName;
                    }
                    if(participantDetails.user_details.surName!=null)
                    {
                        name+=' '+participantDetails.user_details.surName;
                    }
                    vm.personalDetailsData.fullName=name;
                    vm.personalDetailsData.givenName=participantDetails.user_details.givenName;
                    vm.personalDetailsData.surName=participantDetails.user_details.surName;
                    vm.personalDetailsData.prefferedName=participantDetails.user_details.prefferedName;
                    vm.personalDetailsData.occupation=participantDetails.user_details.occupation;
                    vm.personalDetailsData.email=participantDetails.email;
                    if(participantDetails.user_details.dateOfBirth!=null)
                    {
                        vm.personalDetailsData.dateOfBirth=vm.getDateFormat(participantDetails.user_details.dateOfBirth);
                        vm.getAgeCal();
                    }
                    vm.personalDetailsData.orgEmail=participantDetails.orgEmail;
                    if(participantDetails.user_details.contactPhone!='' && participantDetails.user_details.contactPhone!=null)
                    {
                        let res=this.getSplitString(participantDetails.user_details.contactPhone);
                         vm.personalDetailsData.contactNoPrefix=res[0];
                         vm.personalDetailsData.contactPhone=res[1];
                    }
                   
                    if(participantDetails.user_details.address!=null)
                    {
                        
                        vm.personalDetailsData.address=participantDetails.user_details.address;
                    }
                    if(participantDetails.user_details.contactPhone2!='' && participantDetails.user_details.contactPhone2!=null)
                    {
                        let res=this.getSplitString(participantDetails.user_details.contactPhone2);
                         vm.personalDetailsData.contactNo2Prefix=res[0];
                         vm.personalDetailsData.contactPhone2=res[1];
                    }
                   
                    vm.personalDetailsData.aboriginal=participantDetails.user_details.aboriginal;
                    vm.personalDetailsData.speakOtherLanguage=participantDetails.user_details.speakOtherLanguage;
                    vm.personalDetailsData.speakOtherLanguageComment=participantDetails.user_details.speakOtherLanguageComment;
                    vm.personalDetailsData.parentsOutsideAustralia=participantDetails.user_details.parentsOutsideAustralia;
                    vm.personalDetailsData.parentsOutsideAustraliaComment =participantDetails.user_details.parentsOutsideAustraliaComment;
                    vm.personalDetailsData.bornOutsideustralia=participantDetails.user_details.bornOutsideustralia;
                    vm.personalDetailsData.bornOutsideAustraliaComment =participantDetails.user_details.bornOutsideAustraliaComment;
                    vm.personalDetailsData.disability=participantDetails.user_details.disability;
                    vm.personalDetailsData.gender=participantDetails.user_details.gender;
                    vm.personalDetailsData.pacificBaseCountry=participantDetails.user_details.pacificBaseCountry;
                    if(participantDetails.user_details.gender=='self_desc')
                    {
                        vm.personalDetailsData.selfDescribe=participantDetails.user_details.selfDescribe;
                    }
                    else
                    {
                        vm.personalDetailsData.selfDescribe='';
                    }
                    
                    vm.personalDetailsData.emergencyContactPrimary=participantDetails.user_details.emergencyContactPrimary;
                    vm.personalDetailsData.relationshipPrimary=participantDetails.user_details.relationshipPrimary;
                    if(participantDetails.user_details.contactPhonePrimary!='' && participantDetails.user_details.contactPhonePrimary!=null)
                    {
                        let res=this.getSplitString(participantDetails.user_details.contactPhonePrimary);
                         vm.personalDetailsData.emergencyPrimaryContactPrefix=res[0];
                         vm.personalDetailsData.contactPhonePrimary=res[1];
                    }
                   
                    vm.personalDetailsData.emergencyContactSecondary=participantDetails.user_details.emergencyContactSecondary;
                    vm.personalDetailsData.relationshipSecondary=participantDetails.user_details.relationshipSecondary;
                    if(participantDetails.user_details.contactPhoneSecondary!='' && participantDetails.user_details.contactPhoneSecondary!=null)
                    {
                        let res=this.getSplitString(participantDetails.user_details.contactPhoneSecondary);
                         vm.personalDetailsData.emergencySecordaryContactPrefix=res[0];
                         vm.personalDetailsData.contactPhoneSecondary=res[1];
                    }
                    vm.personalDetailsData.candidateLegalWorkAustralia=participantDetails.user_details.candidateLegalWorkAustralia;
                    if(participantDetails.user_details.visaAttachments!=null)
                    {
                        // vm.personalDetailsData.visaAttachments=participantDetails.user_details.visaAttachments;
                        let ext=vm.getFileextesion(participantDetails.user_details.visaAttachments);
                        
                        if(_.includes(imgArray, ext))
                        {
                            vm.personalDetailsData.visaImage=true;
                        }
                        else
                        {
                            vm.personalDetailsData.visaImage=false;
                           
                        }
                        vm.personalDetailsData.visaFileName=participantDetails.user_details.visaAttachments;
                        vm.personalDetailsData.visaFileVal=participantDetails.user_details.visaAttachments;
                    }
                   
                    vm.personalDetailsData.residentialStatus=participantDetails.user_details.residentialStatus;   
                    vm.personalDetailsData.otherResidentialStatus=participantDetails.user_details.otherResidentialStatus;
                    vm.personalDetailsData.confirmInformation=participantDetails.user_details.confirmInformation;
                    if(participantDetails.profileCompleteDate!='' && participantDetails.profileCompleteDate!=null)
                    {
                        vm.personalDetailsData.confirmDate=vm.getDateFormat(participantDetails.profileCompleteDate);
                    }
                    vm.personalDetailsData.confirmTime=participantDetails.profileCompleteTime;
                    vm.personalDetailsData.userDetailId=participantDetails.user_details.userDetailId;
                    vm.personalDetailsData.engagementStatus=participantDetails.engagementStatus;
                    if (participantDetails.user_details.pacificBasedRole == 'Y') {
                        vm.validationLimit.maxContactNoField = 15;
                    } else if (participantDetails.user_details.pacificBasedRole == 'N') {
                        vm.validationLimit.maxContactNoField = 10;
                    }

                    setTimeout(function(){
                        $('#disability').val(participantDetails.user_details.disability).trigger('change');
                        $('#aboriginal').val(participantDetails.user_details.aboriginal).trigger('change');
                        $('#gender').val(participantDetails.user_details.gender).trigger('change');
                    },300);
                  }, 
                      (error) => {
                  },
                );
            },
            savePersonalDetails(){
                let vm =this;
                vm.is_required=false;
                vm.personalDetailsData.pageName = 'save';
                setTimeout(function(){

                    vm.savePersonalDetailsApi();
                },500)
            }, 
            savePersonalDetailsApi() {
               let vm=this;
                vm.$route.meta.backProcessCheck = false;
                vm.$validator.validateAll().then(() => {
                     
                  if (!this.errors.any()) {
                      if (vm.personalDetailsData.dateOfBirth!=='' &&  vm.personalDetailsData.age <= 18) {
                         toastr.error('We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss.', '', {timeOut: 5000}); 
                          vm.$route.meta.backProcessCheck = true;
                       
                      }
                      else{
                                
                            let data={'userType':vm.userType,'loginId':vm.loginId,'personalDetailsData':vm.personalDetailsData};
                            vm.$store.commit("routeChange", "start");
                            ApiService.participantPersonalDetails(data).then(
                              (response)=> {
                                vm.$store.commit("routeChange", "end");
                                if(response.data.code == 200){
                                     vm.$route.meta.backProcessCheck = false;
                                    toastr.success('Your progress has been saved', '', {timeOut: 5000});
                                    $("body .js-loader").addClass('d-none');
                                    vm.getFrontUserDetailsByUserId(vm.loginId);
                                    //vm.$router.push({'name':'front'});
                                } 
                                else if (response.data.code == 300) {
                                     vm.$route.meta.backProcessCheck = true;
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                                }
                                else
                                {
                                     vm.$route.meta.backProcessCheck = true;
                                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                }
                                
                              },
                              (error)=>{
                                   vm.$route.meta.backProcessCheck = true;
                              }

                            )
                        }
                    }
                    else
                    {
                         vm.$route.meta.backProcessCheck = true;
                        toastr.error('Please verify all fields.', '', {timeOut: 5000});
                    }
                })
            },
            submitPersonalDetails() {
               let vm=this;
               vm.is_required=true;
                vm.$route.meta.backProcessCheck = false;
                
               vm.personalDetailsData.pageName="submit";
                vm.$validator.validateAll().then(() => {
                  if (!this.errors.any()) {
                        if (vm.personalDetailsData.dateOfBirth!=='' &&  vm.personalDetailsData.age <= 18) {
                         toastr.error('We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss.', '', {timeOut: 5000}); 
                         vm.$route.meta.backProcessCheck = true;
                      }
                      else {
                            let data={'userType':vm.userType,'loginId':vm.loginId,'personalDetailsData':vm.personalDetailsData};
                             vm.$store.commit("routeChange", "start");
                            ApiService.participantPersonalDetails(data).then(
                              (response)=> {
                                vm.$store.commit("routeChange", "end");
                                if(response.data.code == 200){
                                    vm.$route.meta.backProcessCheck = false;
                                    vm.$router.push({'name':'successPage'});
                                     toastr.success(response.data.message, '', {timeOut: 5000});
                                } 
                                else if (response.data.code == 300) {
                                     vm.$route.meta.backProcessCheck = true;
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                                }
                                else
                                {
                                     vm.$route.meta.backProcessCheck = true;
                                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                }
                                
                              },
                              (error)=>{
                                   vm.$route.meta.backProcessCheck = true;
                              }

                            )

                          }
                    }
                    else
                    {
                         vm.$route.meta.backProcessCheck = true;
                        toastr.error('Please verify all fields.', '', {timeOut: 5000});
                    }
                })
            },
           
             filesChange(fieldName, fileList) {
                // handle file changes
                
                //const fileData = [];
                let fileData = new FormData();
                let extArray=['bmp','jpej','jpg','pdf','png'];

                if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    var fSize=this.getFileSize(fileList[x].size);
                    if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else if(_.includes(extArray, ext))
                    {
                        
                        fileData.append(fieldName, fileList[x], fileList[x].name);
                        this.saveFile(fileData,ext);
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                /*for (var value of fileData.values()) {
                    console.log(value); 
                }   */
                // save it
                //this.saveFile(fileData);
              },
              saveFile(fileData,ext) {
                // upload data to the server
                //this.currentStatus = STATUS_SAVING;
                let vm=this;
                let imgArray=['bmp','jpej','jpg','png'];
                 const config = { headers: { 'Content-Type': 'multipart/form-data' } };
                         vm.$store.commit("routeChange", "start");
                        ApiService.uploadVisaAttachments(fileData).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                if(_.includes(imgArray, ext))
                                {
                                    vm.personalDetailsData.visaImage=true;
                                }
                                else
                                {
                                    vm.personalDetailsData.visaImage=false;
                                   
                                }
                                vm.personalDetailsData.visaFileName=response.data.data;
                                vm.personalDetailsData.visaFileVal=response.data.data;
                                //toastr.success(response.data.message, '', {timeOut: 5000});
                                

                                
                            } 
                            else if (response.data.code == 300) {

                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                            vm.$store.commit("routeChange", "end");
                          }

                        );
              },
              getFileextesion(fileName)
              {
                    return fileName.substring(fileName.lastIndexOf(".")+1);
              },
             removeFile: function (e) {
                
                 let vm=this;
                 let data={'fileName':vm.personalDetailsData.visaFileVal,'userDetailId':vm.personalDetailsData.userDetailId};
                         vm.$store.commit("routeChange", "start");
                        ApiService.removeVisaAttachments(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                               vm.personalDetailsData.visaImage=false;
                                vm.personalDetailsData.visaFileName='';
                                vm.personalDetailsData.visaFileVal='';
                                //toastr.success(response.data.message, '', {timeOut: 5000});
                                
                            } 
                            else if (response.data.code == 300) {

                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                            vm.$store.commit("routeChange", "end");
                          }

                        );
                
             },
             getDateFormat(val)
             {
                return moment(String(val)).format('DD/MM/YYYY');
             },
             getSplitString(val)
             {
                return val.split('|');
             },
             getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            }
        }
    }
</script>





