<template>
    <div>
        <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton> 
        <div class="card bg-light">
            <div class="card-body policy-container">
                <div class="mt-2">
                    <h1>SAFEGUARDING CHILDREN AND YOUNG PEOPLE</h1>
                    <h2>Policy & Code of Conduct</h2>
                    <table class="table table-striped my-3">
                        <tbody>
                            <tr>
                                <th>Approved by</th>
                                <td>Board</td>
                                <th>Reviewed By</th>
                                <td>Executive Team</td>
                            </tr>
                            <tr>
                                <th>Issue Date</th>
                                <td>September 2018</td>
                                <th>Next review date</th>
                                <td>September 2021</td>
                            </tr>
                            <tr>
                                <th>Policy Owner</th>
                                <td>Melanie Sleap(P&C)</td>
                                <th>Version</th>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-4">
                        <h3>PURPOSE</h3>
                        <p>Plan International Australia (including Plan International Australia in Papua New Guinea, Solomon Islands and Fiji) (PIA) is a global independent development and humanitarian organisation. We strive for a just world that advances children’s rights and equality for girls, work that is underpinned by a commitment to the United Nations Convention on the Rights of the Child (UNCRC).</p>
                        <p>PIA believes every child and young person has the right to live a life free from any form of violence, and deserves to grow up in a safe, peaceful, nurturing and enabling environment where they can fully exercise their rights'.<sup>1</sup></p>
                        <p>This policy supports PIA’s commitment to protect girls, boys, young women, and young men from harm. It has been developed to provide a practical guide to prevent violence against children and young people as a result of PIA's work.</p>
                        <p>The policy and code of conduct aims to ensure that PIA takes all possible steps to ensure the safeguarding of children and young people against all forms of violence and creates an open and aware environment where concerns for the safety and wellbeing of a child or young person can be raised and managed in a fair and just manner, which protects the rights of all. This will be achieved by identifying and managing risks at all levels of our operations<sup>2</sup> that may lead to harm. This policy gives an overview of the responsibilities of each PIA Participant<sup>3</sup> that are outlined in the policy implementation procedures document Ensuring Child Safeguarding - Plan International Australia Child Safeguarding Policy Procedures, which offers specific guidelines for implementing this policy.</p>
                    </div>
                    <div class="mt-4">
                        <h3>SCOPE</h3>
                        <p>The PIA Safeguarding Children and Young People Policy applies to all Staff, Managers, Directors, Volunteers, Associates and Visitors, all of whom are referred to collectively as ‘PIA Participants' who must comply with its requirements and understand the sanctions that may be applied for breaches of the policy.</p>
                    </div>
                    <div class="mt-4">
                        <h3>POLICY STATEMENT</h3>
                        <p>PIA is fully committed to the gender responsive safeguarding of all children and young people from all forms of violence. We take very seriously our responsibility and duty to ensure that we, as an organisation, and anyone who represents us, does not in any way harm, abuse or commit any other act of violence against children and young people or place them at risk of the same.</p>
                        <p>We promote child and youth safe practices, approaches, interventions and environments which respects, recognises and responds to the specific safeguarding needs and addresses the protection risks of the differing gender and other identities. We take a zero tolerance approach to all forms of violence against children and young people. We will challenge and do not tolerate inequality, discrimination or exclusion.</p>
                        <p>We respond to a child or young person who may be in need of protection and or psycho-social support and intend that their welfare and best interests will at all times be of paramount consideration. In the event that a child or young person has been harmed, PIA will do all that is legally and practically feasible to provide follow up support to that child or young person, particularly through referral to appropriate agencies, and at the very minimum will ensure the child is at no further risk of experiencing that same harm.</p>
                        <p>We ensure that all who work with, and engage with us, understand and are supported in their responsibilities to meet our safeguarding roles and responsibilities. We take positive action to prevent anyone who might be a risk to children and young people from any association or involvement with us and take stringent measures against PIA participants who perpetrate an act of violence against a child and/or young person. We promote the active involvement of children and young people in their own gender responsive protection.</p>
                        <p><small>1. As detailed in the Plan International position statement The Rights of Children and Young People to Live Free From Violence'<br/>
                                  2. Including program, activity and PIA and global organisational levels a See Definitions
                        </small></p>
                    </div>
                    <div class="mt-4">
                        <h3>GUIDING PRINCIPLES</h3>
                        <p>This policy is underpinned by the following set of principles (and values) that guides its implementation:</p>
                        <ol>
                            <li><strong>Rights of the child</strong><br/>
                                All children aged under 18 years have equal rights to protection from all forms of violence as declared in Article 19 of the United Nations Convention on the Rights of the Child. In addition, the Universal Declaration of Human Rights recognises fundamental human rights, the dignity, worth and equal rights of people at any age, thus including young people aged 18 to 24 years old.
                            </li>
                            <li><strong>Justice, Equality and non-discrimination</strong><br/>
                                The human rights of children and young people will be respected and applied to all, irrespective of age, sex, gender, gender identity, sexual orientation, nationality, ethnic origin, colour, race, language, religious or political beliefs, marital status, disability, physical or mental health, family, socioeconomic or cultural background, class, any history of conflict with the law or any other aspect of their background or identity. Inequality, exclusion, and discrimination will be challenged and will not be tolerated.<br/>
                                Our safeguarding approach recognises and responds to the specific safeguarding risks and needs of differing gender and other identities. It takes appropriate measures to address gender bias and other forms of discrimination and violence which may arise as a result of these. It supports the empowerment and fosters the inclusbn of girls in the safeguarding process, in a manner that promotes equality, equity and ultimately their increased safety and protection.
                            </li>
                            <li><strong>Inclusive and empowering</strong><br/>
                                All children and young people should be empowered and encouraged to fulfil their potential. Decisions made about children and young people will be made as far as possible with their participation and in their best interest, giving full consideration to how such decisions will affect them. Children will be encouraged to express their views and the will be given ‘due weight' in accordance with their age and level of maturity.
                            </li>
                            <li><strong>Shared responsibility (We work well together)</strong><br/>
                                Everybody has a responsibility to support the care and protection of children and young people and must take their safeguarding responsibilities seriously and uphold the principles of the policy. These particular responsibilities extend to those individuals or organisations that are associated with PIA. Therefore, everyone working for, or associated with PIA’s work, must be aware of and adhere to the provisions of this policy.
                            </li>
                            <li><strong>Best interests of the child</strong><br/>
                                All decisions regarding the welfare, safeguarding and protection of children, and our decisions and actions in response to child protection concerns and breaches of this policy will be guided by the principle of ‘the best interests of the child'.
                            </li>
                            <li><strong>Open and accountable</strong><br/>
                                We are open and transparent, and will hold ourselves to account for our commitment to safeguard children and young people. Safeguarding concerns can be raised and discussed, poor practice and inappropriate behaviours can be challenged and addressed, and our safeguarding measures will be regularly reviewed and strengthened to ensure we remain accountable to children, young people, and their families.<br/>
                                We have a responsibility to inform and empower children and young people so that they learn about and are better able to exercise their rights to protection. We wil work with children, young people and their families, ensuring they understand the essence of this policy, our safeguarding commitment and their rights, and the means via which they can report policy breaches. We will also involve them in the development of safeguarding measures within PIA in accordance with their age, gender, abilities, and evolving capacities.
                            </li>
                            <li><strong>Do no harm</strong><br/>
                                We have a responsibility to care for, safeguard and protect children and young people, especially those that are vulnerable, and make sure they are not harmed as a result of their engagement with PIA participants and programs. In instances where a breach of the policy is reported, we will ensure that investigation, follow-up and support is focussed upon the best interests and needs of the child.<br/>
                                We have particular responsibilities to children and young people with whom we come into contact. No child or young person must suffer harm, intentionally or unintentionally, as a result of their engagement, association or contact with us whether as a sponsored child, a participant in our programmes, projects, events, processes, or youth advisory panels or as part of a fundraising or influencing campaign. We also commit to a physical and online environment which promotes the safety and wellbeing of children and young people, and minimises their risk of harm.
                            </li>
                            <li><strong>Zero tolerance of child abuse and exploitation</strong><br/>
                                Plan International Australia believes that any form of child abuse and exploitation is unacceptable and will not be tolerated. PIA will act on safeguarding concerns, ensuring that our actions are timely, appropriate, and centred on the best interest of the child or young person, taking into account their age, gender and other specific safeguarding needs and vulnerabilities.
                            </li>
                            <li><strong>We strive for lasting impact</strong><br/>
                                This policy aims to ensure that PIA participants, as appropriate to their engagement with Plan, are skilled, confident, understand, accept and are well supported in meeting their Child Safeguarding responsibilities and engage positively with children, young people and communities in ways that enhance the achievement of PIA's Purpose, and overall program goals and commitments.
                            </li>
                        </ol>
                    </div>
                    <div class="mt-4">
                        <h3>RISK IDENTIFICATION AND MANAGEMENT</h3>
                        <p>PIA recognises that many of its participants have the best intentions towards children and young people, and work (with PIA) to promote their welbeing and safety. PIA also recognises that unfortunately, by the nature of its work, it is at risk of being targeted by those wanting to exploit or harm children and young people and that there are a number of potential risks to children and young people in the delivery of our programs. We understand that the effects of abuse on children and young people are both devastating and long term.</p>
                        <p>Plan International Australia will not permit a person to work with children or young people if they pose an unacceptable risk to children and young people’s safety or wellbeing. PIA will seek to ensure it creates safe environments for children and young people and prevent those who intend to harm children or young people from becoming engaged with the organisation, by proactively assessing and managing risks to children and young people in all of our operations, activities, projects, programmes, partnerships, and actively moritoring them on a regular basis. PIA ensures gender responsive safeguarding measures are integrated into all areas of our work and all PIA participants (as relevant to their engagement with the organisation) are trained in recognising, assessing, mitigating, systematically reviewing and ultimately managing risks at all levels of the organisation. Additionally, child safeguarding and protection risks are assessed by the organisational Risk Assessment Team, included in our organisational risk register and monitored by the leadership and governing body.</p>
                        <p>It is the responsibility of all managers to ensure that these preventative measures are communicated and implemented- as guided by the documents <em>Ensuring Child Safeguarding - Plan International Australia Child Safeguarding Policy Procedures and Plan International Global Child Protection Standards and Implementation Manual</em></p>
                    </div>
                    <div class="mt-4">
                        <h3>ROLES AND RESPONSIBILITIES</h3>
                        <p>Everyone who works with, and engages with Plan, has a responsibility to ensure that children and young people are safeguarded and protected. The responsibilities detailed below are mandatory for those who fall within the scope of the policy.</p>
                        <p><strong>Plan International Australia Staff, Managers, Directors, Volunteers, Associates, and Visitors must:</strong></p>
                        <ol>
                            <li>Never abuse and/or exploit a child or young person or act/behave in any way that places a child or young person at risk of harm</li>
                            <li>Sign onto and agree to abide by this policy, code of conduct and the procedures relevant to them as outlined in the Ensuring Child Safeguarding- Plan International Australia Child Safeguarding Policy Procedures document.</li>
                            <li>Immediately report any safeguarding concerns and breaches of the policy and code of conduct in line with applicable local office procedures and this policy. PIA participants may also use Plan International Australia's Whistle Blowing policy in this event. Please note, reporting is mandatory</li>
                            <li>Respond to a child or young person who may have been harmed, abused or exploited in accordance with their age, gender, abilities, applicable local office procedures and this policy.</li>
                            <li>Cooperate fully and confidentially in any investigation of concerns or allegations of harm to children or young people</li>
                            <li>Participate in child protectior/safeguarding induction and training as relevant to their relationship with PIA</li>
                            <li>Commit and contribute to building an environment where children and young people feel respected, supported, safe and protected and encouraged to dscuss (and voice) their concerns</li>
                            <li>Always treat children and young people in a manner which is respectful of their rights, integrity and dignity, considers their best interests and does not expose them to, or place them at risk of, harm. For example: when taking images/pictures during visits, interacting with children or generating stories of children, ensure that this is done in a manner consistent with the appropriate Plan International policies, procedures and standards.</li>
                            <p class="mt-3 mb-1"><strong>Managers will ensure that:</strong></p>
                            <li>PIA participants working in their area of responsibility are aware of. sign onto and agree to abide by this policy, code of conduct, PIA procedures and the Safeguarding Implementation Standards applicable to their role or engagement</li>
                            <li>They hold accountability for ensuring that the policy is fully embedded within their areas of responsibility in accordance with the Safeguarding Implementation Standards and PIA procedures</li>
                            <li>Children, young people and communities, who are direct beneficiaries of PIA are made aware of the provisions of this policy and code to ensure they have the confidence and ability to report any incidents occurring against children and young people</li>
                            <li>They support and develop systems which maintains an environment which is safe for, and prevents violence against children and young people; and</li>
                            <li>All PIA Participants, who have reported child protection concerns or are accused of harming a child are given appropriate care, support and protection in dealing with all aspects of the case including any safety concerns and potential reprisals which may arise from the incident or from the reporting of such concerns.</li>
                            <p class="mt-3 mb-1"><strong>Directors will ensure that:</strong></p>
                            <li>The local procedures in place are consistent with this ‘SafeguardingChildren and Young People'policy and with the global document Reporting and Responding to Child Protection Issues in Plan, to respond to incidents of child abuse.</li>
                            <li>PIA implements the PIA Policy, Procedures and Safeguarding Implementation Standards as they apply to our context people (PIA Participants), children and young people with whom we engage, as well as the processes, programmes, projects, events and activities we undertake.</li>
                        </ol>
                    </div>
                    <div class="mt-4">
                        <h3>REPORTING</h3>
                        <p>It is mandatory for all PIA participants to confidentially report all concerns, suspicions or allegations of harm to a child or young person and/or breaches of the PIA ‘Safeguarding Children and Young People' policy or Code of Conduct immediately (or at least within 24 hours) to the Child Safeguarding Advisor, Child Safeguarding Focal Point or Senior Manager as outlined in Ensuring Child Safeguarding - Plan International Australia Child Safeguarding Policy Procedures. If the report constitutes a criminal offence, this will be immediately reported to the relevant authorities, including the police and any statutory agencies. If the report pertains to a DFAT (Department of Foreign Affairs & Trade) funded project, it will be immediately reported to DFAT by the Child Safeguarding Advisor.</p>
                        <p>Plan will take all concerns and reports of harm and violence to children and young people seriously and investigate and act on these reports immediately, with the highest priority, and in accordance with the reporting and complaints mechanisms outlined in <em>Ensuring Child Safeguarding - Plan International Australia Child Safeguarding Policy Procedures and the Guidelines for Carrying out Administrative Investigations Guidelines</em></p>
                    </div>
                    <div class="mt-4">
                        <h3>SANCTIONS</h3>
                        <p>Breaches of this policy will be investigated in accordance with disciplinary procedures and contractual agreements, or a referral may be made to statutory authorities for criminal investigation. Breaches may incur sanctions including disciplinary action leading to possible dismissal, termination of all relations including contractual and partnership agreements, and where relevant, appropriate legal or other such actions. If a legitimate concern about the suspected abuse of a child or young person is raised but proves to be unfounded on investigation, no action will be taken against the reporter. However, appropriate sanctions will be applied in cases of false and malicious accusations.</p>
                    </div>
                    <div class="mt-4">
                        <h3>REVIEW OF POLICY</h3>
                        <p>This policy will be reviewed every three years. The Child Safeguarding Advisor will manage the review in consultation with staff, Executive Team and the Board. The policy review will be approved by the Executive Team and the Board.</p>
                    </div>
                    <div class="mt-4">
                        <h3>POLICY IMPLEMENTATION DOCUMENTS:</h3>
                        <p>The following documents are referred to and are to be used when implementing this policy:</p>
                        <ol>
                            <li><a href="https://planetoz.plan.org.au/pandc/Documents1/PIA%20Child%20Protection%20Procedures.doc" target="_blank">Ensuring Child Safeguarding - Plan International Australia Child Safeguarding Policy Procedures</a></li>
                            <li><a href="https://planetoz.plan.org.au/pandc/Documents1/GLO-Child_Protection_Standards_and_Implementation_Manual-Final-IO-Eng-jul14.pdf" target="_blank">Plan International Global Child Protection Standards and Implementation Manual</a></li>
                            <li><a href="https://planetoz.plan.org.au/collaboration/Policies/Documents/Whistle%20Blowing%20Policy%20(01.07.15)%20(2).pdf" target="_blank">Plan International Australia Whistle Blowers Policy</a></li>
                        </ol>
                    </div>
                    <div class="mt-4">
                        <h3>REFERENCES:</h3>
                        <p>The following documents are referred to and are to be used when implementing this policy:</p>
                        <ol>
                            <li><a href="https://planetoz.plan.org.au/pandc/Documents1/GLO-Safeguarding_Children_and_Young_People_Global_Policy-Final-IO-Eng-nov17.docx.pdf" target="_blank">Plan International 2017: Global Policy Safeguarding Children and Young People</a></li>
                            <li><a href="https://acfid.asn.au/code-of-conduct" target="_blank">ACFID Code of Conduct</a></li>
                            <li><a href="https://dfat.gov.au/about-us/publications/Pages/child-protection-policy.aspx" target="_blank">DFAT Child Protection Policy 2017</a></li>
                        </ol>
                    </div>
                    <div class="mt-4">
                        <h3>CODE OF CONDUCT</h3>
                        <p>Plan International Australia (PIA) has developed this Code of Conduct (Code) to protect and safeguard children, young people, PIA Participants and the organization, by providing clear behavioral guidelines and expectations. The following basic principles must be followed by all PIA Participants in the course of carrying out their work and/or during their relationship with PIA.</p>
                    </div>
                    <div class="mt-4">
                        <h3>PERSONAL CONDUCT OUTSIDE WORK OR ASSOCIATION WITH PLAN</h3>
                        <p>PIA does not dictate the belief and value systems by which PIA Participants conduct their personal lives, however, actions taken by them that are seen (or perceived) to contradictor contravene this policy out of working hours, are considered as a violation of the policy and/or Code.</p>
                    </div>
                    <div class="mt-4">
                        <h3>AS A PLAN INTERNATIONAL AUSTRALIA PARTICIPANT,</h3>
                        <h3>I WILL:</h3>
                        <ul>
                            <li>Conduct myself in a manner that is consistent with the values of PIA and by displaying high standards of professional behavior at all times, providing a positive role model for children and young people</li>
                            <li>Provide a welcoming, inclusive and safe environment for all children, young people, parents, staff, associates and volunteers</li>
                            <li>Create and maintain an environment which prevents the abuse and exploitation of children and young people, ensuring that I am aware of potential risks with regards to my conduct and work, and take appropriate action so as to minimise safeguarding and protection risks to children and young people</li>
                            <li>Contribute to building an environment where children and young people we engage with are:
                                <ol>
                                    <li>respected and empowered to participate in and discuss decision making and interventions into their safeguarding in accordance with their age, maturity and evolving capacities; and</li>
                                    <li>well informed on their safeguarding and protection rights and what to do if they have a concern.</li>
                                </ol>
                            </li>
                            <li>Comply with PIA Safeguarding Children and Young People Policy and Ensuring Child Protection - Plan International Australia Child Safeguarding Procedures</li>
                            <li>Immediately report and respond to any concerns, suspicions, incidents or allegations of actual or potential exploitation or abuse to a child or young person and any policy non-compliance or breaches of this code of conduct in accordance with applicable procedures, compliance, standards and law</li>
                            <li>Cooperate fully and confidentially in any Plan International investigation of concerns or allegations of abuse to children and young people</li>
                            <li>Immediately disclose all charges, convictions and other outcomes of an offence that relates to child exploitation and abuse, including those under traditional law, which occurred before or occurs during association with PIA</li>
                            <li>Treat children and young people in a manner which is respectful of their rights, integrity, and dignity and considers their best interests regardless of age, sex, gender, gender identity, sexual orientation, nationality, ethnic origin, colour, race, language, religious or political beliefs, marital status, disability, physical or mental health, family, socio-economic or cultural background, class, or any history of conflict with the law</li>
                            <li>Comply with all relevant international standards and local legislation in relation to child labour, and refrain from using children and young people aged below 18 years for domestic or other labour, if such work is inappropriate, exploitative or harmful given their age or developmental capacity, which interferes with their time available for education and recreational activities, or which places them at significant risk of injury, exploitation, or violence. In addition, I understand that I must not use children and young people of any age that we work with for domestic or other labour</li>
                            <li>Only arrange visits by sponsors to meet with sponsored children in a protected space as chosen by the Plan International Country Office</li>
                            <li>Respect the privacy and confidentiality of children and young people associated with Plan International. This means I will:
                                <ul>
                                    <li>Never ask for or accept personal contact details or invitations to share personal contact details (this includes email, phone numbers, social media contacts, address, webcam, skype, etc.) from any child or family associated or formerly associated<sup>4</sup> with our work, or share my own personal contact details with such individuals except where this has been explicitly authorised by Plan International Australia and/or for Plan International Australia business purposes.<sup>5</sup></li>
                                    <li>Never disclose, or support the disclosure of, information that identifies sponsored families or children, through any medium, unless that disclosure is in accordance with standard Plan International Australia policies and procedures and/or has the explicit consent of Plan International Australia.<sup>6</sup> Media includes paper, photographs, and social media.</li>
                                    <li>Never make any contact with a child, young person, or family members associated with Plan International’s work that is not supervised by a (or another) member of Plan International Australia Staff. Such contact may include but is not limited to visits and any form of communication via social media, emails, and letters.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <h3>I WILL NOT:</h3>
                        <ul>
                            <li>Abuse or exploit a child or young person or behave in any way that places a child or young person at risk of harm, including through harmful traditional practices such as, and for example, female genital mutilation, forced or child marriage</li>
                            <li>Engage in any form of sexual activity, or develop physical/sexual relationships with anyone under the age of 18 regardless of the age of consent locally. Mistaken belief in the age of a chid is not a defense<sup>78</sup></li>
                            <li>Engage in sexual relationships with Plan International youth direct beneficiaries aged 18-24 years, as these undermine the credibility and integrity of Plan International's work and are based on inherently unequal power dynamics<sup>9</sup></li>
                            <li>Engage young people in any form of sexual activity which involves the exchange money, employment, goods, or services for sex, including sexual favours or other forms of humiliating, degrading or exploitative behaviour. This includes exchange of assistance that is due to beneficiaries<sup>10</sup></li>
                            <li>Use language or behaviour towards children or young people that is inappropriate, harassing, abusive, sexually provocative, demeaning or culturally inappropriate</li>
                            <li>Act in ways intended to shame, humiliate, belittle or degrade children or young people, or otherwise perpetrate any form of emotional abuse</li>
                            <li>Fondle, hold, kiss, hug or touch children or young people in an inappropriate or culturally insensitive way</li>
                            <li>Use physical punishment/discipline or use of physical force of any kind towards children and young people including hitting, physical abuse or physical assault.</li>
                            <li>Undertake any action on my own regarding a child protection report or concern that is not in line with local policies and procedures and/or, without guidance from relevant focal points and managers.</li>
                            <li>Develop relationships with, engage in any practice with or develop behaviour towards children and young people which could in any way be deemed or interpreted as exploitive or abusive.</li>
                            <li>Sleep in the same room or bed as a child or young person with whom I am in contact in a work related context. Where it is necessary to sleep close to unaccompanied children and young people, I will make sure that another adult is present and it is in line with authorised procedures, including seeking the permission of my people manager or the relevant program manager.</li>
                            <li>Do things of a personal nature for child or young person, with whom I am in contact in a work related context, (e.g. taking a child/young person to the toilet/bathroom; helping them get un/dressed etc.) that they can do for themselves.</li>
                            <li>Spend time alone away from others with children and young people with whom I am in contact in a work related context; I will always make sure that another adult is with me and/or I am wlh the child/young person in an open public place, where others are around and in plain view of others.</li>
                            <li>Condone or participate in behaviour of children and young people, which is illegal, unsafe or abusive (this includes not possessing, consuming or supplying alcohol and/or illicit drugs to children and young people below the age of 18 years</li>
                            <li>Discriminate against, show differential treatment to, or favor particular children or young people to the exclusion of others (this includes not giving gifts to individuals or groups of children unless it is a planned and assessed part of a program instigated by the Country or National Office).</li>
                            <li>Have a child/children/young person with whom I am in contact in a work related context, stay overnight at my home or any olher personal residential location or accommodation</li>
                            <li>Use any computers, mobile phones, video/digital cameras or social media appropriately, and never to exploit, harass or bully children or young people or to access child exploitation material through any medium</li>
                        </ul>
                    </div>
                    <p><small><sup>4</sup> Only provide the personal contact details of sponsors to former sponsored children aged 18 or over (not the other way round) to enable them to make direct contact after the Child's graduation from the sponsorship scheme with the prior approval of the sponsor, the former sponsored child and a favourable risk assessment collated and approved by the Country Office<br/>
                        <sup>5</sup> Plan International will seek informed consent as appropriate from the child or young person<br/>
                        <sup>6</sup> Plan International will seek informed consent as appropriate from the child or young person.<br/>
                        <sup>78</sup> ST/SGB/2003/13: UN Seceretary-General's Bulletin on special measures for protection from sexual exploitation and sexual abuse. 2003 (endorsed by Plan International)<br/>
                        <sup>9</sup> We recognise that our incentive workers and community volunteers live in communities where we operate and so on rare occasions relationships may develop that may be seen as acceptable in the community but would breach this element of the code. However, we expect incentive workers and community volunteers working in programme areas to make known to the relevant manager any potential compromising relationship they are in or considering, that involve a beneficiary who is aged 18 years or above.<br/>
                        <sup>10</sup> ST/SG8/2OC0/13: UN Secretary-General's Bulletin on Special measures for protection from sexual exploitation and sexual abuse, 2003 (endorsed by Plan International).
                    </small></p>
                    <div class="mt-4">
                        <h3>WHEN PHOTOGRAPHING OR FILMING A CHILD OR USING CHILDREN’S IMAGES FOR WORK-RELATED PURPOSES:</h3>
                        <ul>
                            <li>take care to ensure local traditions or restrictions for reproducing personal images are adhered fo before photographing or filming a child</li>
                            <li>obtain informed consent from the child and parent or guardian of the child before photographing or filming a child. An explanation of how the photograph or film will be used must be provided</li>
                            <li>ensure photographs, films, videos and DVDs present children in a dignified and respectful manner and not in a vulnerable or submissive manner. Children should be adequately clothed and not in poses that could be seen as sexually suggestive</li>
                            <li>ensure images are honest representations of the context and the facts</li>
                            <li>ensure file labels, meta data or text descriptions do not reveal identifying information about a child when sending images electronically or publishing images in any form</li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <h3>IMPLEMENTATION AND MONITORING OF THE CODE</h3>
                        <p>The Chief Executive Officer is responsible for ensuring the implementation and monitoring of the Code. This code of conduct forms part of staff contracts of employment, and volunteer/consultancy/contractor/sponsor visit agreements. Failure to adhere to it could result in your employment, agreements, or engagement with Plan International Australia being terminated and or criminal prosecution.</p>
                        <p>Plan International Australia will:</p>
                        <ul>
                            <li>Take all concerns and reports seriously at all levels;</li>
                            <li>Investigate and act on reports immediately; and</li>
                            <li>Take appropriate legal or other action against anyone making a false and/or malicious accusation.</li>
                        </ul>
                    </div>
                </div>
                <div class="mt-4">
                    <h3>DECLARATION</h3>
                    <p class="custom-control custom-checkbox">
                        <input type="checkbox" id="agree" name="agree" v-model="confirmVal" class="custom-control-input" true-value="Y" false-value="N" @change="openConfirmModal()" :disabled="confirmVal=='Y'">
                        <label for="agree" class="custom-control-label">&nbsp; I confirm that I have been provided with a copy of, and have read, understand and agree to abide by:</label>
                        <i v-show="errors.has('bookingTime')" class="fa fa-warning"></i>
                                <span class="help is-danger" v-show="errors.has('bookingTime')">Please checked confirm checkbox.</span>
                    </p> 
                </div>
                <ul>
                    <li>
                        The Plan International Australia (Plan) Safeguarding Children and Young People Policy and Code of Conduct.<br> I also declare that:
                    </li>
                    <li>
                        I have never had a finding of guilt against me in any legal proceeding against me for charges relating to child abuse.
                    </li>
                    <li>
                        I am not the subject of any ongoing legal proceedings related to allegations of child abuse against me.
                    </li>
                    <li>
                        To the best of my knowledge, I am unaware of any legal investigation, whether criminal or civil, into alleged child abuse or exploitation allegedly committed by me.
                    </li>
                </ul>
                <p>I understand that Plan International Australia reserves the right to take formal action (including legal) against me if I am to breach the Plan International Australia Safeguarding Children and Young People Policy and the Code of Conduct's or any other local or international child protection laws.</p>
                <div class="mt-4">
                    <h3>APPENDIX 1</h3>
                    <h3>DEFINITIONS</h3>
                    <p><em><strong>Associate</strong></em> refers to a range of contracted paid and non-paid individuals who have committed to work with or support a Plan International Entity. It includes, among others, board members, volunteers (including community volunteers), interns, sponsors, researchers, donors, consultants and contractors, staff and/or representatives of partner organisations and local governments (when operating in partnership agreement with PIA).</p>
                    <p><em><strong>Child</strong></em> in line with the United Nations Convention on the Rights of the Child and for the purposes of this Global policy, is defined as any person - girl, boy, young woman, young man, and children of other gender identities - under the age of 18 years (UNCRC Article 1). (See definition of Young Person/People or Youth below).</p>
                    <p><em><strong>Child Abuse<sup>8</sup></strong></em> is defined as all forms of physical abuse, emotional ill-treatment, sexual abuse and exploitation, neglect or negligent treatment, commercial or other exploitation of a child and includes any actions that results in actual or potential harm to a child.</p>
                    <p>Child abuse may be a deliberate act or it may be failing to act to prevent harm. Child abuse consists of anything which individuals, institutions or processes do or fail to do, intentionally or unintentionally which harms a child or damages their prospect of safe and healthy development into adulthood.</p>
                    <p><em><strong>Contact with children</strong></em> means working on an activity or in a position that involves or may involve contact with children, either under the position description or due to the nature of the work environment (also see Working with children definition)</p>
                    <p><em><strong>Director</strong></em> is an Executive Director of PIA</p>
                    <p><em><strong>Direct beneficiaries</strong></em> are the people who are the target of, and who we know will be immediately affected by one or more project outputs; irrespective of whether these are delivered directly by Plan International Australia or by partners or organisations who are acting on behalf of Plan International Australia.</p>
                    <ul>
                        <li>Direct beneficiaries are individuals who receive materials, equipment; interventions such as training, awareness raising, mentoring or other personal support.</li>
                        <li>Direct beneficiaries may be a single member of a household (for example a mother participating in training on nutrition); or it may be all members in the household (for example, distribution of hygiene kits or malaria nets that the whole family use).</li>
                    </ul>
                    <p><em><strong>Harm</strong></em> is any detrimental effect on a child's or young person's physical, psychological, or emotional wellbeing. Harm may be caused by abuse or exploitation whether intended or unintended.</p>
                    <p><em><strong>Informed Consent</strong></em> ensures the child and the parent or guardian understand the implications, purpose and potential uses of photographs or videos</p>
                    <p><em><strong>Manager</strong></em> refers to a Staff member who has responsibility for line managing or supervising the work of Staff or Associates.</p>
                    <p><em><strong>Safeguarding children and young people</strong></em> is the responsibilities, preventative, responsive and referral measures that we undertake to protect children and young people, ensuring that no child or young person is subject to any form of harm as a result of their association with the organisation. This includes, ensuring that their contact with us and those associated with us and/or their participation in our activities, interventions and operations is safe and where there are concerns over a child or young person's welfare or where a child or young person has been subject to violence, appropriate and timely actions are taken to address this and incidents are analysed so as to ensure continued learning for Plan International Australia</p>
                    <p><em><strong>Safeguarding - Gender Responsive Safeguarding</strong></em> is a safeguarding approach that: </p>
                    <ul>
                        <li>takes full account of gender in considering the specific safeguarding needs of girls, boys and other gender identities;</li>
                        <li>integrates safeguarding measures that address protection risks for children and young people (girls, boys, young women, young men, and children of other gender identities) that stem from issues relating to gender bias and discrimination; and</li>
                        <li>supports the empowerment and fosters the inclusion of girls, particularly in the safeguarding process, in a manner that promotes equality, equity and ultimately their increased safety and protection</li>
                    </ul>
                    <p><small><sup>8</sup> Further guidance on Ihe categories of child aOuse is outlined in the ’Ensunng Child Protection - Plan Australia Child Protection Policy Procedures ‘document - See page 6 for hyperlink.</small></p>
                    <p><em><strong>Staff</strong></em> refers to individuals who receive a regular salary for work in any Plan International Entity as well as individuals paid by or through a Plan International Entity tut located in another entity.</p>
                    <p><em><strong>Violence" against a child or young person</strong></em> includes all forms of physical or mental violence, injury or abuse, neglect or negligent treatment, emotional ill-treatment or psychological violence, sexual abuse and exploitation, harassment, and commercial or other exploitation of a child or young person. Acts of violence can also take place online through, for example, the web, social media or mobile phones. It may be an intentional act involving the use of physical force or power or it may be failing to act to prevent violence against a child or young person. Violence consists of anything which individuals, groups, institutions or organisations do or fail to do, intentionally or unintentionally, which either results in or has a high likelihood of resulting in actual or potential harm to the child or young person's wellbeing, dignity and survival and development.</p>
                    <p><em><strong>Visitor</strong></em> refers to a range of persons who are visiting Plan's offices or programmes and may come into contact with children and young people through Plan International Australia, including journalists, media, researchers, visiting sponsors and celebrities.</p>
                    <p><em>Working with Children</em> means being engaged in an activity with a child where the contact would reasonably be expected as a normal part of the activity and the contact is not incidental to the activity. Working includes volunteering or other unpaid works</p>
                    <p><em><strong>Young Person/People or Youth</strong></em> in line with United Nations definitions, include individuals - young women, young men, and young persons of other gender identities - aged 15 years to 24 years old. This group spans the categories of 'children', ‘adolescents’ and 'adults' but regards young people as having particular safeguarding needs and requiring distinct consideration aside from younger children and older adults.</p>
                </div>
                <div v-if="confirmPolicy">
                <confirmPolicyModal></confirmPolicyModal>
                </div>
            </div>
        </div>
        
    </div>
</template>
<script>
import ApiService from '../../../../api/apiService.js';
import _ from 'lodash';
import confirmPolicyModal from '../../components/confirmPolicyModal';
import navigationbutton from '../../components/navigationbutton';

    export default {
        data() {
            return {
                   
                'loginId':this.$store.state.User.userData.userId,
                'userType':this.$store.state.User.userData.userTypeId,
                'confirmVal':'',
                'confirmPolicy':false,
                'prevStatus':true,
                'prevUrl' : '/front/elearning',
                'nextUrl' : '',
                'nextStatus' : false,
            }
        },
        components: {
           confirmPolicyModal,
           navigationbutton
        },
         created: function() {
            this.$root.$on('closeConfirmModal',this.closeConfirmModal);
            this.$root.$on('policyConfirmModal',this.policyConfirmModal);
        },
        mounted() {
            var vm = this;
            if(vm.$store.state.User.userData.userTypeId != '4'){
              vm.$root.$emit('logout','You are not authorise to access this page'); 
           }
            vm.initData();

            
        },
        methods: {
            initData(){
                let vm=this;
                vm.getPolicyDetailByUserId(vm.loginId);
            },
            policyConfirmModal()
            {
              let vm=this;
              vm.confirmVal='Y';
              $('#confirmPolicyModal').modal('hide');
              vm.confirmPolicy=false;
            },
            openConfirmModal()
            {
                let vm=this;
                
                if(vm.confirmVal=='Y')
                {
                    vm.confirmPolicy=true;
                    setTimeout(function(){
                        $('#confirmPolicyModal').modal('show');
                    },100);
                    
                }
            },
            closeConfirmModal()
            {
              let vm=this;
              vm.confirmVal='N';
              $('#confirmPolicyModal').modal('hide');
              vm.confirmPolicy=false;
            },
            getPolicyDetailByUserId(userId)
            {
                let vm=this;
                let data={'userId':userId};
                 ApiService.getPolicyDetailByUserId(data).then(
                  (response)=> {
                    if(response.data.code == 200){
                        vm.confirmVal=response.data.data;
                    } 
                    
                    
                  },
                  (error)=>{
                  }

                )
            }
            
        }
    }
</script>

