<template>
    <div>
        <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton> 
        <div class="card bg-light mt-3">
    <div class="statutory-declaration card-body">
        <div class="row mb-4">
           <div class="pull-left mr-2 ml-2 mt-2">
               I,
           </div>
           <div class="col-sm-3">
               <div class="form-group mb-1">
                   <input type="text" placeholder="Full Name" class="form-control" name="full_name" v-validate="'required|alpha|max:55'" v-model="statutoryData.fullName" :readonly="readOnly" disabled="" />
               </div>
               <span class="help is-danger" v-show="errors.has('full_name')">{{ errors.first('full_name') }}</span>
           </div>
           <div class="pull-left mr-2 ml-2 mt-2">
               of
           </div>
           <div class="col-sm-3">
               <div class="form-group mb-1">
                   <input type="text" placeholder="Address" class="form-control" name="address" v-validate="'required|max:140'" v-model="statutoryData.address" :readonly="readOnly" :maxlength="140" />
               </div>
               <span class="help is-danger" v-show="errors.has('address')">{{ errors.first('address') }}</span>
           </div>
           <div class="col-sm-3">
               <div class="form-group mb-1">
                   <input type="text" placeholder="Occupation" class="form-control" name="occupation" v-validate="'required'" v-model="statutoryData.occupation" :readonly="readOnly"  />
               </div>
               <span class="help is-danger" v-show="errors.has('occupation')">{{ errors.first('occupation') }}</span>
           </div>
       </div>
       <div class="row mb-4">
           <div class="pull-left mr-2 ml-2 d-flex align-items-center">
               , do solemnly and sincerely declare that:-
           </div>
           <div class="col-sm-3">
               <div class="form-group mb-1">
                <input type="text" placeholder="" class="form-control" name="declaration" v-model="statutoryData.declaration" :readonly="readOnly"/>
               </div>
           </div>
       </div>
       <div class="mb-4">
           <p>I acknowledge that this declaration is true and correct, and I make it with the understanding and belief that a person who makes a false declaration is liable to the penalties of perjury.</p>
       </div>
       <div class="row mb-4">
           <div class="col-sm-3">
               <input type="text" placeholder="Full Name" class="form-control" name="witness_fullName" v-model="statutoryData.witness_fullName" :readonly="readOnly" disabled=""/> 
           </div>
           <div class="pull-left ml-2 mr-2 d-flex align-items-center">
               Signature of person making this declaration [to be signed in front of an authorised witness]
           </div>
       </div>
       <div class="mb-4" v-if="(showDoc == false)">
           <p>If a scanned Statutory Declaration is required, please upload here: </p>
       </div>
        <div class="mb-4">
            <div class="form-group mb-1" v-if="(showDoc == false)">
                <label class="btn-bs-file btn btn-lg btn-primary mr-0 mr-sm-3 mb-1">Upload<input type="file" name="statutoryDeclarationDocument" id="statutoryDeclarationDocument" v-validate="'required|ext:jpeg,jpg,pdf,png,bmp'" v-on:change="previewFile" :readonly="readOnly" ></label>
                Attachment (accept single file upload: .pdf, .jpg, .png, .bmp), Not mandatory
            </div>
            <span class="help is-danger" v-show="errors.has('statutoryDeclarationDocument')">{{ errors.first('statutoryDeclarationDocument') }}</span>
            <br/>
            <label v-if="(displayDocStatus && showDoc == false)">Document selected.</label>
            <a :href="'/storage/documents/' + statutoryData.statutoryDeclarationDocument" v-show="(showDoc == true && statutoryData.statutoryDeclarationDocument != null)" target="_blank">View Document</a>
        </div>
        <div class="row">
               <div class="col-md-6">
                   <div class="form-group">
                     <label>Expiry Date*</label>
                       <div class="input-group mb-3">
                           
                           <input type="text" placeholder="Expiry Date" class="form-control datepicker border-right-0 bg-white" v-validate="'required|date_format:DD/MM/YYYY'" v-model="statutoryData.expiryDate" name="expiryDate"  data-date-format="dd/mm/yyyy" id="expiryDate" :readonly="readOnly">
                           <div class="input-group-append">
                               <span class="input-group-text"><i  class="icon-calendar" @click="dpOpen('expiryDate')"></i></span>
                           </div>
                            <span class="help is-danger" v-show="errors.has('expiryDate')">Please enter valid expiry Date.</span>
                       </div> 
                       <!--  <i v-show="errors.has('bookingDate')" class="fa fa-warning"></i> -->
                       
                   </div>
               </div>
        </div>
        <div class="text-center my-5">
            <!-- <button type="submit" class="btn btn-primary btn-lg mr-3" @click="downloadDeclaration()" >DownloadDeclaration</button>  -->
            <button type="submit" class="btn btn-primary btn-lg mr-3" @click="validateBeforeSubmit()" :disabled="readOnly">Confirm</button> 
            <button type="submit" class="btn btn-primary btn-lg" @click="getComponent('childSafeguarding')">Cancel</button>
    </div>
  </div>
</div>
 <confirmStatutoryDeclaration :changeStatusMsg="changeStatusMsg"></confirmStatutoryDeclaration>
</div>
</template>
<script>
import apiService from '../../../../api/apiService.js';
import confirmStatutoryDeclaration from '../../components/confirmStatutoryModel';
import navigationbutton from '../../components/navigationbutton'
import { Validator } from 'vee-validate';
import _ from 'lodash';

const fields = {
  en: {
    attributes: {
        full_name: 'Full Name',
        address: 'Address', 
        occupation: 'Occupation',
        statutoryDeclarationDocument: 'Statutory Declaration'
    }
  },
};

Validator.localize(fields);
export default {
    name: 'statutoryDeclaration',
    data(){
        return {
            'changeStatusMsg': "Are you sure to confirm your agreement with the declaration?",
            'statutoryData': {
                'participantId': this.$store.state.User.userData.userId,
                'fullName': '',
                'address': '',
                'occupation': '',
                'declaration': '',
                'witness_fullName': '',
                'statutoryDeclarationDocument': '',
                'expiryDate':'',
                'userDetailId':''
            },
            'readOnly': false,
            'showDoc': false,
            'displayDocStatus': false,
            'prevStatus':true,
            'prevUrl' : '/front/documents',
            'nextUrl' : '/front/elearning',
            'nextStatus' : true,
        }
    },
    created()
    {
        let vm = this;
        this.$root.$on('confirmStatutoryStatus',this.confirmStatutoryStatus);
        vm.setFullName();
        vm.initdata();
        /*this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/
    },
    mounted() {
      let vm=this;
       vm.$route.meta.backProcessCheck = true;
       $('.datepicker').datepicker({
            startDate: '+1d',
            autoclose: true
          }).on('changeDate', function(ev)
          {
            let expiryDate = $(this).val();
            vm.statutoryData.expiryDate=expiryDate;
            
          });
    },
    destroyed() {
       this.$root.$off('confirmStatutoryStatus',this.confirmStatutoryStatus);
    },
    components: {
        confirmStatutoryDeclaration,
        navigationbutton
    },
    methods:{
       dpOpen(dId){
            if(dId!=''){
                $('#'+dId).datepicker("show");
            }
         },
        getComponent(componentName){

              let vm=this;
              vm.$router.push({'name':componentName});

        },
        setFullName(){

           let vm = this;
           let data = {
              'userId' : vm.statutoryData.participantId,
           }
          vm.$store.commit("routeChange", "start");
          apiService.getUserName(data).then(
             (response)=> {
                    if(response.data.code == 200){
                       vm.$store.commit("routeChange", "end");
                       vm.statutoryData.fullName = response.data.data;
                       vm.statutoryData.witness_fullName = response.data.data;
                    }
                  },
              (error)=>{
              }
            );
        },
        initdata()
        {
            let vm = this;
            let participantId = this.$store.state.User.userData.userId;
             vm.$store.commit("routeChange", "start");
            apiService.getStatutoryDeclaration(participantId).then(
                (response)=> {
                  let userData=response.data.userDetail;
                  if(userData)
                  {
                     let name='';
                     if(userData.user_details.givenName)
                     {
                        name+=userData.user_details.givenName;
                     }
                     if(userData.user_details.surName)
                     {
                        name+=' '+userData.user_details.surName;
                     }
                     vm.statutoryData.fullName = name;
                     vm.statutoryData.address = userData.user_details.address;
                     vm.statutoryData.occupation = userData.user_details.occupation;
                     vm.statutoryData.witness_fullName = name;
                      vm.statutoryData.userDetailId = userData.user_details.userDetailId;
                  }
                    if(response.data.code == 200){
                       vm.$store.commit("routeChange", "end");
                        vm.readOnly = true;
                        vm.$route.meta.backProcessCheck = false;
                        
                        //vm.statutoryData.fullName = response.data.data.fullName;
                        //vm.statutoryData.address = response.data.data.address;
                        //vm.statutoryData.occupation = response.data.data.occupation;
                        vm.statutoryData.declaration = response.data.data.declaration;
                        
                         vm.statutoryData.expiryDate = vm.setDateVal(response.data.data.document.expiryDate);
                        vm.statutoryData.statutoryDeclarationDocument = response.data.data.declarationDocument;
                        if (vm.statutoryData.statutoryDeclarationDocument != '') {
                            vm.showDoc = true;
                        }
                    }  else if (response.data.code == 300) {
                        vm.$route.meta.backProcessCheck = true;
                        //toastr.error(response.data.message, '', {timeOut: 5000});
                    } else {
                        vm.$route.meta.backProcessCheck = true;
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }

                },
                (error)=>{
                    vm.$route.meta.backProcessCheck = true;
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            )
        },
        validateBeforeSubmit()
        {
            let vm = this;
             
             if (vm.readOnly) {
                toastr.error('Statutory declaration already confirmed.', '', {timeOut: 5000});
                vm.readOnly = false;
                return false;
            }
            vm.$validator.validateAll().then(() => {
                if (!this.errors.any()) {
                    setTimeout(function(){
                      $("#confirm_modal").modal('show');
                    },500);
                    console.log('sdasd');
                    
                }    
            });
        },
        confirmStatutoryStatus()
        {
           
            $('#confirm_modal').modal('hide');
            let vm = this;
            vm.$route.meta.backProcessCheck = false;
            vm.$store.commit("routeChange", "start");
            apiService.confirmStatutoryDeclaration(vm.statutoryData).then(
                (response)=> {
                    if(response.data.code == 200){
                        vm.$store.commit("routeChange", "end");
                        vm.$route.meta.backProcessCheck = false;
                        toastr.success(response.data.message, '', {timeOut: 5000});
                        vm.initdata();
                    }  else if (response.data.code == 300) {
                        vm.$route.meta.backProcessCheck = true;
                        vm.$store.commit("routeChange", "end");
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    } else {
                        vm.$route.meta.backProcessCheck = true;
                        vm.$store.commit("routeChange", "end");
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
                },
                (error)=>{
                     vm.$route.meta.backProcessCheck = true;
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            )
        },
        previewFile(e){
                //$event.target.name, $event.target.files
                let vm =this;
                var imgData = [];
                var fileList = e.target.files;
                var fieldName = e.target.name;
                let extArray=['bmp','jpej','jpg','pdf','png'];
                var files = e.target.files || e.dataTransfer.files;

                 if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    vm.fileExt = ext;
                    vm.fileName= fileList[x].name;
                    var fSize=vm.getFileSize(fileList[x].size);
                     if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else if(_.includes(extArray, ext))
                    {
                         if (files.length > 0)
                        { 
                            vm.show = true;
                            this.createImage(files[0]);
                        }
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                
            },
            getFileextesion(fileName)
            {
                return fileName.substring(fileName.lastIndexOf(".")+1);
            },
            getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            },
       /* onDeclarationChange(e) {
            let vm = this;
            let files = e.target.files || e.dataTransfer.files;
            vm.show = true;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },*/
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.displayDocStatus = true;
                vm.statutoryData.statutoryDeclarationDocument = e.target.result;
                $('#thumb')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        },
        setDateVal(val)
        {
            return moment(val).format('DD/MM/YYYY');
        }
    }
}
</script>

