<template>
    <div>
        <navigationbutton :prevStatus='prevStatus' :prevUrl='prevUrl' :nextUrl='nextUrl' :nextStatus='nextStatus'></navigationbutton> 
        <div class="card bg-light mt-3">
            <div class="statutory-declaration card-body">
                <div class="p-3">
                    <p>Plan International Australia (PIA) is fully committed to the safeguarding of all children and workplace safety. PIA has a responsibility and duty to ensure that the organisation, and anyone who represents the organisation, does not in any way harm, abuse, or commit any other act of violence against children or compromise the safety of the workplace.</p>
                    <p>This statutory declaration covers matters of Workplace Safety and Child Safeguarding.</p>
                    <p>By signing this Statutory Declaration, you commit to uphold PIA’s Child Safeguarding Policy and PIA’s Workplace Safety Policy. PIA takes workplace safety and child safeguarding very seriously and PIA ensures that all who work and engage with the organisation understand and are supported in their responsibilities to meet PIA’s child safeguarding and workplace safety standards.</p>
                    If you have any concerns or questions, or you cannot commit to this Statutory Declaration, please contact your PIA hiring manager.
                    <p class="mt-5">Please download the Statutory Declaration form below and fill in your details. For a list of eligible witnesses please click <a href="https://www.ag.gov.au/Publications/Statutory-declarations/Pages/List-of-authorised-witnesses.aspx" target="_blank">here</link>.</a></p>
                    <a href="/storage/statutory-declaration/PIA-Statutory-Declaration.pdf"  download><button type="button" class="btn btn-primary btn-lg" >Download</button></a>
                    <div class="mt-4">
                        <p class="mb-2">Please Upload your Statutory Declaration Document from below</p>
                        <label class="btn-bs-file btn btn-lg btn-primary mb-0">
                            Upload
                            <input type="file" id="declarationCopy" name="declarationCopy"  class="btn btn-info" @change="previewFile" accept="*" v-validate="'ext:jpeg,jpg,pdf,png,bmp'">
                        </label>
                        <label v-if="(displayDocStatus && showDoc == false)" class="ml-2">Document selected.</label>
                        <a :href="'/storage/documents/' + statutoryData.statutoryDeclarationDocumentDisplay" v-show="(showDoc == true && statutoryData.statutoryDeclarationDocument != null)" target="_blank" class="ml-2"><i class="fa fa-file-text-o fa-lg"></i> View Document</a>
                        <p class="mb-0 mt-1"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
                        <div class="is-danger" v-show="errors.has('declarationCopy')">
                                Please enter valid file.
                        </div>
                        
            
            
                        <!-- <button type="submit" class="btn btn-primary btn-lg">View Document</button> -->
                    </div>
                </div>
                  <button type="submit" class="btn btn-primary btn-lg mr-3" @click="validateBeforeSubmit()" :disabled="readOnly">Confirm</button> 
                <button type="submit" class="btn btn-primary btn-lg" @click="getComponent('childSafeguarding')">Cancel</button>
            </div>
        </div>
        <confirmStatutoryDeclaration :changeStatusMsg="changeStatusMsg"></confirmStatutoryDeclaration>
    </div>
</template>
<script>
import apiService from '../../../../api/apiService.js';
import confirmStatutoryDeclaration from '../../components/confirmStatutoryModel';
import navigationbutton from '../../components/navigationbutton'
import { Validator } from 'vee-validate';
import _ from 'lodash';

const fields = {
  en: {
    attributes: {
        full_name: 'Full Name',
        address: 'Address', 
        occupation: 'Occupation',
        statutoryDeclarationDocument: 'Statutory Declaration'
    }
  },
};

Validator.localize(fields);
export default {
    name: 'statutoryDeclaration',
    data(){
        return {
            'changeStatusMsg': "Are you sure to confirm your agreement with the declaration?",
            'statutoryData': {
                'participantId': this.$store.state.User.userData.userId,
                'fullName': '',
                'address': '',
                'occupation': '',
                'declaration': '',
                'witness_fullName': '',
                'statutoryDeclarationDocument': '',
                'statutoryDeclarationDocumentDisplay' : '',
                'expiryDate': moment().format('DD/MM/YYYY'),
                'userDetailId':''
            },
            'readOnly': false,
            'showDoc': false,
            'displayDocStatus': false,
            'prevStatus':true,
            'prevUrl' : '/front/documents',
            'nextUrl' : '/front/elearning',
            'nextStatus' : true,
        }
    },
    created()
    {
        let vm = this;
        this.$root.$on('confirmStatutoryStatus',this.confirmStatutoryStatus);
        vm.setFullName();
        vm.initdata();
        /*this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/
    },
    mounted() {
      let vm=this;
       vm.$route.meta.backProcessCheck = true;
       $('.datepicker').datepicker({
            startDate: '+1d',
            autoclose: true
          }).on('changeDate', function(ev)
          {
            let expiryDate = $(this).val();
            vm.statutoryData.expiryDate=expiryDate;
          });
    },
    destroyed() {
       this.$root.$off('confirmStatutoryStatus',this.confirmStatutoryStatus);
    },
    components: {
        confirmStatutoryDeclaration,
        navigationbutton
    },
    methods:{
       dpOpen(dId){
            if(dId!=''){
                $('#'+dId).datepicker("show");
            }
         },
        getComponent(componentName){

              let vm=this;
              vm.$router.push({'name':componentName});

        },
        setFullName(){

           let vm = this;
           let data = {
              'userId' : vm.statutoryData.participantId,
           }
            vm.$store.commit("routeChange", "start");
          apiService.getUserName(data).then(
             (response)=> {
                    if(response.data.code == 200){
                       vm.$store.commit("routeChange", "end");
                       vm.statutoryData.fullName = response.data.data;
                       vm.statutoryData.witness_fullName = response.data.data;
                    }
                  },
              (error)=>{
              }
            );
        },
        initdata()
        {
            let vm = this;
            let participantId = this.$store.state.User.userData.userId;
            vm.$store.commit("routeChange", "start");
            apiService.getStatutoryDeclaration(participantId).then(
                (response)=> {
                  let userData=response.data.userDetail;
                  if(userData)
                  {
                     let name='';
                     if(userData.user_details.givenName)
                     {
                        name+=userData.user_details.givenName;
                     }
                     if(userData.user_details.surName)
                     {
                        name+=' '+userData.user_details.surName;
                     }
                     vm.statutoryData.fullName = name;
                     vm.statutoryData.address = userData.user_details.address;
                     vm.statutoryData.occupation = userData.user_details.occupation;
                     vm.statutoryData.witness_fullName = '';
                      vm.statutoryData.userDetailId = userData.user_details.userDetailId;
                  }
                    if(response.data.code == 200){
                       vm.$store.commit("routeChange", "end");
                       if(response.data.data.document.verifiedStatus === 'satisfactory'){
                            vm.readOnly = true;
                       }
                        vm.$route.meta.backProcessCheck = false;
                        //vm.statutoryData.fullName = response.data.data.fullName;
                        //vm.statutoryData.address = response.data.data.address;
                        //vm.statutoryData.occupation = response.data.data.occupation;
                        vm.statutoryData.declaration = response.data.data.declaration;
                        vm.statutoryData.expiryDate = vm.setDateVal(response.data.data.document.expiryDate);
                        vm.statutoryData.statutoryDeclarationDocumentDisplay = response.data.data.declarationDocument;
                        if (vm.statutoryData.statutoryDeclarationDocumentDisplay != '') {
                            vm.showDoc = true;
                        }
                    }  else if (response.data.code == 300) {
                        vm.$route.meta.backProcessCheck = true;
                        //toastr.error(response.data.message, '', {timeOut: 5000});
                    } else {
                        vm.$route.meta.backProcessCheck = true;
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
                },
                (error)=>{
                    vm.$route.meta.backProcessCheck = true;
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            )
        },
        validateBeforeSubmit()
        {
            let vm = this;
             
             if (vm.readOnly) {
                toastr.error('Statutory declaration already confirmed.', '', {timeOut: 5000});
                vm.readOnly = false;
                return false;
            }
            vm.$validator.validateAll().then(() => {
                if (!this.errors.any()) {
                    setTimeout(function(){
                      $("#confirm_modal").modal('show');
                    },500);
                }    
            });
        },
        confirmStatutoryStatus()
        {
            $('#confirm_modal').modal('hide');
            let vm = this;
            vm.$route.meta.backProcessCheck = false;
            vm.$store.commit("routeChange", "start");
            apiService.confirmStatutoryDeclaration(vm.statutoryData).then(
                (response)=> {
                    if(response.data.code == 200){
                        vm.$store.commit("routeChange", "end");
                        vm.$route.meta.backProcessCheck = false;
                        toastr.success(response.data.message, '', {timeOut: 5000});
                        vm.initdata();
                    }  else if (response.data.code == 300) {
                        vm.$route.meta.backProcessCheck = true;
                        vm.$store.commit("routeChange", "end");
                        toastr.error(response.data.message, '', {timeOut: 5000});
                    } else {
                        vm.$route.meta.backProcessCheck = true;
                        vm.$store.commit("routeChange", "end");
                        toastr.error('Something Went wrong.', '', {timeOut: 5000});
                    }
                },
                (error)=>{
                     vm.$route.meta.backProcessCheck = true;
                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                }
            )
        },
        previewFile(e){
                //$event.target.name, $event.target.files
                let vm =this;
                var imgData = [];
                var fileList = e.target.files;
                var fieldName = e.target.name;
                let extArray=['bmp','jpej','jpg','pdf','png'];
                var files = e.target.files || e.dataTransfer.files;

                 if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    vm.fileExt = ext;
                    vm.fileName= fileList[x].name;
                    var fSize=vm.getFileSize(fileList[x].size);
                     if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else if(_.includes(extArray, ext))
                    {
                         if (files.length > 0)
                        { 
                            vm.show = true;
                            this.createImage(files[0]);
                        }
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                
            },
            getFileextesion(fileName)
            {
                return fileName.substring(fileName.lastIndexOf(".")+1);
            },
            getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            },
       /* onDeclarationChange(e) {
            let vm = this;
            let files = e.target.files || e.dataTransfer.files;
            vm.show = true;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },*/
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.displayDocStatus = true;
                vm.statutoryData.statutoryDeclarationDocument = e.target.result;
                $('#thumb')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        },
        setDateVal(val)
        {
            return moment(val).format('DD/MM/YYYY');
        }
    }
}
</script>

