<template>
    <div class="login-wrapper clearfix">
        <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1 mt-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label>New Password *</label>
                    <input type="password" class="form-control" v-model="password"  name="password"  v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,64})/, max:64}" placeholder="..." ref="password" >
                    <span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8 character and maximum 64 characters long.<br>Password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Confirm Password *</label>
                    <input type="password" class="form-control" placeholder="..." v-validate="'required|confirmed:password'" data-vv-as="password" name="password_confirmation"  value="" autocomplete="off" >
                    <span v-show="errors.has('password_confirmation')" class="help is-danger"> {{ errors.first('password_confirmation') }}</span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary btn-lg mr-3" type="button"  @click="changePassword()">Update Password</button>
                    <button @click="backpage()" class="btn btn-primary btn-lg mr-3" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import LoginRight from './components/loginRight'
 import UserApi from '../../api/apiService.js';

export default {
    name: 'frontResetPassword',

    data(){
        return{
            'userType':this.$store.state.User.userData.userTypeId,
            'email': this.$store.state.User.userData.email,
          'password':'',

        }
    },
    mounted() {

        
    },
    components: {
        LoginRight
    },
    methods: {       
        backpage()
        {
            let vm=this;
            if(vm.userType != 4){
                vm.$router.push({'name':'participantList'});
            } else {
                vm.$router.push({'name':'personaldetails'});
            }
        },
        changePassword(){
          let vm =this;
          vm.$validator.validateAll().then(() => {
             if (!this.errors.any()) {
                let resetData = {
                    'email': vm.email,
                    'password': vm.password
                }
                UserApi.editFrontPasswordReset(resetData).then(
                 (response) => {
                  if(response.data.code == 200){
                    toastr.success('Password has been changed successfully', '', {timeOut: 5000});
                    setTimeout(function(){
                        vm.$router.push({'name':'frontLogin'});
                    },1000)
                      
                  } else {
                    toastr.error('Smething goes wrong.', '', {timeOut: 5000});

                  }
                this.$store.commit("routeChange", "end");
               
              },
                  (error) => {
                    this.$store.commit("routeChange", "end");
              },
            );
             }
          });
        }
    }
}
</script>

