<template>
    <div class="slides text-center">
        <div class="mb-5"><img src="../../../assets/images/logo.svg" alt="" class="logo"></div>
        <div class="slide-caption">
            We are
            <h1>Comming Soon</h1>
            <router-link to="/front/Home">
                Goto Home
            </router-link>
        </div>
        <div class="anim-load"></div>
        <div class="anim-load"></div>
        <div class="anim-load"></div>
        <div class="anim-load"></div>
        <div class="anim-load"></div>
    </div>
</template>
<script>
export default {
    name:'commingsoon',
}
</script>



