<template>
    <div class="login-wrapper clearfix">
        <div class="loginForm-wrapper">

            <img src="../../../assets/images/logo.svg" alt="" class="logo">
            <form class="form-horizontal">
                <div class="signup-container mt-2">
                    <h2 class="text-center my-4">Join DEEP (Confirm Account)</h2>
                    <h5>Welcome to DEEP, Plan International Australia’s Child Safeguarding Platform</h5>
                    <p>Please check the details below. You will need to choose and confirm a password. Then click the
                        Confirm button to confirm your DEEP account.</p>
                    <div class="form-group">
                        <label>Given Name</label>
                        <input type="text" class="form-control" placeholder="Given Name" name="givenName" id="givenName"
                            v-model="confirmAccountData.givenName" disabled>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="surName" id="surName"
                            v-model="confirmAccountData.surName" disabled>
                    </div>
                    <div class="form-group">
                        <label>Choose Password *</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                            v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,64})/, max:64}"
                            v-model="confirmAccountData.password" name="password" ref="password" autocomplete="off">
                        <span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8
                            character and maximum 64 characters long.<br>Password must contain at least: 1 uppercase
                            letter, 1 lowercase letter, 1 number, and 1 special character.</span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password *</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password "
                            v-validate="'required|confirmed:password'" v-model="confirmAccountData.confirmPassword"
                            name="confirmPassword" autocomplete="off">
                        <span class="help is-danger" v-show="errors.has('confirmPassword')">Please enter valid Confirm
                            Password .</span>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-lg mr-3" type="button"
                            @click="addValidateBeforeSubmit">Confirm Account</button>
                        <button class="btn btn-primary btn-lg mr-3" type="button" @click="homePage">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <LoginRight />
    </div>
</template>
<script>
    import LoginRight from './components/loginRight'
    import Auth from '../../services/auth';
    import apiServices from '../../api/apiService.js';


    export default {
        name: 'ConfirmAccount',
        components: {
            LoginRight
        },
        data() {
            return {

                'confirmAccountData': {
                    'givenName': '',
                    'surName': '',
                    'userId': '',
                    'token': this.$route.params.token,
                    'email': this.$route.params.email,
                    'password': '',
                    'confirmPassword': ''
                },
            }
        },
        mounted: function () {
            let vm = this;
            vm.initData();
        },
        methods: {
            initData() {
                let vm = this;
                vm.checkConfirmAccountRegistrationKey();
            },
            checkConfirmAccountRegistrationKey() {
                let vm = this;
                let data = { 'token': vm.confirmAccountData.token, 'email': vm.confirmAccountData.email };

                vm.$store.commit("routeChange", "start");
                apiServices.checkConfirmAccountRegistrationKey(data).then(
                    (response) => {
                        if (response.data.code == 200) {
                            vm.getDetailsOfConfirmAccount();
                        } else {
                            toastr.error('Sorry link has been expired.', '', { timeOut: 5000 });
                            this.$router.push({ 'name': 'frontLogin' });

                        }
                        this.$store.commit("routeChange", "end");

                    },
                    (error) => {
                        this.$store.commit("routeChange", "end");
                    },
                );
            },
            getDetailsOfConfirmAccount() {
                let vm = this;
                let data = { 'token': vm.confirmAccountData.token, 'email': vm.confirmAccountData.email }
                vm.$store.commit("routeChange", "start");
                apiServices.getDetailsOfConfirmAccount(data).then(
                    (response) => {
                        if (response.data.code == 200) {
                            let confirmData = response.data.data;
                            vm.confirmAccountData.givenName = confirmData.user_details.givenName;
                            vm.confirmAccountData.surName = confirmData.user_details.surName;
                        } else {
                            toastr.error(response.data.message, '', { timeOut: 5000 });
                            this.$router.push({ 'name': 'frontLogin' });

                        }
                        this.$store.commit("routeChange", "end");

                    },
                    (error) => {
                        this.$store.commit("routeChange", "end");
                    },
                );
            },
            addValidateBeforeSubmit() {
                let vm = this;
                vm.$validator.validateAll().then(() => {
                    if (!this.errors.any()) {
                        let data = { 'confirmAccountData': vm.confirmAccountData };
                        vm.$store.commit("routeChange", "start");
                        apiServices.addConfirmAccount(data).then(
                            (response) => {
                                if (response.data.code == 200) {
                                    toastr.success(response.data.message, '', { timeOut: 5000 });
                                    this.$router.push({ 'name': 'confirmSuccess' });
                                }
                                else if (response.data.code == 300) {
                                    toastr.error(response.data.message, '', { timeOut: 5000 });
                                }
                                else {
                                    toastr.error('Something Went wrong.', '', { timeOut: 5000 });
                                }
                                vm.$store.commit("routeChange", "end");
                            },
                            (error) => {
                                vm.$store.commit("routeChange", "end");
                            }

                        )

                    }
                })
            },
            homePage() {
                this.$router.push({ 'name': 'frontLogin' });
            }

        }
    }
</script>