<template>
    <div class="learning-wrapper">
        <div class="container-fluid text-right">
            <button type="submit" name="" class="btn btn-primary mt-2">Back</button>
        </div>
        <iframe src="http://127.0.0.1:8000/eLearning/1"></iframe>
    </div>
</template>
<script>
export default {
    name:'elearninggomo'
}
</script>


