<template>
    <div class="pt-5 home">
        <div class="container">
            <p><strong>Protection from violence is every child’s right: Plan International’s Global Strategy for Child Protection Programming 2015–2020</strong></p>
            <p>Plan International’s first ever global strategy on child protection programming provides a clear direction and mandate for the organisation to actualise the right to protection from violence for all children, in development and emergency settings.</p>
            <p>The strategy sets out a robust agenda for the organisation to contribute towards strengthening of the national child protection systems in its programme countries, recognising that children, families, communities, civil society and government are an integral part of such a system. Grounded in the foundations of child centered community development, the success of this strategy will be measured by how individual countries contribute to their child protection systems and partner at various levels to combat violence against children.</p>
            <p>This strategy is a result of a highly consultative process that reached children and youth, Plan International staff and external specialists globally. The paper has been put in place with the joint efforts of the global child protection programming reference group.</p>
            <h2 class="mt-4 mb-3">Purpose of The <span>Strategy</span></h2>
            <p>The Global Strategy for Child Protection Programming is the first time that Plan International has articulated its work on child protection as a distinct area of programmatic intervention.  It represents the organisation’s serious commitment to prevention from and elimination of any form of violence against children. </p>
            <p>The strategy outlines Plan International’s evolving approach to protection of children from violence and the programmatic direction as well as the priorities for the next five years (2015-2020). It identifies where the organisation can make the greatest contribution and where its energy and resources will be invested. The strategy provides a high-level conceptual framework for Plan International’s engagement on child protection programming. It is intended to be useful for colleagues in Country Offices and National Organisations to develop, fund and implement programmes within a coherent global framework.</p>
            <div class="my-3"><img src="../../../assets/images/strategy.jpg" alt="" class="img-fluid" /></div>
        </div>
        <section class="how-work-wrapper py-5 my-5">
            <div class="container">
                <h2 class="mb-4">Our <span>Approach</span></h2>
                <p>Building upon the recommendations of the UN study on Violence against Children in 2006, Plan International will work with governments, civil society organisations, communities and children to promote the development and implementation of strong and sustainable national child protection systems. In line with many other global children’s rights organisations, Plan International recognises the inter-connectedness of children’s rights and the complex causes and consequences of violence in both development and emergency settings. By adopting a systems strengthening approach to the work on child protection, Plan International will contribute to lasting social outcomes. The systems based approach is in line with best practice across the sector and positions Plan International strongly in relation to peer organisations. </p>
                <p>Plan International’s work to strengthen child protection systems will continue to be informed by the Child Centred Community Development approach. The work will focus on:</p>
                <ul>
                    <li>strengthening the environment for children and families in their communities</li>
                    <li>measures to tackle exclusion and gender inequality</li>
                    <li>working with civil society organisations to enhance their role in child protection systems</li>
                    <li>supporting and influencing governments to assume their primary duty to protect children</li>
                    <li>and increasing Plan International’s own accountability to the children, families and communities Plan International works with.</li>
                </ul>
                <p>Plan International strongly believes that any form of violence against children is preventable and through this strategy commits to strengthen its efforts towards prevention across all Plan International countries. </p>
                <p>To guide Plan International’s child protection programming over the next five years, a Global Statement on Child Protection Programming has been agreed: </p>
                <p><strong>Plan International adopts a comprehensive systems approach to child protection that aims to prevent and respond to all forms of violence against all children and young people in development and emergency settings.</strong></p>

            </div>
        </section>
        <div class="container">
            <h2 class="mb-4">Four <span>Focus Areas</span></h2>
            <p>To this end, the child protection strategy establishes a common global agenda and ambitious framework for action. It defines key changes in four groups of actors that are fundamental for a systems approach (community, families, children and government) and focuses the organisation’s work on four specific areas.</p>
            <div class="my-3">
                <img src="../../../assets/images/four-focus-child-protection.png" alt="" class="img-fluid">
            </div>
            <h3 class="mt-5">FOCUS AREAS 1: COMMUNITIES WORKING TOGETHER TO PROTECT CHILDREN</h3>
            <p>The communities in which children grow up should be places of safety and protection, the ‘frontline’ of the child protection system. Plan International will work with communities to become havens of safety for children.  Strengthening effective and tailored community-based child protection mechanisms will be a global priority in the next five years. Partnership at various levels will be crucial in achieving this.</p>
            <h3 class="mt-4">FOCUS AREA 2:  FAMILIES PROVIDING CARE AND PROTECTION</h3>
            <p>In order for Plan International to achieve change in children’s lives, priority will be given to bolstering the care and protection children receive at home.  Plan International will create partnerships with the state and local civil society organisations to support families to care for their children and will, as a second global priority, promote ‘positive parenting’ in the communities where it works. </p>
            <h3 class="mt-4">FOCUS AREA 3:  CHILDREN AND YOUTH CONTRIBUTING TO THEIR OWN PROTECTION</h3>
            <p>Children are at the centre of the child protection system. They are not simply beneficiaries of protection systems, but are active contributors to it. Plan International believes that, with the appropriate encouragement and support, children can contribute to their own protection in line with their evolving capacities. Plan International will promote active citizenship among children and help children to claim their rights to protection.</p>
            <h3 class="mt-4">FOCUS AREA 4:  GOVERNMENTS DEVELOPING INTEGRATED CHILD PROTECTION SYSTEMS AND SERVICES  </h3>
            <p>Governments have the primary responsibility for appropriate legislation and the delivery of a wide range of services to ensure children are protected. Plan International will support local and national government institutions to implement good models of child protection practice, generate robust data collection mechanisms, and will support advocacy efforts at national, regional and global levels.  Additional guidance will be prepared on pursuing this work in fragile states.</p>
            <p>In support of these focus areas, Plan International strives to become a thought and practice leader on child protection in development and emergency contexts. The strategy presented here has been underpinned by a robust and innovative research agenda. The strategy reflects Plan International’s recognition of the importance of evidence-based programming: this will enable the organisation to tailor its programmes to the contexts Plan International works in and maximises the outcomes for children. Over the next five years, a comprehensive agenda for building the capacity and experience of Plan International’s child protection staff will be developed as well as a resource mobilisation and investment plan, some of which has been spelled out as a part of this paper.</p>
            <div>
                <p>Overall, this strategy spells out a paradigm shift in the way Plan International approaches the ‘right to protection of children from violence.’ There is a big shift from an issue based approach towards preventing more and more children from falling out of safety nets by investing in effectiveness of child protection systems that are sustainable and that work in partnership with children, families, communities and the civil society. </p>
                <p>At the end of this strategy, it would be desirable to see how each programme country has included a comprehensive review of national child protection systems in their child rights situation assessment and how each country strategic plan has reflected upon strengthening this system, backed up with both technical and financial resources. By following this path the organisation should be able to eventually measure the impact it is making in protecting children from violence in sustainable ways through better child protection systems.</p>
                <p><img src="../../../assets/images/glo-children_smiling.jpg" alt="" class="img-fluid"></p>
            </div>
        </div>
    </div>
</template>
