<template>
    <div class="home">
      <!--  <Header/> -->
        <section class="container">
            <div class="row pt-4 pb-3">
                <div class="col-md-6 offset-md-3" v-if="roleHmu == '1' || roleAdmin == '1'">
                    <div class="form-group">
                        <h4 class="form-control-label"> Proceed as User Type: </h4>
                        <select id="profile" name="profile" class="form-control required ls-select2" v-validate="'required'">
                            <option v-if="roleAdmin==1" value="2"> Admin </option>
                            <option v-if="roleHmu==1" value="3"> HMU </option>
                            <option value="4">Participant</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-7">
                    <h2>Who we <span>are</span></h2>
                    <div class="mt-3">
                        <p>Plan International is a global independent development and humanitarian organisation. We know that there is nowhere in the world where girls are treated as equals. We work alongside children, young people, supporters and partners to tackle root causes of the injustices facing girls and the most marginalised children. We recognise the power and potential of every single child. When young people are heard, they drive incredible change.</p>
                        <p>Plan International works in more than 75 countries towards a just world that advances children’s rights and equality for girls. Our Australian office, Plan International Australia program to support children in more than 25 countries and fund and support sponsorship programs across the federation. We work with local and national governments to change policies that hold children and girls back. We work with communities, children and young people to tackle the root causes of poverty, exclusion and discrimination with a focus on girls.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="../../../assets/images/community.jpg" alt="" class="img-fluid"/>
                </div>
            </div>
        </section>
        <section class="how-work-wrapper py-4">
            <div class="container">
                <h2>How We <span>Work</span></h2>
                <ul class="mt-3">
                    <!-- <li v-for="worklist in worklists" v-bind:key="worklist.id" v-bind:title="worklist.description">
                        {{ worklist.description }}
                    </li> -->
                    <li>Our <a href="https://plan-international.org/organisation/strategy" class="strategy-link" target="_blank">Global Strategy</a> explains the global context of our work and the broad strokes of what we are here to do.</li>
                    <li>We are achieving our vision of a world in which all children realise their full potential by taking a 'rights-based approach' to development. Put simply, this means children, and their rights, are at the heart of everything we do.</li>
                    <li>We listen to children, and respond to their needs. Our work focuses on children who are living in poverty, children who are excluded and marginalised, and children affected by conflict and disasters. And we believe they should be a part of the decision-making processes that concerns them.</li>
                    <li>Our work is guided by the <a href="https://www.humanrights.gov.au/convention-rights-child" class="strategy-link" target="_blank">United Nations Convention on the Rights of the Child</a>. It spells out the human rights of all children. Listening to what children have to say about their rights and concerns is critical to our approach. We encourage them to take part in decisions that affect their lives, to speak out and have their voices heard.</li>
                    <li>We believe that all children hold equal rights and should be protected from discrimination. We're committed to working for, with, and on behalf of children to claim their rights and to hold duty bearers, such as governments, to account to respect these rights, regardless of gender, ability or age.</li>
                </ul>
            </div>
        </section>
        <section class="contact-wrapper py-4">
            <div class="container">
                <h2>Get in <span>Touch</span></h2>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <p><strong>We'd love to hear from you.</strong><br/>Our business hours are Monday to Friday 9am - 5pm, Australian Eastern Daylight Time (AEDT). If you’re calling outside these hours, please leave a message and we will return your call within one business day.</p>
                        <ul class="list-unstyled contact-block">
                            <li class="media">
                                <i class="icon-location fa-lg mt-1 mr-2"></i>
                                <div class="media-body">
                                <strong>Address:</strong> 18/60 City Rd, Southbank VIC 3006
                                </div>
                            </li>
                            <li class="media">
                                <i class="icon-support fa-lg mt-1 mr-2"></i>
                                <div class="media-body">
                                <strong>Phone:</strong> 13 PLAN (13 7526) or +61 3 9672 3600 if you're outside Australia
                                </div>
                            </li>
                            <li class="media">
                                <i class="icon-mail fa-lg mt-1 mr-2"></i>
                                <div class="media-body">
                                <strong>Email:</strong> info@plan.org.au
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" name="Email" v-validate="'required|email'" v-model='contact.email'/>
                            <span class="help is-danger" v-show="errors.has('Email')">{{ errors.first('Email') }}</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Subject" name="Subject" v-validate="'required'" v-model='contact.subject'/>
                            <span class="help is-danger" v-show="errors.has('Subject')">{{ errors.first('Subject') }}</span>
                        </div>
                        <div class="form-group">
                            <textarea rows="3" class="form-control" placeholder="Message" name="Message" v-validate="'required'" v-model='contact.message' ></textarea>
                            <span class="help is-danger" v-show="errors.has('Message')">{{ errors.first('Message') }}</span>
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" name="" class="btn btn-primary btn-lg" @click="sendMessage">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import Header from './components/header';
import Footer from './components/footer';
import Auth from '../../services/auth';
import Breadcrumb from './components/breadcrumb';
import Ls from '../../services/ls';
import apiServices from '../../api/apiService.js';
import store from '../../store';

export default {
    name: 'Home',
    components: {
        Header,
        Footer,
        Breadcrumb,
    },
    data(){
        return{
            worklists: [{
                description: 'Read our <a href="">global strategy</a>. It explains the global context of our work and the broad strokes of what we are here to do. You can find it on our global intranet, Planet.'
            },
            {
                description: 'Our brand starts with our people. When you’re recruiting new staff or new partners, find out if their values align with ours (our recruitment templates will help you with this).'
            },
            {
                description: 'If you don’t have an education or background in international development, get familiar with the basics – talk to our talented teams of program managers, read some of the reports and publications on our website, and seek out blogs, books and documentaries.'
            },
            {
                description: 'The same applies to staff who aren’t familiar with advocacy or campaigning approaches, or with fundraising. These activities are core to our work - have a chat with your colleagues in these areas to find out why, and what new approaches we’re trying.'
            },
            {
                description: 'Stay engaged with the issues that are core to our work – such as gender equality, feminism, global development, conflicts and emergencies. Follow us and other independent organisations in the media and on social media. Come to Chhal Phal, Lunchtime Learn sessions and the Feminasties monthly lunchtime meetings.'
            },
            {
                description: 'Every time you begin a new project or activity, ask, ‘how does this align with our brand? Is this about Plan International being a bold change-maker, or young people being bold change-makers, or our donors? If not, how can I make it so?’ It’s up to all of us to uphold the brand, and this means helping our colleagues wherever we can.'
            },
            ],
            roleHmu: this.$store.state.User.userData.isHmu,
            roleAdmin: this.$store.state.User.userData.isAdmin,
            currentRole: '4',
            userId: this.$store.state.User.userData.userId,
            userTypeId: this.$store.state.User.userData.userTypeId,
            contact:{
                email: '',
                subject: '',
                message: ''
            }
        }
    },
    created: function() {
    },
    destroyed: function() {
    },
    mounted()
    {
        let vm = this;
        $('.ls-select2').select2({
            placeholder: "Select"
        });
        
        if (this.$store.state.User.userData.userTypeId == 3) {
            $('#profile').val('3').trigger('change');
        } else if (this.$store.state.User.userData.userTypeId == 2) {
            $('#profile').val('2').trigger('change');
        } else if (this.$store.state.User.userData.userTypeId == 4) {
            $('#profile').val('4').trigger('change');
        }

        $('#profile').on("select2:select", function (e) { 
            let role  = $('#profile').val();
            if (role == '2') {
                vm.setAdmin();
            } else if(role == '3') {
                vm.setHMU();
            } else if(role == '4') {
                vm.setParticipant();
            }
        });

        
    },
    methods: {
        getNotificationByUser(){
            let vm=this;
            vm.$root.$emit('getNotificationByUser');
        },
        setAdmin()
        {
            let vm = this;
            vm.currentRole = 'Admin';
            vm.$store.dispatch('SetRoleType',2);
            vm.$store.dispatch('SetUserType',2);
            Ls.set('role',2);
            vm.getNotificationByUser();
            vm.$router.push({'name': 'participantList'});
        },
        setHMU()
        {
            let vm = this;
            vm.currentRole = 'HMU';
            vm.$store.dispatch('SetRoleType',3);
            vm.$store.dispatch('SetUserType',3);
            Ls.set('role',3);
            vm.getNotificationByUser();
            vm.$router.push({'name': 'participantList'});

        },
        setParticipant()
        {
            let vm = this;
            vm.currentRole = 'Participant';
            vm.$store.dispatch('SetRoleType',4);
            vm.$store.dispatch('SetUserType',4);
            Ls.set('role',4);
            vm.getNotificationByUser();
            vm.$router.push({'name': 'childSafeguarding'});
        },
        sendMessage()
        {
            let vm = this;
            vm.$validator.validateAll().then(
                () => {
                    if (!this.errors.any()) {
                        store.commit("routeChange", "start");
                        apiServices.getInTouch(vm.contact).then(
                            (response) => {
                                if(response.data.code == 200){
                                    toastr.success(response.data.message, '', {timeOut: 5000});
                                    vm.contact.email = '';
                                    vm.contact.subject = '';
                                    vm.contact.message = '';
                                    store.commit("routeChange", "end");
                                } 
                                else if (response.data.code == 300) {
                                    vm.$route.meta.backProcessCheck = true;	
                                    toastr.error(response.data.message, '', {timeOut: 5000});
                                    store.commit("routeChange", "end");
                                }
                                else
                                {
                                    vm.$route.meta.backProcessCheck = true;	
                                    toastr.error('Something Went wrong.', '', {timeOut: 5000});
                                    store.commit("routeChange", "end");
                                }
                            },
                            (error) => {

                            }
                        )
                    }
                } 
            )    
        }
    }

    /*created: function() {
     this.$root.$on('logout',this.logout);
    },
    methods: {
        logout(msg=''){
            let vm =this;
            Auth.logout().then(() => {
              if(msg!=''){
                toastr.error(msg, '', {timeOut: 5000});

              } else{
                toastr.success('Logged out!', '', {timeOut: 5000});
              }
              vm.$router.push({'name':'frontLogin'});
              
              
            })
          },
          getComponent(componentName){

          let vm=this;
          vm.$router.push({'name':componentName});

        }
      },
    destroyed: function() {
     this.$root.$off('logout',this.logout);
    },*/
}
</script>

