<template>
    <div class="innerpage">
        <slider v-if="home_page"></slider> 
        <Header></Header>
        <Breadcrumb class="wow animated fadeIn" v-if="breadcrumbStatus"></Breadcrumb>
        <div v-bind:class="(home_page)?'':'container pt-3 pb-5' && (strategy_page)?'':'container pt-3 pb-5'">
            <router-view></router-view>
        </div>
        <Footer/>
    </div>
</template>

<script type="text/javascript">

import Header from './components/header'
import slider from './components/slider'
import Breadcrumb from './components/breadcrumb'
import Footer from './components/footer'
import Auth from '../../services/auth';
export default {
    name: 'innerlayout',

    components: {
        Header,
        Breadcrumb,
        Footer,
        slider
    },
    created: function() {
      
     this.$root.$on('logout',this.logout);
     
    },
    computed:{
      home_page()
      {
        if(this.$store.state.home_page==='Home'){
          this.breadcrumbStatus=false;
          return true;
        }
        else
        {
          this.breadcrumbStatus=true;
          return false;
        }
      },
      strategy_page()
      {
        if(this.$store.state.strategy_page==='globalstrategy'){
          return true;
        }
        else
        {
          return false;
        }
      }
       
    },
    data(){
      return {
        'breadcrumbStatus':true,
        'routeName':this.$router.currentRoute.name
       
      }
    },
    mounted(){
      
    },
    methods: {
      
        logout(msg=''){
            let vm =this;
            Auth.logout().then(() => {
              if(msg!=''){
                //console.log('fdsfds');
                toastr.error(msg, '', {timeOut: 5000});

              } else{
                toastr.success('Logged out!', '', {timeOut: 5000});
              }
              vm.$router.push({'name':'frontLogin'});
              
              
            })
          },
          
      },
    destroyed: function() {
     
     this.$root.$off('logout',this.logout);
    },
}
</script>