<template>
    <div class="login-wrapper clearfix">
        <div class="loginForm-wrapper">
            <img src="../../../assets/images/logo.svg" alt="" class="logo">
            <div class="login-container" v-if="show && showSignup">
                <h2 class="text-center my-4">Sign In</h2>
                <div class="form-group">
                    <label>Email *</label>
                    <input type="text" class="form-control" name="email" v-validate.disable="'required|email'"
                        placeholder="Email" value="" v-model="loginData.email">
                    <span class="help is-danger" v-show="errors.has('email')">
                        Please enter valid email address.
                    </span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" class="form-control" name="password" v-model="loginData.password" value=""
                        @keyup.enter="signInUser" v-validate.disable="'required'" autocomplete="off">
                    <span class="help is-danger" v-show="errors.has('password')">
                        Field is required
                    </span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        <!-- <p class="custom-control custom-checkbox d-inline mr-3">
                            <input type="checkbox" class="custom-control-input"  name="remember" id="remember"  v-model="loginData.remember">
                            <label class="custom-control-label" for="remember">&nbsp; Remember me</label>
                        </p> -->
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#" @click="show = !show">Forgot Password</a>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-lg mr-3" type="button" @click="signInUser()">Submit</button>
                    <button class="btn btn-primary btn-lg mr-3" type="button">Cancel</button>
                </div>
                <!-- <div class="my-4">
                    <p class="signup-text text-center">Don't have an account yet?  <a href="#" @click="showSignup = !showSignup">Sign Up</a></p>
                </div> -->
            </div>
            <div class="forgot-container" v-if="!show">
                <h2 class="text-center my-4">Forgot Password</h2>
                <div class="form-group">
                    <label>Email *</label>
                    <input type="text" class="form-control" placeholder="Email" v-model="forgot_password.email"
                        name="forgot_email" v-validate="'required|email'" value="">
                    <span class="help is-danger" v-show="errors.has('email')">
                        Please enter valid email address.
                    </span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary btn-lg mr-3" @click="forgotPasswordLink()"
                        type="button">Forgot</button>
                    <button class="btn btn-primary btn-lg" type="button" @click="show = !show">Cancel</button>
                </div>
            </div>
            <div class="signup-container mt-2" v-if="!showSignup">
                <h2 class="text-center my-4">Join DEEP (Confirm Account)</h2>
                <p>Please check the details below. You will need to choose and confirm a password. Then click the
                    Confirm button to confirm your DEEP account.</p>
                <div class="form-group">
                    <label>Given Name</label>
                    <input type="text" class="form-control" placeholder="" value="Josephine" disabled>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="" value="Mentor" disabled>
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Confirm Password *</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" autocomplete="off">
                </div>
                <div class="form-group text-center mt-lg-5 mt-0">
                    <button class="btn btn-primary btn-lg mr-3" type="submit">Confirm Account</button>
                    <button class="btn btn-primary btn-lg" type="submit"
                        @click="showSignup = !showSignup">Cancel</button>
                </div>
            </div>
        </div>
        <LoginRight />
    </div>
</template>
<script>
    import LoginRight from './components/loginRight'
    import Auth from '../../services/auth';
    import apiServices from '../../api/apiService.js';


    export default {
        name: 'FrontLogin',
        components: {
            LoginRight
        },
        data() {
            return {
                show: true,
                showSignup: true,
                loginData: {
                    email: '',
                    password: '',
                    remember: '',
                    forgotpassword: 0
                },
                forgot_password: {
                    email: '',
                },
                forgotPasswordStatus: false,
            }
        },
        mounted: function () {
            localStorage.clear();
            this.$router.push('/');

        },
        methods: {
            signInUser() {
                let vm = this;
                this.$validator.validateAll().then(
                    (response) => {
                        if (!this.errors.any()) {
                            this.$store.commit("routeChange", "start");

                            Auth.login(this.loginData).then((response) => {

                                if (response.status == true) {
                                    Auth.check().then((res) => {
                                        if (response.userData.userTypeId != 4) {
                                            vm.$router.push({ 'name': 'Home' });
                                        } else {
                                            vm.$router.push({ 'name': 'Home' });
                                        }

                                        //    this.$store.commit("routeChange", "end");
                                        // vm.$store.dispatch('SetUserData',response.userData);
                                    })
                                }
                                setTimeout(() => {
                                    vm.$store.commit("routeChange", "end");
                                }, 1500);


                            },
                                (error) => {
                                }).catch(function (error) {
                                    // handle error
                                })
                        }
                    });
            },
            forgotPasswordLink() {
                let vm = this;
                var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                //if(this.forgot_password.email == '' && reg.test(this.forgot_password.email ) == false){
                //  this.forgotPasswordStatus = true;

                // } else {
                this.$validator.validateAll().then(
                    (response) => {
                        if (!this.errors.any()) {

                            this.forgotPasswordStatus = false;
                            this.$store.commit("routeChange", "start");

                            apiServices.sendFrontResetLinkInMail(vm.forgot_password.email).then(
                                (response) => {
                                    this.$store.commit("routeChange", "end");

                                    $('#responceMessage').text('');
                                    var resetLink = '';
                                    if (response.data.status == 200) {
                                        var resetLink = 'password/reset/' + response.data.token + '?email=' + response.data.email;
                                        toastr.success('Succesfully link send', 'Forgot password', { timeOut: 5000 })
                                        $('#responceMessage').text(resetLink);
                                    } else if (response.data.status == 404) {
                                        var resetLink = 'Record not found';
                                        toastr.error('Record not found', 'Error', { timeOut: 5000 });
                                        vm.$router.push({ 'path': 'frontLogin' });

                                    } else {
                                        var resetLink = '';
                                        toastr.error('Something goes wrong', 'Error', { timeOut: 5000 });
                                        $('#responceMessage').text(resetLink);
                                        vm.$router.push({ 'name': 'frontLogin' });

                                    }

                                })

                            // }
                        }
                    });
            }
        }
    }
</script>