<template>
    <div class="login-wrapper clearfix">
        <div class="loginForm-wrapper">
            <img src="../../../assets/images/logo.svg" alt="" class="logo">
            <form class="form-horizontal">
                <h2 class="text-center my-4">Reset Password</h2>
                <div class="form-group">
                    <label>New Password *</label>
                    <input type="password" class="form-control" v-model="password"  name="password" v-validate="{ required: true, regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,64})/, max:64}" placeholder="..." ref="password" >
                    <span v-show="errors.has('password')" class="help is-danger">The password must be of minimum 8 character and maximum 64 characters long.<br>Password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group">
                    <label>Confirm Password *</label>
                    <input type="password" class="form-control" placeholder="..." v-validate="'required|confirmed:password'" data-vv-as="password" name="password_confirmation"  value="" >
                    <span v-show="errors.has('password_confirmation')" class="help is-danger">{{ errors.first('password_confirmation') }}</span>
                    <!-- <div class="invalid-feedback">
                        Valid first name is required.
                    </div> -->
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary btn-lg mr-3" type="button"  @click="resetPassword()">Reset Password</button>
                    <button class="btn btn-primary btn-lg mr-3" type="button">Cancel</button>
                </div>
            </form>
        </div>
        <LoginRight/>
    </div>
</template>
<script>
import LoginRight from './components/loginRight'
 import UserApi from '../../api/apiService.js';

export default {
    name: 'frontResetPassword',

    data(){
        return{
          'token':this.$route.params.token,
          'email':this.$route.params.email,
          'password':'',

        }
    },
    mounted() {
        // this.checkPaswordReset();
    },
    components: {
        LoginRight
    },
    methods: {       
        checkPaswordReset() {
            let vm=this;
            this.$store.commit("routeChange", "start");
            UserApi.checkFrontPasswordReset(this.token,this.email).then(
                 (response) => {
                  if(response.data.code == 200){
                      
                  } else {
                    toastr.error('Sorry link has been expired.', '', {timeOut: 5000});

                  }
                this.$store.commit("routeChange", "end");
               
              },
                  (error) => {
                    this.$store.commit("routeChange", "end");
              },
            );
        },
        resetPassword(){
          let vm =this;
          vm.$validator.validateAll().then(() => {
             if (!this.errors.any()) {
                let resetData = {
                    'email': vm.email,
                    'password': vm.password,
                    'token': vm.token
                }
                UserApi.editFrontPasswordReset(resetData).then(
                 (response) => {
                  if(response.data.code == 200){
                    toastr.success('Password has been changed successfully', '', {timeOut: 5000});
                    setTimeout(function(){
                        vm.$router.push({'name':'frontLogin'});
                    },1000)
                      
                  } else {
                    toastr.error('Smething goes wrong.', '', {timeOut: 5000});

                  }
                this.$store.commit("routeChange", "end");
               
              },
                  (error) => {
                    this.$store.commit("routeChange", "end");
              },
            );
             }
          });
        }
    }
}
</script>

