<template>
  <div class="col-lg-12 mb-3">
   <div class="row">
      <div class="col-md-12">
         <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddUser()">Add User</button></div>
      </div>
   </div>
   
    <searchDataTable v-if="showResult" :searchDataListSelect="searchDataListSelect"  :searchDataAll="searchData"></searchDataTable>
        <div class=" my-3">
          <div data-v-744e717e="" class="datatable-length float-left mb-3" v-show="(userPagination.total > 0)">
          <span data-v-744e717e="">Show:</span>
            <select data-v-744e717e="" class="ls-select2 form-control" id="perPageNoUser"  @change="setPerPageUser" v-model="perPageUser">
              <option data-v-744e717e="" value="2">2</option>
              <option data-v-744e717e="" value="5">5</option>
                <option data-v-744e717e="" value="10" selected>10</option>
                <option data-v-744e717e="" value="20">20</option>
                <option data-v-744e717e="" value="50">50</option>
              <!--     <option data-v-744e717e="" value="-1">All</option> -->
            </select>
         <!--  <span>Show</span>
          <select>
              <option>10</option>
          </select>  -->
          <span>entries</span>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="40px">
                      <div class="custom-control custom-checkbox">
                         <input type="checkbox" name="chk-user-all" class="custom-control-input all-user" id="all-user"  @change="checkAllchkbox">
                         <label class="custom-control-label" for="all-user">&nbsp;</label>
                      </div>
                    </th>
                    <th width="250px" @click="sortByColumn('full_name')">
                      Name
                      <a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='full_name' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                    </th>
                    <th width="255px" @click="sortByColumn('user.email')">
                      email
                      <a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='user.email' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                    </th>
                    <th width="140px" @click="sortByColumn('user_type.type')">
                      User Type
                       <a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='user_type.type' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                    </th>
                    <th width="140px" @click="sortByColumn('user_category.type')">
                      User Category
                       <a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='user_category.type' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                    </th>
                    <th width="180px">
                      Contact Phone
                    </th>
                    <th width="100px" @click="sortByColumn('user.status')">
                      Status
                       <a href="javascript:void(0)"> <i v-if="order === 'asc' && sortedColumn=='user.status' " class="fa fa-caret-up"></i><i v-else class="fa fa-caret-down"></i></a>
                    </th>
                    <th width="160px" class="text-center">Action</th>
                </tr>
                </thead>
               
                <tbody v-if="(getUserData.length > 0)" data-v-744e717e="">
                  <tr v-for="userD in getUserData" data-v-744e717e="" :id="'presp_'+userD.userId">
                      <td>

                      <div class="custom-control custom-checkbox">
                         <input type="checkbox" name="chk-user" class="custom-control-input chk-global chk-user" :data-userid="userD.userId" :id="'chk'+userD.userId">
                         <label class="custom-control-label" :for="'chk'+userD.userId">&nbsp;</label>
                      </div>
                      </td>
                      <td>
                        <span>
                          {{userD.full_name}}
                        </span> 
                      </td>
                      <td>{{userD.email}}</td>
                      <td>
                        <span>
                          {{userD.userTypeName}}
                        </span>
                      </td>
                       <td>
                        <span v-if="(userD.userTypeName==='Participant')">
                          {{userD.userCategoryName}}
                        </span>
                      </td>
                      <td>
                        <span v-if="userD.contactPhone != null">
                          +{{getSplitString(userD.contactPhone)}}
                        </span>
                      </td>
                      <td>{{userD.status}}</td>
                      <td class="text-center">
                          <a @click="deleteBoxdata(userD.userId,'single')" href="javascript:void(0)" class="btn btn-primary btn-icon mb-1 mb-xl-0" ><i class="icon-trash" ></i></a>
                          <a href="javascript:void(0)" @click="setEditUser(userD.userId)" class="btn btn-primary btn-icon mb-1 mb-xl-0" title="User Edit"> <i class="icon-pencil"></i></a>
                      </td>
                  </tr>
                </tbody>
                <tbody v-else>
                    <tr><td colspan="7"><center><span>No records found</span></center></td></tr>
                </tbody>
               
            </table>
            <paginationPage :paginationData="userPagination"></paginationPage>
           <confirmDelete2 :deleteConfirmMsg="deleteConfirmMsg" :redirectStatus="deletePageRedirectStatus" :deleteType="deleteType"></confirmDelete2>
          </div>

        </div>
  </div>
</template>
<script>

 import UserApi from '../../../../api/apiService.js';
 import searchDataTable from '../../components/searchDataTable.vue';
 import paginationPage from '../../components/paginationPage.vue';
 import confirmDelete2 from '../../components/confirmDeleteModel';

  export default {
     data() {
      return {
        'getUserData' : '',
        'pagination': {},
        'perPage' : 10,
        'perPageUser' : 10,
        'pageNo' : 0,
        'userPagination': {},
        'import_file':'',
        'searchDataListSelect':[
          {key:'name',text:'Name'},
          {key:'email',text:'Email'},
          {key:'userType',text:'User Type'},
          {key:'userCategory',text:'User Category'},
          {key:'contactPhone',text:'Contact Phone'},
          {key:'status',text:'Status'}
        ],
        'searchData':{},
        'showResult':false,
        'userDeleteType' : 'single',
        'userDeleteId' : '',
        'url' : 'participant/list',
        'deleteConfirmMsg':'Are you sure you want to delete?',
        'deletePageRedirectStatus' : false,
        'deletePageRedirect' : '',
        'deleteAction' : false,
        'deleteType':'',
        'sortedColumn': 'user.created_at',
        'order': 'asc',
      }
     },

    created: function() {
      this.$root.$on('searchDataResult',this.searchDataResult);
      this.$root.$on('getListPage',this.getListPage); 
      this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
      this.$root.$on('searchClearResult',this.searchClearResult);
      this.$root.$on('multipleDeleteAction',this.multipleDeleteAction); 
      this.$root.$on('multipleStatusUpdate',this.multipleStatusUpdate);
      this.$root.$on('confirmed', this.confirmDeleteFun); 
      this.$root.$on('confirmedMult', this.confirmDeleteMult); 
      this.$root.$on('confirmDeleteMultOption', this.confirmDeleteMultOption);

    },
    destroyed: function() {
      this.$root.$off('searchDataResult',this.searchDataResult);
      this.$root.$off('getListPage',this.getListPage); 
      this.$root.$off('getDetailsPageByIndex',this.getDetailsPageByIndex); 
      this.$root.$off('searchClearResult',this.searchClearResult);
      this.$root.$off('multipleDeleteAction',this.multipleDeleteAction); 
      this.$root.$off('multipleStatusUpdate',this.multipleStatusUpdate);
      this.$root.$off('confirmed', this.confirmDeleteFun); 
      this.$root.$off('confirmedMult', this.confirmDeleteMult);
      this.$root.$off('confirmDeleteMultOption', this.confirmDeleteMultOption);

    },
    
    mounted(){
        let vm = this;
        if(vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page');
        }
        //vm.searchData = {searchKey: '',searchText: ''};
        // /vm.searchData = {searchKey: '',searchText: ''};
        vm.pageNo = vm.$store.state.User.userPageNo ? vm.$store.state.User.userPageNo : 0;
        vm.perPage = vm.$store.state.User.userPerPage ? vm.$store.state.User.userPerPage : 10;
        /*vm.$store.dispatch('SetUserPageNo',0);
        vm.$store.dispatch('SetUserPerPage',10);*/
        

        $('.ls-select2').select2({
          placeholder: "Select"
        });
        $('#perPageNoUser').on("select2:select", function (e) {
            vm.perPageUser =$(this).val();
            //vm.$store.dispatch('SetUserPerPage',vm.perPage);
            vm.getUserListPagination('/user/getUserListPagination',vm.searchData);
        });

        vm.initData();
        
     },
     components: {
      searchDataTable,
      paginationPage,
      confirmDelete2
    },
     methods:{
      sortByColumn(column) {
            if (column === this.sortedColumn) {
              this.order = (this.order === 'asc') ? 'desc' : 'asc'
            } else {
              this.sortedColumn = column
              this.order = 'asc'
            }
            this.getUserListPagination('/user/getUserListPagination',this.searchData);
      },
      initData()
      {
          let vm=this;
          let pageNo=vm.pageNo;
          let searchData=vm.$store.state.User.userSearchData;
           
          if(pageNo!=0 && pageNo!=null && pageNo!='')
          {
              
              if(searchData)
              {
                  let sData=searchData;
                  vm.searchData=sData;
              }
              vm.showResult=true;
              vm.perPageUser=vm.$store.state.User.userPerPage;
              vm.sortedColumn=vm.$store.state.User.sortedColumn;
              vm.order=vm.$store.state.User.order;
              vm.getUserListPagination('/user/getUserListPagination?page='+pageNo,vm.searchData);
             
          }
          else
          {
              vm.showResult=true;
              vm.getUserListPagination('/user/getUserListPagination',vm.searchData);
          }
          
      },

      checkAllchkbox(){
        if($('.all-user').is(':checked') == true){
         $('.chk-user').prop('checked', true);
        } else {
         $('.chk-user').prop('checked', false);

        }  
      },
      getDetailsPageByIndex(indexVal)
      {
          let vm=this;
          $('.all-user').prop('checked', false);
          $('.chk-user').prop('checked', false);
          vm.getUserListPagination('/user/getUserListPagination?page='+indexVal,vm.searchData);
      },
      getListPage(pageUrl)
      {
          let vm=this;
          $('.all-user').prop('checked', false);
          $('.chk-user').prop('checked', false);
          vm.getUserListPagination(pageUrl,vm.searchData)
      },
      searchClearResult()
      {
          let vm=this;
          vm.searchData={};
          //vm.perPageUser=;
          vm.$store.dispatch('SetUserPerPage','');
          vm.$store.dispatch('SetUserSearchData',vm.searchData);
          vm.getUserListPagination('/user/getUserListPagination',vm.searchData);
      },
      searchDataResult(searchData)
      {
          let vm=this;
          vm.searchData=searchData;
          vm.getUserListPagination('/user/getUserListPagination',searchData);
      },
      getCheckedRecords(){
        var chkRemoveUserId=[];
        $(".chk-user:checked").each(function(){
          chkRemoveUserId.push($(this).data('userid'));
         });
        return chkRemoveUserId;
      },
      multipleDeleteAction(){
         
          let vm=this;
          var chkRemoveUserId = vm.getCheckedRecords();
            UserApi.deleteMultipleUserByUserId(chkRemoveUserId).then(
                (response)=> {
                 
                  if(response.data.code == 200){
                    $('.all-user').prop('checked', false);
                    $('.chk-user').prop('checked', false);
                    /*vm.setState();
                    vm.$store.dispatch('SetUserPageNo',0);
                    vm.$store.dispatch('SetUserPerPage',10);*/
                    let page=vm.userPagination.currentPage;
                    vm.getUserListPagination('user/getUserListPagination?page='+page,vm.searchData);
                    toastr.success('', response.data.message, {timeOut: 5000});
                      //this.initialState();
                      
                  } else if (response.data.code == 300) {
                      toastr.error('', response.data.message, {timeOut: 5000});
                      //this.initialState(); 
                  }
                  else
                  {
                      toastr.error('Something Went wrong.','', {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
        
      },
      multipleStatusUpdate(actionStatus=''){
        let vm =this; 
        var chkUpdateUserId = vm.getCheckedRecords();
        let updateData = {
          'userIds': chkUpdateUserId,
          'actionStatus': actionStatus
        }
        UserApi.updateMultipleUserStatusByUserId(updateData).then(
                (response)=> {
                 
                  if(response.data.code == 200){
                    //$('#presp_'+id).remove();
                    $('.all-user').prop('checked', false);
                    $('.chk-user').prop('checked', false);
                    let page=vm.userPagination.currentPage;
                    vm.getUserListPagination('user/getUserListPagination?page='+page,vm.searchData);
                    //vm.setState();
                   //vm.$store.dispatch('SetUserPageNo',0);
                    //vm.$store.dispatch('SetUserPerPage',);
                    toastr.success('', response.data.message, {timeOut: 5000});
                  } else if (response.data.code == 300) {
                      toastr.error('', response.data.message, {timeOut: 5000});
                  }
                  else
                  {
                      toastr.error('Something Went wrong.','', {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
      },
      setAddUser()
      {
          let vm=this;
          let pageNo=vm.userPagination.currentPage;
          vm.showResult=0;
          vm.setState();
          vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
          vm.$store.dispatch('SetUserSearchData',vm.searchData);
          vm.$store.dispatch('SetUserSortedColumn',vm.sortedColumn);
          vm.$store.dispatch('SetUserOrder',vm.order);
          vm.$router.push({'name':'user_add'});
      },
      setEditUser(userId)
      {
          let vm=this;
          let pageNo=vm.userPagination.currentPage;
          vm.showResult=0;
          vm.setState();
          vm.$store.dispatch('SetUserPerPage',vm.perPageUser);
          vm.$store.dispatch('SetUserSearchData',vm.searchData);
          vm.$store.dispatch('SetUserSortedColumn',vm.sortedColumn);
          vm.$store.dispatch('SetUserOrder',vm.order);
          vm.$router.push({'name':'user_edit',params: { id: userId,page: pageNo,perPage:vm.perPageUser }});
      },
      confirmDeleteFun(){
        let vm=this;
        vm.deleteType='';
           $('#confirm_modal').modal('hide');
           vm.removeUser(vm.userDeleteId);
        },
      confirmDeleteMult(){
        let vm=this;
        vm.deleteType='';
           $('#confirm_modal').modal('hide');
           vm.multipleDeleteAction();
        },
      confirmDeleteMultOption(){
          let vm=this;
           vm.deleteType='multiple';
          $('#confirm_modal').modal('show');
      },
      confirmDeletemult(){
        let vm=this;
        vm.deleteType='';
           $('#confirm_modal').modal('hide');
           vm.removeUser(vm.userDeleteId);
        },
      deleteBoxdata(userId,type){
          let vm = this;
          vm.deleteType='single';
          $('#confirm_modal').modal('show'); 
          vm.userDeleteType = type;
          vm.userDeleteId = userId; 
      },
      removeUser(id)
      {
          let vm=this;
            UserApi.deleteUserByUserId(id).then(
                (response)=> {
                 
                  if (response.data.code == 200) {
                    let page=vm.userPagination.currentPage;
                    vm.getUserListPagination('user/getUserListPagination?page='+page,vm.searchData);
                    toastr.success(response.data.message,'', {timeOut: 5000});
                    vm.setState();
                   /* vm.$store.dispatch('SetUserPageNo',0);
                    vm.$store.dispatch('SetUserPerPage',10);*/  
                  } else if (response.data.code == 300) {
                      toastr.error(response.data.message, '', {timeOut: 5000});
                      //this.initialState(); 
                  }
                  else
                  {
                      toastr.error('Something Went wrong.','', {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
      },
     
      getUserListPagination(pageUrl,searchData){
        let vm = this;
        let noOfPage = '';
        noOfPage = vm.perPageUser;
        vm.getUserData={};
        let data={
          'pageUrl':pageUrl,
          'noofRecord':noOfPage,
          'searchData':searchData,
          'sortedColumn':vm.sortedColumn,
          'order':vm.order
        };
        UserApi.getUserListPagination(data).then(
           (response) => {
              if (response.data.code == 200) {
                vm.getUserData = response.data.data.data;
                vm.makePagination( response.data.data);

              }
              else if (response.data.code == 300) {
                  let result=response.data.data.data;
                  if(result=='' || result==null)
                  {
                      vm.getUserData =[];
                  }
                  else
                  {
                      vm.getUserData=result;
                      vm.makePagination( response.data.data);
                  }
                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});
              }

           },
           (error) => {
                     },
        );
      },
      makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }

          this.userPagination = pagination;
      },
          
    setPerPage(e){
      let vm =this;
      vm.getUserListPagination('/user/getUserListPagination',vm.searchData);
    },
    setPerPageUser(e){
      let vm =this;
      vm.getUserListPagination('/user/getUserListPagination',vm.searchData);
    },
    setState()
    {
      let vm = this;
      let pageNo = vm.userPagination.currentPage;
      vm.pageNo = pageNo;
      vm.$store.dispatch('SetUserPageNo',pageNo);
      vm.$store.dispatch('SetUserPerPage',vm.perPage);
    },
    getSplitString(val)
    {
        var valSplit=val.split('|');
        return valSplit[0]+valSplit[1];
    },
  },
    
}
</script>
