<template>
  <div class="col-lg-12 mb-3">
   <div class="row">
      <div class="col-md-12">
         <div class="text-right"><button type="button" class="btn btn-primary" @click="setAddUser()">Add User</button></div>
      </div>
   </div>
    <searchDataTable :searchDataListSelect="searchDataListSelect"></searchDataTable>
        <div class="filter-block my-3">
          <div data-v-744e717e="" class="datatable-length float-left pl-3" v-show="(userPagination.total > 0)">
          <span data-v-744e717e="">Show:</span>
            <select data-v-744e717e="" class="" id="perPageNoUser"  @change="setPerPageUser" v-model="perPageUser">
              <option data-v-744e717e="" value="2">2</option>
              <option data-v-744e717e="" value="5">5</option>
                <option data-v-744e717e="" value="10">10</option>
                <option data-v-744e717e="" value="20">20</option>
                <option data-v-744e717e="" value="50">50</option>
              <!--     <option data-v-744e717e="" value="-1">All</option> -->
            </select>
         <!--  <span>Show</span>
          <select>
              <option>10</option>
          </select>  -->
          <span>entries</span>
        </div>
        <div class="table-sm-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>User Type</th>
                    <th>Contact Phone</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody data-v-744e717e=""  v-for="userD in getUserData" v-if="(userPagination.total > 0)">
                  <tr data-v-744e717e="" :id="'presp_'+userD.userId">
                      <td>
                        <div class="custom-control custom-checkbox">
                       <!--  <input type="checkbox" class="custom-control-input" id="same-address"> -->
                        <input type="checkbox" class="custom-control-input" >
                        <!-- <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label> -->
                      </div>
                      </td>
                      <td>{{userD.prefferedName}}</td>
                      <td>{{userD.email}}</td>
                      <td>{{userD.userTypeName}}</td>
                       <td>{{userD.contactPhone}}</td>
                      <td>{{userD.userStatus}}</td>
                      <td>
                          <a @click="removeUser(userD.userId)" href="javascript:void(0)"> <i class="fa fa-remove text-danger mr-3 text-info mr-3"  title="User Delete"></i></a>
                          <a href="javascript:void(0)" @click="setEditUser(userD.userId)" title="User Edit"> <i class="fa fa-pencil text-info mr-3 text-info mr-3" ></i></a>
                      </td>
                  </tr>
                </tbody>
                <tbody v-else>
                    <tr><td colspan="7"><span>No records found.</span></td></tr>
                </tbody>
               
            </table>
            <paginationPage :paginationData="userPagination"></paginationPage>
           
          </div>

        </div>
  </div>
</template>
<script>

 import UserApi from '../../../../api/apiService.js';
 import searchDataTable from '../../components/searchDataTable.vue';
 import paginationPage from '../../components/paginationPage.vue';

  export default {
     data() {
      return {
        'getUserData' : '',
        'pagination': {},
        'perPage' : 5,
        'perPageUser' : 5,
        'userPagination': {},
        'import_file':'',
        'searchDataListSelect':[
          {key:'name',text:'Name'},
          {key:'email',text:'Email'},
          {key:'userType',text:'User Type'},
          {key:'contactPhone',text:'Contact Phone'},
          {key:'status',text:'Status'}
        ]
      }
     },
    created: function() {
      this.$root.$on('searchDataResult',this.searchDataResult);
      this.$root.$on('getListPage',this.getListPage); 
      this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
    },
      mounted(){
        let vm = this;
        vm.initData();
     },
     components: {
      searchDataTable,
      paginationPage
    },
     methods:{
      initData()
      {
          let vm=this;
          let pageNo=vm.$store.state.User.userPageNo;
          if(pageNo!=0 && pageNo!=null && pageNo!='')
          {
              vm.getUserListPagination('/user/getUserListPagination?page='+pageNo,'');
          }
          else
          {
              vm.getUserListPagination('/user/getUserListPagination','');
          }
          
      },
      getDetailsPageByIndex(indexVal)
      {
          let vm=this;
           vm.getUserListPagination('/user/getUserListPagination?page='+indexVal,'');
      },
      getListPage(pageUrl)
      {
          let vm=this;
          vm.getUserListPagination(pageUrl)
      },
      searchDataResult(searchData)
      {
          let vm=this;
          vm.getUserListPagination('/user/getUserListPagination',searchData);
      },
      setAddUser()
      {
          let vm=this;
          vm.$router.push({'name':'user_add'});
      },
      setEditUser(userId)
      {
          let vm=this;
          let pageNo=vm.userPagination.currentPage;
          vm.$store.dispatch('SetUserPageNo',pageNo);
          vm.$router.push({'name':'user_edit',params: { id: userId,page: pageNo }});
      },
      removeUser(id)
      {
          let vm=this;
            UserApi.deleteUserByUserId(id).then(
                (response)=> {
                 
                  if(response.data.code == 200){
                    //$('#presp_'+id).remove();
                    vm.getUserListPagination('user/getUserListPagination','');
                    toastr.success(response.data.message, response.data.title, {timeOut: 5000});
                      //this.initialState();
                      
                  } else if (response.data.code == 300) {
                      toastr.error(response.data.message, response.data.title, {timeOut: 5000});
                      //this.initialState(); 
                  }
                  else
                  {
                      toastr.error('Something Went wrong.',response.data.title, {timeOut: 5000});
                  }
                  
                },
                (error)=>{
                }

              )
      },
     
      getUserListPagination(pageUrl,searchData){
        let vm = this;
        let no_of_page = '';
        no_of_page = vm.perPageUser;
        vm.getUserData=[];
        UserApi.getUserListPagination(pageUrl,no_of_page,searchData).then(
           (response) => {
              if(response.data.code == 200){
                vm.getUserData = response.data.data.data;
                vm.makePagination( response.data.data);
              }
              else if (response.data.code == 300) {
                  let result=response.data.data.data;
                  if(result=='' || result==null)
                  {
                      vm.getUserData =[];
                  }
                  else
                  {
                      vm.getUserData=result;
                  }
                  toastr.error(response.data.message, response.data.title, {timeOut: 5000});
              }
           },
           (error) => {
                     },
        );
      },
      makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }
          this.userPagination = pagination;
      },
          
    setPerPage(e){
      let vm =this;
      vm.getUserListPagination('/user/getUserListPagination','');
    },
    setPerPageUser(e){
      let vm =this;
      vm.getUserListPagination('/user/getUserListPagination','');
    },
  },
    
}
</script>
