<template>
    <div>
        <div class="page-header"> 
            <div class="row">
                 <div class="col-md-12 text-right"><a href="javascript:void(0)" @click="backPage()" class="btn btn-primary" >Back</a></div>
            </div>
        </div>
        <form method="post"> 
            <div class="row">
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userType " class="control-label txt_media1">User Type* :</label>
                                    <select class="form-control ls-select2" id="userTypeId" name="userTypeId" v-model="userData.userTypeId" v-validate="'required'">
                                        <option value="">Select</option>
                                        <option :value="utype.id" v-for="utype in userTypeOption" v-if="(utype.id != null)">{{utype.type}}</option>
                                    </select> 
                                    <!-- <i v-show="errors.has('userTypeId')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('userTypeId')">Please select User Type.</span>
                                </div>
                            </div>
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label for="userCategoryId" class="control-label txt_media1">Participant type * :</label><a href="#" data-toggle="tooltip" data-placement="auto" data-html="true" title="Employee (Ongoing) - indicates a permanent position. An Employee who has a contract with no end date <br/>
Employee (Fixed Term) - is a specific time of employment. An Employee who has a contract with an end date <br/>
Employee (Casual) - A casual employee does not have a firm commitment in advance from an employer about how long they will be employed for, or the days 
(or hours) they will work. Face to face, Casual Donor Contact Consultant<br/>
Volunteers - Volunteering is time willingly given for the common good and without financial gain. Board Members, Volunteers, Interns, student work experience <br/>
Contractor - A sole trader business structure is a person trading as the individual legally responsible for all aspects of the business. Engaged for a fixed term to complete a specific task. They are not an employee of Plan International
"><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                                    <select class="form-control ls-select2" id="userCategoryId" name="userCategoryId" v-model="userData.userCategoryId" v-validate="'required'">
                                        <option value="">Select</option>
                                        <option :value="userCat.id" v-for="userCat in userCategoryOption">{{userCat.type}}</option>
                                    </select> 
                                   <!--  <i v-show="errors.has('userCategoryId')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('userCategoryId')">Please select User Category.</span>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Role *</label>
                                    <input type="text" class="form-control" placeholder="" value="" v-validate="{required : true,regex :/^[a-zA-Z]+(([_ .\'\,\.\-\[\]`~_ \/)(:][a-zA-Z_@\|\!$^*%./#&+-}{;<>?&quot;=])?[a-zA-Z_ .\'\,\.\-\[\]`~_ \/)(:][a-zA-Z_@\|\!$^*%./#&+-}{;<>?&quot;=]*)*$/,max:55 }" v-model="userData.role" id="participantRole" name="participantRole" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantRole')">
                                        Please enter a valid role.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Level of contact with children *</label> <a href="#" data-toggle="tooltip" data-placement="auto" title="Contact with children means working on an activity or in a position that involves or may involve contact with children, either under the position description or due to the nature of the work environment.) Working with Children means being engaged in an activity with a child where the contact would reasonably be expected as a normal part of the activity and the contact is not incidental to the activity. Working includes volunteering or other unpaid works."><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                                    <select class="custom-select ls-select2" v-validate="'required'" v-model="userData.levelOfContact" id="participantLevelOfContact" name="participantLevelOfContact">
                                        <option value="">Select Level of contact</option>
                                        <option value="work_with_child">Working with children</option>
                                        <option value="cont_with_child">Contact with children</option>
                                    </select>
                                    <div class="is-danger" v-show="errors.has('participantLevelOfContact')">
                                        Please select level of contact.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label for="departmentId" class="control-label txt_media1">Department* :</label>
                                    <select class="form-control ls-select2" id="departmentId" name="departmentId" v-model="userData.departmentId" v-validate="'required'">
                                        <option value="">Select</option>
                                        <option :value="userDept.id" v-for="userDept in userDepartmentOption">{{userDept.type}}</option>
                                    </select> 
                                   <!--  <i v-show="errors.has('departmentId')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('departmentId')">Please select Department.</span>
                                </div>
                            </div>
                            <div class="col-md-6"  v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label for="hiringManager" class="control-label txt_media1">Hiring Manager *:</label>
                                    <select class="form-control ls-select2" id="hiringManager" name="hiringManager" v-model="userData.hiringManager" v-validate="'required'">
                                        <option value="">Select</option>
                                        <option :value="hm.id" v-for="hm in hiringManagerOption">{{hm.type}}</option>
                                    </select> 
                                    <!-- <i v-show="errors.has('hiringManager')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('hiringManager')">Please select Hiring Manager.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Pacific-based role?</label> <a href="#" data-toggle="tooltip" data-placement="auto" title="Indicates the role is based in the Pacific region (except Australia)"><i class="fa fa-info-circle ml-2 fa-lg"></i></a>
                                    <div>
                                        <p class="custom-control custom-radio d-inline mr-3">
                                            <input type="radio" class="custom-control-input" id="pacific-yes" v-model="userData.pacificBaseRole" name="participantPacificBaseRole" checked="checked" value="Y">
                                            <label class="custom-control-label" for="pacific-yes">Yes</label>
                                        </p>
                                        <p class="custom-control custom-radio d-inline">
                                            <input type="radio" class="custom-control-input" id="pacific-no" v-model="userData.pacificBaseRole" name="participantPacificBaseRole" value="N">
                                            <label class="custom-control-label" for="pacific-no">No</label>
                                        </p>
                                    </div>
                                    <div class="is-danger"  v-show="errors.has('participantPacificBaseRole')">
                                        Please select a valid pacific based role.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Do you know if an International Police check is required?</label>
                                    <div>
                                        <p class="custom-control custom-radio d-inline mr-3">
                                            <input type="radio" class="custom-control-input" id="Police-yes" name="policeCheckRequire" v-model="userData.policeCheckRequire" value="Y" checked="checked">
                                            <label class="custom-control-label" for="Police-yes">Yes</label>
                                        </p>
                                        <p class="custom-control custom-radio d-inline">
                                            <input type="radio" class="custom-control-input" id="Police-no" name="policeCheckRequire" v-model="userData.policeCheckRequire" value="N">
                                            <label class="custom-control-label" for="Police-no">No</label>
                                        </p>
                                    </div>
                                    <div class="is-danger" v-show="errors.has('policeCheckRequire')">
                                        Please select a valid option.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="(userData.userTypeName=='Participant' && userData.pacificBaseRole === 'Y')">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="participantCountry" class="control-label txt_media1">Countries *:</label>
                                    <select class="form-control ls-select2" id="participantCountry" name="participantCountry" v-model="userData.pacificBaseCountry" v-validate="'required'">
                                         <option value="">Select Country</option>
                                         <option value="fiji" >Fiji</option>
                                         <option value="papua_new_guinea" >Papua New Guinea</option>
                                         <option value="solomon_islands" >Solomon Islands</option>
                                         <option value="other" >Other</option>
                                    </select> 
                                    <span class="help is-danger" v-show="errors.has('participantCountry')"> Please select country.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="givenName" class="control-label txt_media1">Given Name *:</label>
                                    <input type="text" class="form-control" id="givenName|alpha"
                                            placeholder="First Name" v-validate="'required|alpha_spaces|max:55'" v-model="userData.givenName" name="givenName" :maxlength="validationLimit.maxNameField">
                                    <!-- <i v-show="errors.has('givenName')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('givenName')">Please enter valid Given Name.</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="surName" class="control-label txt_media1">Surname *:</label>
                                    <input type="text" class="form-control" id="surName"
                                            placeholder="Last Name" v-validate="'required|alpha_spaces|max:55'" v-model="userData.surName" name="surName" :maxlength="validationLimit.maxNameField">
                                    <!-- <i v-show="errors.has('surName')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('surName')">Please enter valid Surname.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="prefferedName" class="control-label txt_media1">Preferred Name :</label>
                                    <input type="text" class="form-control" id="prefferedName"
                                            placeholder="Preferred Name" v-validate="'alpha_spaces|max:55'" v-model="userData.prefferedName" name="prefferedName" :maxlength="validationLimit.maxNameField">
                                   <!--  <i v-show="errors.has('prefferedName')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('prefferedName')">Please enter valid Preferred Name.</span>
                                </div>
                            </div>
                             <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Occupation</label>
                                    <input type="text" class="form-control" id="occupation" placeholder="Occupation" v-validate="" v-model="userData.occupation" name="occupation" >
                                        <span class="help is-danger" v-show="errors.has('occupation')">Please enter valid Occupation.</span> 
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label for="contactPhone" class="control-label txt_media1">Contact Phone *:</label>
                                  <!--   <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white" id="basic-addon1">+</span>
                                        </div>
                                        <input type="text" class="form-control" id="contactPhone"
                                        placeholder="61" v-validate="'required|length:12|numeric'" v-model="userData.contactPhone" name="contactPhone">
                                    </div>
                                
                                   <i v-show="errors.has('contactPhone')" class="fa fa-warning"></i> 
                                    <span class="help is-danger" v-show="errors.has('contactPhone')">Please enter valid Contact Phone.</span> -->
                                    <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text pr-1 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="{ required:true ,numeric:true,length:2 }" v-model="userData.contactNoPrefix" id="contactNoPrefix" name="contactNoPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                           
                                        </div>
                                        <input type="text" class="form-control" placeholder="" value="" v-validate="{ required:true ,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="userData.contactPhone" id="contactPhone" name="contactPhone" :maxlength="validationLimit.maxContactNoField">
                                    </div>
                                    <div class="is-danger"  v-show="errors.has('contactNoPrefix')">
                                               Please enter valid country code.
                                        </div>
                                    <div class="is-danger"  v-show="errors.has('contactPhone')">
                                        Please enter valid contact phone.
                                    </div> 
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateOfBirth" class="control-label txt_media1">Date Of Birth *:</label>
                                     <div class="input-group mb-3">
                                        <input type="text" class="form-control datepicker border-right-0" id="dateOfBirth"
                                            placeholder="dd/mm/yyyy" v-validate="'required|date_format:DD/MM/YYYY'" v-model="userData.dateOfBirth" name="dateOfBirth" data-date-format="dd/mm/yyyy">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i  class="fa fa-calendar" @click="dpOpen('dateOfBirth')"></i></span>
                                            </div>
                                            <!-- <i v-show="errors.has('dateOfBirth')" class="fa fa-warning"></i> -->
                                             <span class="help is-danger" v-show="errors.has('dateOfBirth')">Please enter valid Date Of Birth.</span>
                                             <span class="help is-danger" v-show="(userData.dateOfBirth != '' && userData.age < 18)">We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss</span>  
                                        </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender" class="control-label txt_media1">Gender :</label>
                                    <select class="form-control ls-select2" id="gender" name="gender" v-model="userData.gender">
                                        <option value="">Select</option>
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                        <option value="pre_not_dis">Prefer not to disclose</option>
                                        <option value="self_desc">Self Describe</option>
                                    </select> 
                                    <!-- <i v-show="errors.has('gender')" class="fa fa-warning"></i> -->
                                    <!-- <span class="help is-danger" v-show="errors.has('gender')">Please select Gender.</span> -->
                                    <div class="mt-2" v-if="userData.gender=='self_desc'">
                                        <input type="text" class="form-control" placeholder="Self-Describe" name="selfDescribe" id="selfDescribe" v-model="userData.selfDescribe" v-validate="'alpha_spaces|max:20'" maxlength="20">
                                        <span class="help is-danger" v-show="errors.has('selfDescribe')">Please enter self-describe.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" class="control-label txt_media1">Email *:</label>
                                    <input type="text" class="form-control" id="email"
                                            placeholder="Email" v-validate="'required|email|max:55'" v-model="userData.email" name="email" :maxlength="validationLimit.maxNameField">
                                   <!--  <i v-show="errors.has('email')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('email')">Please enter valid Email.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="orgEmail" class="control-label txt_media1">@plan.org.au email :</label>
                                    <input type="text" class="form-control" id="orgEmail"
                                        placeholder="ORG Email" v-validate="'email|max:55'" v-model="userData.orgEmail" name="orgEmail" :maxlength="validationLimit.maxNameField">
                                    <!-- <i v-show="errors.has('orgEmail')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('orgEmail')">Please enter valid ORG Email.</span>
                                </div>
                            </div>
                              <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Contact phone 2</label>
                                        <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text p-0 pl-2 border-right-0">
                                                    +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|length:2'" v-model="userData.contactNo2Prefix" id="contactNo2Prefix" name="contactNo2Prefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                                        </div>

                                        <input type="text" class="form-control" placeholder="" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="userData.contactNo2" id="participantContactNo2" name="participantContactNo2" :maxlength="validationLimit.maxContactNoField">
                                    </div>
                                    <div class="is-danger" v-show="errors.has('participantContactNo2')">
                                         Please enter valid contact phone 2.
                                    </div>
                                     <div class="is-danger"  v-show="errors.has('contactNo2Prefix')">
                                            Please enter valid country code.
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!--   <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName!='Participant'">
                                <div class="form-group">
                                    <label for="password" class="control-label txt_media1">Password *:</label>
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Password" v-validate="'required|max:64'" v-model="userData.password" name="password" ref="password" maxlength="64">
                                   
                                    <span class="help is-danger" v-show="errors.has('password')">Please enter valid Password.</span>
                                </div>
                            </div>
                             <div class="col-md-6" v-if="userData.userTypeName!='Participant'">
                                <div class="form-group">
                                    <label for="confirmPassword" class="control-label txt_media1">Confirm Password *:</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Confirm Password " v-validate="'required|confirmed:password'" v-model="userData.confirmPassword" name="confirmPassword" maxlength="64">
                                 
                                    <span class="help is-danger" v-show="errors.has('confirmPassword')">Please enter valid Confirm Password .</span>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                           
                          
                        </div>
                        <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group"> 
                                    <label>Address</label>
                                    <input type="text" class="form-control" placeholder="" value="" v-validate="'max:120'" v-model="userData.address" id="participantAddress" name="participantAddress"  maxlength="120">
                                     <div class="is-danger" v-show="errors.has('participantAddress')">
                                        Please enter valid address.
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Aboriginal / Torres Strait Islander origin</label>
                                    <select class="custom-select ls-select2"  v-model="userData.aboriginalValue" id="participantAboriginalValue" name="participantAboriginalValue">
                                        <option value="">Select</option>
                                        <option value="no">No</option>
                                        <option value="yes_aborig">Yes, Aboriginal</option>
                                        <option value="yes_islander">Yes, Torres Strait Islander </option>
                                        <option value="yes_aborig_islander">Yes, Aboriginal and Torres Strait Islander </option>
                                        <option value="pre_not_dis">Prefer not to disclose</option>
                                    </select>
                                    <!-- <div class="is-danger">
                                        Valid first name is required.
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Disability</label>
                                    <select class="custom-select ls-select2" v-model="userData.disability" id="participantDisability" name="participantDisability">
                                        <option value="">Select</option>
                                        <option value="N">No</option>
                                        <option value="Y">Yes</option>
                                        <option value="pre_not_dis">Prefer not to disclose</option>
                                    </select>
                                    <!-- <div class="is-danger">
                                        Valid first name is required.
                                    </div> -->
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Emergency contact (Primary) *</label>

                                    <input type="text" class="form-control" placeholder="" value="" v-validate="'required|alpha_spaces'" v-model="userData.emergencyPrimary" id="participantEmergencyPrimary" name="participantEmergencyPrimary" 
                                    :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimary')" >
                                       Please enter valid emergency contact (Primary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Relationship *</label>
                                    <input type="text" class="form-control" placeholder="" value="" v-validate="'required|alpha_spaces'" v-model="userData.relationshipPrimary" id="participantRelationshipPrimary" name="participantRelationshipPrimary" :maxlength="validationLimit.maxRelationField">
                                    <div class="is-danger" v-show="errors.has('participantRelationshipPrimary')">
                                          Please enter valid relationship (Primary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Contact phone *</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text p-0 pl-2">
                                               +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'required|numeric|min:2'" v-model="userData.emergencyPrimaryContactPrefix" id="emergencyPrimaryContactPrefix" name="emergencyPrimaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix" />
                                        </div>

                                        <input type="text" class="form-control" placeholder="" value=""  v-validate="{ required:true,numeric:true,min:10,max:validationLimit.maxContactNoField }" v-model="userData.emergencyPrimaryContact" id="participantEmergencyPrimaryContact" name="participantEmergencyPrimaryContact" :maxlength="validationLimit.maxContactNoField">

                                    </div>
                                    <div class="is-danger" v-show="errors.has('participantEmergencyPrimaryContact')">
                                        Please enter valid contact phone (Primary).
                                    </div>
                                      <div class="is-danger"  v-show="errors.has('emergencyPrimaryContactPrefix')">
                                            Please enter valid country.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Emergency contact (Secondary)</label>
                                    <input type="text" class="form-control" placeholder="" value="" v-validate="'alpha_spaces'" v-model="userData.emergencySecondary" id="participantSecondaryPrimary" name="participantSecondaryPrimary" :maxlength="validationLimit.maxNameField">
                                    <div class="is-danger" v-show="errors.has('participantSecondaryPrimary')">
                                        Please enter valid  emergency contact (Secondary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Relationship</label>
                                    <input type="text" class="form-control" placeholder="" value="" v-validate="'alpha_spaces'" v-model="userData.relationshipSecondary" id="participantRelationshiprelationshipSecondary" name="participantRelationshiprelationshipSecondary" :maxlength="validationLimit.maxRelationField">
                                    <div class="is-danger" v-show="errors.has('participantRelationshiprelationshipSecondary')">
                                        Please enter valid  relationship (Secondary).
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Contact phone</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend border-right-0">
                                            <div class="input-group-text p-0 pl-2">
                                                +
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                               <input type="numeric" class="form-control contact-prepend border-left-0" placeholder="" value="" v-validate="'numeric|min:2'" v-model="userData.emergencySecordaryContactPrefix" id="emergencySecordaryContactPrefix" name="emergencySecordaryContactPrefix" :maxlength="validationLimit.maxContactNoFieldPreFix">
                                        </div>
                                        <input type="text" class="form-control" placeholder="" value="" v-validate="{numeric:true,min:10,max:validationLimit.maxContactNoField}" v-model="userData.emergencySecordaryContact" id="participantEmergencySecondaryContact" name="participantEmergencySecondaryContact"  :maxlength="validationLimit.maxContactNoField">

                                    </div>
                                    <div class="is-danger" v-show="errors.has('participantEmergencySecondaryContact')">
                                        Please enter valid contact phone (Secondary).
                                    </div>
                                       <div class="is-danger"  v-show="errors.has('emergencySecordaryContactPrefix')">
                                            Please enter valid country.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Candidate legally entitled to live and work in {{ userData.pacificBaseCountry === 'fiji' ? 'Fiji' : userData.pacificBaseCountry === 'papua_new_guinea' ? 'Papua New Guinea' : userData.pacificBaseCountry === 'solomon_islands' ? 'Solomon Islands' : 'this country' }}?</label>
                                    <div>
                                        <p class="custom-control custom-radio d-inline mr-3">
                                            <input type="radio" class="custom-control-input" id="Candidate-yes" name="legalWorkInAustralia" v-model="userData.legalWorkInAustralia" checked="checked" value="Y">
                                            <label class="custom-control-label" for="Candidate-yes">Yes</label>
                                        </p>
                                        <p class="custom-control custom-radio d-inline ">
                                            <input type="radio" class="custom-control-input" id="Candidate-no" name="legalWorkInAustralia" v-model="userData.legalWorkInAustralia" value="N">
                                            <label class="custom-control-label" for="Candidate-no">No</label>
                                        </p>
                                    </div>
                                    <!-- <div class="is-danger">
                                        Please select a valid Level of contact.
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                            <div class="form-group">
                                <label>Please provide details and attach a copy of visa if  applicable</label>
                                <div>
                                    <div v-if="!userData.visaFileVal">
                                        <label class="btn-bs-file btn btn-lg btn-primary mb-0">
                                            Browse
                                           <input type="file" name="visaAttachments" id="visaAttachments"  @change="filesChange($event.target.name, $event.target.files);"   v-validate="'ext:jpeg,jpg,pdf,png,bmp'">
                                        </label>
                                          <p class="mb-0"><small> * Accepted file types: .pdf, .jpg, .jpeg, .png, .bmp</small><br/>
          <small> * Accepted file size: less than 1MB</small></p>
                                        <div class="is-danger" v-show="errors.has('visaAttachments')">
                                                Please enter valid file.
                                        </div> 
                                    </div>
                                      <div v-else>
                                        <div class="upload-image" v-if="userData.visaImage">
                                            <img :src="'/storage/'+userData.visaFileVal" width="150" height="150"/>
                                        </div>
                                        <div class="upload-image" v-else>
                                            <strong><a :href="'/storage/'+userData.visaFileVal" target="_blank" dowload>Visa File</a></strong>
                                        </div>
                                        <a href="javascript:void(0)" class="mt-1 d-inline-block" @click="removeFile"><i class="icon-delete mr-1" ></i> Remove File</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row" >
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Residential status</label>
                                    <div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="australianCitizen" name="residentialStatus" type="radio" class="custom-control-input" checked="" v-model="userData.residentialStatus" value="australian_citizen">
                                            <label class="custom-control-label" for="australianCitizen">Citizen</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="resident" name="residentialStatus" type="radio" class="custom-control-input" v-model="userData.residentialStatus" value="resident">
                                            <label class="custom-control-label" for="resident">Resident</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline mr-2">
                                            <input id="workVisa" name="residentialStatus" type="radio" class="custom-control-input" v-model="userData.residentialStatus" value="work_visa">
                                            <label class="custom-control-label" for="workVisa">Work Visa</label>
                                        </div>
                                        <div class="custom-control custom-radio d-block d-sm-inline">
                                            <input id="Other" name="residentialStatus" type="radio" class="custom-control-input" v-model="userData.residentialStatus" value="other">
                                            <label class="custom-control-label" for="Other">Other</label>
                                        </div>
                                    </div>
                                    <!-- <div class="is-danger">
                                        Please select a valid Level of contact.
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-6" v-if="(userData.residentialStatus == 'other')">
                                <div class="form-group">
                                    <label>Other residential status *</label>
                                    <input type="text" class="form-control" placeholder="Other residential status" name="otherResidentialStatus" id="otherResidentialStatus" v-model="userData.otherResidentialStatus" v-validate="'alpha_spaces|max:20'" maxlength="20">
                                    <span class="help is-danger" v-show="errors.has('otherResidentialStatus')">Please check Other Residential status.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>User confirmation</label>
                                    <div>
                                        <p class="custom-control custom-checkbox d-inline mr-3">
                                            <input type="checkbox" class="custom-control-input" id="user-confirm" checked v-model="userData.confirm" name="userConfirm"   value="Y">
                                            <label class="custom-control-label" for="user-confirm">I confirm that the information I have given on this form is complete and correct.</label>
                                        </p>
                                        <span class="help is-danger" v-show="errors.has('userConfirm')">Please check user confirm.</span>
                                    </div>
                                   <!--  <div class="is-danger">
                                        Please select a valid Level of contact.
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-6" v-if="userData.userTypeName=='Participant'">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="input-group mb-3 disabled">
                                        <input id="start_date2" type="text" placeholder="" class="form-control border-right-0" disabled  v-model="userData.confirmDate" name="confirmDate">
                                        <!-- <div class="is-danger">
                                            Please select a valid country.
                                        </div> -->
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="status" class="control-label txt_media1">Status *:</label>
                                    <select class="form-control ls-select2" id="status" name="status" v-model="userData.status" v-validate="'required'">
                                        <option value="">Select</option>
                                        <option value="active">Active</option>
                                        <option value="inactive">Inactive</option>
                                    </select> 
                                    <!-- <i v-show="errors.has('status')" class="fa fa-warning"></i> -->
                                    <span class="help is-danger" v-show="errors.has('status')">Please select Status.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary mr-3" type="button" @click="addValidateBeforeSubmit()">Save</button>
                            <button class="btn btn-primary" type="button" @click="backPage()">Cancel</button>
                        </div>  
                </div>
            </div>
      
        </form>
    </div>
</template>

<script>

    
import UserApi from '../../../../api/apiService.js';
import _ from 'lodash';
import moment from 'moment';

    export default {
        data() {
            return {
                    'validationLimit' : {
                        'maxNameField' : 55,
                        'maxNameFieldErrorMsg' : 'Maximum allow 55 character',
                        'maxContactNoFieldPreFix' : 2,
                        'maxContactNoField' : 10,
                        'maxRelationField' : 20,
                    },
                    'userTypeOption':{},
                    'userCategoryOption':{},
                    'userDepartmentOption':{},
                    'hiringManagerOption':{},
                    'userData' : {
                        'loginId':this.$store.state.User.userData.adminUserId,
                        'contactNoPrefix':'61',
                        'userTypeId' :'',
                        'userTypeName' :'',
                        'userCategoryId':'',
                        'departmentId':'',
                        'hiringManager':'',
                        'givenName':'',
                        'surName':'',
                        'prefferedName':'',
                        'occupation':'',
                        'contactPhone':'',
                        'dateOfBirth':'',
                        'age' : '',
                        'gender':'',    
                        'email':'',
                        'orgEmail':'',
                        'password':'',
                        'confirmPassword':'',
                        'status':'',
                        'selfDescribe':'',
                        'role' : '',
                        'levelOfContact' : '',
                        'pacificBaseRole' : 'N',
                        'pacificBaseCountry' : '',
                        'policeCheckRequire' : 'Y',
                        'contactNo2' : '',
                        'contactNo2Prefix' : '61',
                        'address' : '',
                        'aboriginalValue' : '',
                        'disability' : '',
                        'emergencyPrimary' : '',
                        'relationshipPrimary' : '',
                        'emergencyPrimaryContact' : '',
                        'emergencyPrimaryContactPrefix' : '61',
                        'emergencySecondary' : '',
                        'relationshipSecondary' : '',
                        'emergencySecordaryContact' : '',
                        'emergencySecordaryContactPrefix' : '61',
                        'legalWorkInAustralia' : 'Y',
                        'residentialStatus' : 'australian_citizen',
                        'otherResidentialStatus' : '',
                        'confirm' : '',
                        'confirmDate' : moment().format('DD/MM/YYYY'),
                        'visaAttachments' : '',
                        'visaFileVal':'',
                        'visaFileName':'',
                        'visaImage':false,
                    },
                    'perPage':this.$store.state.User.userPerPage,
                    'pageNo':this.$store.state.User.userPageNo
                   
                }
        },
        created() {
            /*this.$validator.extend('is_apostrophes', {
                getMessage: field => `Please enter valid occupation.`,
                validate: (value) => new Promise(resolve => {
                    let regex = new RegExp("^[a-zA-Z][a-zA-Z\\s\']+$");
                    //console.log(regex.test(value));
                    resolve({
                        valid: value && regex.test(value)
                    });
                })
            });*/

        },
        mounted() {
            var vm = this;
            vm.$route.meta.backProcessCheck = true;
            if(vm.$store.state.User.userData.userTypeId != '1'){
              vm.$root.$emit('logout','You are not authorise to access this page');
            }
           
            $('.ls-select2').select2({
                placeholder: "Select"
            });
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                endDate:  '+0d',

            });
            $('.datepicker').datepicker().on('changeDate input focusout',function(e){
                    vm.userData.dateOfBirth = $('#dateOfBirth').val() ;
                    vm.getAgeCal();
            });

            vm.initData();
        },
        methods: {
             getAgeCal() { 
        	  	let vm =this;
		        vm.handleDOBChanged();
            },
             handleDOBChanged() { 	
                       	let vm =this;
				   		vm.userData.age = '';
				      if (vm.isDate(vm.userData.dateOfBirth)) { 
				        var ageCal = vm.calculateAge(vm.parseDate(vm.userData.dateOfBirth), new Date());	
				        vm.userData.age = ageCal; 		
				      }     	
				},	
				parseDate(dateStr) {
				  	var dateParts = dateStr.split("/");
				   	return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);		
				},	
				calculateAge (dateOfBirth, dateToCalculate) {
				    var calculateYear = dateToCalculate.getFullYear();	
				    var calculateMonth = dateToCalculate.getMonth();	
				    var calculateDay = dateToCalculate.getDate();	
				    var birthYear = dateOfBirth.getFullYear();	
				    var birthMonth = dateOfBirth.getMonth();	
				    var birthDay = dateOfBirth.getDate();	
				    var age = calculateYear - birthYear;	
				    var ageMonth = calculateMonth - birthMonth;	
				    var ageDay = calculateDay - birthDay;	
				    if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {	
			        age = parseInt(age) - 1;	
				    }	
				    if(age > 1){	
				    	return age ;
				    }	
				   	if(age == 1){	
						 return age;	
					}else{
						return 1;
					}/*else if(ageMonth != 0){	
						return ageMonth;	
					}else{	
						return ageDay;	
					}	*/
				},	
				isDate(txtDate) {	
				  var currVal =txtDate;

				  if (currVal == '')	
				    return true;	

				  //Declare Regex	
				  var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;	
				  var dtArray = currVal.match(rxDatePattern); // is format OK?	
					 
				  if (dtArray == null)	
				    return false;	
	
				  //Checks for dd/mm/yyyy format.	
				  var dtDay = dtArray[1];	
				  var dtMonth = dtArray[3];	
                  var dtYear = dtArray[5];	
					
				  if (dtMonth < 1 || dtMonth > 12)	 
				    return false;	
				  else if (dtDay < 1 || dtDay > 31)	 
				    return false;	
				  else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)	
				    return false;	
				  else if (dtMonth == 2) {	 
				    var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));	
				    if (dtDay > 29 || (dtDay == 29 && !isleap))	
				      return false;	
				  }	
	
				  return true;	
				},	
             dpOpen(dId){
              if(dId!=''){
                $('#dateOfBirth').datepicker("show");
              }
            },
            backPage()
            {
                let vm=this;
                vm.$router.push({'name':'user_list'});
            },
            initData(){
                let vm=this;
                vm.getSelectedValueSelect2();
                vm.getUserTypeSelectList();
            },
            getSelectedValueSelect2()
            {
                let vm=this;
                $('#userTypeId').on("select2:select", function (e) {
                    vm.userData.userTypeId =$('#userTypeId').select2('data')[0].id;
                    vm.userData.userTypeName = $('#userTypeId').select2('data')[0].text;
                    if(vm.userData.userTypeName=='Participant')
                    {
                        setTimeout(function(){ 
                             $('[data-toggle="tooltip"]').tooltip();
                        }, 100);
            

                        setTimeout(function(){
                            $('#userCategoryId').select2({
                                placeholder: "Select"
                            });
                            $('#userCategoryId').on("select2:select", function (e) {
                                vm.userData.userCategoryId =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#departmentId').select2({
                                placeholder: "Select"
                            });
                           $('#departmentId').on("select2:select", function (e) {
                                vm.userData.departmentId =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#hiringManager').select2({
                                placeholder: "Select"
                            });
                            $('#hiringManager').on("select2:select", function (e) {
                                vm.userData.hiringManager =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#participantLevelOfContact').select2({
                                placeholder: "Select"
                            });
                            $('#participantLevelOfContact').on("select2:select", function (e) {
                                vm.userData.levelOfContact =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#participantAboriginalValue').select2({
                                placeholder: "Select"
                            });
                            $('#participantAboriginalValue').on("select2:select", function (e) {
                                vm.userData.aboriginalValue =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#participantDisability').select2({
                                placeholder: "Select"
                            });
                            $('#participantDisability').on("select2:select", function (e) {
                                vm.userData.disability =$(this).val();
                            });
                        },100);
                        setTimeout(function(){
                            $('#userCategoryId').val('').trigger('change');
                            $('#departmentId').val('').trigger('change');
                            $('#hiringManager').val('').trigger('change');
                        },100);
                        setTimeout(function(){ 
                            $('input[type=radio][name=participantPacificBaseRole]').change(function() {
                                if (this.value == 'Y') {
                                    vm.validationLimit.maxContactNoField = 15;
                                }
                                if (this.value == 'N') {
                                    vm.validationLimit.maxContactNoField = 10;
                                }
                            });
                        }, 100);
                        vm.getUserCategorySelectListByUserTypeId(vm.userData.userTypeId);
                        vm.getDepartmentSelectListByUserTypeId(vm.userData.userTypeId);
                        vm.getHiringManagerSelectList();
                    }
                    else
                    {
                        if ($('#userCategoryId').hasClass("select2-hidden-accessible"))
                        {
                            $('#userCategoryId').select2("destroy");
                        }
                        if ($('#departmentId').hasClass("select2-hidden-accessible"))
                        {
                            $('#departmentId').select2("destroy");
                        }
                        if ($('#hiringManager').hasClass("select2-hidden-accessible"))
                        {
                            $('#hiringManager').select2("destroy");
                        }
                        if ($('#participantLevelOfContact').hasClass("select2-hidden-accessible"))
                        {
                            $('#participantLevelOfContact').select2("destroy");
                        }
                        if ($('#participantAboriginalValue').hasClass("select2-hidden-accessible"))
                        {
                            $('#participantAboriginalValue').select2("destroy");
                        }
                        if ($('#participantDisability').hasClass("select2-hidden-accessible"))
                        {
                            $('#participantDisability').select2("destroy");
                        }
                    }
                    
                });

                $('#gender').on("select2:select", function (e) {
                    vm.userData.gender =$(this).val();
                });
                $('#status').on("select2:select", function (e) {
                    vm.userData.status =$(this).val();
                });
            },
            getFileextesion(fileName)
            {
                return fileName.substring(fileName.lastIndexOf(".")+1);
            },
             previewFile(e){
                //$event.target.name, $event.target.files
                let vm =this;
                var imgData = [];
                var fileList = e.target.files;
                var fieldName = e.target.name;

                let fileData = new FormData();
                let extArray=['bmp','jpej','jpg','pdf','png'];
                var files = e.target.files || e.dataTransfer.files;

                 if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    if(_.includes(extArray, ext))
                    {
                        
                        fileData.append(fieldName, fileList[x], fileList[x].name);
                         if (files.length > 0)
                        { 
                            this.createImage(files[0]);
                        }
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                
            },
            createImage(file) {

                  var image = new Image();
                  var reader = new FileReader();
                  var vm = this;

                  reader.onload = (e) => {
                    let getFile = e.target.result;
                     vm.participantData.visaCopy = getFile;
                  };
                  reader.readAsDataURL(file);
            },
             removeImage(e) {
                
                 let vm=this;
                 vm.participantData.visaCopy='';
             },
            getUserTypeSelectList()
            {
                let vm=this;
                let userTypes=[];
                UserApi.getUserTypeSelectList().then(
                     (response) => {
                    $.each(response.data.data, function(key,value) {

                       userTypes.push({
                         'id' : value.userTypeId,
                         'type' : value.type,
                      });
                    });

                    vm.userTypeOption=userTypes;
                    
                  },
                      (error) => {
                  },
                );
            },
            getUserCategorySelectListByUserTypeId(userTypeId)
            {
                let vm=this;
                let userCategoryList=[];
                UserApi.getUserCategorySelectListByUserTypeId(userTypeId).then(
                     (response) => {
                    $.each(response.data.data, function(key,value) {

                       userCategoryList.push({
                         'id' : value.userCategoryId,
                         'type' : value.type,
                      });
                    });

                    vm.userCategoryOption=userCategoryList;
                    
                  },
                      (error) => {
                  },
                );
            },
            getDepartmentSelectListByUserTypeId(userTypeId)
            {
                let vm=this;
                let userDepartmentList=[];
                UserApi.getDepartmentSelectListByUserTypeId(userTypeId).then(
                     (response) => {
                    $.each(response.data.data, function(key,value) {

                       userDepartmentList.push({
                         'id' : value.departmentId,
                         'type' : value.name,
                      });
                    });

                    vm.userDepartmentOption=userDepartmentList;
                    
                  },
                (error) => {
                  },
                );
            },  
            getHiringManagerSelectList()
            {
                let vm=this;
                let hiringManagerList=[];
                UserApi.getHiringManagerSelectList().then(
                     (response) => {
                    $.each(response.data.data, function(key,value) {
                        var name='';
                        if(value.user_detail.givenName!='' && value.user_detail.givenName!=null)
                        {
                            name+=value.user_detail.givenName;
                        }
                        if(value.user_detail.surName!='' && value.user_detail.surName!=null)
                        {
                            name+=' '+value.user_detail.surName;
                        }
                       hiringManagerList.push({
                         'id' : value.userId,
                         'type' : name,
                      });
                    });

                    vm.hiringManagerOption=hiringManagerList;
                    
                  },
                (error) => {
                  },
                );
            },
            addValidateBeforeSubmit() {
               let vm=this;
               vm.$route.meta.backProcessCheck = false;
                vm.$validator.validateAll().then(() => {
                    
                    if (!this.errors.any()) {
                        if (vm.userData.age >= 18){
                        vm.$store.commit("routeChange", "start");
                        UserApi.createUser(vm.userData).then(
                          (response)=> {
                           
                            if(response.data.code == 200){
                                vm.$route.meta.backProcessCheck = false;
                                toastr.success(response.data.message, '', {timeOut: 5000});
                                vm.setState();
                                vm.$router.push({'name':'user_list'});
                            } 
                            else if (response.data.code == 300) {
                                vm.$route.meta.backProcessCheck = true;
                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                vm.$route.meta.backProcessCheck = true;
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            vm.$store.commit("routeChange", "end");
                          },
                          (error)=>{
                            vm.$route.meta.backProcessCheck = true;
                            vm.$store.commit("routeChange", "end");
                          }

                        )
                        }else{
                                vm.$route.meta.backProcessCheck = true;
                                 toastr.error('We are sorry, but we are unable to register Participants under 18 years of age. Please contact your Plan International Contact Point to discuss.', '', {timeOut: 5000}); 
                        }
                       
                    }
                })
            },
            setState()
            {
                let vm = this;
                vm.$store.dispatch('SetUserPageNo',vm.pageNo);
                vm.$store.dispatch('SetUserPerPage',vm.perPage);
            },
            filesChange(fieldName, fileList) {
                // handle file changes
                let vm=this;
                //const fileData = [];
                let fileData = new FormData();
                let extArray=['bmp','jpej','jpg','pdf','png'];

                if (!fileList.length) return;

                // append the files to FormData
                Array
                  .from(Array(fileList.length).keys())
                  .map(x => {
                    let ext=this.getFileextesion(fileList[x].name);
                    var fSize=vm.getFileSize(fileList[x].size);
                    if(fSize > 1){
                        toastr.error('File size must be less than 1MB.', '', {timeOut: 5000});
                    }
                    else if(_.includes(extArray, ext))
                    {
                        
                        fileData.append(fieldName, fileList[x], fileList[x].name);
                        this.saveFile(fileData,ext);
                    }
                    else
                    {
                         toastr.error('Please upload valid file format.', '', {timeOut: 5000});
                    }
                   
                  });
                /*for (var value of fileData.values()) {
                    console.log(value); 
                }   */
                // save it
                //this.saveFile(fileData);
              },
              saveFile(fileData,ext) {
                // upload data to the server
                //this.currentStatus = STATUS_SAVING;
                let vm=this;
                let imgArray=['bmp','jpej','jpg','png'];
                 const config = { headers: { 'Content-Type': 'multipart/form-data' } };
                         vm.$store.commit("routeChange", "start");
                        UserApi.uploadVisaAttachments(fileData).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                                if(_.includes(imgArray, ext))
                                {
                                    vm.userData.visaImage=true;
                                }
                                else
                                {
                                    vm.userData.visaImage=false;
                                   
                                }
                                vm.userData.visaFileName=response.data.data;
                                vm.userData.visaFileVal=response.data.data;
                                //toastr.success(response.data.message, '', {timeOut: 5000});
                                

                                
                            } 
                            else if (response.data.code == 300) {

                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                            vm.$store.commit("routeChange", "end");
                          }

                        );
              },
              getFileextesion(fileName)
              {
                    return fileName.substring(fileName.lastIndexOf(".")+1);
              },
             removeFile: function (e) {
                
                 let vm=this;
                 let data={'fileName':vm.userData.visaFileVal,'userDetailId':vm.userData.userDetailId};
                         vm.$store.commit("routeChange", "start");
                        UserApi.removeVisaAttachments(data).then(
                          (response)=> {
                            vm.$store.commit("routeChange", "end");
                            if(response.data.code == 200){
                               vm.userData.visaImage=false;
                                vm.userData.visaFileName='';
                                vm.userData.visaFileVal='';
                                //toastr.success(response.data.message, '', {timeOut: 5000});
                                
                            } 
                            else if (response.data.code == 300) {

                                toastr.error(response.data.message, '', {timeOut: 5000});
                            }
                            else
                            {
                                toastr.error('Something Went wrong.', '', {timeOut: 5000});
                            }
                            
                          },
                          (error)=>{
                            vm.$store.commit("routeChange", "end");
                          }

                        );
                
             },
            getFileSize(fSize)
            {
                var _size = fSize;
                return Math.round(_size/(1024*1024));
            }
        }
    }
</script>