.accordion{
    .card{
        box-shadow: none;
        border-bottom: solid 1px $border-color;
        margin-bottom: 17px;
        .custom-control{
            line-height: 1.5rem;
            padding-left: 1.9rem;
            .custom-control-label::before, .custom-control-label::after{
                left: -2rem;
            }
        }
        .card-header.collapsed{
            background-color: $white;
            color: $font-color;
            .icon-minus{
                font-size: 14px;
                &:before{
                    content: "\e90c";
                }
            }
        }
        .card-header{
            background-color: $primary;
            color: set-text-color($primary);
            border-bottom: none;
            cursor: pointer;
            .icon-minus{
                font-size: 2px;
                float: right;
            }
        }
        &:first-of-type, &:not(:first-of-type):not(:last-of-type){
            border-bottom: solid 1px $border-color;
        }
        .card-body{
            ul{
                li{
                    padding: 0.5rem 0;
                }
            }
        }
    }
}