.carousel-item{
    img{
        width: 100%;
    }
    .carousel-caption{
        bottom: auto;
        top: 45%;
        transform: translateY(-45%);
        -webkit-transform: translateY(-45%);
        -moz-transform: translateY(-45%);
        -ms-transform: translateY(-45%);
        -o-transform: translateY(-45%);
        z-index: 1;
        h1{
            text-shadow: 4px 4px 4px rgba(0,0,0,.25);
        }
    }
}