.breadcrumb-wrapper{
    background-color: #cccccc;
    // background-image: url('../../assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 310px;
    padding-top: 160px;
    background-position: top center;
    h1{
        color: $white;
        font-size: 3.2rem;
        // -webkit-animation: movebounce 2.5s linear infinite;
        //   animation: movebounce 2.5s linear infinite;
    }
    .breadcrumb{
        background-color: transparent;
        font-size: 1.25rem;
        padding: 0px;
        font-family: $font-family-bold;
        font-weight: normal;
        .breadcrumb-item, a{
            color: $white;
            &.active, &:before{
                color: $white;
            }
        }
    }
}

@keyframes movebounce {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}