html{
    height: 100%;
}

body{
    color: $font-color;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    position: relative; outline: none; min-height: 100%;
    // padding-bottom: 150px;
}

// body:after{ content:''; display:block; min-height:150px;}

#app{
    height: 100%;
}

.innerpage{
    padding-bottom: 150px;
}

a{
    color: $primary;
    &:hover{
        color: $primary;
    }
}

.font-weight-bold{
  font-family: $font-family-bold;
  font-weight: normal !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: $title-font-family;
}

h1{
    font-size: $h1-font-size;
}

h2{
    font-size: $h2-font-size;
}

h3{
    font-family: $title-font-family;
    font-size: $h3-font-size;
    color: $primary;
    border-bottom: solid 1px $border-color;
    padding-bottom: 8px;
}

strong{
    font-family: $font-family-bold;
    font-weight: normal;
}

.form-group{
    .fa-info-circle{
        color: $font-color;
    } 
}

.recordpage-wrapper{
    select{
        border-color: $border-color;
        color: #6A81A4;
        border-radius: 3px;
        padding: 0 3px;
    }
}

.tooltip-inner {
    background-color: rgba($font-color, 0.79);
    color: #fff;
    z-index: 9999;
    text-align: left;
}

.input-group{
  [class^="icon-"], [class*=" icon-"]{
    font-size: 1.3rem;
  }
}

.user-image{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: solid 3px $light;
  padding: 4px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  .profile-camera{
    background: $primary;
    padding: 6.5px 8px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: $white;
  }
}

.badge{
  font-size: 0.8125rem;
  font-weight: $font-weight-normal;
  min-width: 151px;
}

.is-danger{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 13px;
    color: $error;
}
.fa-warning{
    color: $error;
}

.upload-image{
    width: 120px;
    height: 120px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.loader_img{
    color: $primary;
}


// Notification
.notification-wrapper{
    .custom-listgroup{
        .list-group{
            .list-group-item{
                cursor: pointer;
                padding: 1rem 1.1rem;
            }

        }
    }
    .notification-profile{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        img{
            height: 60px;
        }
    }
    .notification-content{
        width: calc(100% - 60px);
    }
    .list-group-item.unread{
                .notification-content{
                    font-family: $font-family-bold;
                    font-weight: normal;
                    cursor: pointer;
                }
                
            }
}

.anim-delay{
    animation-delay : 0.15s;
}

// Comming Soon
.slides{
    position: relative;
    padding-top: 70px;
    .logo{
        width: 210px;
    }
    .slide-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba($primary,.5);
        position: fixed;
    }
    .slide{
        display: none;
    }
    .slide-item{
        width: 100%; 
        height: 100vh; 
        background-size: cover;
    }
    .slide-caption{
        // position: absolute;
        // top: 40%;
        // transform: translateY(-40%);
        width: 100%;
        font-size: 45px;
        z-index: 99;
        margin-top: 100px;
        h1{
            font-size: 90px;
            -webkit-animation: movebounce 2.5s linear infinite;
            animation: movebounce 2.5s linear infinite;
            color: $primary;
        }
        a{
            text-decoration: underline;
            font-size: 30px;
        }
    }

    @keyframes pulse {
        0%{transform:scale(.1);opacity: 0.2;}
        50%{transform:scale(.5); opacity: .4;}
        100%{transform: scale(2.6); opacity: 0;}
      }
      .anim-load {
        background-color: #0072CE;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        bottom: 0;
        left: -30px;
        right: 0;
        width: 200px;
        height: 200px;
        opacity: 0;
      }
      
      .anim-load:nth-child(1){
        animation: pulse 3s infinite;
      }
      .anim-load:nth-child(2){
        animation: pulse 3s infinite .4s;
      }
      .anim-load:nth-child(3){
        animation: pulse 3s infinite .7s;
      }
      .anim-load:nth-child(4){
        animation: pulse 3s infinite .10s;
      }
      
      .anim-load:nth-child(4){
        text-align: center;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #22475E;
        font-size: 14px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        top: 100px;
        left: 150px;
      }
}

.navigation-arrow{
    background-color: $primary;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: set-text-color($primary);
    &:hover, &:active, &.active, &:focus{
        background-color: $secondary;
        color: set-text-color($secondary);
    }
}

.text-normal{
    color: $font-color;
    text-decoration: none;
    &:hover, &:focus, &:active, &.active{
        text-decoration: none;
    }
}

.notification-date{
    font-size: 13px;
    color: #899ab5;
}

// Content Library
.library-container{
    border: solid 1px $border-color;
    .library-img{
        width: 195px;
        height: 110px;
        overflow: hidden;
        float: left;
    }
    .library-content{
        width: calc(100% - 195px);
        float: left;
    }
}
.cursor-pointer{
    cursor: pointer;
}
.document-type{
    .select2{width: 100% !important;}
}
.modal-open {
    padding-right: 0px !important;
    overflow-y: scroll;
 }
 a[disabled="disabled"]{
     i{cursor: no-drop; color: rgba($red, 0.7) !important;}
 }
 .custom-badge{
     min-width: 112px;
 }
 .policy-container{
     h1{
         font-size: 3rem;
     }
     h2{
        background-image: url('../../assets/images/title-fill-red.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        color: $white;
        padding: 0.5rem 1.2rem 0.4rem 1.2rem;
     }
     h3{
         border-bottom: none;
         font-size:1.9rem;
     }
     table{
         tr{
             th{
                 background-color : $primary;
                 color:set-text-color($primary);
                 font-weight: normal;
                 font-family:$font-family-bold;
             }
         }
     }
 }