.datepicker{
    table{
        width: 100%;
        color: $font-color;
        background-color: $light;
        th{
            background-color: $light;
            padding: 6px 10px;
            border-radius: 0px !important;
            font-family: $font-family-bold;
            font-weight: normal;
        }
        tr{
            td{
                padding: 6px 10px;
                border-radius: 0px;
                border: solid 1px $border-color;
                color: #3a495f;
                background-color: $white;
            }
            td.today,
            td.today:hover,
            td.today:hover:hover,
            td.today:hover:active,
            td.today:hover.active,
            td.today.active,
            td.today.disabled,
            td.today.disabled:hover {
                background-color: $primary;
                background-image: none;
                color: set-text-color($primary);
            }
            
            td.today.disabled:hover,
            td.today.disabled:hover:hover,
            td.today:active,
            td.today.disabled:active,
            td.today.disabled:hover:active,
            td.today.disabled.active,
            td.today.disabled:hover.active,
            td.today.disabled,
            td.today:hover.disabled,
            td.today.disabled.disabled,
            td.today.disabled:hover.disabled,
            td.today[disabled],
            td.today:hover[disabled],
            td.today.disabled[disabled],
            td.today.disabled:hover[disabled] {
                background-color: $primary;
                color: set-text-color($primary);
                cursor: no-drop;
            }
            td.old, td.new{
                color: #999;
                background-color: $white;
            }
            td.disabled, td.disabled:hover{
                color: #ccc;
                cursor: no-drop;
                background-color: $white;
            }
        }
        
    }
}
.datepicker.dropdown-menu{
    border-color: $border-color;
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-color: $border-color;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{
    background-color: $secondary;
    color: set-text-color($secondary);
    background-image: none;
    border-color: $secondary;
}
.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover{
    background-color: $thead-bg;
}

.datepicker .prev, .datepicker .next{
    font-size: 20px;
    line-height: normal;
}