.fileupload-link{
    color: #999999;
    span{
        color: $primary;
    }
}
.fileuploader-theme-dragdrop .fileuploader-input{
        background-color: $light;
        padding: 30px 0;
        box-shadow: none;
        border-color: $border-color;
        h3{
            color: $font-color;
            i{
                font-size: 1.25rem;
            }
        }
}
.fileuploader-input-caption{
   span{
    position: relative;
    top: -4px;
   }
}