footer{
    background-color: $secondary;
    padding-top: 25px;
    padding-bottom: 25px;
    color: set-text-color($secondary);
    position: absolute;
    bottom: 0px;
    width: 100%;
    ul{
        li, a{
            color: set-text-color($secondary);
        }
    }
    .social-links{
        ul{
            li{
                a{
                    padding: 0 3px;
                    .fa{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .footer-logo{
        width: 100px;
    }
}