.form-group{
    label{
        margin-bottom: $label-margin-bottom;
    }
    .disabled{
        .input-group-append, .input-group-text{
            background: $input-disabled-bg;
        }
    }
}

.form-control{
    box-shadow: none;
    color: $input-color;
    height: 40px;
    border-color: $border-color !important;
    &:focus{
        box-shadow: none;
    }
    &::placeholder {
        color: $input-placeholder-color;
    }
}
.input-group-prepend{
    .form-control{
        border-radius: 0px;
    }
}
.contact-prepend{
   width: 60px;
}
textarea.form-control{
    height: auto;
}
.input-group-text{
    color: $font-color;
    border-color: $border-color;
    background-color: $white;
}
.custom-select{
    border-color: $border-color;
    background-size: 13px 14px;
    &:disabled {
        color: $custom-select-disabled-color;
        background-color: $custom-select-disabled-bg;
    }
    &:focus{
        box-shadow: none;
        border-color: $border-color;
    }
}

.custom-control-label{
    box-shadow: none;
    &::focus{
        box-shadow: none;
    }
    &::before, &::after{
        width: 1.4rem;
        height: 1.4rem;
        left: -1.9rem;
    }
    &::before{
        background-color: transparent;
        border: solid 1px $border-color;
        background-color: #fff;
    }
}
.custom-control{
    padding-left: 1.9rem;
    line-height: 1.9rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: $primary;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
    background-color: $primary;
}

// Input type File
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}


// Button
.btn{
    font-family: $font-family-bold;
    font-weight: normal;
}

.btn-lg{
    font-size: 1rem;
    padding: 0.576rem 1.8rem 0.3rem 1.8rem;
    min-width: 160px;
}

.btn-outline-light{
    border-color: $border-color;
    color: $font-color;
}


// TimePicker css
.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{
    color: $font-color;
    font-weight: normal;
    font-family: $font-family-bold;
    font-weight: normal;
}
.bootstrap-datetimepicker-widget table td span,.bootstrap-datetimepicker-widget table td i{
    color: $font-color;
}
.bootstrap-datetimepicker-widget .picker-switch td span, .bootstrap-datetimepicker-widget .picker-switch td i{
    font-size: 1.2rem;
}
.bootstrap-datetimepicker-widget table td{
    color: $font-color;
}

// Dropdown
.dropdown-menu{
    border-color: $light;
    .dropdown-item{
        color: $font-color;
    }
    .dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active{
        background-color: $primary;
        color: set-text-color($primary);
        outline: none;
    }
}

.select2-control{
    .select2-container{
        width: 100% !important;
    }
}


.status-control{
    width: 150px;
    text-align: left;
    span.select2-selection{
        text-align: left;
    }
}
