.fc-toolbar.fc-header-toolbar{
    margin-bottom: 0px;
    background-color: $light;
    padding: 8px 10px;
}
.fc button{
    height: auto;
    padding: 5px;
    background-color: $light;
    background-image: none;
    border-color: $border-color;
    color: $font-color;
    text-shadow: none !important;
}
.fc-state-default{
    background-color: $light;
    background-image: none;
}
.fc-toolbar h2{
    font-size: 1rem;
    font-family: $font-family-bold;
    font-weight: normal;
    margin-top: 8px;
}
.fc-day-header{
    font-weight: $font-weight-normal;
    background-color: $white;
}
.fc table{
    background-color: $light;
    td{
        text-align: center; 
        line-height: 3.9;
        border-color: $border-color;
    }
    .fc-day-number{
        float: none !important;
    }
    td.fc-today{
       background-color:  $primary;
       color: set-text-color($primary);
    }
}