header{
    position: absolute;
    width: 100%;
    top: 30px;
    .navbar{
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 3px;
        z-index: 9;
        .navbar-brand{
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .navbar-nav {
            .nav-link{
                padding-top: 0.6rem;
                padding-bottom: 0.65rem;
                padding-right: $navbar-nav-link-padding-x;
                padding-left: $navbar-nav-link-padding-x;
                line-height: 3;
                transition: all 0.5s ease;
                &:hover, &:focus{
                    color: $nav-tabs-link-active-color;
                    background-color: $nav-tabs-link-active-bg;
                    transition: all 0.5s ease;
                }
                .profile-image{
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: 2px;
                    border: solid 1px $light;
                }
            }
            .nav-link.active,
            .nav-item.show .nav-link {
                color: $nav-tabs-link-active-color;
                background-color: $nav-tabs-link-active-bg;
                // border-color: $nav-tabs-link-active-border-color;
            }

        }
        .logo{
            width: 130px;
        }
        .dropdown-menu {
            margin: 0px;
            padding: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border: none;
            font-size: $font-size-base;
            min-width: $dropdown-min-width;
        }
        .dropdown-item{
            padding-top: $dropdown-item-padding-y;
            padding-bottom: $dropdown-item-padding-y;
            background-color: $secondary;
            color: $dropdown-link-color;
            border-bottom: solid 1px #81DAF1;
            border-top: solid 1px #50BED9;
            transition: all 0.5s ease;
            &.active,
            &:active, &:hover {
                background-color: $primary;
                border-color: $primary;
                transition: all 0.5s ease;
            }
        }
        .notification-dropdown{
            .dropdown-menu{
                width: 25rem;
                z-index: 9;
                .dropdown-inner-scroll{
                    max-height: 246px;
                    overflow-y: auto;
                    .dropdown-item{
                        p{
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                } 
            }
            .see-text{
                padding: 12px;
                background-color: $light;
            }
        }
        .user-icon{
            font-size: 20px;
        }
    }
    .fixed-top{
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,.03);
        border-radius: 0px;
        transition: all 0.3s ease;
        .navbar-brand{
            padding-left: 15px;
        }
        .navbar-toggler{
            margin-right: 10px;
        }
    }

}