.home{
    h2{
        text-transform: uppercase;
        color: $secondary;
        font-size: 2.5rem;
        span{
            background-image: url('../../assets/images/title-fill.png');
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            color: $white;
            padding: 0.5rem 1.2rem 0.4rem 1.2rem;
        }
    }
    .how-work-wrapper{
        background-image: url('../../assets/images/work-bg.png');
        background-size: cover;
        color: $white;
        ul{
            padding-left: 20px;
            li{
                float: left;
                padding: 0.5rem 2.3rem 0.5rem 0;
                width: 50%
            }
            li:nth-child(even){
                padding-right: 1.1rem;
            }
            &:after{
                clear: both;
                display: block;
                content: "";
            }
        }
        h2{
            color: $white;
            span{
                color: $primary;
                background-image: url('../../assets/images/title-fill-white.png');
            }
        }
    }
    .contact-wrapper{
        ul.contact-block{
            li{
                padding: 6px 0;
                i{
                    width: 30px; 
                    text-align: center;
                }
            }
        }
    }
    .strategy-link{
        color: $white;
        text-decoration: underline;
        &:hover, &.active{
            color: $secondary;
        }
    }
}