.custom-listgroup{
    .list-group{
        .list-group-item{
            border-color: $border-color;
            line-height: normal;
            padding: 0.75rem 1.1rem;
            background-color: transparent;
            &:nth-child(even){
                background-color: $light;
            }
            &:last-child{
                border-bottom: solid 1px $border-color;
            }
        }
    }
}
