.modal-header{
    background-color: $primary;
    color: set-text-color($primary);
    padding: 0.813rem $modal-header-padding;
    .close{
        color: $white;
        opacity: 1;
        &:hover, &.active{
            color: $secondary;
        }
    }
}