.pagination-wrapper{
    margin-top: 50px;
    .page-item{
        &:active, &.active{
            .page-link{
                background-color: $primary;
                border-color: $primary;
            }
        }
        .page-link{
            padding: 0.7rem 1.05rem;
        }
    }
}