@media (max-width: 8000px) and (min-width: 6000px){
    header .navbar .navbar-nav .nav-link{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@include media-breakpoint-down(lg) {
    .custom-tabs{
        .nav-tabs{
            .nav-item{
                .nav-link{
                    padding-left: 1.7rem;
                    padding-right: 1.7rem;
                }
            }
        }
    }
    .badge{
        min-width: 130px;
    }
}

@include media-breakpoint-down(md) {
    .innerpage, .home{
        padding-bottom: 200px;
    }
    .btn-primary{
        min-width: auto;
    }
    header{
        top: 10px;
        .navbar{
            .navbar-nav{
                .nav-link{
                    padding-top: 3px;
                    padding-bottom: 3px;
                    background-color: $light;
                }
                &:hover, &.active{
                    background-color: $secondary;
                    color: set-text-color($secondary);
                }
            }
        }
    }
    .home{
        .how-work-wrapper{
            ul{
                li{
                  float: none;
                  width: 100%;  
                }
            }
            h2{
                padding-left: 10px;
            }
        }
    }
    .custom-tabs{
        .nav-tabs{
            .nav-item{
                .nav-link{
                    padding-left: 0.4rem;
                    padding-right: 0.4rem;
                }
            }
        }
    }
    .login-wrapper{
        .loginForm-wrapper{
            padding: 20px 15px 0px 15px; 
            .logo{
                width: 180px;
            }
        }
        .loginImg-wrapper{
            padding: 50px 30px;
        }
    }
    header{
        .navbar{
            padding-left: 0px;
            padding-right: 0px;
            .navbar-brand{
                padding-top: 5px;
                padding-bottom: 6px;
                margin-left: 10px;
                margin-left: 15px;
            }
            .logo{
                width: 110px;
            }
            .notification-dropdown{
                .dropdown-menu{
                    width: 100%;
                }
            }
            .navbar-toggler{
                margin-right: 15px;
            }
        }
        .navbar-collapse{
            margin-bottom: 0px;
        }
    }
    .library-container{
        .library-img{
            width: 180px;
            height: 105px;
        }
        .library-content{
            width: calc(100% - 180px);
            .btn-lg{
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
    }
}

@include media-breakpoint-down(sm){
    .breadcrumb-wrapper{
        padding-top: 120px;
    }
    .carousel-caption{
        position: relative;
        top: 8px !important;
        transform: translateY(0%) !important;
        -webkit-transform: translateY(0%) !important;
        -moz-transform: translateY(0%) !important;
        -ms-transform: translateY(0%) !important;
        -o-transform: translateY(0%) !important;
        left: 0;
        background: $primary;
        padding: 10px;
        h1{
            font-size: 3.2rem;
        }
    }
    footer{
        .footer-logo{
            display: block;
            margin: 0 auto;
        }
    }
    .custom-tabs{
        .nav-tabs{
            .nav-item{
                .nav-link{
                    padding: 0.6rem 1.5rem;
                    &.active{
                        background-color: $primary;
                        color: set-text-color($primary);
                        &::after{
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-top: 12px solid $primary;
                            bottom: -12px;
                        }
                    }
                }
            }
        }
    }
    .statutory-declaration{
        .form-inline{
            .form-control{
                display: block;
                width: 100% !important;
            }
        }
    }
    .login-wrapper{
        .loginForm-wrapper{
            float: none;
            width: 100%;
        }
        .loginImg-wrapper{
            float: none;
            width: 100%;
        }
    }
    .custom-control{
        padding-left: 1.8rem;
    }
    .library-container{
        .library-img{
            width: 100%;
            height: 230px;
            float: none;
            img{
                width: 100%;
            }
        }
        .library-content{
            width: 100%;
            float: none;
            .btn-lg{
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }
    }
}