.select2-container--default .select2-selection--single{
    border-color: $border-color;
}
.select2-container .select2-selection--single{
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: $font-color;
}
.select2-container{
    outline: none;
}