.table{
    tr{
        th, td{
            padding: 0.5rem 0.5rem;
            vertical-align: middle;
            border-color: $border-color;
        }
    }
    thead{
        tr{
            th{
                background-color: $thead-bg;
                border: none;
                font-family: $font-family-bold;
                font-weight: normal;
                .sorting{
                    color: $font-color;
                    text-decoration: none;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                .rating-circle{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    display: inline-block;
                }
                .profile-img{
                    width: 34px;
                    height: 34px;
                    border-radius: 50px;
                }
                .badge{
                    min-width: 130px;
                    font-size: 13px;
                    font-weight: $font-weight-normal;
                }
            }
        }
    }
    .btn-primary.btn-sm{
        min-width: 36px;
        padding: 0.4rem 0.5rem 0.1rem 0.5rem;
        i{
            font-size: 18px;
        }
    }
    .btn-icon{
        padding: 0.35rem 0.5rem 0rem 0.5rem;
        font-size: 26px;
        min-width: 39px;
        line-height: normal;
    }
}

.table-striped{
    border: solid 1px $border-color;
}