.custom-tabs{
    .nav-tabs{
        border-bottom: none;
        box-shadow: $card-box-shadow;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .nav-item{
            position: relative;
            .nav-link{
                border: none;
                padding: 1.219rem 2rem;
                &.active{
                    background-color: transparent;
                    color: $primary;
                    font-family: $font-family-bold;
                    font-weight: normal;
                    &::after{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $white;
                        position: absolute;
                        bottom: -16px;
                        left: 50%;
                        transform: translateX(-50%);
                        text-shadow: $card-box-shadow;
                    }
                }
            }
        }
    }
    .tab-content{
        background-color: $light;
        box-shadow: $card-box-shadow;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}