$primary:    #0072CE;
$secondary:  #6CCCE4;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #DF5358;
$orange:  #fd7e14;
$yellow:  #FFC200; //e69138
$green:   #65B48B;
$teal:    #20c997;
$cyan:    #17a2b8;
$white:   #ffffff;
$light:   #F3F4F9;
$gray:    #B5B5B5;

$colors: ();
$colors: map-merge((
  "primary":       $primary,
  "secondary":     $secondary,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "light":      $light,
  "gray":      $gray,
), $colors);

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "white":      $white,
  "light":      $light,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "gray":     $gray,
), $theme-colors);

// Custom
$font-color: #6A81A4;
$border-color: #E4E7F4;
$error: #DF5358; 

// Navs

$nav-link-padding-y:                0.88rem;
$nav-link-padding-x:                1.5rem;


// Fonts
// stylelint-disable value-keyword-case
// $font-family-sans-serif:      'HelveticaLTStdRoman';
$font-family-sans-serif:      'HelveticaLTStdRoman';
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:   $font-family-sans-serif;
$title-font-family: 'veneerregular';

$font-size-base:              0.875rem;

$font-weight-normal:          400;

$h1-font-size:                4rem;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.715;
$h5-font-size:                $font-size-base * 1.6;
$h6-font-size:                $font-size-base;

$font-family-bold:            'HelveticaLTStdBold';


// Grid Columns

$grid-gutter-width:           15px;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                14.5rem;
$dropdown-padding-y:                0rem;
// $dropdown-border-radius:            $border-radius;
$dropdown-border-color:             $secondary;
$dropdown-item-padding-y:           .6rem;
$dropdown-link-color:               $white;


// Navbar

$navbar-nav-link-padding-x:         1.3rem;


// Nav-tabs

$nav-tabs-link-active-color:        $white;
$nav-tabs-link-active-bg:           $secondary;
// $nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;

// Forms

$label-margin-bottom:                   .4rem;
$input-box-shadow:                      none;
$input-focus-box-shadow:                none;
$input-placeholder-color:               $font-color;
$input-color:                           #6A6B6E;
$input-disabled-bg:                     #F5F5F5;
$custom-select-indicator:               url('../../assets/images/arrow-bottom.svg');
$custom-select-disabled-bg:             #F5F5F5;
$custom-select-disabled-color:          #6A6B6E;
$input-height:                          2.5rem;

// Table
$thead-bg: #D3DDED;

// Component
$box-shadow:                  0 1px 4px 0 rgba(0,0,0,0.1);

// Tooltips

$tooltip-max-width:                 300px;
$tooltip-bg:                        $font-color;
$tooltip-arrow-color:               $tooltip-bg;


// Card

$card-spacer-y:                     0.657rem;
$card-spacer-x:                     1.2rem;
$card-border-radius:                2px;
$card-box-shadow:                   0 2px 7px 0 rgba(0,0,0,0.18);                 