.login-wrapper{
    .loginForm-wrapper{
        width: 50%;
        float: left;
        padding: 40px 50px 0px 50px;
        .logo{
            width: 200px;
            display: block;
            margin: 30px auto 50px auto;
        }
        .signup-text{
            font-size: 1rem;
            margin-top: 50px;
            font-family: $font-family-bold;
            font-weight: normal;
        }
    }
    .loginImg-wrapper{
        background-image: url('../../assets/images/login-bg.jpg');
        background-size: cover;
        // background-attachment: fixed;
        width: 50%;
        height: 100vh;
        float: left;
        padding: 50px;
        color: $white;
        position: relative;
        background-position: center;
        .login-overlay{
            background-color: rgba($primary, 0.75);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .loginTmg-inner{
            position: relative;
            top: 40%;
            transform: translateY(-40%);
            -webkit-transform: translateY(-40%);
            -moz-transform: translateY(-40%);
            -ms-transform: translateY(-40%);
            -o-transform: translateY(-40%);
        }
    }
}

