$white: #fff;
$primary: #0072CE;
$secondary: #6CCCE4;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #DF5358;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #65B48B;
$teal:    #20c997;
$cyan:    #17a2b8;
$white:   #ffffff;
$light:   #F3F4F9;
$gray:    #B5B5B5;
$font-color: #6A81A4;
$border-color: #EFEFEF;
$light-border: #E4E7F4;
$right-bg: #D3DDED;
$light-bg: #F3F4F9;
$leftpanel-width: 300px;
$border-radius: 5px;
$font-size-base: 0.875rem;

$colors: ();
$colors: map-merge((
  "primary":       $primary,
  "secondary":     $secondary,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "light":      $light,
  "gray":      $gray,
), $colors);

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "white":      $white,
  "light":      $light,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "gray":     $gray,
), $theme-colors);

// mixins
@function set-text-color($color){
    @if(lightness($color) > 70){
        @return $font-color;
    } @else{
        @return $white;
    }
}

$h1-font-size:                2.154rem;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 1.7858;
$h4-font-size:                $font-size-base * 1.715;
$h5-font-size:                $font-size-base * 1.6;
$h6-font-size:                $font-size-base;

$heading-font: 'veneerregular';
$normal-font: 'HelveticaLTStdRoman';
$font-weight: 'HelveticaLTStdBold';

// Grid Columns

$grid-gutter-width:           15px;