@font-face {
  font-family: 'customIconadmin';
  src:  url('../../assets/adminIcon-fonts/custom-iconAdmin.eot?3396wn');
  src:  url('../../assets/adminIcon-fonts/custom-iconAdmin.eot?3396wn#iefix') format('embedded-opentype'),
    url('../../assets/adminIcon-fonts/custom-iconAdmin.ttf?3396wn') format('truetype'),
    url('../../assets/adminIcon-fonts/custom-iconAdmin.woff?3396wn') format('woff'),
    url('../../assets/adminIcon-fonts/custom-iconAdmin.svg?3396wn#customIconadmin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customIconadmin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-admin:before {
  content: "\e900";
}
.icon-bookings:before {
  content: "\e901";
}
.icon-bottom-arrow:before {
  content: "\e902";
}
.icon-category:before {
  content: "\e903";
}
.icon-dashboard:before {
  content: "\e904";
}
.icon-ecommerce:before {
  content: "\e905";
}
.icon-group:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-module:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e909";
}
.icon-notification:before {
  content: "\e90a";
}
.icon-participants:before {
  content: "\e90b";
}
.icon-pencil:before {
  content: "\e90c";
}
.icon-question:before {
  content: "\e90d";
}
.icon-remove:before {
  content: "\e90e";
}
.icon-right-arrow:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-template:before {
  content: "\e911";
}
.icon-time:before {
  content: "\e912";
}
.icon-trash:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-warehouse:before {
  content: "\e915";
}
