@font-face {
    font-family: 'veneerregular';
    src: url('../../assets/webfonts/veneer-webfont.eot');
    src: url('../../assets/webfonts/veneer-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/webfonts/veneer-webfont.woff2') format('woff2'),
         url('../../assets/webfonts/veneer-webfont.woff') format('woff'),
         url('../../assets/webfonts/veneer-webfont.ttf') format('truetype'),
         url('../../assets/webfonts/veneer-webfont.svg#veneerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStdLight';
    src: url('../../assets/webfonts/HelveticaLTStdLight.eot');
    src: url('../../assets/webfonts/HelveticaLTStdLight.eot') format('embedded-opentype'),
         url('../../assets/webfonts/HelveticaLTStdLight.woff2') format('woff2'),
         url('../../assets/webfonts/HelveticaLTStdLight.woff') format('woff'),
         url('../../assets/webfonts/HelveticaLTStdLight.ttf') format('truetype'),
         url('../../assets/webfonts/HelveticaLTStdLight.svg#HelveticaLTStdLight') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('../../assets/webfonts/HelveticaLTStdRoman.eot');
    src: url('../../assets/webfonts/HelveticaLTStdRoman.eot') format('embedded-opentype'),
         url('../../assets/webfonts/HelveticaLTStdRoman.woff2') format('woff2'),
         url('../../assets/webfonts/HelveticaLTStdRoman.woff') format('woff'),
         url('../../assets/webfonts/HelveticaLTStdRoman.ttf') format('truetype'),
         url('../../assets/webfonts/HelveticaLTStdRoman.svg#HelveticaLTStdRoman') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('../../assets/webfonts/HelveticaLTStdBold.eot');
    src: url('../../assets/webfonts/HelveticaLTStdBold.eot') format('embedded-opentype'),
         url('../../assets/webfonts/HelveticaLTStdBold.woff2') format('woff2'),
         url('../../assets/webfonts/HelveticaLTStdBold.woff') format('woff'),
         url('../../assets/webfonts/HelveticaLTStdBold.ttf') format('truetype'),
         url('../../assets/webfonts/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg');
}