<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="text-center mbl m-t-10">
                                        <img src="../../../../../../assets/assets/img/authors/avatar1.jpg" alt="img" class="rounded-circle img-bor"/>
                                    </div>
                                </div>
                                <div class="profile_user">
                                    <h3 class="user_name_max">Addison</h3>
                                    <p>Addisone@sf.com</p>
                                   
                                </div>
                                &nbsp;&nbsp;
                                
                                
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import animate_css from "animate.css/animate.min.css"
export default {
    name: "user_profile",
    mounted: function() {

    },
    destroyed: function() {

    }
}
</script>
<!-- <style src="../../vendors/simple-line-icons/css/simple-line-icons.css"></style> -->
<style src="../../../../../../assets/assets/css/custom_css/user_profile.css" scoped></style>
