/****** 3.LEFT SIDEBAR ******/
.left-aside {
    width: $leftpanel-width;
    background: $primary;
    // border-right: 5px solid #EEE;
}
.submenu-header:hover{
    color: set-text-color($primary) !important;
    background-color: $primary;
}
#menu {
    .navigation {
        padding-left: 0;

        .menu-item,
        .submenu {
            list-style-type: none;
            background-color: $white;
            color: set-text-color($white);
            // &:last-child{
            //     border-bottom: 0;
            // }
            a {
                text-align: left;
                color: set-text-color($white);
                background-color: $white;
                position: relative;
                transition: all 0.2s;
                display: block;
                font-size: 13px;
                line-height: 20px;
                padding: 11px 20px;
                text-decoration: none;
                // border-bottom: 1px solid $border-color;

                &.active {
                    background: $primary;
                    color: set-text-color($primary);
                }
            }
            a:hover{
                background: $primary;
                color: set-text-color($primary) !important;
            }
            i{
                font-size: 1.5rem;
                position: relative;
                top: 5px;
            }

        }

        .menu-item{
            border-bottom: 1px solid $border-color;
        }
        .submenu {
            .submenu-header {
                cursor: pointer;
                user-select: none;
                position: relative;
                .submenu_icon {
                    transition: all 0.3s;
                    i {
                        font-size: 10px;
                    }
                }
                &:after{
                    font-family: 'customIconadmin';
                    content: "\e90f";
                    display: inline-block;
                    width: 15px;
                    height: 19px;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &.active {
                >  .submenu-header {
                    // border-right: 3px solid #68DEB7;
                    background: $primary;
                    color: set-text-color($primary) !important;

                    > .submenu_icon {
                        transform: rotate(90deg);
                    }
                    &:after{
                        content: "\e902";
                    }
                }
            }

            .submenu-content {
                padding-left: 0;

                li a {
                    padding-left: 30px;
                }
            }
        }
    }
}
.profile-left a{
    text-decoration: none;
}

/******* END LEFT SIDEBAR *****/

.collapse-item {
    .submenu-header {
        cursor: pointer;
        padding: 11px 26px;
        border-bottom: 1px solid $border-color;
        .submenu-header-title {
            vertical-align: text-bottom;
        }
        .active {
            .submenu-header-title {
                font-weight: 600;
            }
        }
        i{
            top: 3px;
        }
    }
    .submenu-content {
        /*background-color: #F8F7F6;*/
        overflow-y: hidden;
        position: relative;
    }


    .submenu_icon {
        transition: all 0.3s;
        font-size: 10px;
        margin-top: 5px;
        /*color:#3e6174;*/
    }

    &.active {
        >.submenu-header {
            /*background-color:#e6e6e6;*/
            /*color: #3e6174;*/
            font-weight: 500;
            >.submenu_icon {
                transform: rotate(90deg);
            }
            i {
                /*color: #3e6174 !important;*/
            }
        }
    }
}

.leftmenu_icon {
    margin-right: 6px;
    line-height: 20px;
    height: 22px;
    width: 20px;
    text-align: center;
    font-size: 16px;
    /*color:#e6e6e6;*/
}