$table-header-bg: #D3DDED;
$table-border-color: #E4E7F4;
$table-strip-color: #F3F4F9;
$table-font-color: #6A81A4;
.table{
    border: solid 1px $table-border-color;
    color: $table-font-color;
    font-size: 14px;
    thead{
        th{
            background-color: $table-header-bg;
            padding: 0.9rem;
        }
    }
    tbody{
        tr{
            &:nth-child(odd){
                background-color: $table-strip-color;
            }
            td{
                vertical-align: middle;
                padding: 0.9rem;
            }
        }
    }
}