/*
Created by: Jyostna Designs

[TABLE OF CONTENTS]

1.  RESET STYLES
2.  HEADER STYLES
    2.1 HEADER LEFT
    2.2 HEADER RIGHT SIDE DROPDOWNS
3. LEFT SIDE BAR
4. MAIN WRAPPER STYLES
5. LEFT MENU COLLAPSE STYLES
6. CUSTOM STYLES
7. MEDIA QUERIES

*/

/*****  1.RESET STYLES  *****/
html {
    background: none repeat scroll 0 0 #EEE;
    overflow-x: hidden;
    transition: all 0.25s ease-out;
}

body {
    background: none repeat scroll 0 0 #FFF;
    transition: all 0.25s ease-out;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    color: $font-color;
    font-family: $normal-font;
}
.modal-open,.swal2-in{
    padding-right: 0 !important;
}
ul {
    list-style: none;
}

p {
    line-height: 20px;
}

label {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eeeeee;
}
/******  2.HEADER STYLES   ******/
@import 'header';
@import 'right_side_bar';
/* Define 2 column template */
.left-aside,
.right-aside {
    padding: 0;
    display: table-cell;
    vertical-align: top;
}

.wrapper.hide_menu > .left-aside {
    display: none;
}
@media (max-width: 992px) {
    .wrapper > .right-aside {
        // width: 100vw;
        min-width: 100vw;
    }
}
@media(min-width: 320px) and(max-width:425px) {
    .wrapper > .right-aside {
        padding-top: 0;
    }
}

/******* 2.1 HEADER LEFT ******/
/*side bar nav */
.sidebar {
    display: block;
    width: $leftpanel-width;
}

.content {
    display: block;
    width: auto;
    overflow-x: hidden;
    padding: 15px 25px 30px 25px;
    background-color: $light-bg;
    border-radius: $border-radius;
    height: 100%;
}
/* left side profile css */
.nav_profile{
    margin-bottom: 4px;
}
.nav_profile .profile-left {
    padding: 7px 15px 9px;
    min-height: 85px;
    border-bottom: 1px solid #EEE;
}

.nav_profile .profile-left .profile-thumb {
    border-radius: 50px;
    display: inline-block;
    padding-top: 15px !important;
}

.nav_profile .profile-left .media-heading {
    line-height: 20px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 15px;
    color: #2E576B;
}

.nav_profile .profile-left .profile-thumb img {
    width: 54px;
}
body > #app .header .navbar-nav .dropdown-toggle img{
    margin-top: 5px;
}
body > #app .header .navbar-nav .user-dropdown .dropdown-toggle{
    padding-top: 5px;
}
// .user-dropdown .dropdown-menu.show{
//     top:-2px !important;
// }
/******* 2.2 HEADER RIGHT SIDE DROPDOWNS  *****/
/*
   Dropdown menus
----------------------------
*/
.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
}
/*=== Left menu ===*/
@import 'left_menu';
/********* 4. MAIN WRAPPER STYLES *********/
.wrapper:after,
.wrapper:before {
    display: table;
    content: " ";
}

.wrapper:after {
    clear: both;
}

.wrapper {
    display: table;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    min-height: 100vh !important;
    
}
/****** wrapper RIGHT SIDE  *******/
.right-aside {
    padding: 0 20px 10px 20px;
    width: 100%;
    max-width: 100%;
}

.right-aside > .content-header {
    margin: -0px -20px 25px;
    // height: 65px;
    background: $white;
    box-shadow: 0 0 18px #E5E5E5;
    padding: 8px 20px;
    z-index: 1;
    > h1 {
        margin: 2px;
        padding-left: 13px;
        padding-top: 8px;
    }

    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0px;
        padding: 0px;
        .breadcrumb-item a {
            color: #333;
        }
    }
}
@media(max-width:320px){
    .right-aside > .content-header{
        padding: 0px 10px 79px 0;
    }
}

.content-header h1 {
    line-height: 1.5;
}

.view-port-height {
    height: 100vh;
}

.sidebar-right-opened .background-overlay {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: 998;
    transition: background-color 0.3s;
}

/********* END MAIN WRAPPER STYLES *********/
/*********7. CUSTOM STYLES *********/
.progress_task {
    margin-top: 8px;
    margin-bottom: 12px;
}

.progress {
    margin-bottom: 20px;
}

.progress-bar {
    font-size: 10px;
    line-height: 15px;
}

.progress-xs {
    height: 5px;
}

.panel-heading small {
    line-height: 23px;
    font-size: 12px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #555;
    background-color: #FFF;
    border-top: 3px solid #6699CC;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: 500;
    margin-top: -2px;
}
// text color white

.text-white {
    color: #FFFFFF;
}

.input-group-addon {
    padding: 5px 12px;
}

.checkbox label,

.radio label,
.radio-inline {
    padding-left: 0;
}

.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline {
    margin-left: 10px;
}
a{
    text-decoration: none !important;
}
.form-control.focus,
.form-control:focus {
    border-color: #7EC4E7;
    box-shadow: none;
}
// ui_elements page buttons code

.rounded {
    border-radius: 20px;
    padding: 7px 20px;
}

.btn-white {
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
}
//form section ends here
// alerts page css

.btn-block {
    display: block;
    width: 100%;
}

.alert-success {
    background-color: #e0f4e9;
    border-color: #75D1A3;
    color: #75D1A3;
}

.alert-warning {
    background-color: #fffdcc;
    border-color: #FFCE56;
    color: #FFBF23;
}

.swal2-modal.swal2-show {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}
// end of alerts page css
/*
Customized Bootstrap toastr
*/
.checkbox,
.radio {
    display: inline;
    min-height: 0;
}

div.checker,
div.radio {
    margin-right: 0;
    margin-left: 3px;
}

div.button,
div.checker,
div.selector,
div.uploader {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.resize_vertical {
    resize: vertical;
}

.input-group-addon {
    border: 1px solid #CCC;
}
.nav-tabs .nav-link.active{
    border-top:3px solid #6699cc;
}
/* layout css ends*/
/**** 7.MEDIA QUERIES ****/
//end of form_elements page code
@media screen and (min-width: 993px) {
    .left-aside {
        top: 60px;
    }
}
/*Give content full width on xs screens*/
@media screen and (max-width: 992px) {
    .right-aside {
        margin-left: 0;
    }
}
@media screen and (max-width: 560px) {
    .right-aside {
        padding:0 10px 10px 10px;
    }
}
@media screen and (max-width: 767px) {
    .navbar .navbar-nav > li {
        float: left;
    }

    .navbar-nav {
        margin: 0;
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}
/* Fix dropdown menu for small screens to display correctly on small screens */
@media screen and (max-width: 767px) {
    .navbar-nav > .notifications-menu > .dropdown-menu,
    .navbar-nav > .user-menu > .dropdown-menu {
        position: absolute;
        top: 100%;
        right: -60px;
        left: auto;
        background: #FFFFFF;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px;
    }

    .navbar-nav > .notifications-menu > .dropdown-menu {
        width: 295px;
    }

    .navbar-nav > .user-menu > .dropdown-menu {
        right: 7px;
        margin-top: 8px;
    }

    .navbar-nav .user-menu .dropdown-menu > li > a {
        padding: 4px 20px;
    }

    .navbar-right .nav > li > a {
        padding: 13px 15px 14px;
    }

    .navbar-right .nav > li > a .black {
        padding-top: 9px;
    }

    .navbar-right .nav > li.notifications-menu > a {
        padding-top: 12px;
        padding-bottom: 14px;
    }

    body > #app .header .navbar .nav > li > a > .label {
        top: 17px;
        right: 13px;
    }
    //form features repeater
    .repeater-btn {
        margin-top: 10px;
    }
}
/* Fix menu positions on xs screens to appear correctly and fully */
@media screen and (max-width: 480px) {
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header:after {
        border-width: 0;
    }
}
@media screen and (max-width: 560px) {
    body > #app .header .logo,
    body > #app .header .navbar {
        width: 100%;
        float: none;
        position: relative;
        height: initial;
    }

    body > #app .header .navbar {
        margin: 0;
    }

    body > #app .header .navbar .sidebar-toggle {
        padding-left: 25px;
    }
}
@media screen and (max-width: 350px) {
    .navbar-nav > .notifications-menu > .dropdown-menu {
        right: -76px;
        margin-top: 7px;
    }
}
@media (min-width: 1440px) and (max-width: 2560px) {
    #menu .menu-dropdown > ul,
    #menu .menu-dropdown-open-ul {
        margin-top: -1px;
    }
}
@media (min-width: 768px) {
    .label_padding {
        padding-right: 32px;
    }
    //form features page
    .repeater-form {
        text-align: center;
    }
}
/****** END MEDIA QUERIES ****/

/*
 *
 * Layouts
 *
 */
/**** Fixed header ****/
body.fixed-header #app {
    .header {
        margin-bottom: 53px;
        @media screen and (max-width: 560px) {
            margin-bottom: 90px;
        }
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        @media screen and (max-width: 560px) {
            position: fixed;
        }
    }
}
/**** Boxed ****/
body.boxed {
    @media (max-width: 992px) {
        .wrapper > .right-aside {
            // width: 100vw;
            min-width: 100vw;
        }
    }
    @media screen and (min-width: 768px) {
        width: 100%;
    }
}

.fade{
    opacity:1;
}

//****** left menu *****
#menu .navigation .submenu .submenu-content .submenu-content-box{
    .menu-item{
        background-color: $primary;
        a{
            padding: 11px 20px 11px 45px;
            background-color: $primary;
            color: set-text-color($primary);
        }
    }
}
.submenu.active >.submenu-header{
    background-color: #EEEEEE;
    color: $primary !important;
}
.collapse-item.active .vuemenu .submenu-header{
    padding-left: 30px !important;
}

/*vue multi dropdown*/
.mini_height{
    min-height: 800px !important;
}
.user-dropdown .dropdown-menu a:active{
    background-color: #fff;
}

// new inputs
.form-control:active, .input-group .form-control:hover{
    z-index: 0;
}

/* Sahista */
h1,h2,h3,h4,h5,h6{font-family: $heading-font;}
h1{
    font-size: $h1-font-size; 
}
.header{
    .logo{
        height: initial;
        img{
            width: 150px;
        }
    }
}
.right-aside{
 background-color: $right-bg;   
}
.custom-control{
    padding-left: 1.9rem !important;
}
.custom-control-label{
    padding-top: 2px;
    &::before{
        background-color: #fff;
        border: solid 1px #D3DDED;
    }
    &::before, &::after{
        left: -1.9rem;
    }
}
.form-control{
    border-color: $light-border;
    height: 40px;
    &:focus, &.focus{
      border-color: $light-border;
    }
}
.btn{
    font-size: 1rem;
    padding: 0.576rem 1.2rem 0.3rem 1.2rem;
    font-family: $font-weight;
    outline: none;
    min-width: 90px;
    &:focus, &.focus, &:active, &.active{
        outline: none;
        box-shadow: none;
    }
}
#menu{
    border-right: solid 1px #d3dded;
}
// Login
.login {
    padding-top: 6.5%;
    padding-bottom: 2%;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../../images/admin-bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-y: auto;
}

#logo-desk{
    width: 180px;
}

.login-form{
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
    padding: 15px 20px 20px 20px;
}

// Forgot
.forgot{
    padding-top: 6.5%;
    padding-bottom: 2%;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../../images/admin-bg.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow-y: auto;
}

.is-danger{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #DF5358;
}

.sort-control{
    border: solid 1px $border-color;
    color: $font-color;
    padding: 9px 5px;
    width: 98px;
    border-radius: 5px;
}

// Select2
.select2-dropdown{
    border-color: $border-color;
    &:focus{
        outline: none;
    }
}
.select2-container--default .select2-selection--single{
    border-color: $border-color;
}
.select2-container .select2-selection--single{
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: $font-color;
}
.select2-container{
    outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border: none;
    height: auto;
    left: auto;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    &::before{
        border: none;
        font-family: 'customIconadmin';
        content: "\e902";
        display: inline-block;
        width: 15px;
        height: 15px;
    }
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right: 6px;
}

// Dropdown 
.dropdown-menu{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    padding: 0px;
    border-color: $border-color;
    .dropdown-item{
        padding: 0.5rem 1.5rem;
        &.active, &:active, &:hover, &:focus, &.focused{
            background-color: $primary;
            color: set-text-color($primary) !important;
            cursor: pointer;
        }
    }
}

// Input type File
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

// Table
.table{
    thead{
        th{
            padding: 0.8rem 0.9rem;
            font-weight: normal;
            font-family: $font-weight;
            border-top-color: $light-border;
        }
    }
    tbody{
        tr{
            td{
                padding: 0.65rem 0.9rem;
                vertical-align: middle;
                border-top-color: $light-border;
                .btn-icon{
                    padding: 0.3rem 0.45rem 0.08rem 0.45rem;
                    min-width: auto;
                    i{
                        font-size: 20px
                    }
                }
            }
        }
    }
}
table.dashboard-table{
    tbody{
        tr{
            td{
                padding: 0.219rem 0.9rem;
            }
        }
    }
}

.module-image{
    width: 100px;
    height: 100px;
    overflow: hidden;
    img{
        width: 100%;
    }
}

// Dashboard
.sales-card{
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    height: 100%;
    h2{
        font-size: 50px;
    }
}
.more-icon{
    color: $font-color;
    &:hover, &.active{
        color: $primary;
    }
}
.user-image{
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    img{
        width: 100%;
    }
}
.month-block, .participant-block{
    height: 100%;
}

.contact-prepend{
    width: 60px;
    border-radius: 0px;
}
.input-group-text{
    border-color: #E4E7F4;
    background-color: $white;
}

// Responsive
@include media-breakpoint-up(md) {
    .table-responsive{
        overflow-x: hidden;
    }
    // .right-aside > .content-header{
    //     padding-right: 45px;
    // }
    .content{
        padding: 15px 15px 30px 10px;
    }
}

@include media-breakpoint-up(sm) {
    // .right-aside > .content-header{
    //     padding-right: 45px;
    // }
}

.participant-block{
    .table-responsive{
        overflow-x: auto;
    }
}

.tooltip-inner {
    background-color: rgba($font-color, 0.79);
    color: #fff;
    z-index: 9999;
    text-align: left;
    min-width: 300px;

}

.input-group.disabled{
    .input-group-text{
        background-color: #e9ecef;
    }
}


.menu-help-text{
    padding: 25px 15px;
    color: #fff;
    display: block;
}
// Gomo Learning Iframe
.learning-wrapper{
    iframe{
        width: 100%;
        height: 700px;
        border: none;
    }
}

// DatePicker

.datepicker{
    table{
        width: 100%;
        color: $font-color;
        background-color: $light;
        th{
            background-color: $light;
            padding: 6px 10px;
            border-radius: 0px !important;
            font-family: $font-weight;
            font-weight: normal;
        }
        tr{
            td{
                padding: 6px 10px;
                border-radius: 0px;
                border: solid 1px $border-color;
                color: #3a495f;
                background-color: $white;
            }
            td.today,
            td.today:hover,
            td.today:hover:hover,
            td.today:hover:active,
            td.today:hover.active,
            td.today.active,
            td.today.disabled,
            td.today.disabled:hover {
                background-color: $primary;
                background-image: none;
                color: set-text-color($primary);
                border-color: $primary;
            }
            
            td.today.disabled:hover,
            td.today.disabled:hover:hover,
            td.today:active,
            td.today.disabled:active,
            td.today.disabled:hover:active,
            td.today.disabled.active,
            td.today.disabled:hover.active,
            td.today.disabled,
            td.today:hover.disabled,
            td.today.disabled.disabled,
            td.today.disabled:hover.disabled,
            td.today[disabled],
            td.today:hover[disabled],
            td.today.disabled[disabled],
            td.today.disabled:hover[disabled] {
                background-color: $primary;
                color: set-text-color($primary);
                cursor: no-drop;
            }
            td.old, td.new{
                color: #999;
                background-color: $white;
            }
            td.disabled, td.disabled:hover{
                color: #ccc;
                cursor: no-drop;
                background-color: $white;
            }
        }
        
    }
}
.datepicker.dropdown-menu{
    border-color: $border-color;
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-color: $border-color;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled]{
    background-color: $secondary;
    color: set-text-color($secondary);
    background-image: none;
    border-color: $secondary;
}
.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover{
    background-color: $right-bg;
}

.datepicker .prev, .datepicker .next{
    font-size: 20px;
    line-height: normal;

}

// Content Library
.library-container{
    height: 100%;
    border: solid 1px $border-color;
    background-color: $white;
    .library-img{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 150px;
        overflow: hidden;
    }
    .library-content{
        padding: 12px;
        h5{
            font-size: 20px;
        }
        a{
            color: $font-color;
            i{
                font-size: 22px;
            }
            &:hover{
                color: $primary;
            }
            &.enroll{
                .fa-plus-circle::before{
                    content: "\f058";
                    color: $green;
                }
            }
        }
    }   
}
.learning-wrapper{
    .select2-container--default.select2-container--focus .select2-selection--multiple{
        border: solid 1px $light-border !important;
    }
    .select2-container--default .select2-selection--multiple{
        border: solid 1px $light-border !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        border: solid 1px $light-border !important;
        font-size: 13px;
    }
    .select2-selection--multiple .select2-selection__rendered .select2-search .select2-search__field{
        padding: 3.78px !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice{margin-top: 8px;}
}


