<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deep</title>
    <style type="text/css">
      body{
        font-family: Arial;
        color: #6A81A4;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
      }
      p{
        margin: 5px 0;
        line-height: 1.5;
      }
      ul li{ padding: 4px 0; }
      h2{margin: 5px 0;}
      table tr th{margin-bottom: 30px;}
    </style>
  </head>
  <body>
    <table width="960px" style="margin: 0 auto;" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td>
            <table width="100%" style="background-color: #F3F4F9;">
              <tbody>
                <tr>
                  <td style="text-align: center;">
                    {{ HTML::image('images/emails/logo.png', 'Deep', array('width'=>'200px','style'=>'margin-top: 40px;')) }}
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <img src="mail_slider_content1.png" alt="" style="margin-top: 40px;">
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1 style="text-align: center; font-size: 48px; font-family: Arial; text-transform: uppercase;">Status change to Not Satisfactory</h1>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" style="margin-top: 20px;">
              <tbody>
                <tr>
                  <td>
                    <p>Dear [first name], <br/>
                      <br/>
        
                      Please note the following change to Child Safeguarding rating on the DEEP platform:</p>
                      <p>
                        Field: field <br/>
                        Status change: Not Satisfactory
                      </p>
                      <p>
                        To check your status, upload additional information or update your profile, please log onto DEEP <a href="#">link</a> here <a href="#">link</a>. Alternatively, please check with your Hiring Manager to find out if further information is required or there is a problem with your onboarding.
                      </p>
                      <p>
                        Please note this is an automated alert generated from the DEEP platform. If you believe you have received this in error, please contact Plan ANO.
                      </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 10px;">&nbsp;</td>
        </tr>
        <tr style="background-color: #F6F7F9; text-align: center;">
          <td style="padding: 10px 10px;">
            <p>Copyright © 2018 Plan,  All rights reserved.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>