<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deep</title>
    <style type="text/css">
      body{
        font-family: Arial;
        color: #6A81A4;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
      }
      p{
        margin: 5px 0;
        line-height: 1.5;
      }
      ul li{ padding: 4px 0; }
      h2{margin: 5px 0;}
      table tr th{margin-bottom: 30px;}
    </style>
  </head>
  <body>
    <table width="960px" style="margin: 0 auto;" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td>
            <table width="100%" style="background-color: #F3F4F9;">
              <tbody>
                <tr>
                  <td style="text-align: center;">
                    {{ HTML::image('images/emails/logo.png', 'Deep', array('width'=>'200px','style'=>'margin-top: 40px;')) }}
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <img src="mail_slider_content1.png" alt="" style="margin-top: 40px;">
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1 style="text-align: center; font-size: 48px; font-family: Arial; text-transform: uppercase;">Invite to Join our Community </h1>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" style="margin-top: 20px;">
              <tbody>
                <tr>
                  <td>
                    <p>Dear [first name], <br/>
                      <br/>
        
                      Thank you very much for registering with Plan International ANO …. {input}</p>
                      
                      <p style="margin-top:15px;">We consider Child Protection to be of the utmost importance to Plan’s Operations. We appreciate your understanding and cooperation in our objective to best ensure the protection of all children in contact with Plan.</p>
                      
                      <p style="margin: 15px 0;">In order to continue {input}, you will need to register on DEEP. </p>
                      
                      <p>The DEEP platform is specifically designed to help Plan ensure compliance in terms of the protection of children. You will find the portal both easy to use and helpful, and you will have an opportunity to participate in some self-guided e-learning study about child protection.</p>
                      
                      <p>To register, please click the link below and follow the instructions to create your account.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="text-align: center;"><button type="submit" name="" style="background-color: #0072CE; border-color: #0072CE; font-size: 1rem; padding: 10px; min-width: 200px; color: #fff; border-radius: 3px; box-shadow: none; border-style: none; margin: 30px 0;">Register Here</button></p>
                      <p>Once registered, you can sign into DEEP any time, by visiting {URL}.<br/>
                      
                        We look forward to welcoming you to …. {input}</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 10px 10px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="background-color: #F6F7F9; text-align: center;">
          <td style="padding: 10px 10px;">
            <p>Copyright © 2018 Plan,  All rights reserved.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>