<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deep</title>
    <style type="text/css">
      body{
        font-family: Arial;
        color: #6A81A4;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
      }
      p{
        margin: 5px 0;
        line-height: 1.5;
      }
      ul li{ padding: 4px 0; }
      h2{margin: 5px 0;}
      table tr th{margin-bottom: 30px;}
    </style>
  </head>
  <body>
    <table width="960px" style="margin: 0 auto;" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td>
            <table width="100%" style="background-color: #F3F4F9;">
              <tbody>
                <tr>
                  <td style="text-align: center;">
                    {{ HTML::image('images/emails/logo.png', 'Deep', array('width'=>'200px','style'=>'margin-top: 40px;')) }}
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <img src="mail_slider_content1.png" alt="" style="margin-top: 40px;">
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1 style="text-align: center; font-size: 48px; font-family: Arial; text-transform: uppercase;">Invite to Join our Community </h1>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table width="100%" style="margin-top: 20px;">
              <tbody>
                <tr>
                  <td>
                    <p>Dear [first name], <br/>
                      <br/>
        
                      Thank you very much for registering with Plan International Australia’s (PIA’s) Child Safeguarding platform.</p>
                      
                      <p style="margin-top:15px;">We believe every child and young person has the right to live a life free from any form of violence, and
                        deserves to grow up in a safe, peaceful, nurturing and enabling environment where they can fully exercise
                        their rights.</p>
                      <p style="margin: 15px 0;">We consider child safeguarding to be critical to Plan’s Operations. We appreciate your understanding and cooperation in our objective to best ensure the safety and protection of all children and young people in contact Plan.</p>
                      <p style="margin: 15px 0;">The DEEP platform is specifically designed to help Plan International Australia ensure the protection and safeguarding of children and young people. You will find the portal both easy to use and helpful, and you will have an opportunity to participate in some self-guided e-learning study about child protection and child safeguarding.</p>
                      <p>To register, please click the link below and follow the instructions to create your account.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="text-align: center;"><button type="submit" name="" style="background-color: #0072CE; border-color: #0072CE; font-size: 1rem; padding: 10px; min-width: 200px; color: #fff; border-radius: 3px; box-shadow: none; border-style: none; margin: 30px 0;">Register Here</button></p>
                    <p>Once registered, you can sign into DEEP any time, by visiting https://deep.myskillslive.com</p>
                    <h2 style="margin-top: 20px;">Next Steps</h2>
                    <p style="margin-top: 20px;">Using the platform will guide you through the steps of the onboarding process. These will require you to:</p>
                    <h3>Update your profile with your details <a href="#">here</a></h3>
                    <h3 style="margin-bottom: 8px;">Complete a Police Check. Click <a href="#">here</a> to begin the process</h3>
                    <p>A 'nationally coordinated criminal history check' describes both: the checking process
                      undertaken by the ACIC and police, and the result received by the accredited body.
                      Commonly known as a ‘police check’.</p>
                    <h3 style="margin-bottom: 8px;">Upload your Working With Children Check</h3>
                    <p>A working with children's check is a state based screening clearance process for those working or volunteering with children.  Individual states have their own requirements and check/card names. This applies to you if you are working with children. If your position is classified as working with children and you don’t currently have a valid WWCC, you can apply for one <link> here </link></p>
                    <h3>Complete your online learning modules <a href="#">here</a></h3> 
                    <h3 style="margin-bottom: 8px;">Complete a In Person session with your Hiring Manager</h3>
                    <p>This is a requirement for Plan Employees and must take place within your first six months of engagement with Plan. Your Hiring Manager will schedule a session with you through DEEP.</p>
                    <p style="margin-top: 20px;">You can always monitor your completion of all the onboarding steps by clicking on the <a href="#">Dashboard</a> link when you are logged into DEEP.</p>
                    <p style="margin-top: 20px;">We look forward to welcoming you to the Plan International Australia Community!</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 10px 10px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="background-color: #F6F7F9; text-align: center;">
          <td style="padding: 10px 10px;">
            <p>Copyright © 2018 Plan,  All rights reserved.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>