<template>
    <div class="my-5">
    	<h2 class="text-center">Welcome to Our Community</h2>
        <p class="text-center">Congratulations! Your DEEP account has been successfully confirmed.</p>
    	<div class="text-center mt-5 row">
    		<div class="col-md-4 offset-md-4">
    			<button type="button" name="" class="btn btn-primary btn-lg btn-block" @click="homePage">Continue to your Account</button>
    		</div>
    	</div>
    </div>
</template>
<script>
	export default {
    
    data(){
        return{
            
        }
    },
    mounted: function() {
        
    },
    methods: {
        homePage()
        {
            this.$router.push({'name':'frontLogin'});
        }
    }
}
</script>





