<template>
    <div class="notification-wrapper custom-listgroup my-5">
        <div class="row">
          <div class="col-md-6 mb-3">
              <RecordPage v-show="(notificationPagination.total > 0)" :recordPerPageOption="recordPerPageOption" :pageType="pageType"></RecordPage>
          </div>
          <div class="col-md-6 mb-3 text-right">
            <div class="recordpage-wrapper">
                  <span>Sort by</span>
                  <select class="mx-1" name="sortType" id="sortType" v-model="sortType" @change="changeSortType">
                      <option value="0">Newest - Oldest</option>
                      <option value="1">Oldest - Newest</option>
                  </select>
              </div>
          </div>
        </div>
        <ul class="list-group list-group-flush" v-if="(notificationPagination.total > 0)">

            <li :class="'list-group-item '+notif[readType] " v-for="notif in getNotificationData" @click="notificationRedirect(notif.notficationId,notif.type,notif.userId,notif[readType])">
                <div class="media">
                    <div class="notification-content">
                        <p class="mb-0"  v-text="setNotifText(notif.template)"></p>
                        <p class="mb-0 notification-date"  >{{ notif.created_at|formatDate }}</p>
                    </div>
                </div>
            </li>

        </ul>
         <ul class="list-group list-group-flush" v-else>
            <li class="list-group-item">
                No record found.
            </li>
         </ul>
         <Pagination v-show="(notificationPagination.total > 0)" :paginationData="notificationPagination"></Pagination>
       <!--  <div class="row pagination-wrapper align-items-center">
            <div class="col-md-5">
                Showing 10 of 100 entries 
            </div>
            <div class="col-md-7">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start justify-content-md-end mt-2 mt-md-0 mb-0">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</template>
<script>
import apiServices from '../../../api/apiService.js';
import RecordPage from '../components/recordpage';
import Pagination from '../components/pagination';
import moment from 'moment';
import Vue from 'vue';

  Vue.filter('formatDate', function(value) {
    if (value) {
      return moment(String(value)).format('DD/MM/YYYY');
    }
  });
	export default {
        name: 'notification',
        data(){
            return {
                'getNotificationData':'',
                'notificationPagination' : {},
                'userDetail': this.$store.state.User.userData,
                'paginationData' : {
                },
                'searchData' : '',
                'perPageNotification' : 5,
                'perPage' : 5,
                'pageNo' : 0,
                'recordPerPageOption':[
                  {'text':2},
                  {'text':5},
                  {'text':10},
                  {'text':20},
                  {'text':50},
              ],
              'pageType':'general',
              'readType': '',
              'sortType': '0'
            }
        },
        mounted: function() {
          if(this.userDetail.userTypeId == 2){
            this.readType = 'adminRead';
          }
          if(this.userDetail.userTypeId == 3){
            this.readType = 'hmuRead';
          }
          if(this.userDetail.userTypeId == 4){
            this.readType = 'participantRead';
          }

          this.getNotificationListByPagination('notification/getNotificationListByPagination');
        },
    components: {
      RecordPage,
      Pagination,
    },
    created: function() {
     this.$root.$on('setPerPage',this.setPerPage);
     this.$root.$on('getPaginationListPage',this.getPaginationListPage); 
     this.$root.$on('getDetailsPageByIndex',this.getDetailsPageByIndex); 
     
    },
    methods: {
         setPerPage(bPerPage)
          {
              let vm=this;
              vm.perPageNotification=bPerPage;
              vm.getNotificationListByPagination('notification/getNotificationListByPagination');
          },
          getDetailsPageByIndex(indexVal)
          {
              let vm=this;
               vm.getNotificationListByPagination('notification/getNotificationListByPagination?page='+indexVal);
          },
          getPaginationListPage(pageUrl)
          {
              let vm=this;
              vm.getNotificationListByPagination(pageUrl)
          },
        getNotificationListByPagination(pageUrl){
            let vm = this;
             let noOfPage = vm.perPageNotification;
            let userData = {
                'userId':this.userDetail.userId,
                'type':this.userDetail.userTypeId,
                'pageUrl':pageUrl,
                'noOfPage':noOfPage,
                'sortType': vm.sortType
            }
            apiServices.getNotificationListByPagination(userData).then(
                (response) => {
                    if(response.status == 200){
                        vm.getNotificationData = response.data.data.data;
                        vm.makePagination( response.data.data);
                    }
            });

        },
        changeSortType()
        {
          let vm = this; 
          //console.log(vm.sortType);
          vm.getNotificationListByPagination('notification/getNotificationListByPagination');
        },
        makePagination: function(data,status){
          let pagination = {
              currentPage: data.current_page,
              lastPage: data.last_page,
              nextPageUrl: data.next_page_url,
              prevPageUrl: data.prev_page_url,
              total : data.total,
              from : data.from,
              to : data.to
          }
          this.notificationPagination = pagination;
      },
        setNotifText(data) {
            let vm =this;
            if(this.userDetail.userTypeId == 4) {
                return  data.slice(0,data.indexOf(" for "));
            }

            return data;
        },
        setDatetext(data){
            
             var startDate = moment(data).format('YYYY-MM-DD HH:MM:SS');

              var endDate = moment();
            
                var result = endDate.diff(startDate, 'days');
                if(result>1){
                    return result+' days ago';
                } else if(result == 1) {
                    return 'a day ago';
                } else {
                    return endDate.diff(startDate, 'hours')+' hours ago';
                }

                // $('#result').html(result);
        },
        notificationRedirect(notificationId,redirect,userId,readType)
        {
            let vm = this;
            let userType = this.userDetail.userTypeId;
            if (readType == 'read') {
              return false;
            }
            apiServices.readNotificationByUser(notificationId,userType).then(
                (response) => {

                      if (redirect == 'document') {
                        if (userType == 4) {
                            this.$router.push({'name': 'documents'});
                        } else if(userType == 3) {
                            this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'documents'}});
                        }  else if(userType == 2) {
                            this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'documents'}});
                        }
                     }

                      if (redirect == 'elearning') {
                        if(userType == 3) {
                            this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'elearning'}});
                        }  else if(userType == 2) {
                            this.$router.push({'name': 'adminParticipants',params:{id: userId,tab : 'elearning'}});
                        }
                     }
                }
            );
           
        }
        
      }
	}

</script>





