<template>
    <div class="my-5">
    	<h2 class="text-center">Your profile details have been updated. Click the button below to continue.</h2>
    	<div class="text-center mt-5 row">
    		<div class="col-md-4 offset-md-4">
    			<button type="button" name="" class="btn btn-primary btn-lg btn-block" @click="dashbordPage()">Continue</button>
    		</div>
    	</div>
    </div>
</template>
<script>
	export default {
		name: 'successPage',
         methods: {
            dashbordPage()
            {
                this.$router.push({'name':'childSafeguarding'});
                // toastr.success('This page is under construction.', '', {timeOut: 5000});
            }
         }
	}
</script>





