<template>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <router-link to="/admin" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            <img src="../../../../assets/assets/img/logo.png" alt="logo" />
        </router-link>
        
        <div class="navbar-collapse">
            <!-- Sidebar toggle button -->
            <div>
                <a href="javascript:void(0)" class="navbar-btn sidebar-toggle" @click="toggle_left" role="button">
                    <i class="icon-menu"></i>
                </a>
            </div>
        </div>
        <div class="navbar-right">
            <ul class=" nav navbar-nav mr-auto">
                 <!--Messages dropdown-->
                <div class="message_dropdown">
                    <b-dropdown variant="link" size="lg" no-caret>
                        <template slot="button-content">

                            <!-- <i class="fa fa-fw fa-address-card-o" aria-hidden="true"></i>
                            <b-badge pill variant="success">2</b-badge> -->
                        </template>



                    </b-dropdown>
                </div>
                 <!-- Messages Dropdown -->
                <!--rightside toggle-->

                <!--rightside toggle-->
                <!-- User menu -->
                <b-dd class="user-dropdown">
                    <template slot="button-content">
                        <a href="#">
                            <!-- <span class="user_name_max">
                               John
                            </span>
                            <img src="../../../../assets/assets/img/authors/avatar1.jpg" width="35" class="rounded-circle img-responsive float-left" height="35" alt="User Image"> -->
                           
                            <span class="user_name_max" >{{ userData.givenName | upperCase }} {{ userData.surName | upperCase }}</span>
                        </a>
                    </template>
                    <div class="dropdown-profile">
                        
                        <!-- Menu Body -->
<!--                         <b-dropdown-item>
                            <router-link to="/user_profile" exact>
                                <i class="fa fa-fw ti-user"></i> 
                                My Profile
                            </router-link>
                        </b-dropdown-item>--> 
                        <!-- Menu Footer-->
                         <b-dropdown-item class=""  @click="changePassword()">
                            <span>
                                Change Password    
                            </span>
                        </b-dropdown-item>
                        <b-dropdown-item class=""  @click="logout()">
                            
                           <!--  <div class="float-left"> -->
                                <span>
                                    <!-- <i class="fa fa-fw ti-shift-right"></i>  -->
                                    Logout
                                </span>
                            <!-- </div> -->
                        </b-dropdown-item>
                    </div>
                </b-dd>
                 <!--User menu -->
            </ul>
        </div>
    </nav>
</header>
</template>
<script>
import Auth from '../../../services/auth';

export default {
    name: "clear_header",
    data(){
        return {
            'userData':this.$store.state.User.userData,
        }
    },
    filters: {
        upperCase: function (name)
        {
            if(name != '' && name != undefined){
                return name.charAt(0).toUpperCase() + name.slice(1);

            }
        }
    },
    methods: {
        //Enable sidebar toggle
        toggle_left() {
            this.$store.commit('left_menu', "toggle");
            setTimeout(function(){
                $('.ls-select2').select2({
					width: 'resolve'
			});
            }, 5);
        },
        toggle_right() {
            this.$store.commit('rightside_bar', "toggle");
        },
        logout(msg=''){
            let vm =this;
            Auth.logout().then(() => {
              if(msg!=''){
                toastr.error(msg, '', {timeOut: 5000});
                toastr.error('You are redirected to login page', '', {timeOut: 5000});
             
              } else{
                toastr.success('Logged out!', '', {timeOut: 5000});

              }
                vm.$router.push({'name':'adminLogin'});
              
              
            })
        },
        changePassword(msg=''){
            let vm =this;
            vm.$router.push({'name':'admin_change_password'});
        },
        
    }
}
</script>