<template>
    <div class="preloader" style="position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100001;
        backface-visibility: hidden;
        background: rgba(255,255,255,.85);">
        <div class="loader_img" style="width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-position: center;
        margin: -25px 0 0 -25px; color: #0072ce;"><i class="fa fa-circle-o-notch fa-spin fa-5x"></i></div>
    </div>
</template>
<script>
export default {
    name: 'preloader',
}
</script>
<style src="../../../../plugins/font-awesome/scss/font-awesome.scss" scoped lang="sass"></style>


