<template>
<aside class="right-aside">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <h1 class="mb-0" v-html="this.$route.meta.title">Title</h1>
            </div>
            <div class="col-sm-7 d-flex justify-content-start justify-content-sm-end">
                <b-breadcrumb :items="this.$route.meta.breadcrumb"/>
            </div>
        </div>
        <!-- <ol class="breadcrumb" v-html="this.$route.meta.breadcrumb"></ol> -->
    </section>
    <!-- Main content -->
    <section class="content">
        <slot></slot>
        <!--rightside bar -->
    <!-- <right-side-bar></right-side-bar> -->
    </section>
    <!-- /.content -->
</aside>
</template>
<script>
import rightSideBar from './right-side-bar'
export default {
    name: "right-side",
    components:{
        rightSideBar
    }
}
</script>
