@font-face {
  font-family: 'customIcon';
  src:  url('../../assets/webfonts/custom-icon.eot?65m17y');
  src:  url('../../assets/webfonts/custom-icon.eot?65m17y#iefix') format('embedded-opentype'),
    url('../../assets/webfonts/custom-icon.ttf?65m17y') format('truetype'),
    url('../../assets/webfonts/custom-icon.woff?65m17y') format('woff'),
    url('../../assets/webfonts/custom-icon.svg?65m17y#custom-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-module:before {
  content: "\e908";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-ic_add_to_photos:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-minus:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-support:before {
  content: "\e90d";
}
